﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="testPage.aspx.cs" Inherits="Order_testPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      <div id="tabpayments" style="width:100%;" >
            <iframe id="PaymentFrame" src="OrderPayment.aspx?id=415" width="100%" height="100%"></iframe>
      </div>
    </div>
    </form>
</body>
</html>
