﻿
#dotsquares {
    left: 0;
    position: absolute;
    top: 0;
    width: 171px;
    z-index: 2147483647;
}
#dotsquares #cookie-top {
    background: url("wigetsbg.png") no-repeat scroll left top transparent;
    float: left;
    height: 199px;
    left: 0;
    position: absolute;
    top: 0;
    width: 170px;
    z-index: 2147483646;
}
#dotsquares #cookie-down {
    /*background: url("http://www.kirschnercommunications.com/images/cookie-down-bg.png") repeat-y scroll left top transparent;*/
    background: #cd93a0;
    float: left;
    left: 0;
    padding: 50px 10px 10px;
    position: absolute;
    top: 135px;
    width: 151px;
    z-index: 100000;
}
#dotsquares .cookie-logo {
    float: left;
    padding: 10px 0 5px 8px;
    width: 155px;
}
#dotsquares .cookie-top-content {
    color: #fff;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 14px;
    padding: 5px 10px;
    text-align: center;
    width: 151px;
}
#dotsquares .cookie-top-content a {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    text-decoration: underline;
}
#dotsquares .cookie-top-content a:hover {
    color: #000;
    font-size: 11px;
    line-height: 14px;
    text-decoration: none;
}
#dotsquares .cookie-btn-zone {
    float: left;
    width: 151px;
}
#dotsquares .cookie-btn-zone ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 151px;
}
#dotsquares .cookie-btn-zone ul li {
    float: left;
    list-style: none outside none;
    margin: 0 0 3px;
    padding: 0;
    width: 151px;
}
#dotsquares .cookie-btn-zone ul li a {
    background: url("cookie-btn-normal.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    float: left;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 20px;
    text-decoration: none;
    width: 131px;
}
#dotsquares .cookie-btn-zone ul li a:hover {
    background: url("cookie-btn-hover.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    line-height: 32px;
    padding: 0 0 0 20px;
}
#dotsquares .cookie-btn-zone ul li a.active {
    background: url("cookie-btn-hover.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    line-height: 32px;
    padding: 0 0 0 20px;
}
#dotsquares .cookie-btn-content {
    background-color: #FFFFFF;
    border: 1px solid #666;
    color: #666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-top: -3px;
    padding: 10px;
    width: 129px;
}
