﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RefundReceipt.aspx.cs" Inherits="IR_Admin.Orders.RefundReceipt" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>International Rail</title>
    <script type="text/javascript">
        function printItn() {
            var printContent = document.getElementById('divPrintGrid');
            var windowUrl = 'about:blank';
            var uniqueName = new Date();
            var windowName = 'Print' + uniqueName.getTime();
            var WinPrint = window.open(windowUrl, windowName, 'left=300,top=300,right=500,bottom=500,width=600,height=500');
            WinPrint.document.write(printContent.innerHTML);
            WinPrint.document.write('<' + '/body' + '><' + '/html' + '>');
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
        }
    </script>
    <style>
        .btnlink {
            padding: 5px;
            min-width: 80px;
            background: url(../schemes/images/btn-bar.jpg) left -30px no-repeat;
            border: thin;
            color: white;
            text-decoration: none;
            font: 400 13.3333px Arial;
            font-weight: 700;
        }

        .left-class {
            right: 0px;
            position: absolute;
        }

        .right-class {
            width: 25%;
            float: left;
            text-align: left;
            padding-left: 5px;
        }

        .right-can-class {
            width: 25%;
            float: left;
            text-align: left;
            padding-left: 5px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div id="divPrintGrid">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                <tr bgcolor="#ffffff">
                    <td align="center" valign="top" bgcolor="#ffffff">
                        <table width="650" cellspacing="0" cellpadding="0" class="deviceWidth" bgcolor="#ffffff"
                            align="center">
                            <tr>
                                <td bgcolor="#ffffff">
                                    <table width="650" border="0" cellspacing="0" cellpadding="0" class="deviceWidth"
                                        bgcolor="#ffffff" align="center">
                                        <tr>
                                            <td bgcolor="#ffffff" height="5"></td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#ffffff">
                                                <table width="50%" border="0" cellspacing="0" cellpadding="0" class="deviceWidth"
                                                    align="left">
                                                    <tr>
                                                        <td align="left" valign="top">
                                                            <a href="#" style="border: none;">
                                                                <img src='<%=SiteLogo%>' alt="" style="border: none;" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table width="50%" border="0" cellspacing="0" cellpadding="0" class="deviceWidth"
                                                    align="right">
                                                    <tr>
                                                        <td style="padding: 15px 14px 0px 0px;" align="right" valign="top"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#ffffff" height="5"></td>
                                        </tr>
                                    </table>
                                    <table width="650" border="0" cellspacing="0" cellpadding="0" class="deviceWidth"
                                        align="center">
                                        <tr>
                                            <td style="background: <%=SiteHeaderColor%>; -webkit-print-color-adjust: exact; color: #ffffff; font-size: 16px; font-family: Arial, Helvetica, sans-serif; padding-left: 20px;"
                                                align="left" valign="middle" height="42" width="320">Refund Confirmation
                                            </td>
                                            <td bgcolor="#ffffff" height="5" width="6"></td>
                                            <td style="background: <%=SiteHeaderColor%>; -webkit-print-color-adjust: exact; color: #ffffff; font-size: 16px; font-family: Arial, Helvetica, sans-serif; padding-left: 20px;"
                                                align="left" valign="middle" height="42" width="320"><a href='<%=SiteUrl%>' style="text-decoration: none; color: #fff;"><%=SiteUrl%></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#ffffff" height="5" width="6"></td>
                                            <td bgcolor="#ffffff" height="5" width="6"></td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#eeeeee" valign="top" style="padding: 7px;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="3" align="left" class="deviceWidth ">
                                                    <tr>
                                                        <td width="40%" align="left" valign="top" style="font-size: 13px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif;">
                                                            <strong>Order ID: </strong>
                                                        </td>
                                                        <td width="58%" align="left" valign="top" style="font-size: 13px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif;" id="td_OrderNumber" runat="server"></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="font-size: 13px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif;">
                                                            <strong>Refund date: </strong>
                                                        </td>
                                                        <td align="left" valign="top" style="font-size: 13px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif;" id="td_RefundDate" runat="server"></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="font-size: 13px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif;">
                                                            <strong>Order placed by: </strong>
                                                        </td>
                                                        <td align="left" valign="top" style="font-size: 13px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif;" id="td_UserName" runat="server"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td bgcolor="#ffffff" height="5" width="6"></td>
                                            <td bgcolor="#eeeeee" valign="top" style="padding: 7px;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="3" align="left" class="deviceWidth ">
                                                    <tr>
                                                        <td colspan="2" align="left" valign="top" style="font-size: 13px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif;"
                                                            height="10" id="td_DeliveryAddress" runat="server"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="650" border="0" cellspacing="0" cellpadding="0" class="deviceWidth"
                                        align="center">
                                        <tr>
                                            <td class="fnt" style="background: <%=SiteHeaderColor%>; -webkit-print-color-adjust: exact; color: #ffffff; font-size: 16px; font-family: Arial, Helvetica, sans-serif; padding-left: 20px;"
                                                align="left"
                                                valign="middle" height="42">Refund detail
                                            </td>
                                        </tr>
                                    </table>
                                    <%=strProductDesc %>
                                    <table width="650" border="0" cellspacing="0" cellpadding="0" class="deviceWidth"
                                        align="center">
                                        <tr>
                                            <td class="fnt" style="background: <%=SiteHeaderColor%>; -webkit-print-color-adjust: exact; color: #ffffff; font-size: 16px; font-family: Arial, Helvetica, sans-serif; padding-left: 20px;"
                                                align="left"
                                                valign="middle" height="42">Refund total
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="650" border="0" cellspacing="0" cellpadding="0" class="deviceWidth"
                                        align="center" bgcolor="#eeeeee">
                                        <tr>
                                            <td bgcolor="#ffffff" height="5"></td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px;" align="center" valign="top" class="pad">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceWidth ">
                                                    <tr>
                                                        <td width="80%" align="left" valign="top" style="font-size: 13px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif;">Ticket refund:
                                                        </td>
                                                        <td width="10%" valign="top" style="text-align: right; font-size: 14px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif; padding-top: 7px; width: 100%;"><%=Currency%> </td>
                                                        <td width="10%" valign="top" style="text-align: right; font-size: 13px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif; padding-top: 7px;width: 100%;" id="td_RefundPrice" runat="server"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="80%" align="left" valign="top" style="font-size: 13px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif; padding-top: 7px;">Cancellation fee:
                                                        </td>
                                                        <td width="10%" valign="top" style="text-align: right; font-size: 14px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif; padding-top: 7px; width: 100%;"><%=Currency%> </td>
                                                        <td width="10%" valign="top" style="text-align: right; font-size: 13px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif; padding-top: 7px; width: 100%;" id="td_CancellationFee" runat="server"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="80%" align="left" valign="top" style="font-size: 15px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif; padding-top: 7px;">
                                                            <strong>Refund total: </strong>
                                                        </td>
                                                        <td width="10%" valign="top" style="text-align: right; font-size: 14px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif; padding-top: 7px; width: 100%;"><%=Currency%> </td>
                                                        <td width="10%" valign="top" style="text-align: right; font-size: 14px; color: #5c5c5c; font-family: Arial, Helvetica, sans-serif; padding-top: 7px; width: 100%;" id="td_TotalRefund" runat="server"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#ffffff" height="5"></td>
                                        </tr>
                                    </table>
                                    <table width="650" border="0" cellspacing="0" cellpadding="0" class="deviceWidth">
                                        <tr>
                                            <td style="padding: 10px; font-size: 12px; color: #333; font-family: Arial, Helvetica, sans-serif;"
                                                colspan="2">Please note: This e-mail was sent from a notification-only address that can't accept
                                        incoming e-mail. Please do not reply to this message.<br />
                                                <br />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 50%; text-align: center; margin: auto; margin-bottom: 50px;">
            <a href="javascript:void(0)" onclick="printItn();" class="btnlink">Print Receipt</a>
            <a runat="server" id="lnkgotoback" class="btnlink" href="#">Goto Back</a>
        </div>
    </form>
</body>
</html>
