@charset "UTF-8";

/**
 * Horizontal CSS Drop-Down Menu Module
 *
 * @file		dropdown.css
 * @package		Dropdown
 * @version		0.8
 * @type		Transitional
 * @stacks		597-599
 * @browsers	Windows: IE6+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net, http://www.lwis.net
 *
 */

#bluetheme ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
}

#bluetheme ul.dropdown {
 z-index: 597;
 float: left;
}

#bluetheme ul.dropdown li {
 float: left;
 position:relative;
}


#bluetheme ul.dropdown li a.hover,
ul.dropdown li a:hover {
 position: relative;
 z-index: 599;

 margin:0px;
 float:left;
 padding:0 15px; display:block;
}

#bluetheme ul.dropdown ul.submenu { 
 display:none;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 999;
  width: 240px; padding:10px;
  border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc); float:left;

}

#bluetheme ul.dropdown ul.submenu li {
 float: left;
 width:96%;
 background:none;

}
#bluetheme ul.dropdown ul.submenu li a {
 float: left;
 width:96%;  background:#0065BD; color:#fff;  padding:0 2% ; margin:0px;
}
#bluetheme ul.dropdown ul.submenu li a:hover {
 float: left;
 width:96%;  padding:0 2% ; margin:0px;
  border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-ms-border-radius: 0 ;  background:#fff !important;
 behavior:url(PIE.htc); color:#0E56BA;
}

#bluetheme ul.dropdown ul.submenu ul {
 top: 1px;
 left: 99%;
}

#bluetheme ul.dropdown li:hover > ul.submenu {
 display: block;  width: 240px; padding:10px;
 background:#0065BD; float:left;

}
#bluetheme ul.dropdown li:hover > ul.submenu li a {
float:left; display:block;
}