﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Order_Default" %>
<%@ Import Namespace="OgoneIR" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Data.SqlClient" %>
<%@ Import Namespace="System.Net.Mail" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <div>
        <%
            string OrderID = "";

            if ((Request["id"] != null) && (Request["id"].ToString() != ""))
            {
                OrderID = Request["id"].ToString();
            }
            string cardtype = "";
            if ((Request["cardtype"] != null) && (Request["cardtype"].ToString() != ""))
            {
                cardtype = Request["cardtype"].ToString();
            }
            string cardnumber = "";
            string cardname = "";
            string expiremonth = "";
            string expireyear = "";
            string cvc = "";
            string address = "";
            string address2 = "";
            string town = "";
            string postcode = "";
            string country = "";
            string email = "";
            string refe = "";
            string Amount = "";
            int amount = 0; 
            if ((Request["OrderId"] != null) && (Request["OrderId"].ToString() != ""))
            {
                OrderID = Request["OrderId"].ToString();
            }
            if ((Request["cardtype"] != null) && (Request["cardtype"].ToString() != ""))
            {
                cardtype = Request["cardtype"].ToString();
            }
            if ((Request["cardnumber"] != null) && (Request["cardnumber"].ToString() != ""))
            {
                cardnumber = Request["cardnumber"].ToString();
            }
            if ((Request["cardname"] != null) && (Request["cardname"].ToString() != ""))
            {
                cardname = Request["cardname"].ToString();
            }
            if ((Request["expiremonth"] != null) && (Request["expiremonth"].ToString() != ""))
            {
                expiremonth = Request["expiremonth"].ToString();
            }
            if ((Request["expireyear"] != null) && (Request["expireyear"].ToString() != ""))
            {
                expireyear = Request["expireyear"].ToString();
            }
            if ((Request["cvc"] != null) && (Request["cvc"].ToString() != ""))
            {
                cvc = Request["cvc"].ToString();
            }
            if ((Request["address"] != null) && (Request["address"].ToString() != ""))
            {
                address = Request["address"].ToString();
            }
            if ((Request["address2"] != null) && (Request["address2"].ToString() != ""))
            {
                address2 = Request["address2"].ToString();
            }
            if ((Request["town"] != null) && (Request["town"].ToString() != ""))
            {
                town = Request["town"].ToString();
            }
            if ((Request["postcode"] != null) && (Request["postcode"].ToString() != ""))
            {
                postcode = Request["postcode"].ToString();
            }
            if ((Request["country"] != null) && (Request["country"].ToString() != ""))
            {
                country = Request["country"].ToString();
            }
            if ((Request["email"] != null) && (Request["email"].ToString() != ""))
            {
                email = Request["email"].ToString();
            }
            if ((Request["ref"] != null) && (Request["ref"].ToString() != ""))
            {
                refe = Request["ref"].ToString();
            }
            if ((Request["Amount"] != null) && (Request["Amount"].ToString() != ""))
            {
                Amount = Request["Amount"].ToString();
                amount = Convert.ToInt32(Convert.ToDecimal(Amount) * 100);
            }
            if (cardtype != "")
            {

            }


            string OrderValue = "";
            string HTMLCode = "";
            string OrderNumber = "";
           


            if ((Request["submitBtn"] != null) && (Request["submitBtn"].ToString() != ""))
            {

                {

                    string ProductName = "Rail Pass";

                    string expirydate = ("0" + expiremonth).Substring(expiremonth.Length - 1, 2) + '/' + expireyear.Substring(2, 2); ;
                    string fulladdressline = address;
                    if (address2 != "")
                    {
                        fulladdressline = fulladdressline + " " + address2;
                    }

                    string OgoneID = "";
                    string OgoneUserName = "";
                    string OgonePassword = "";
                    string OgoneURL = "";
                    string OgoneShaInPassPhrase = "";
                    string currency = "";
                    string OgoneReturnURL = "";
                    string OgoneLanguage = "";

                    OgoneID = "girishksharma";
                    OgoneUserName = "IRWebApi";
                    OgonePassword = "deepak@123";
                    OgoneURL = "https://secure.ogone.com/ncol/test/orderdirect.asp";
                    OgoneReturnURL = "http://windowsdemo.projectstatus.co.uk/1Track/order/testPage.aspx";
                    OgoneShaInPassPhrase = "dotsquarestechnology123#";
                    OgoneLanguage = "en_GB";
                    currency = "GBP";




                    OgoneOrderRequest objOrderRequest = new OgoneOrderRequest(OgoneID, OgoneUserName, OgonePassword, OgoneURL, OgoneShaInPassPhrase);
                    OgoneOrderResponse objOrderResponse = new OgoneOrderResponse();

                    //Mandatory
                    objOrderRequest.ORDERID = OrderID;
                    objOrderRequest.AMOUNT = amount;
                    objOrderRequest.CURRENCY = currency;
                    objOrderRequest.CARDNO = cardnumber;
                    objOrderRequest.ED = expirydate;
                    objOrderRequest.CVC = cvc;
                    objOrderRequest.OPERATION = TransactionType.SAL;

                    //Optional
                    objOrderRequest.COM = "test Product";
                    objOrderRequest.CN = cardname;
                    objOrderRequest.EMAIL = email;
                    objOrderRequest.ECOM_PAYMENT_CARD_VERIFICATION = "";
                    objOrderRequest.OWNERADDRESS = fulladdressline;
                    objOrderRequest.OWNERZIP = postcode;
                    objOrderRequest.OWNERTOWN = town;
                    objOrderRequest.OWNERCTY = country;
                    objOrderRequest.OWNERTELNO = "";
                    objOrderRequest.GLOBORDERID = "";
                    objOrderRequest.WITHROOT = "";
                    objOrderRequest.REMOTE_ADDR = "";
                    objOrderRequest.RTIMEOUT = 30;
                    objOrderRequest.ECI = ElectronicCommerceIndicator.ECommerceWithSSLencryption;
                    string strHtmlOutput = "";

                    string strParams = "SessionID=" + this.Session.SessionID;
                    string CustomerId="";
                    //if (Session["UserID"] != null)
                    //{
                    //    CustomerId = Session["UserID"].ToString();
                    //}
                    //else
                    //{
                    //    CustomerId = Session["AdminID"].ToString();
                    //}
                    strParams = strParams + "&CustomerId=" + CustomerId;
                    string strComPlus = objOrderRequest.ORDERID;

                    string returnURL = OgoneReturnURL;

                    string returnURLAccept = returnURL + "?type=A";
                    string returnURLDecline = returnURL + "?type=D";
                    string returnURLException = returnURL + "?type=E";


                    objOrderRequest.Set3DSecureParameters(Window3DPageType.MAINW, Request.ServerVariables["HTTP_ACCEPT"], Request.ServerVariables["HTTP_USER_AGENT"], returnURLAccept, returnURLDecline, returnURLException, strParams, strComPlus, OgoneLanguage, false);

                    objOrderResponse = objOrderRequest.GenerateOrderRequest();

                    if (objOrderResponse.RequiresCVVCheck)
                    {
                        strHtmlOutput = objOrderResponse.HTML_ANSWER;
                        Response.Write(strHtmlOutput);
                    }
                    else
                    {
                        strHtmlOutput = "Error: " + objOrderResponse.NCERROR.ToString() + " : " + objOrderResponse.NCERRORPLUS;
                        //Response.Write(strHtmlOutput + ":OrderNumber:" + OrderNumber.ToString());
                        if (Convert.ToInt32(objOrderResponse.NCSTATUS) != 0)
                        {
                            Response.Write("Error");
                        }
                        else
                        {
                            if ((objOrderResponse.STATUS == TransactionResponseStatus.Authorized) ||
                                (objOrderResponse.STATUS == TransactionResponseStatus.Payment_requested)
                                )
                            {


                                string reff = "";
                                string toemail = "";
                                string OrderNoID = "";
                                if (toemail != "")
                                {

                                }

                            }
                            else
                            {

                            }
                        }
                    }
                }
            }
        %>
        The total value of your order is
        <%=HTMLCode %><%=OrderValue%>
        <br />
        <form action="OrderPayment.aspx" method="post" id="payment" name="payment">
        <input type="hidden" name="id" value="<%=OrderID.ToString() %>" />
        Order ID : <input type="text" name="OrderId" id="OrderId" />
        Amount : <input type="text" name="Amount" id="Amount" />
        <fieldset class="main-column-fieldset form-container">
            <legend>Pay with credit / debit card</legend>
            <div class="form-row red">
                <p class="instruction">
                    Enter credit / debit card details:</p>
            </div>
            <div class="field-holder">
                <div class="form-row">
                    <label for="" class="fieldLabel">
                        Credit / debit card type <span class="contourIndicator">*</span></label>
                    <select name="cardtype" id="" class="text" onchange="this.form.action='OrderPayment.aspx?id=<%=OrderID.ToString() %>';this.form.submit();">
                        <option selected="selected" value="">Select credit / debit card type</option>
                        <option value="9F2A1E40-FCCA-4CB4-A282-3C14ED213600" selected="selected">VISA</option>
                    </select>
                </div>
                <div class="form-row">
                    <label for="cardnumber" class="fieldLabel">
                        Credit / debit card number (long 16 digit number) <span class="contourIndicator">*</span></label>
                    <input name="cardnumber" type="text" id="" class="text" value="<%= cardnumber %>" />
                </div>
                <div class="form-row">
                    <label for="cardname" class="fieldLabel">
                        Full name as it appears on your card <span class="contourIndicator">*</span></label>
                    <input name="cardname" type="text" id="" class="text" value="<%= cardname %>" />
                </div>
                <div class="form-row">
                    <label for="" class="fieldLabel">
                        Expiry date (mm/yyyy) <span class="contourIndicator">*</span></label>
                    <span class="date-input">
                        <select name="expiremonth" id="expiremonth" class="month">
                            <option selected="selected" value="">mm</option>
                            <%
                        for (int count = 1; count < 13; count++)
                        {
                            %><option <%= (count.ToString()==expiremonth)?"selected=\"selected\"":"" %> value="<%= count %>">
                                <%= count%></option>
                            <%
                        }
                            %>
                        </select>
                        <select name="expireyear" id="expireyear" class="year">
                            <option selected="selected" value="">yyyy</option>
                            <%
                        for (int count = DateTime.Today.Year; count < (DateTime.Today.Year + 8); count++)
                        {
                            %><option <%= (count.ToString()==expireyear)?"selected=\"selected\"":"" %> value="<%= count %>">
                                <%= count%></option>
                            <%
                        }
                            %>
                        </select>
                    </span>
                </div>
                <div class="form-row">
                    <label for="cvc" class="fieldLabel">
                        CVV Code <span class="contourIndicator">*</span></label>
                    <input name="cvc" type="text" id="cvc" class="text" />
                </div>
                <div class="form-row">
                    <label for="address" class="fieldLabel">
                        Card holder address <span class="contourIndicator">*</span></label>
                    <input name="address" type="text" id="address" class="text" value="<%=address %>" />
                </div>
                <div class="form-row">
                    <label for="address2" class="fieldLabel">
                        &nbsp;</label>
                    <input name="address2" type="text" id="address2" class="text" value="<%=address2 %>" />
                </div>
                <div class="form-row">
                    <label for="town" class="fieldLabel">
                        Town</label>
                    <input name="town" type="text" id="Text2" class="text" value="<%=town %>" />
                </div>
                <div class="form-row">
                    <label for="postcode" class="fieldLabel">
                        Postcode</label>
                    <input name="postcode" type="text" id="postcode" class="text" value="<%=postcode %>" />
                </div>
                <div class="form-row">
                    <label for="country" class="fieldLabel">
                        country <span class="contourIndicator">*</span></label>
                    <select name="country">
                        <option value="">select country</option>
                        <option  selected="selected" 
                            value="1">UK</option>
                    </select>
                </div>
                <div class="form-row">
                    <label for="email" class="fieldLabel">
                        Email address</label>
                    <input name="email" type="text" id="number" class="text" value="<%=email %>" />
                </div>
                <div class="form-row">
                    <label for="ref" class="fieldLabel">
                        Your reference/folder number</label>
                    <input name="ref" type="text" id="Text3" class="text" value="<%=refe %>" />
                </div>
            </div>
        </fieldset>
        <div class="form-row">
            <label class="right-aligned-form-label hiddenElement">
                Pay &amp; complete order</label><span class="submitButton"><input type="submit" name="submitBtn"
                    value="Pay &amp; complete order" id="" class="contourButton contourNext contourSubmit" /></span>
        </div>
        </form>
    </div>
</body>
</html>
