﻿

   /*booking detail*/
        #btnOK
        {
            background-color: Black;
            text-decoration: none;
            color: White;
            margin-top: -3px;
            position: absolute;
            padding: 1px 8px 2px 6px;
            margin-left: 680px;
        }
        .round-titles
        {
            width: 900px;
            float: left;
            height: 20px;
            line-height: 20px;
            border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            -ms-border-radius: 5px 5px 0 0;
            behavior: url(PIE.htc);
            background: #951F35;
            padding: 1%;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: bold;
        }
        .backgroundcss
        {
            padding: 3px;
            background-color: #eaeaea;
            float: left;
        }
        .booking-detail-in
        {
            width: 669px;
            padding: 1%;
            border-radius: 0 0 5px 5px;
            -moz-border-radius: 0 0 5px 5px;
            -webkit-border-radius: 0 0 5px 5px;
            -ms-border-radius: 0 0 5px 5px;
            behavior: url(PIE.htc);
            margin-bottom: 20px;
            background-color: #eaeaea;
            border: 7px solid #103479;
            float: left;
        }
        .booking-detail-in table.grid
        {
            width: 100%;
            border: 4px solid #ededed;
            border-collapse: collapse;
        }
        .booking-detail-in table.grid tr th
        {
            border-bottom: 2px solid #ededed;
            text-align: center;
            font-size: 13px;
            color: White;
            height: 30px;
            line-height: 25px;
            padding-left: 5px;
            padding-top: 8px;
        }
        
        .booking-detail-in table.grid tr td
        {
            border-bottom: 2px solid #ededed;
            background: #eaeaea;
            font-size: 13px;
            color: #000;
            height: 25px;
            line-height: 25px;
            padding-left: 5px;
        }
        
        .booking-detail-in table.grid tr td a
        {
            color: #951F35;
            position: relative;
            top: 3px;
        }
        
        .booking-detail-in .total
        {
            text-align: right;
            padding-right: 6px;
            border-top: 1px dashed #F96302;
            width: 27%;
            float: right;
            color: #4A4A4A;
            font-size: 14px;
            font-weight: bold;
            margin-top: 10px;
            padding-top: 10px;
        }
        
        .booking-detail-in .colum-label
        {
            float: left;
            width: 30%;
            float: left;
            color: #424242;
            font-size: 13px;
            line-height: 30px;
            height: 30px;
            padding: 5px 0;
        }
        .booking-detail-in .colum-input
        {
            float: left;
            width: 70%;
            float: left;
            line-height: 30px;
            height: 30px;
            padding: 5px 0;
            font-size: 13px;
        }
        .booking-detail-in .colum-input .input
        {
            border: 1px solid #ADB9C2;
            border-radius: 5px 5px 5px 5px;
            color: #424242;
            font-size: 13px;
            height: 25px;
            line-height: 25px;
            width: 95%;
            padding: 0.5%;
        }
        
        .booking-detail-in .colum-input .inputsl
        {
            border: 1px solid #ADB9C2;
            border-radius: 5px 5px 5px 5px;
            color: #424242;
            font-size: 13px;
            height: 30px;
            line-height: 30px;
            width: 96.5%;
            padding: 0.5%;
        }
        .booking-detail-in table.ngrid tr td
        {
            border-bottom: medium none;
        }
        
        .progess-inner
        {
            z-index: 102;
            position: fixed;
            left: -28%;
            top: 26%;
            width: 861px;
            margin-left: 46%;
        }
        #popupDiv
        {
            display: none;
        }
        .colum-label-first, .colum-label-third, .colum-label-fifth, .colum-label-seven, .left-content p
        {
            color: #000;
        }
        .left-content p
        {
            background-color: #eaeaea;
        }
        .readerror
        {
            color: #FF0000;
        }
  .float-lt
    {
        float: left;
    }
    .clsTitle
    {
        padding: 10px;
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
        background-color: #FCF4F8;
        border-bottom: 1px solid #F96302;
    }
    .clsbckColor p
    {
        background-color: #FCF4F8;
    }
    .deliveryOptions
    {
        float: left;
        width: 100%;
    }
    .spacer20
    {
        height: 20px;
    }
    .dvRtBlock
    {
        float: right;
        width: 60%;
        font-size: 12px;
    }
    .delivery-detail
    {
        width: 886px;
        padding: 1%;
        border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        behavior: url(PIE.htc);
        margin-bottom: 20px;
        background-color: #eaeaea;
        border: 7px solid #103479;
        float: left;
        font-size: 12px;
        color: #4d4d4d;
    }
    .options td
    {
        display: block;
        background: url(../images/input-boxbg.png) no-repeat;
        width: 216px;
        height: 38px;
        margin-bottom: 0px;
        font-size: 11px;
        line-height: 34px;
        color: #666;
        font-weight: bold;
    }
    .options td:hover
    {
        background: url(../images/input-boxbg-hover.png) no-repeat;
        cursor: pointer;
        color: #000;
    }
    .options td.active
    {
        background: url(../images/input-boxbg-hover.png) no-repeat;
    }
    .options td input
    {
        margin: 10px 15px 0 13px;
    }
    .deliveryOptions p
    {
        padding: 5px 0px;
        line-height: 18px;
    }
    .divThy input[type="text"]
    {
        background: none repeat scroll 0 0 #D5D4D4;
        border: 0 none;
        color: #333333;
        float: left;
        height: 25px !important;
        line-height: 25px !important;
        text-indent: 5px;
        width: 100px;
        margin-right: 2px;
    }
    .divSelf input[type="text"]
    {
        background: none repeat scroll 0 0 #D5D4D4;
        border: 0 none;
        color: #333333;
        height: 25px !important;
        line-height: 25px !important;
        text-indent: 5px;
        width: 100px;
        margin: 0 2px 5px 0;
    }
    .txtThyleft
    {
        background: none repeat scroll 0 0 #696969 !important;
        border: 0 none;
        color: #000000;
        float: left;
        height: 25px !important;
        line-height: 25px !important;
        text-indent: 5px;
        width: 90px !important;
    }