﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucRightContent.ascx.cs" Inherits="UserControls_ucRightContent" %>

<%@ Register TagPrefix="uc" TagName="GeneralInformation" Src="~/UserControls/UCGeneralInformation.ascx" %>
<div id="divJRF" runat="server">  
 <a runat="server" id="trainresults">
    <div id="rtPannel" runat="server">
    </div>
</a>
<img src='images/block-shadow.jpg'  width="272" height="25"  class="scale-with-grid" alt="" border="0" />
</div>
<div id="divGeneralInfo" runat="server" Visible="False">
<a href='<%=siteURL%>GeneralInformation.aspx'>
    <uc:GeneralInformation ID="GInfo" runat="server" />
</a>
<img src='images/block-shadow.jpg'  width="272" height="25"  class="scale-with-grid" alt="" border="0" />
</div>
