﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucTicketDelivery.ascx.cs"
    Inherits="OtherSiteP2PBooking_ucTicketDelivery" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<script type="text/javascript">
    function departureDate() {
        $("#MainContent_txtDateOfDepature").datepicker({
            numberOfMonths: 1,
            dateFormat: 'dd/M/yy',
            showButtonPanel: true,
            firstDay: 1,
            minDate: 0,
            maxDate: '+6m'
        });
    }
</script>
<asp:UpdatePanel ID="UpdatePanel1" runat="server">
    <ContentTemplate>
        <div class="starail-BookingDetails-form">
            <h2>
                How do you want to get your tickets?</h2>
            <p>
                Depending on the carrier, you can choose how to receive your tickets:</p>
            <div class="starail-BookingDetails-desktopRadios">
                <asp:HiddenField ID="hiddenDileveryMethod" runat="server" />
                <asp:RadioButtonList ID="rdoBkkoingList" runat="server" AutoPostBack="true" RepeatLayout="Flow"
                    CssClass="starail-Form-fancyRadioGroup ppbkspanradio" RepeatDirection="Horizontal"
                    OnSelectedIndexChanged="rdoBkkoingList_SelectedIndexChanged" />
            </div>
            <div class="starail-BookingDetails-mobileRadios" style="display: none;">
                <asp:DropDownList runat="server" ID="ddlBkkoingList" />
            </div>
            <h2 style="padding-bottom: 4px;">
                <asp:Literal ID="ltrDilverName" runat="server" />
            </h2>
            <div id="deliverymethodDH" runat="server" style="display: block;">
                <div id="HeaderDhMsg" runat="server" style="display: none;">
                    <p>
                        <asp:Image ID="Image11" runat="server" ImageUrl="../images/icoHomePrint.jpg" CssClass="float-rt" />
                        Click the link in the confirmation email that you receive to download your ticket
                        as a PDF. Print it on a plain sheet of A4 paper and keep it to hand during your
                        journey.
                    </p>
                    <div style="color: #000;">
                        Please ensure you have a printed copy of your PDF booking confirmation as trains
                        will not always accept the booking from your tablet or mobile screen.
                    </div>
                </div>
                <div id="HeaderStMsg" runat="server" style="display: none;">
                    <p>
                        You can collect your tickets at the international ticket desks. You will need the
                        booking reference (DNR) mentioned in the confirmation e-mail we'll send you. We
                        advise you to take this e-mail with you to the station.
                        <br />
                        <br />
                        <b>Please choose your collection station:</b>
                        <br />
                        <asp:DropDownList ID="ddlCollectStation" runat="server" CssClass="starail-Form-select">
                            <asp:ListItem Value="0">--Choose your station--</asp:ListItem>
                            <asp:ListItem Value="BEAAL">Aalst (Be)</asp:ListItem>
                            <asp:ListItem Value="BEALT">Aalter (Be)</asp:ListItem>
                            <asp:ListItem Value="BEAAR">Aarschot (Be)</asp:ListItem>
                            <asp:ListItem Value="NLASC">Amsterdam (Nl)</asp:ListItem>
                            <asp:ListItem Value="BEANS">Ans (Be)</asp:ListItem>
                            <asp:ListItem Value="BEBHM">Antwerpen-Berchem (Be)</asp:ListItem>
                            <asp:ListItem Value="BEABC">Antwerpen-Centraal (Be)</asp:ListItem>
                            <asp:ListItem Value="BEARL">Arlon (Be)</asp:ListItem>
                            <asp:ListItem Value="NLAHM">Arnhem (Nl)</asp:ListItem>
                            <asp:ListItem Value="BEATH">Ath (Be)</asp:ListItem>
                            <asp:ListItem Value="BEBLA">Blankenberge (Be)</asp:ListItem>
                            <asp:ListItem Value="BEBRL">Braine-l Alleud (Be)</asp:ListItem>
                            <asp:ListItem Value="BEBLC">Braine-le-Comte (Be)</asp:ListItem>
                            <asp:ListItem Value="NLBDA">Breda (Nl)</asp:ListItem>
                            <asp:ListItem Value="BEBRG">Brugge (Be)</asp:ListItem>
                            <asp:ListItem Value="BEABT">Brussel Nat Luchthaven (Be)</asp:ListItem>
                            <asp:ListItem Value="BEBCE">Bruxelles-Central (Be)</asp:ListItem>
                            <asp:ListItem Value="BEBQL">Bruxelles-Luxembourg (Be)</asp:ListItem>
                            <asp:ListItem Value="BEBMI">Bruxelles-Midi (Be)</asp:ListItem>
                            <asp:ListItem Value="BEBNO">Bruxelles-Nord (Be)</asp:ListItem>
                            <asp:ListItem Value="BESHU">Bruxelles-Schuman (Be)</asp:ListItem>
                            <asp:ListItem Value="BECHS">Charleroi-Sud (Be)</asp:ListItem>
                            <asp:ListItem Value="BECIN">Ciney (Be)</asp:ListItem>
                            <asp:ListItem Value="BEDPA">De Panne (Be)</asp:ListItem>
                            <asp:ListItem Value="BEDPI">De Pinte (Be)</asp:ListItem>
                            <asp:ListItem Value="BEDEI">Deinze (Be)</asp:ListItem>
                            <asp:ListItem Value="NLDHC">Den Haag (Nl)</asp:ListItem>
                            <asp:ListItem Value="BEDEW">Denderleeuw (Be)</asp:ListItem>
                            <asp:ListItem Value="BEDMD">Dendermonde (Be)</asp:ListItem>
                            <asp:ListItem Value="BEDIS">Diest (Be)</asp:ListItem>
                            <asp:ListItem Value="BEENG">Enghien (Be)</asp:ListItem>
                            <asp:ListItem Value="BEEUP">Eupen (Be)</asp:ListItem>
                            <asp:ListItem Value="BEGEE">Geel (Be)</asp:ListItem>
                            <asp:ListItem Value="BEGEM">Gembloux (Be)</asp:ListItem>
                            <asp:ListItem Value="BEGEN">Genk (Be)</asp:ListItem>
                            <asp:ListItem Value="BEGDA">Gent Dampoort (Be)</asp:ListItem>
                            <asp:ListItem Value="BEGNT">Gent-Sint-Pieters (Be)</asp:ListItem>
                            <asp:ListItem Value="BEGEL">Genval (Be)</asp:ListItem>
                            <asp:ListItem Value="BEHAL">Halle (Be)</asp:ListItem>
                            <asp:ListItem Value="BEHAS">Hasselt (Be)</asp:ListItem>
                            <asp:ListItem Value="BEHES">Herentals (Be)</asp:ListItem>
                            <asp:ListItem Value="BEHUY">Huy (Be)</asp:ListItem>
                            <asp:ListItem Value="BEIEP">Ieper (Be)</asp:ListItem>
                            <asp:ListItem Value="BEIZE">Izegem (Be)</asp:ListItem>
                            <asp:ListItem Value="BEKAP">Kapellen (Be)</asp:ListItem>
                            <asp:ListItem Value="BEKNO">Knokke (Be)</asp:ListItem>
                            <asp:ListItem Value="BEKOR">Kortrijk (Be)</asp:ListItem>
                            <asp:ListItem Value="BELHP">La Hulpe (Be)</asp:ListItem>
                            <asp:ListItem Value="BELAS">La Louviere Sud (Be)</asp:ListItem>
                            <asp:ListItem Value="BELEU">Leuven (Be)</asp:ListItem>
                            <asp:ListItem Value="BELIB">Libramont (Be)</asp:ListItem>
                            <asp:ListItem Value="BELGG">Liege-Guillemins (Be)</asp:ListItem>
                            <asp:ListItem Value="BELPA">Liege-Palais (Be)</asp:ListItem>
                            <asp:ListItem Value="BELIR">Lier (Be)</asp:ListItem>
                            <asp:ListItem Value="BELOK">Lokeren (Be)</asp:ListItem>
                            <asp:ListItem Value="BELOU">Louvain La Neuve Univ (Be)</asp:ListItem>
                            <asp:ListItem Value="LULUX">Luxembourg (Lu)</asp:ListItem>
                            <asp:ListItem Value="BEMAL">Marloie (Be)</asp:ListItem>
                            <asp:ListItem Value="BEMEC">Mechelen (Be)</asp:ListItem>
                            <asp:ListItem Value="BEMOL">Mol (Be)</asp:ListItem>
                            <asp:ListItem Value="BEQMO">Mons (Be)</asp:ListItem>
                            <asp:ListItem Value="BEMOU">Mouscron (Be)</asp:ListItem>
                            <asp:ListItem Value="BEQNM">Namur (Be)</asp:ListItem>
                            <asp:ListItem Value="BENIV">Nivelles (Be)</asp:ListItem>
                            <asp:ListItem Value="BEOST">Oostende (Be)</asp:ListItem>
                            <asp:ListItem Value="BEOTT">Ottignies (Be)</asp:ListItem>
                            <asp:ListItem Value="BEOUD">Oudenaarde (Be)</asp:ListItem>
                            <asp:ListItem Value="BERIX">Rixensart (Be)</asp:ListItem>
                            <asp:ListItem Value="BEROE">Roeselare (Be)</asp:ListItem>
                            <asp:ListItem Value="NLRTC">Rotterdam (Nl)</asp:ListItem>
                            <asp:ListItem Value="BESIN">Sint-Niklaas (Be)</asp:ListItem>
                            <asp:ListItem Value="BESIT">Sint-Truiden (Be)</asp:ListItem>
                            <asp:ListItem Value="BESOI">Soignies (Be)</asp:ListItem>
                            <asp:ListItem Value="BETIT">Tielt (Be)</asp:ListItem>
                            <asp:ListItem Value="BETIE">Tienen (Be)</asp:ListItem>
                            <asp:ListItem Value="BETOU">Tournai (Be)</asp:ListItem>
                            <asp:ListItem Value="BETUB">Tubize (Be)</asp:ListItem>
                            <asp:ListItem Value="BETUR">Turnhout (Be)</asp:ListItem>
                            <asp:ListItem Value="NLUTC">Utrecht Cs (Nl)</asp:ListItem>
                            <asp:ListItem Value="BEVEC">Verviers-Central (Be)</asp:ListItem>
                            <asp:ListItem Value="BEVIL">Vilvoorde (Be)</asp:ListItem>
                            <asp:ListItem Value="BEVIS">Vise (Be)</asp:ListItem>
                            <asp:ListItem Value="BEWAR">Waregem (Be)</asp:ListItem>
                            <asp:ListItem Value="BEWAM">Waremme (Be)</asp:ListItem>
                            <asp:ListItem Value="BEWTL">Waterloo (Be)</asp:ListItem>
                            <asp:ListItem Value="BEWAV">Wavre (Be)</asp:ListItem>
                            <asp:ListItem Value="BEWET">Wetteren (Be)</asp:ListItem>
                            <asp:ListItem Value="BEZOT">Zottegem (Be)</asp:ListItem>
                        </asp:DropDownList>
                        <asp:RequiredFieldValidator ID="reqvalerrorCollectStation" runat="server" CssClass="absolute"
                            Display="Static" Text="*" ErrorMessage="Please choose station name." InitialValue="0"
                            ControlToValidate="ddlCollectStation" ValidationGroup="vgs1" Enabled="false" />
                    </p>
                </div>
                <div runat="server" id="divLoyalty" visible="false">
                    <p>
                        <strong>Loyalty cards:</strong> Eurostar:
                        <asp:Literal ID="lblEuCardNumber" runat="server" />, Thalys:
                        <asp:Literal ID="lblThCardNumber" runat="server" />
                    </p>
                </div>
                <div>
                    <p>
                        Your personal details are processed in accordance with the <a href="Privacy-Policy"
                            target="_blank">privacy policy of InternationalRail.</a></p>
                    <div id="FooterStMsg" runat="server" style="display: none;">
                        <p>
                            Important:
                            <br />
                            if you pay by credit card, the card holder will be asked to produce the card and
                            identity document (such as passport) at the time of ticket collection. Virtual credit
                            cards are not accepted. Please enquire about the opening times of the international
                            ticket desks at the selected station.
                        </p>
                    </div>
                    <asp:DataList ID="dtlPassngerDetails" runat="server" RepeatColumns="1" RepeatDirection="Horizontal"
                        RepeatLayout="Flow" OnItemDataBound="dtlPassngerDetails_ItemDataBound">
                        <ItemTemplate>
                            <div class="starail-Form-row">
                                <label for="starail-firstname" class="starail-Form-label">
                                    <%#Eval("PassangerType")%></label>
                                <div class="starail-Form-inputContainer">
                                    <div class="starail-Form-inputContainer-col inputContainer-1">
                                        <div>
                                        </div>
                                        <asp:TextBox ID="txtFirstName" runat="server" MaxLength="15" CssClass="starail-Form-input" />
                                        <asp:RequiredFieldValidator ID="reqreqvalerrorFirstName" runat="server" ErrorMessage="Please enter First Name."
                                            CssClass="starail-Form-required  absolute" Display="Static" Text="*" ControlToValidate="txtFirstName"
                                            ValidationGroup="vgs1" Enabled="false" />
                                        <asp:FilteredTextBoxExtender ID="ftr1" runat="server" TargetControlID="txtFirstName"
                                            ValidChars="-qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM" />
                                        <asp:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender2" runat="server" TargetControlID="txtFirstName"
                                            WatermarkText="First Name" WatermarkCssClass="watermark" />
                                    </div>
                                    <div class="starail-Form-inputContainer-col inputContainer-2">
                                        <asp:TextBox ID="txtLastName" runat="server" MaxLength="25" CssClass="starail-Form-input" />
                                        <asp:RequiredFieldValidator ID="reqreqvalerrorLastName" runat="server" ErrorMessage="Please enter Last Name."
                                            CssClass="starail-Form-required  absolute" Display="Static" Text="*" ControlToValidate="txtLastName"
                                            ValidationGroup="vgs1" Enabled="false" />
                                        <asp:FilteredTextBoxExtender ID="ftex" runat="server" TargetControlID="txtLastName"
                                            ValidChars="-qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM" />
                                        <asp:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender4" runat="server" TargetControlID="txtLastName"
                                            WatermarkText="Last Name" WatermarkCssClass="watermark" />
                                    </div>
                                    <div class="starail-Form-inputContainer-col inputContainer-3">
                                        <asp:TextBox ID="txtEmailAddress" runat="server" CssClass="starail-Form-input" />
                                        <asp:RequiredFieldValidator ID="reqvalerrorEmailAddress" runat="server" ControlToValidate="txtEmailAddress"
                                            ErrorMessage="Please enter email." CssClass="starail-Form-required absolute"
                                            ValidationGroup="vgs1" Display="Static" Text="*" Enabled="false" />
                                        <asp:RegularExpressionValidator ID="reqcustvalerrorEmailAddress" runat="server" CssClass="starail-Form-required absolute"
                                            ErrorMessage="Please enter valid email." ControlToValidate="txtEmailAddress"
                                            ValidationExpression="(^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-\+]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*((\.[A-Za-z]{2,}){1}$))" Display="Static"
                                            Text="*" ValidationGroup="vgs1" Enabled="false" />
                                        <asp:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender5" runat="server" TargetControlID="txtEmailAddress"
                                            WatermarkText="Email Address" WatermarkCssClass="watermark" />
                                    </div>
                                </div>
                            </div>
                            <div id="DivDOB" runat="server" class="starail-Form-row">
                                <label for="starail-dob-day" class="starail-Form-label">
                                    Date of birth <span class="starail-Form-required">*</span></label>
                                <div class="starail-Form-inputContainer DivMobileView">
                                    <div class="starail-Form-inputContainer-col starail-Form-inputContainer-col--autoWidth">
                                        <asp:DropDownList ID="ddlDay" runat="server" class="starail-Form-select">
                                            <asp:ListItem Value="DD" Text="DD"></asp:ListItem>
                                            <asp:ListItem Value="01" Text="1"></asp:ListItem>
                                            <asp:ListItem Value="02" Text="2"></asp:ListItem>
                                            <asp:ListItem Value="03" Text="3"></asp:ListItem>
                                            <asp:ListItem Value="04" Text="4"></asp:ListItem>
                                            <asp:ListItem Value="05" Text="5"></asp:ListItem>
                                            <asp:ListItem Value="06" Text="6"></asp:ListItem>
                                            <asp:ListItem Value="07" Text="7"></asp:ListItem>
                                            <asp:ListItem Value="08" Text="8"></asp:ListItem>
                                            <asp:ListItem Value="09" Text="9"></asp:ListItem>
                                            <asp:ListItem Value="10" Text="10"></asp:ListItem>
                                            <asp:ListItem Value="11" Text="11"></asp:ListItem>
                                            <asp:ListItem Value="12" Text="12"></asp:ListItem>
                                            <asp:ListItem Value="13" Text="13"></asp:ListItem>
                                            <asp:ListItem Value="14" Text="14"></asp:ListItem>
                                            <asp:ListItem Value="15" Text="15"></asp:ListItem>
                                            <asp:ListItem Value="16" Text="16"></asp:ListItem>
                                            <asp:ListItem Value="17" Text="17"></asp:ListItem>
                                            <asp:ListItem Value="18" Text="18"></asp:ListItem>
                                            <asp:ListItem Value="19" Text="19"></asp:ListItem>
                                            <asp:ListItem Value="20" Text="20"></asp:ListItem>
                                            <asp:ListItem Value="21" Text="21"></asp:ListItem>
                                            <asp:ListItem Value="22" Text="22"></asp:ListItem>
                                            <asp:ListItem Value="23" Text="23"></asp:ListItem>
                                            <asp:ListItem Value="24" Text="24"></asp:ListItem>
                                            <asp:ListItem Value="25" Text="25"></asp:ListItem>
                                            <asp:ListItem Value="26" Text="26"></asp:ListItem>
                                            <asp:ListItem Value="27" Text="27"></asp:ListItem>
                                            <asp:ListItem Value="28" Text="28"></asp:ListItem>
                                            <asp:ListItem Value="29" Text="29"></asp:ListItem>
                                            <asp:ListItem Value="30" Text="30"></asp:ListItem>
                                            <asp:ListItem Value="31" Text="31"></asp:ListItem>
                                        </asp:DropDownList>
                                        <asp:RequiredFieldValidator ID="reqvalerrorDay" runat="server" CssClass="starail-Form-required absolute"
                                            Display="Dynamic" ValidationGroup="vgs1" ControlToValidate="ddlDay" InitialValue="DD" />
                                        <asp:DropDownList ID="ddlMonth" runat="server" class="starail-Form-select">
                                            <asp:ListItem Value="MM" Text="MM"></asp:ListItem>
                                            <asp:ListItem Value="Jan" Text="Jan"></asp:ListItem>
                                            <asp:ListItem Value="Feb" Text="Feb"></asp:ListItem>
                                            <asp:ListItem Value="Mar" Text="Mar"></asp:ListItem>
                                            <asp:ListItem Value="Apr" Text="Apr"></asp:ListItem>
                                            <asp:ListItem Value="May" Text="May"></asp:ListItem>
                                            <asp:ListItem Value="Jun" Text="Jun"></asp:ListItem>
                                            <asp:ListItem Value="Jul" Text="Jul"></asp:ListItem>
                                            <asp:ListItem Value="Aug" Text="Aug"></asp:ListItem>
                                            <asp:ListItem Value="Sep" Text="Sep"></asp:ListItem>
                                            <asp:ListItem Value="Oct" Text="Oct"></asp:ListItem>
                                            <asp:ListItem Value="Nov" Text="Nov"></asp:ListItem>
                                            <asp:ListItem Value="Dec" Text="Dec"></asp:ListItem>
                                        </asp:DropDownList>
                                        <asp:RequiredFieldValidator ID="reqvalerrorMonth" runat="server" CssClass="starail-Form-required absolute"
                                            Display="Dynamic" ValidationGroup="vgs1" ControlToValidate="ddlMonth" InitialValue="MM" />
                                        <asp:DropDownList ID="ddlYear" runat="server" class="starail-Form-select">
                                        </asp:DropDownList>
                                        <asp:RequiredFieldValidator ID="reqvalerrorYear" runat="server" CssClass="starail-Form-required absolute"
                                            Display="Dynamic" ValidationGroup="vgs1" ControlToValidate="ddlYear" InitialValue="YYYY" />
                                    </div>
                                </div>
                            </div>
                            <div class="starail-Form-row" id="div_LoyaltyCardHome" runat="server" visible="false">
                                <label class="starail-Form-label">
                                    Loyalty Card</label>
                                <div class="starail-Form-inputContainer">
                                    <div class="starail-Form-inputContainer-col inputContainer-1">
                                        <asp:TextBox ID="txtLoyaltyCard" runat="server" CssClass="starail-Form-input" onkeypress="return isNumberKey(event)"
                                            placeholder="Loyalty Card No"></asp:TextBox>
                                    </div>
                                </div>
                            </div>
                        </ItemTemplate>
                    </asp:DataList>
                </div>
                <div class="clsbckColor" id="FooterDhMsg2" runat="server" style="display: none;">
                    <p>
                        Self print tickets are strictly personal and non-transferable. Enter your names
                        above as they appear in your passport, if possible.
                        <br>
                        <br>
                        Note: the first name field is limited to 15 characters.</p>
                    <div class="reset">
                    </div>
                </div>
            </div>
            <div id="deliverymethodTL" runat="server" style="display: none;">
                <p>
                    This is for Thalys Card holders only.<br />
                    Are you a member of the Thalys The Card&nbsp;loyalty programme? Enter the&nbsp;card
                    number for each passenger wanting to travel Ticketless and earn points for this
                    trip.
                </p>
                <br>
                <asp:Image ID="Image1" runat="server" ImageUrl="../images/ticketless.jpg" Width="370"
                    Height="145" />
                <div>
                    <asp:DataList ID="dtlLoayalty" runat="server" RepeatColumns="1" RepeatDirection="Horizontal"
                        RepeatLayout="Flow">
                        <ItemTemplate>
                            <div class="divLoyHeader" style="float: none;">
                                <%#Eval("PassangerType")%>
                            </div>
                            <div class="starail-Form-row">
                                <label class="starail-Form-label uc-ticketdilbl" for="starail-firstname">
                                    <asp:TextBox ID="txtloyCardThy" runat="server" CssClass="starail-Form-input" Text="Thalys"
                                        ReadOnly="True" />
                                </label>
                                <div class=" thalysbox">
                                    <asp:TextBox ID="txtThalysCardNumber" runat="server" MaxLength="20" CssClass="starail-Form-input"
                                        Text='<%#Eval("cardnumber") %>' />
                                    <asp:RequiredFieldValidator ID="reqreqvalerrorCardNumber" runat="server" CssClass="starail-Form-required  absolute"
                                        Display="Static" Text="*" ErrorMessage="This option is available only for Thalys Card holders."
                                        ControlToValidate="txtThalysCardNumber" ForeColor="#eaeaea" ValidationGroup="vgs1"
                                        Enabled="false" />
                                    <asp:FilteredTextBoxExtender ID="ftr1" runat="server" TargetControlID="txtThalysCardNumber"
                                        ValidChars="0123456789qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM" />
                                    <asp:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender2" runat="server" TargetControlID="txtThalysCardNumber"
                                        WatermarkText="(Thalys card number)" WatermarkCssClass="watermark" />
                                </div>
                            </div>
                        </ItemTemplate>
                    </asp:DataList>
                </div>
                <div class="clear">
                </div>
                <div class="spacer20">
                </div>
            </div>
            <div id="deliverymethodMail" runat="server" style="display: none;">
                <p>
                    If you book more than 10 days ahead, we can send your tickets to on your provided
                    address.
                </p>
                <p>
                    <strong>Note:</strong> For this delivery method there is a
                    <asp:Label ID="lblCurrncy" runat="server" /><asp:Label ID="lblAmount" runat="server"
                        Text="0" />
                    admin charge added to the order.
                </p>
                <div class="starail-Form-row">
                    <label for="starail-billing-email" class="starail-Form-label">
                        First Name <span class="starail-Form-required">*</span></label>
                    <div class="starail-Form-inputContainer">
                        <div class="starail-Form-inputContainer-col">
                            <asp:TextBox ID="txtMailFName" runat="server" MaxLength="50" CssClass="starail-Form-input" />
                            <asp:RequiredFieldValidator ID="reqvalerrorreqMailFName" runat="server" ErrorMessage="Please enter First Name"
                                ControlToValidate="txtMailFName" CssClass="starail-Form-required  absolute" Display="Static"
                                Text="*" ValidationGroup="vgs1" Enabled="false" />
                        </div>
                    </div>
                </div>
                <div class="starail-Form-row">
                    <label for="starail-billing-email" class="starail-Form-label">
                        Last Name <span class="starail-Form-required">*</span></label>
                    <div class="starail-Form-inputContainer">
                        <div class="starail-Form-inputContainer-col">
                            <asp:TextBox ID="txtMailLName" runat="server" MaxLength="50" CssClass="starail-Form-input" />
                            <asp:RequiredFieldValidator ID="reqvalerrorreqMailLName" runat="server" ErrorMessage="Please enter Last Name"
                                ControlToValidate="txtMailLName" CssClass="starail-Form-required  absolute" Display="Static"
                                Text="*" ValidationGroup="vgs1" Enabled="false" />
                        </div>
                    </div>
                </div>
                <div class="starail-Form-row">
                    <label for="starail-billing-email" class="starail-Form-label">
                        Department
                    </label>
                    <div class="starail-Form-inputContainer">
                        <div class="starail-Form-inputContainer-col">
                            <asp:TextBox ID="txtDepartment" runat="server" MaxLength="50" CssClass="starail-Form-input" />
                        </div>
                    </div>
                </div>
                <div class="starail-Form-row">
                    <label for="starail-billing-email" class="starail-Form-label">
                        Address<span class="starail-Form-required">*</span></label>
                    <div class="starail-Form-inputContainer">
                        <div class="starail-Form-inputContainer-col">
                            <asp:TextBox ID="txtStreet" runat="server" MaxLength="50" CssClass="starail-Form-input" />
                            <asp:RequiredFieldValidator ID="reqvalerrorreqStreet" runat="server" CssClass="starail-Form-required  absolute"
                                Display="Static" Text="*" ErrorMessage="Please enter Address" ControlToValidate="txtStreet"
                                ValidationGroup="vgs1" Enabled="false" />
                        </div>
                    </div>
                </div>
                <div class="starail-Form-row">
                    <label for="starail-billing-email" class="starail-Form-label">
                        City
                    </label>
                    <div class="starail-Form-inputContainer">
                        <div class="starail-Form-inputContainer-col">
                            <asp:TextBox ID="txtMailCity" runat="server" MaxLength="50" CssClass="starail-Form-input" />
                        </div>
                    </div>
                </div>
                <div class="starail-Form-row">
                    <label for="starail-billing-email" class="starail-Form-label">
                        Country<span class="starail-Form-required">*</span></label>
                    <div class="starail-Form-inputContainer">
                        <div class="starail-Form-inputContainer-col">
                            <asp:DropDownList ID="ddlCountryMail" runat="server" CssClass="starail-Form-select"
                                OnSelectedIndexChanged="ddlCountryMail_SelectedIndexChanged" AutoPostBack="True">
                            </asp:DropDownList>
                            <asp:RequiredFieldValidator ID="reqvalerrorreqCountryMail" runat="server" ErrorMessage="Please choose Country"
                                ControlToValidate="ddlCountryMail" CssClass="starail-Form-required  absolute"
                                Display="Static" Text="*" ValidationGroup="vgs1" Enabled="false" InitialValue="-1" />
                        </div>
                    </div>
                </div>
                <div class="starail-Form-row">
                    <label for="starail-billing-email" class="starail-Form-label">
                        State<span class="starail-Form-required">*</span></label>
                    <div class="starail-Form-inputContainer">
                        <div class="starail-Form-inputContainer-col">
                            <asp:DropDownList ID="ddlStateMail" runat="server" CssClass="starail-Form-select" />
                            <asp:RequiredFieldValidator ID="reqvalerrorreqStateMail" runat="server" CssClass="starail-Form-required  absolute"
                                Display="Dynamic" Text="*" ErrorMessage="Please choose State" ControlToValidate="ddlStateMail"
                                ValidationGroup="vgs1" InitialValue="-1" />
                        </div>
                    </div>
                </div>
                <div class="starail-Form-row">
                    <label for="starail-billing-email" class="starail-Form-label">
                        Postal/Zip Code<span class="starail-Form-required">*</span></label>
                    <div class="starail-Form-inputContainer">
                        <div class="starail-Form-inputContainer-col">
                            <asp:TextBox ID="txtPostalCode" runat="server" MaxLength="10" CssClass="starail-Form-select" />
                            <asp:RequiredFieldValidator ID="reqvalerrorreqPostalCode" runat="server" ErrorMessage="Please enter Postal Code"
                                ControlToValidate="txtPostalCode" CssClass="starail-Form-required  absolute"
                                Display="Static" Text="*" ValidationGroup="vgs1" Enabled="false" />
                        </div>
                    </div>
                </div>
                <h3>
                    Travel party:</h3>
                <hr />
                <asp:DataList ID="dtlPassngerDelivery" runat="server" RepeatColumns="1" RepeatLayout="Flow"
                    RepeatDirection="Horizontal" OnItemDataBound="dtlPassngerDelivery_ItemDataBound">
                    <ItemTemplate>
                        <div class="starail-Form-row">
                            <label for="starail-firstname" class="starail-Form-label">
                                <%#Eval("PassangerType")%></label>
                            <div class="starail-Form-inputContainer">
                                <div class="starail-Form-inputContainer-col inputContainer-1">
                                    <div>
                                    </div>
                                    <asp:TextBox ID="txtFirstName" runat="server" MaxLength="15" CssClass="starail-Form-input"
                                        onblur="checklength(this.id);" />
                                    <asp:RequiredFieldValidator ID="reqreqvalerrorFirstName" runat="server" ErrorMessage="Please enter First Name."
                                        CssClass="starail-Form-required  absolute" Display="Static" Text="*" ControlToValidate="txtFirstName"
                                        ValidationGroup="vgs1" Enabled="false" />
                                    <asp:FilteredTextBoxExtender ID="ftr1" runat="server" TargetControlID="txtFirstName"
                                        ValidChars="-qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM" />
                                    <asp:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender2" runat="server" TargetControlID="txtFirstName"
                                        WatermarkText="First Name" WatermarkCssClass="watermark" />
                                </div>
                                <div class="starail-Form-inputContainer-col inputContainer-2">
                                    <asp:TextBox ID="txtLastName" runat="server" MaxLength="25" CssClass="starail-Form-input"
                                        onblur="checklength(this.id);" />
                                    <asp:RequiredFieldValidator ID="reqreqvalerrorLastName" runat="server" Text="*" ErrorMessage="Please enter Last Name."
                                        CssClass="starail-Form-required  absolute" Display="Static" ControlToValidate="txtLastName"
                                        ValidationGroup="vgs1" Enabled="false" />
                                    <asp:FilteredTextBoxExtender ID="ftex" runat="server" TargetControlID="txtLastName"
                                        ValidChars="-qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM" />
                                    <asp:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender1" runat="server" TargetControlID="txtLastName"
                                        WatermarkText="Last Name" WatermarkCssClass="watermark" />
                                </div>
                                <div class="starail-Form-inputContainer-col inputContainer-3">
                                    <asp:TextBox ID="txtEmailAddress" runat="server" CssClass="starail-Form-input" />
                                    <asp:RequiredFieldValidator ID="reqvalerrorEmailAddress" runat="server" ControlToValidate="txtEmailAddress"
                                        ErrorMessage="Please enter email." CssClass="starail-Form-required absolute"
                                        ValidationGroup="vgs1" Display="Static" Text="*" Enabled="false" />
                                    <asp:RegularExpressionValidator ID="reqcustvalerrorEmailAddress" runat="server" CssClass="starail-Form-required absolute"
                                        ErrorMessage="Please enter valid email." ControlToValidate="txtEmailAddress"
                                        Enabled="false" ValidationExpression="(^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-\+]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*((\.[A-Za-z]{2,}){1}$))"
                                        Display="Static" Text="*" ValidationGroup="vgs1" />
                                    <asp:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender6" runat="server" TargetControlID="txtEmailAddress"
                                        WatermarkText="Email Address" WatermarkCssClass="watermark" />
                                </div>
                            </div>
                        </div>
                        <div class="starail-Form-row" id="div_LoyaltyCardDeliveryByMail" runat="server" visible="false">
                            <label class="starail-Form-label">
                                Loyalty Card</label>
                            <div class="starail-Form-inputContainer">
                                <div class="starail-Form-inputContainer-col inputContainer-1">
                                    <asp:TextBox ID="txtLoyaltyCard" runat="server" CssClass="starail-Form-input" onkeypress="return isNumberKey(event)"
                                        placeholder="Loyalty Card No"></asp:TextBox>
                                </div>
                            </div>
                        </div>
                    </ItemTemplate>
                </asp:DataList>
            </div>
            <asp:DataList ID="dtlPassngerDetails2" runat="server" RepeatColumns="1" RepeatLayout="Flow"
                RepeatDirection="Horizontal">
                <ItemTemplate>
                    <div class="starail-Form-row">
                        <label for="starail-firstname" class="starail-Form-label">
                            <%#Eval("PassangerType")%></label>
                        <div class="starail-Form-inputContainer">
                            <div class="starail-Form-inputContainer-col">
                                <div>
                                </div>
                                <asp:TextBox ID="txtFirstName" runat="server" MaxLength="15" CssClass="starail-Form-input" />
                                <asp:RequiredFieldValidator ID="reqreqvalerrorFirstName" runat="server" ErrorMessage="Please enter First Name."
                                    CssClass="starail-Form-required  absolute" Display="Static" Text="*" ControlToValidate="txtFirstName"
                                    ValidationGroup="vgs1" Enabled="false" />
                                <asp:FilteredTextBoxExtender ID="ftr1" runat="server" TargetControlID="txtFirstName"
                                    ValidChars="-qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM" />
                                <asp:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender2" runat="server" TargetControlID="txtFirstName"
                                    WatermarkText="First Name" WatermarkCssClass="watermark" />
                            </div>
                            <div class="starail-Form-inputContainer-col">
                                <asp:TextBox ID="txtLastName" runat="server" MaxLength="25" CssClass="starail-Form-input" />
                                <asp:RequiredFieldValidator ID="reqreqvalerrorLastName" runat="server" ErrorMessage="Please enter Last Name."
                                    CssClass="starail-Form-required  absolute" Display="Static" Text="*" ControlToValidate="txtLastName"
                                    ValidationGroup="vgs1" Enabled="false" />
                                <asp:FilteredTextBoxExtender ID="ftex" runat="server" TargetControlID="txtLastName"
                                    ValidChars="-qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM" />
                                <asp:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender3" runat="server" TargetControlID="txtLastName"
                                    WatermarkText="Last Name" WatermarkCssClass="watermark" />
                            </div>
                        </div>
                    </div>
                </ItemTemplate>
            </asp:DataList>
        </div>
    </ContentTemplate>
</asp:UpdatePanel>
<asp:UpdateProgress ID="updProgress" runat="server" AssociatedUpdatePanelID="UpdatePanel1"
    DisplayAfter="0" DynamicLayout="True">
    <ProgressTemplate>
        <div class="modalBackground progessposition">
        </div>
        <div class="progess-inner2">
            UPDATING RESULTS...
        </div>
    </ProgressTemplate>
</asp:UpdateProgress>
