@charset "utf-8";
/* CSS Document */


@media only screen and (min-width: 960px) and (max-width: 999px) {

	
	
	
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 800px) {
	.wrapper{width:100%;}
	nav .agentlogin{ right:0px !important;}
	
	nav ul li a {
  background: linear-gradient(to bottom, #C5456A 0%, #962037 100%) repeat scroll 0 0 transparent;
  border: 1px solid #AB2F46;
  border-radius: 5px 5px 0 0;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 32px;
  padding: 0 5%;
  position: relative;
  text-decoration: none;
}
header .top-rightblock .call {
  float: left;
  padding: 14px 0;
  width: 100%;
}
	
	.right-content{float: left;
margin: auto;
padding-left: 2%; padding-right:0px;  padding-top:40px;
width: 98%;}
.ticketbooking { float: left; padding-top: 25px;width: 43%;}
.newsletter-outer {
  float: left;
  width: 40%;
}
.right-banner {
  float: left;
  width: 40%;
}

footer .wrapper {  padding: 1%;  width: 98%;}
footer .bottom-section .wrapper {
 padding: 1%;  width: 98%;
}
}
@media only screen and (max-width: 767px) {
	
	.wrapper{width:100%;}
	header .top-rightblock{ float:right; padding-right:10px; position:absolute; right:0px; bottom:0px;}
	header .top-rightblock .call{ float:right; width:73%;}
    header .top-rightblock .call span{ font-size:14px; font-weight:bold; padding:0 0 0 5px;}
	nav {position:relative;}
nav .agentlogin { position:absolute; background:#2b2b2c; height:20px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; position:absolute; right:0px; padding:5px; z-index:999; bottom:-28px; }

nav select{display:block; }

nav select{display:block; width:97.5%; padding:1%; margin:2% 1%; color:#000000; line-height:32px;
background: #c5456a; /* Old browsers */
background: -moz-linear-gradient(top,  #c5456a 0%, #962037 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5456a), color-stop(100%,#962037)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c5456a 0%,#962037 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c5456a 0%,#962037 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c5456a 0%,#962037 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c5456a 0%,#962037 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5456a', endColorstr='#962037',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; behavior:url(PIE.htc); position:relative;
border:1px solid #000; border:1px solid #ab2f46;

font-size:15px; font-weight:bold; }

nav ul{display:none; }
	
	.banner .caption {
  float: right;
  position: absolute;
  left: 10px;
  top: 0;
}

.content .left-content{ width:96%; padding-left:3%;}
.rail-detail-block .tab-detail-in{ width:96.8%}
.right-content {
  float: right;
  width: 98%; padding:0px 0 0 2%;
}
footer .wrapper {  padding: 1%;  width: 98%;}
footer .foot-col1 { padding-left: 2%;  width: 46%;}
footer .foot-col2 { padding-left: 2%; width: 93%;}

footer .bottom-section .wrapper {
 padding: 1%;  width: 98%;
}
footer .bottom-section .wrapper .f-links {
  float: left;
  width: 100%;
}
footer .bottom-section .wrapper .social-links{ width:100%; float:left;}

}




@media only screen and (max-width: 479px){
	 
}
@media only screen and (max-width: 600px){
	.ticketbooking {
  float: left;
  padding-top: 25px;
  width: 50%;
} 
.newsletter-outer {
  float: left;
  width: 50%;
  padding-top:3%;
}
.right-banner {
  float: left;
  width: 50%;
}
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 959px) {
	.wrapper{width:100%;}
	nav li a{font-size:15px;}
	
}


	

