﻿/*
================================================
	Yahoo GUI Reset CSS
	http://developer.yahoo.com/yui/reset/
================================================
*/

a.fcLink {
	position:absolute;
	top:-2000px;
	left:-2000px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td { 
	margin:0;
	padding:0;
	background:none;
	border:none;
}
input,textarea {
	margin:0;
	padding:0;
}
/*table {
	border-collapse:collapse;
	border-spacing:0;
}*/
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*Phoenix CSS*/

body
{
    background-color: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#333;
}
.submitbutton input {
	cursor:pointer;	
	}


.page {
	float:left;
	width:100%;
	text-align:center;
	padding-top:20px;
	}
.pagecontainer {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	min-height:600px;
	background-color:#fff;
	border:2px solid #e45104;
	padding:20px;
	}		
/*
.page
{
    position: absolute;
    left: 50%;
    top: 0px;
}
.pagecontainer
{
    position: absolute;
    left: -631px;
    top: 0px;
    width: 1262px;
    height: 610px;
    background-color: #ffffff;
    border: 1px solid #3D7BAD;
}
*/
.header
{
	float:left;
    width: 100%;
}
.logo {
	float:left;
	width:217px;
	height:103px;
	background-image:url(/schemes/default/images/logo.png);
	background-position:center;
	background-repeat:no-repeat;
	}


.loginholder,
.selectsiteholder
{
	float:left;
    width: 100%;
	text-align:center;
}
    .login,
	.selectsite
    {
		position:relative;
		margin-left:auto;
		margin-right:auto;
        width: 500px;
		margin-top:120px;
    }
	h2 {
			font-size:3em;
			float:left;
			width:500px;
			margin-bottom:20px;
			color:#f4f4f4;
			text-align:left;
	}
	.loginborder {
		float:left;
		padding: 10px;
		border:1px solid #f4f4f4;
	}
        .loginline,
		.passwordline,
		.submitline
        {
			float:left;
            width: 500px;
			padding-top:10px;
			padding-bottom:10px;
        }
            .logintext,
            .passwordtext			
            {
				float:left;
                width: 76px;
				text-align:right;
				padding-right:10px;
				margin-top:6px;
            }
				.loginusername,
                .loginpassword
                {
					float: right;
					padding: 10px;
					width: 386px;
                }
            .submitbutton
            {
				float:left;
                width: 500px;
				text-align:right;
            }
                .submit
                {
					padding:5px;
                }
				
				
.selectsite select {
	float: left;
    padding: 7px;
    width: 400px;
	}				
				
				
				
.categorymenu
{
	float:left;
    top: 35px;
    left: 200px;
    height: 40px;
    width: 1016px;
}
    .categorymenu li
    {
        font-size: 15px;
        font-weight:  bold;
        color: #9E9A81;
        float: right;
        list-style-type: none;
        cursor: pointer;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 5px;
    }
    .categorymenu li:hover
    {
        color: #941E34;
        background-position: center bottom;
        background-image: url(/schemes/internationalrail/images/categorymenuselect.png);
        background-repeat: no-repeat;
        padding-bottom: 8px;
    }


.login:after,
.selectsite:after,
.pagecontainer:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}




.adminuserleftbox
{
    border: 1px solid #333333;
    height: 400px;
}

.freezeheader
{
     
     height:358px;
     width: 100%;
     overflow-y:auto;
}


.freezeheader2
{
     
     height:150px;
     width: 100%;
     overflow-y:auto;
}




