.IRWSTABLE
{
    width: 835px;

}
 .IRWSTABLE .rowchildproduct
{
    width: 835px;
    border-bottom: 1px solid #000000;
    height: 12px;
    font-size: 10px;
}
.IRWSTABLE .rowchildproduct div
{
    float: left;
    height: 12px;
    overflow: hidden;
}
.IRWSTABLE .row
{
    width: 835px;
    border-bottom: 1px solid #000000;
    height: 20px;
}
.IRWSTABLE .row div
{
    float: left;
    height: 20px;
    overflow: hidden;
}
.IRWSorderNumber
{
    width: 55px;
    text-align: center;
}
.IRWSLead
{
    text-align: left;
    width: 140px;
    
}
.IRWSProduct
{
    width: 480px;
    overflow: hidden;
    text-align: left;
}
.IRWSProductsmall
{
    width: 480px;
    overflow: hidden;
    text-align: left;
}
.IRWSRemove {
    width: 80px;
    overflow: hidden;
    text-align: right;	
}
.IRWScheck
{
    width: 70px;
    text-align: center;
}
.IRWScheck input[type=checkbox]
{
    position: relative;
    left: 20px;
}
.IRWSstatus
{
    width: 70px;
    text-align: center;
}
.IRWSRF
{
    text-align: left;
    width: 140px;
}
.IRWSRT
{    
    text-align: left;
    width: 140px;
}
.IRWSStatus0
{
    width: 800px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
.IRWSStatus0:Hover
{
    background-color: red;
}
.IRWSStatus10
{
    background-color: #FFDDCC;
    cursor: pointer;
    color: #000000;
    
}
.IRWSStatus10:Hover
{
    background-color: red;
}
.IRWSStatus11
{
    background-color: #92A59B;
    cursor: default;
}
.IRWSStatus20
{
    background-color: red;
    cursor: default;
}
.IRWSStatus21
{
    background-color: #000000;
    cursor: default;
}

.IRWSIFramediv
{
    position: absolute;
    top: 0px;
    left: 50%;
    height: 0px;
    width: 0px;
    
}

.IRWSIFrame
{
    position: relative;
    z-index: 2;
    top:250px;
    height: 600px;
    left: -420px;
    width: 840px;
}
.IRWSBody
{
    background-color: #ffffff;
}
.pagecentral
{
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
}
.buildjobcounter
{
    position:relative;
    left:-300px;
    width: 600px;
    text-align: center;
    height: 100px;
    top: -200px;
    font-face: Verdana;
    font-size: 22px;
}






#hiddenqueuearea
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
display: none;
visability: hidden;
}

#hiddenqueuearea #center{
	position: absolute;
	top: 200px;
	left: 50%;
	width: 0px;
}
#hiddenqueuearea #center #selection{
	position: absolute;
	left: -200px;
	width: 400px;
	height: 100px;
	/*background-color: #000000;*/
	background-image: url('/images/overlay.png');
padding-top: 50px;
}