﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SalePassByAffiliate.aspx.cs" Inherits="SalePassByAffiliate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <a href="RailpassDetail?Id=edf89108-909c-4bd0-890b-9eb14a86ec2a&affid=YWJjZGVm">Eurail Austria - Croatia/Slovenia Pass</a>
    </div>
    </form>
</body>
</html>
