﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" EnableEventValidation="true"
    AutoEventWireup="true" CodeBehind="GeneralInformation.aspx.cs" Inherits="IR_Admin.GeneralInformation" %>

<%@ MasterType VirtualPath="~/Site.master" %>
<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <script src="Scripts/Tab/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" href="Scripts/Tab/tabs.css" type="text/css" media="screen" />
    <link href="editor/redactor.css" rel="stylesheet" type="text/css" />
    <script src="editor/redactor.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {                  
            if(<%=Tab%>=="1")
            {
               $("ul.list").tabs("div.panes > div");
            }  
        }); 
 
        function ResetDiv() {
            document.getElementById('MainContent_aNew').className = 'current';
            document.getElementById('aList').className = ' ';
            document.getElementById('MainContent_divlist').style.display = 'none';
            document.getElementById('MainContent_divNew').style.display = 'Block';
        }
    </script>
    <script type="text/javascript">
        function pageLoad(sender, args) {
            $('#MainContent_txtDesc').redactor({ iframe: true, minHeight: 200 });
        }
        window.setTimeout("closeDiv();", 100000);
        function closeDiv() {
            $("#MainContent_DivSuccess").fadeOut("slow", null);
            $("#MainContent_DivError").fadeOut("slow", null);
        }
    </script>
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <asp:HiddenField ID="hdnimage" runat="server" />
    <h2>
        General Information</h2>
    <div class="full mr-tp1">
        <ul class="list">
            <li><a id="aList" href="GeneralInformation.aspx" class="current">List</a></li>
            <li><a id="aNew" href="GeneralInformation.aspx" class="">New</a></li>
        </ul>
        <!-- tab "panes" -->
        <div class="full mr-tp1">
            <asp:Panel ID="pnlErrSuccess" runat="server">
                <div id="DivSuccess" runat="server" class="success" style="display: none;">
                    <asp:Label ID="lblSuccessMsg" runat="server" /></div>
                <div id="DivError" runat="server" class="error" style="display: none;">
                    <asp:Label ID="lblErrorMsg" runat="server" />
                </div>
            </asp:Panel>
        </div>
        <div class="full mr-tp1">
            <div class="panes">
                <div id="divlist" runat="server" style="display: none;">
                    <asp:UpdatePanel ID="UP1" runat="server">
                    <ContentTemplate>
                      <asp:GridView ID="grdinfo" runat="server" AutoGenerateColumns="False" PageSize="10"
                        CssClass="grid-head2" CellPadding="4" ForeColor="#333333" GridLines="None" Width="100%"
                        AllowPaging="True" OnPageIndexChanging="grdinfo_PageIndexChanging" OnRowCommand="grdinfo_RowCommand">
                        <AlternatingRowStyle BackColor="#FBDEE6" />
                        <PagerStyle CssClass="paging"></PagerStyle>
                        <HeaderStyle Font-Size="13px" ForeColor="White" HorizontalAlign="Left" />
                        <RowStyle HorizontalAlign="Left" ForeColor="Black" BackColor="#ECECEC" BorderStyle="Solid"
                            BorderColor="#FFFFFF" BorderWidth="1px" />
                        <SelectedRowStyle BackColor="#FFCC66" Font-Bold="True" ForeColor="Navy" />
                        <EmptyDataRowStyle HorizontalAlign="Center" />
                        <EmptyDataTemplate>
                            Record not found.</EmptyDataTemplate>
                        <Columns>
                            <asp:TemplateField HeaderText="Title">
                                <ItemTemplate>
                                    <%#Eval("Name")%>
                                </ItemTemplate>
                                <ItemStyle Width="38%"></ItemStyle>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="SiteName">
                                <ItemTemplate>
                                    <%#Eval("SiteName")%>
                                </ItemTemplate>
                                <ItemStyle Width="30%"></ItemStyle>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Action">
                                <ItemTemplate>
                                    <a href='GeneralInformation.aspx?id=<%#Eval("ID")%>'>
                                        <img src="images/edit.png" /></a>
                                    <asp:LinkButton ID="LinkButton1" CommandName="Remove" CommandArgument='<%#Eval("ID")%>' runat="server" OnClientClick="return  confirm('Are you sure you want to delete this price ?')"><img src="images/delete.png" /></asp:LinkButton>
                                   
                                </ItemTemplate>
                                <ItemStyle Width="10%"></ItemStyle>
                            </asp:TemplateField>
                        </Columns>
                    </asp:GridView> 
                    </ContentTemplate>
                    </asp:UpdatePanel>
                </div>
            <div id="divNew" runat="server" style="display: block;">
                <table class="tblMainSection" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="vertical-align: top;">
                            <fieldset class="grid-sec2">
                                <legend><b>Description</b></legend>
                                <div class="cat-outer" style="border-bottom: 1px solid #FBDEE6; width: 100%; margin: 0%;">
                                    <div class="cat-inner-alt">
                                        <table style="width: 870px">
                                            <tr>
                                                <td>
                                                    Site:
                                                </td>
                                                <td>
                                                    <asp:DropDownList ID="ddlSite" runat="server" Width="250px" />
                                                    &nbsp;<asp:RequiredFieldValidator ID="rfSite" runat="server" ErrorMessage="*" ForeColor="Red"
                                                        ControlToValidate="ddlSite" ValidationGroup="rv" InitialValue="-1" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Title:
                                                </td>
                                                <td>
                                                    <asp:TextBox ID="txtTitle" runat="server" Width="250px" />
                                                    &nbsp;<asp:RequiredFieldValidator ID="rfTitle" runat="server" ErrorMessage="*" ForeColor="Red"
                                                        ControlToValidate="txtTitle" ValidationGroup="rv" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Image:
                                                </td>
                                                <td>
                                                    <asp:FileUpload ID="fupImage" runat="server" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    Keyword:
                                                </td>
                                                <td>
                                                    <asp:TextBox ID="txtKeyword" runat="server" Width="500" TextMode="MultiLine" Height="100" />
                                                    &nbsp;<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="*"
                                                        ForeColor="Red" ControlToValidate="txtKeyword" ValidationGroup="rv" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="grid-sec2">
                                <legend><b>Description</b></legend>
                                <div class="cat-outer-cms">
                                    <textarea id="txtDesc" runat="server"></textarea>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">
                            <asp:Button ID="btnSubmit" runat="server" CssClass="button" Text="Submit" Width="89px"
                                ValidationGroup="rv" OnClick="btnSubmit_Click" />
                            <asp:Button ID="btnCancel" runat="server" CssClass="button" Text="Cancel" OnClick="btnCancel_Click" />
                        </td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</asp:Content>
