
/* tab pane styling */
.panes div {   display:block; padding:0px 1px; font-size:14px;  }
 .tabs {width: 100%; float: left; margin-top:14px;}
*{outline:none;}
.tabs ul{padding:0px; margin:0px;}
.tabs ul li{padding:0px; float:left; list-style:none; margin:0px 3px 0 0; background:url(../../schemes/images/left-menu2.jpg) no-repeat left -27px}
.tabs ul li a{padding:0px 20px; text-decoration:none; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; float:left; line-height:27px; color:#313333; margin:0px; background:url(../../schemes/images/right-menu2.jpg) no-repeat right -27px;}
.tabs ul li:hover, .tabs ul li.current{background-position:left 0px; }
.tabs ul li a:hover, .tabs ul li.current  a{background-position:right 0px; color:#fff;}
.tabs > ul > li:hover, .tabs > ul > li.active{background-position:left 0px;}
.tabs > ul > li > a:hover, .tabs > ul > li.active > a{background-position:right 0px; color:#fff;}
.tabs ul li:visited{ color:Red;}
.panes .pane { display:none;}
