﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PaymentAccepted.aspx.cs"
    Inherits="Order_PaymentAccepted" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="LabelStatus" runat="server" />
        <div style="border: 1px solid #ccc; width: 26%; padding: 20px; font-size: 15px; text-align: center;
            font-family: Arial; margin: 0 auto;">
            Please wait...</div>
    </div>
    </form>
</body>
</html>
