﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PaymentConfirmation.ascx.cs"
    Inherits="Order_PaymentConfirmation" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<script type="text/javascript" async="true" src="https://elistva.com/api/script.js?aid=10376&sid=<%=sid%>>"></script>
<noscript>
    <p style="background: url(//elistva.com/api/assets/clear.png?aid=10376&sid=<%=sid%>)">
    </p>
</noscript>
<object type="application/x-shockwave-flash" data="//elistva.com/api/udid.swf?aid=10376&sid=<%=sid%>"
    width="1" height="1">
    <param name="movie" value="//elistva.com/api/udid.swf?aid=10376&sid=<%=sid%>" />
</object>
<iframe  id="PaymentFrame" src='<%=linkURL %>' style="width: 100%;height: 700px !important;"
    frameborder="0" scrolling="no"></iframe>
