﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WorldPayHostedPayment.ascx.cs"
    Inherits="Order_WorldPayPaymentConfirmation" %>
<asp:Panel ID="pnlErrSuccess" runat="server">
    <div id="DivSuccess" runat="server" class="success" style="display: none;">
        <asp:Label ID="lblSuccessMsg" runat="server" /></div>
    <div id="DivError" runat="server" class="error" style="display: none;">
        <asp:Label ID="lblErrorMsg" runat="server" CssClass="starail-Form-required" />
    </div>
</asp:Panel>



