﻿@charset "utf-8";
body {background-color:#edeff1;margin:0px;}
/* ##STRUCTURE START ## */
#sta-full-wrap {background-color:#ffffff;font-size:16px;}
#sta-page-wrap{width:100%;margin:0 auto;*zoom:1;background-color:#fff;padding-bottom:10px;}
#sta-page-wrap:before,#sta-page-wrap:after{display:table;content:"";line-height:0}
#sta-page-wrap:after{clear:both}
#sta-top-header, #sta-newsletter, #sta-header, #sta-footer, #sta-nav-top-copy, #sta-nav-wrap-copy{margin:0;font-size:16px;font-family:'tahoma',arial,sans-serif;color:#434343;} 
.sta-clearfix {*zoom:1}
.sta-clearfix:before, .sta-clearfix:after {display:table;content:"";line-height:0}
.sta-clearfix:after {clear:both}
#sta-nav-wrap .sta-clear, #sta-nav-wrap-copy .sta-clear {clear:both}
#sta-header, #sta-footer, #sta-nav-wrap {display:block}
#sta-top-header img, #sta-newsletter img, #sta-header img, #sta-footer img{max-width:100%;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
#sta-top-header label, #sta-newsletter label, #sta-header label, #sta-footer label{display:block;margin-bottom:5px;cursor:pointer;line-height:130%;font-size:81.25%}
#sta-top-header label.sta-access {background-color:inherit;border:0 none;color:#fff;height:0;left:-10999px;overflow:hidden;position:absolute;width:990px}
#sta-top-header input, #sta-newsletter input, #sta-header input, #sta-footer input{margin:0;font-size:81.25%;vertical-align:middle;font-family:'tahoma',arial,sans-serif;width:95%;line-height:130%;*overflow:visible;line-height:normal}
#sta-top-header input::-moz-focus-inner, #sta-newsletter input::-moz-focus-inner, #sta-header input::-moz-focus-inner, #sta-footer input::-moz-focus-inner{padding:0;border:0}
#sta-top-header input[type="submit"], #sta-newsletter input[type="submit"], #sta-header input[type="submit"], #sta-footer input[type="submit"]{-webkit-appearance:button;cursor:pointer}
#sta-top-header input[type="text"], #sta-newsletter input[type="text"], #sta-header input[type="text"], #sta-footer input[type="text"]{display:inline-block;height:20px;padding:4px 6px;font-size:14px;line-height:20px;color:#555;vertical-align:middle;background-color:#fff;border:1px solid #ccc;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear .2s,box-shadow linear .2s;-moz-transition:border linear .2s,box-shadow linear .2s;-o-transition:border linear .2s,box-shadow linear .2s;transition:border linear .2s,box-shadow linear .2s}
#sta-top-header input[type="text"]:focus, #sta-newsletter input[type="text"]:focus, #sta-header input[type="text"]:focus, #sta-footer input[type="text"]:focus {border-color:rgba(82,168,236,0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)}
#sta-top-header a, #sta-newsletter a, #sta-header a, #sta-footer a{color:#434343;text-decoration:none;font-weight:normal;}
#sta-top-header a:link, #sta-newsletter a:link, #sta-header a:link, #sta-footer a:link{color:#434343;text-decoration:none;font-weight:normal;}
#sta-top-header a:focus, #sta-newsletter a:focus, #sta-header a:focus, #sta-footer a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;color:#fb4f14}
#sta-top-header a:hover, #sta-newsletter a:hover, #sta-header a:hover, #sta-footer a:hover{outline:0;color:#fb4f14}
#sta-top-header a:active, #sta-newsletter a:active, #sta-header a:active, #sta-footer a:active{outline:0}
ul.sta-shadow {box-shadow:0 3px 6px #333;-moz-box-shadow:0 3px 6px #333;-webkit-box-shadow:0 3px 6px #333}
.sta-mobile {display:block !important}
.sta-desktop {display:none !important}
#sta-mobile-header {display:block !important}
#sta-top-header p, #sta-newsletter p, #sta-header p, #sta-footer p {margin:0 0 10px;font-size:81.25%; padding-bottom:0px;line-height:130%;}
#sta-top-header h1, #sta-newsletter h1, #sta-header h1, #sta-footer h1, #sta-top-header h2, #sta-newsletter h2, #sta-header h2, #sta-footer h2, #sta-top-header h3, #sta-newsletter h3, #sta-header h3, #sta-footer h3, #sta-top-header h4, #sta-newsletter h4, #sta-header h4, #sta-footer h4, #sta-top-header h5, #sta-newsletter h5, #sta-header h5, #sta-footer h5, #sta-top-header h6, #sta-newsletter h6, #sta-header h6, #sta-footer h6{margin:10px 0;font-family:inherit;font-weight:bold;line-height:20px;color:inherit;text-rendering:optimizelegibility;text-transform:uppercase;font-family:'Trebuchet MS',tahoma,arial,sans-serif}
#sta-top-header h4, #sta-newsletter h4, #sta-header h4, #sta-footer h4, #sta-top-header h5, #sta-newsletter h5, #sta-header h5, #sta-footer h5, #sta-top-header h6, #sta-newsletter h6, #sta-header h6, #sta-footer h6 {line-height:16px;}
#sta-top-header h1, #sta-newsletter h1, #sta-header h1, #sta-footer h1{font-size:143.75%;margin-top:0}
#sta-top-header h2, #sta-newsletter h2, #sta-header h2, #sta-footer h2{font-size:112.5%;padding-bottom:0}
#sta-footer section .sta-mobile-extra{display:none;border:1px solid #d9d9d9}
#sta-top-header .sta-btn, #sta-newsletter .sta-btn, #sta-header .sta-btn, #sta-footer .sta-btn{display:block;*zoom:1;padding:4px 12px;margin-bottom:0;font-weight:bold;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);*border:0;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;*margin-left:.3em;text-transform:uppercase;width:100%;font-size:100%}
#sta-top-header .sta-btn:first-child, #sta-newsletter .sta-btn:first-child, #sta-header .sta-btn:first-child, #sta-footer .sta-btn:first-child{*margin-left:0}
#sta-top-header .sta-btn:focus, #sta-newsletter .sta-btn:focus, #sta-header .sta-btn:focus, #sta-footer .sta-btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
#sta-top-header .sta-btn:active, #sta-newsletter .sta-btn:active, #sta-header .sta-btn:active, #sta-footer .sta-btn:active{background-color:#ccc \9;background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)}
#sta-top-header .sta-btn[disabled], #sta-newsletter .sta-btn[disabled], #sta-header .sta-btn[disabled], #sta-footer .sta-btn[disabled]{cursor:default;background-image:none;opacity:.65;-ms-filter:"alpha(opacity=65)";-moz-opacity:.65;-khtml-opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
#sta-top-header .sta-btn-secondary, #sta-newsletter .sta-btn-secondary, #sta-header .sta-btn-secondary, #sta-footer .sta-btn-secondary{color:#fff;background-color:#007bc9;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007BC9',endColorstr='#007BC9',GradientType=0);*background-color:#007bc9;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);font-size:72.5%;height:35px;padding:15px 0 0;width:100%}
#sta-top-header .sta-btn-secondary:hover, #sta-newsletter .sta-btn-secondary:hover, #sta-header .sta-btn-secondary:hover, #sta-footer .sta-btn-secondary:hover, #sta-top-header .sta-btn-secondary:focus, #sta-newsletter .sta-btn-secondary:focus, #sta-header .sta-btn-secondary:focus, #sta-footer .sta-btn-secondary:focus, #sta-top-header .sta-btn-secondary:active, #sta-newsletter .sta-btn-secondary:active, #sta-header .sta-btn-secondary:active, #sta-footer .sta-btn-secondary:active, #sta-top-header .sta-btn-secondary[disabled], #sta-newsletter .sta-btn-secondary[disabled], #sta-header .sta-btn-secondary[disabled], #sta-footer .sta-btn-secondary[disabled]{color:#FFF;background-color:#0a94eb}
#sta-top-header ul, #sta-newsletter ul, #sta-header ul, #sta-footer ul, #sta-nav-top-copy ul, #sta-nav-wrap-copy ul{margin:0;padding:0}
#sta-top-header ul li, #sta-newsletter ul li, #sta-header ul li, #sta-footer ul li, #sta-nav-top-copy ul li, #sta-nav-wrap-copy ul li{list-style:none}
#sta-top-header ul ul, #sta-newsletter ul ul, #sta-header ul ul, #sta-footer ul ul, #sta-nav-top-copy ul ul, #sta-nav-wrap-copy ul ul{margin-bottom:0}
#sta-top-header li, #sta-newsletter li, #sta-header li, #sta-footer li, #sta-nav-top-copy li, #sta-nav-wrap-copy li{line-height:20px;font-size:81.25%;}
@media screen and (min-width:640px) {
#sta-page-wrap{width:960px;margin:0 auto}
#sta-top-header .sta-desktop, #sta-newsletter .sta-desktop, #sta-header .sta-desktop, #sta-footer .sta-desktop, #sta-nav-top-copy .sta-desktop, #sta-nav-wrap-copy .sta-desktop{display:block !important}
#sta-top-header .sta-mobile, #sta-newsletter .sta-mobile, #sta-header .sta-mobile, #sta-footer .sta-mobile, #sta-nav-top-copy .sta-mobile, #sta-nav-wrap-copy .sta-mobile{display:none !important}
#sta-mobile-header {display:none !important}
#sta-top-header .sta-right, #sta-newsletter .sta-right, #sta-header .sta-right, #sta-footer .sta-right{float:right}
#sta-top-header form, #sta-newsletter form, #sta-header form, #sta-footer form{margin:0}
#sta-top-header label, #sta-newsletter label, #sta-header label, #sta-footer label, #sta-top-header input, #sta-newsletter input, #sta-header input, #sta-footer input{font-weight:normal;line-height:20px}
#sta-top-header input:-moz-placeholder, #sta-newsletter input:-moz-placeholder, #sta-header input:-moz-placeholder, #sta-footer input:-moz-placeholder {color:#999}
#sta-top-header input:-ms-input-placeholder, #sta-newsletter input:-ms-input-placeholder, #sta-header input:-ms-input-placeholder, #sta-footer input:-ms-input-placeholder {color:#999}
#sta-top-header input::-webkit-input-placeholder, #sta-newsletter input::-webkit-input-placeholder, #sta-header input::-webkit-input-placeholder, #sta-footer input::-webkit-input-placeholder {color:#999}
#sta-top-header input, #sta-newsletter input, #sta-header input, #sta-footer input {margin-left:0}
#sta-top-header input:focus:invalid, #sta-newsletter input:focus:invalid, #sta-header input:focus:invalid, #sta-footer input:focus:invalid {color:#b94a48;border-color:#ee5f5b}
#sta-top-header input:focus:invalid:focus, #sta-newsletter input:focus:invalid:focus, #sta-header input:focus:invalid:focus, #sta-footer input:focus:invalid:focus {border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}
#sta-top-header .sta-btn, #sta-newsletter .sta-btn, #sta-header .sta-btn, #sta-footer .sta-btn{font-size:87.5%}
#sta-top-header .sta-btn-secondary, #sta-newsletter .sta-btn-secondary, #sta-header .sta-btn-secondary, #sta-footer .sta-btn-secondary{font-size:82.25%;font-size:77% \0/;-webkit-box-shadow:2px 0 2px #13558e;-moz-box-shadow:2px 0 2px #13558e;box-shadow:2px 0 2px #13558e;height:auto;padding:4% 9%;padding-left:8%\9}
#sta-top-header input[type="submit"].sta-btn, #sta-newsletter input[type="submit"].sta-btn, #sta-header input[type="submit"].sta-btn, #sta-footer input[type="submit"].sta-btn{*padding-top:3px;*padding-bottom:3px}
#sta-top-header input[type="submit"].sta-btn::-moz-focus-inner, #sta-newsletter input[type="submit"].sta-btn::-moz-focus-inner, #sta-header input[type="submit"].sta-btn::-moz-focus-inner, #sta-footer input[type="submit"].sta-btn::-moz-focus-inner{padding:0;border:0}
#sta-footer section .sta-mobile-extra{display:block !important;border:0}
}
@media screen and (max-width:319px)
{
 #sta-page-wrap,#sta-footer{width:320px}
}
/* ##STRUCTURE END ## */
/* ##HEADER START ## */
#sta-nav-top {display: none;}
#sta-nav {padding-top: 0px;}
#sta-nav-wrap {display: none;}
#sta-mobile-header{font-size: 16px;font-weight: bold;color: #000;line-height: 40px;height: 43px;padding: 0 50px;}
#sta-mobile-header a{display: block;position: absolute;top: 0;left: 10px;width: 43px;height: 43px; background: url('http://www.statravel.co.uk/static/uk_division_web_live/assets/mobile-menu.png') no-repeat 0 -361px;}
#sta-mobile-header a.sta-right, #sta-header a.sta-right {left: auto;right: 0px;background-position:0 -280px;}
#sta-mobile-header a.sta-logo {width:53px;left:52px;background: url('http://www.statravel.co.uk/static/uk_division_web_live/assets/mobile-logo.png') no-repeat 0 4px;}
#sta-mobile-header a.sta-search{left: auto;right: 46px;z-index: 1;background-position: 3px -319px;}
#sta-mobile-header a.sta-search-enable{border:1px solid #d1d1d1;border-bottom-color:#fff;border-top:none;background-color:#fff;box-shadow:5px -2px 9px #dddddd;-moz-box-shadow:5px -2px 9px #dddddd;-webkit-box-shadow:5px -2px 9px #dddddd;}
#sta-mobile-header a.sta-search-disable{border:1px solid #edeff1;border-bottom: none;border-top:none;background-color:#edeff1;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
ul.sta-navigation li.sta-right-menu-heading span{padding: 0px 0px 0px 10px;font-family: tahoma,arial,sans-serif;color: #343434;margin: 10px 0;font-weight: bold;line-height: 20px;text-rendering: optimizelegibility;text-transform: uppercase;font-size: 130%;}
nav.mm-menu span.sta-nav-heading2 {font-size: 130%;margin: 10px 0;font-weight: bold;line-height: 20px;text-rendering: optimizelegibility;text-transform: uppercase;font-family: tahoma,arial,sans-serif;color: #343434;padding: 0px 0px 0px 12px;}
nav.mm-menu ul.mm-list > li > a {padding-left:10px;}
nav.mm-menu ul.mm-list {background:#fff;padding-top: 0}
nav.mm-menu ul.mm-list a {font-size: 130%;}
nav.mm-menu ul.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after {margin-left: 0px !important;}
nav.mm-menu ul.mm-list a.mm-subopen {margin-right: 13px;background: url(http://www.statravel.co.uk/static/uk_division_web_live/assets/mobile-arrows.png) no-repeat right -80px;width: 100%;}
nav.mm-menu ul.mm-list a.mm-subopen:after, .mm-list a.mm-subclose:before {display: none !important;}
nav.mm-menu ul.mm-list a.mm-subclose {padding-top: 10px;margin-top: 0px;text-indent: 18px;font-weight: bold;background: #eef2f5 url(http://www.statravel.co.uk/static/uk_division_web_live/assets/mobile-arrows.png) no-repeat 10px 1px !important;font-size: 118%;color: #919195 !important;}
nav.mm-menu ul.mm-list li a {text-transform: uppercase;color: #555555;}
nav.mm-menu ul.mm-list > li > a.mm-subclose{text-transform: uppercase;}
nav.mm-menu ul.mm-list .sta-nav-heading3 {margin: 10px 0;font-weight: bold;line-height: 20px;text-rendering: optimizelegibility;text-transform: uppercase;font-size: 110%;font-family: tahoma,arial,sans-serif;color: #343434;padding-left: 10px;display: block;}
nav.mm-menu.mm-right ul.mm-list .sta-nav-heading3 {margin: 10px 0;font-weight: bold;line-height: 20px;text-rendering: optimizelegibility;text-transform: uppercase;font-size: 110%;font-family: tahoma,arial,sans-serif;color: #343434;padding-left: 14px;display: block;}
nav.mm-menu ul.mm-list a.mm-country-back {padding-left: 10px;text-indent: -36px;background: #eef2f5 url(http://www.statravel.co.uk/static/uk_division_web_live/assets/mobile-arrows.png) no-repeat 57px -39px !important;font-size: 118%;}
nav.mm-menu ul.mm-list li.sta-more-nav-highlight1 {background-color:#eef2f5 !important;}
nav.mm-menu ul.mm-list li.sta-more-nav-highlight2 {background-color:#eef2f5 !important;}
/* right menu mobile */
nav.mm-menu ul.mm-list li {background:url(http://www.statravel.co.uk/static/uk_division_web_live/assets/mobile-menu.png) no-repeat 0px 9999px;}
nav.mm-menu ul.mm-list li.sta-icon-phone {background-position:13px 7px;}
nav.mm-menu ul.mm-list li.sta-icon-chat {background-position:13px -34px;}
nav.mm-menu ul.mm-list li.sta-icon-email {background-position:13px -75px;}
nav.mm-menu ul.mm-list li.sta-icon-question {background-position:13px -116px;}
nav.mm-menu ul.mm-list li.sta-icon-person {background-position:13px -157px;}
nav.mm-menu ul.mm-list li.sta-appointment {background-position:13px -198px; background-color:#eef2f5;}
nav.mm-menu ul.mm-list li.sta-store {background-position:13px -239px;background-color:#eef2f5;}
nav.mm-menu ul.mm-list li.sta-flag-dropdown{background-color:#eef2f5;}
nav.mm-menu ul.mm-list li.sta-group-travel{background-color:#eef2f5;}
nav.mm-menu ul.mm-list li.sta-my-account{background-color:#eef2f5;}
nav.mm-menu ul.mm-list li.sta-icon-phone a,nav.mm-menu ul.mm-list li.sta-icon-chat a, nav.mm-menu ul.mm-list li.sta-icon-email a, nav.mm-menu ul.mm-list li.sta-icon-question a, nav.mm-menu ul.mm-list li.sta-icon-person a { text-transform: capitalize;}
nav.mm-menu ul.mm-list > li.sta-icon-phone:after, nav.mm-menu ul.mm-list > li.sta-icon-chat:after, nav.mm-menu ul.mm-list > li.sta-icon-email:after, nav.mm-menu ul.mm-list > li.sta-icon-question:after, nav.mm-menu ul.mm-list > li.sta-icon-person:after{border-color: #fff;}
#sta-nav-top-copy .sta-nav-top-sub-menu li a {text-transform: capitalize;}
#sta-nav-top-copy li a.sta-flag {background: url('http://www.statravel.co.uk/static/uk_division_web_live/assets/flags.png') no-repeat;}
#sta-nav-top-copy li a.sta-flag-uk {background-position: 10px 7px;}
#sta-nav-top-copy li a.sta-flag-au {background-position: 10px -21px;}
#sta-nav-top-copy li a.sta-flag-at {background-position: 10px -49px;}
#sta-nav-top-copy li a.sta-flag-cn {background-position: 10px -77px;}
#sta-nav-top-copy li a.sta-flag-dk {background-position: 10px -105px;}
#sta-nav-top-copy li a.sta-flag-fr {background-position: 10px -133px;}
#sta-nav-top-copy li a.sta-flag-de {background-position: 10px -161px;}
#sta-nav-top-copy li a.sta-flag-hu {background-position: 10px -189px;}
#sta-nav-top-copy li a.sta-flag-jp {background-position: 10px -217px;}
#sta-nav-top-copy li a.sta-flag-nz {background-position: 10px -245px;}
#sta-nav-top-copy li a.sta-flag-no {background-position: 10px -273px;}
#sta-nav-top-copy li a.sta-flag-sg {background-position: 10px -301px;}
#sta-nav-top-copy li a.sta-flag-za {background-position: 10px -329px;}
#sta-nav-top-copy li a.sta-flag-ch {background-position: 10px -357px;}
#sta-nav-top-copy li a.sta-flag-se {background-position: 10px -385px;}
#sta-nav-top-copy li a.sta-flag-th {background-position: 10px -413px;}
#sta-nav-top-copy li a.sta-flag-us {background-position: 10px -441px;}
#sta-nav-top-copy li a.sta-flag-globe {background-position: 10px -469px;}
#sta-nav-top-copy li a {padding-left:53px;}
#sta-top-header #sta-search-form-copy {display:none;position:absolute;width:100%;left:0px;height:55px;background-color:#fff;border-bottom: 1px solid #d1d1d1;border-top: 1px solid #d1d1d1;z-index: 1;}
#sta-top-header #sta-search-form-copy input {width:60%; height:32px;margin:10px 0 0 10px;padding: 0 0 0 10px;color:#98999a;}
#sta-top-header #sta-search-form-copy #sta-start-search {width: 26%;height: 32px;padding:0;display: inline;margin-left:10px;margin-right:6px;color: #fff;background-color: #007bc9;font-size: 80%;}
#sta-top-header #sta-search-form-copy #sta-start-search:hover {color: #fff;background-color: rgb(10, 148, 235);}
#sta-page-overlay{position:absolute;top:100px;left:0;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.53);z-index:999;display:none !important;}
@media screen and (min-width:640px) {
/* Top Header */
#sta-top-header {width: 100%;background-color: #e9ebee;height: 28px;}
#sta-nav-top {display:block;margin: 0 auto;width: 960px;height: 100%;}
#sta-nav-top-copy {display: none;}
#sta-page-overlay {position:absolute;top:189px;left:0;right:0;bottom:0;background-color:rgba(85, 85, 85, 0.53);z-index:999;display:none !important;}
#sta-nav-top > ul { height:100%;}
#sta-nav-top .sta-nav-right{float: right;height: 100%;}
#sta-nav-top .sta-nav-left{float:left;height: 100%;}
#sta-nav-top .sta-nav-right > li, #sta-nav-top .sta-nav-left > li {float:left;height:100%;}
#sta-nav-top .sta-nav-top-sub-menu{-moz-box-shadow: 5px 3px 5px #dddddd;-webkit-box-shadow:5px 3px 5px #dddddd;box-shadow: 5px 3px 5px #dddddd;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#fff;border-left:1px solid #d1d1d1;border-right:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;/*border-top:1px solid #d1d1d1;*/display:block;left:-9999px;list-style:none outside none;margin:0;padding:0 0 0 0;position:absolute;top:27px;white-space:nowrap;z-index:1000}
#sta-nav-top li.sta-nav-dropdown:hover .sta-nav-top-sub-menu{left:-1px}
#sta-nav-top li a:hover {color: #343434;}
#sta-nav-top .sta-nav-right > li a, #sta-nav-top .sta-nav-left > li a {border-left:1px solid #d1d1d1;color:#343434;display:block;text-transform:uppercase;font-family: 'tahoma',arial,sans-serif; font-size: 85%;vertical-align: middle;margin-left: -1px;height:18px;margin-top:4px;line-height: 136%;}
#sta-nav-top .sta-nav-right > li:first-child a, #sta-nav-top .sta-nav-left > li:first-child a{border-left:none;}
#sta-nav-top .sta-nav-right > li, #sta-nav-top .sta-nav-left > li {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; border-right:1px solid #e9ebee;border-left:1px solid #e9ebee;border-top:1px solid #e9ebee;}
#sta-nav-top .sta-nav-right > li:hover, #sta-nav-top .sta-nav-left > li:hover {background-color:#fff;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; border-right:1px solid #d1d1d1;border-left:1px solid #d1d1d1;border-top:1px solid #d1d1d1;}
#sta-nav-top li.sta-nav-dropdown{padding-right:16px;position:relative;background-repeat:no-repeat;}
#sta-nav-top .sta-nav-left > li > a {background-image: url(http://www.statravel.co.uk/static/uk_division_web_live/assets/top-header.png);background-repeat: no-repeat;padding-left:29px;}
#sta-nav-top .sta-nav-left > li > a { padding-right: 10px;}
#sta-nav-top .sta-nav-right > li > a { padding-right: 10px; padding-left:10px;}
#sta-nav-top li.sta-contact-dropdown {background-image: url(http://www.statravel.co.uk/static/uk_division_web_live/assets/top-header.png);background-position: right -84px;}
#sta-nav-top li.sta-contact-dropdown a {background-position: 0 0;}
#sta-nav-top li.sta-appointment a {background-position: 0 -17px;}
#sta-nav-top li.sta-store a {background-position: 0 -33px;}
#sta-nav-top .sta-nav-top-sub-menu li {height: 28px;}
#sta-nav-top .sta-nav-left .sta-nav-top-sub-menu li {background-image: url(http://www.statravel.co.uk/static/uk_division_web_live/assets/header-contact-us.png);background-repeat: no-repeat;}
#sta-nav-top .sta-nav-top-sub-menu li a {padding-left: 40px;width:170px;line-height: 28px;display: block;font-size:111%;margin-top:0;height:28px;}
#sta-nav-top .sta-nav-top-sub-menu li:hover {background-color:#e9ebee;}
#sta-nav-top .sta-nav-top-sub-menu a {border:none !important;text-transform:capitalize !important;font-weight:normal !important;}
#sta-nav-top .sta-nav-top-sub-menu .sta-icon-phone {background-position: 0 0;}
#sta-nav-top .sta-nav-top-sub-menu .sta-icon-chat {background-position: 0 -28px;}
#sta-nav-top .sta-nav-top-sub-menu .sta-icon-email {background-position: 0 -56px;}
#sta-nav-top .sta-nav-top-sub-menu .sta-icon-question {background-position: 0 -84px;}
#sta-nav-top .sta-nav-top-sub-menu .sta-icon-person {background-position: 0 -112px;}
#sta-nav-top li.sta-flag-dropdown {background-image: url(http://www.statravel.co.uk/static/uk_division_web_live/assets/top-header.png);background-position:right -84px;}
#sta-nav-top li.sta-flag-dropdown:hover .sta-nav-top-sub-menu{left:-164px;}
#sta-nav-top li a.sta-current-flag {width: 20px;padding: 0 5px !important;height: 16px !important;display: block;margin-top:4px;}
#sta-nav-top li a.sta-current-flag span {display:none;}
#sta-nav-top li a.sta-flag {background:url(http://www.statravel.co.uk/static/uk_division_web_live/assets/flags.png) no-repeat;}
#sta-nav-top li a.sta-flag:hover {color:#343434 !important;}
#sta-nav-top li a.sta-flag-uk {background-position: 0 0;}
#sta-nav-top li a.sta-flag-au {background-position: 0 -28px;}
#sta-nav-top li a.sta-flag-at {background-position: 0 -56px;}
#sta-nav-top li a.sta-flag-cn {background-position: 0 -84px;}
#sta-nav-top li a.sta-flag-dk {background-position: 0 -112px;}
#sta-nav-top li a.sta-flag-fr {background-position: 0 -140px;}
#sta-nav-top li a.sta-flag-de {background-position: 0 -168px;}
#sta-nav-top li a.sta-flag-hu {background-position: 0 -196px;}
#sta-nav-top li a.sta-flag-jp {background-position: 0 -224px;}
#sta-nav-top li a.sta-flag-nz {background-position: 0 -252px;}
#sta-nav-top li a.sta-flag-no {background-position: 0 -280px;}
#sta-nav-top li a.sta-flag-sg {background-position: 0 -308px;}
#sta-nav-top li a.sta-flag-za {background-position: 0 -336px;}
#sta-nav-top li a.sta-flag-ch {background-position: 0 -364px;}
#sta-nav-top li a.sta-flag-se {background-position: 0 -392px;}
#sta-nav-top li a.sta-flag-th {background-position: 0 -420px;}
#sta-nav-top li a.sta-flag-us {background-position: 0 -448px;}
#sta-nav-top li a.sta-flag-globe {background-position: 0 -476px;}
#sta-nav-top li a.sta-current-flag.sta-flag-uk {background-position: 0 -7px;}
#sta-nav-top li a.sta-current-flag.sta-flag-au {background-position: 0 -35px;}
#sta-nav-top li a.sta-current-flag.sta-flag-at {background-position: 0 -63px;}
#sta-nav-top li a.sta-current-flag.sta-flag-cn {background-position: 0 -91px;}
#sta-nav-top li a.sta-current-flag.sta-flag-dk {background-position: 0 -119px;}
#sta-nav-top li a.sta-current-flag.sta-flag-fr {background-position: 0 -147px;}
#sta-nav-top li a.sta-current-flag.sta-flag-de {background-position: 0 -175px;}
#sta-nav-top li a.sta-current-flag.sta-flag-hu {background-position: 0 -203px;}
#sta-nav-top li a.sta-current-flag.sta-flag-jp {background-position: 0 -231px;}
#sta-nav-top li a.sta-current-flag.sta-flag-nz {background-position: 0 -259px;}
#sta-nav-top li a.sta-current-flag.sta-flag-no {background-position: 0 -287px;}
#sta-nav-top li a.sta-current-flag.sta-flag-sg {background-position: 0 -315px;}
#sta-nav-top li a.sta-current-flag.sta-flag-za {background-position: 0 -343px;}
#sta-nav-top li a.sta-current-flag.sta-flag-ch {background-position: 0 -371px;}
#sta-nav-top li a.sta-current-flag.sta-flag-se {background-position: 0 -399px;}
#sta-nav-top li a.sta-current-flag.sta-flag-th {background-position: 0 -427px;}
#sta-nav-top li a.sta-current-flag.sta-flag-us {background-position: 0 -455px;}
#sta-nav-top li a.sta-current-flag.sta-flag-globe {background-position: 0 -483px;}
#sta-nav-top li.sta-search-dropdown {background: none;width: 31px;position:relative}
#sta-nav-top li.sta-search-dropdown a {background: url(http://www.statravel.co.uk/static/uk_division_web_live/assets/top-header.png) no-repeat 0 -51px;width: 23px;height: 17px;display: block;margin-top: 3px;}
#sta-nav-top li.sta-search-dropdown:hover .sta-nav-top-sub-menu{left:-322px;}
#sta-nav-top .sta-nav-top-sub-menu #sta-search-form {width:350px;height:55px;}
#sta-nav-top .sta-nav-top-sub-menu #sta-search-form input {width:206px; height:32px; margin-top:10px; margin-left:15px;color:#98999a; padding: 0 0 0 10px;}
#sta-nav-top .sta-nav-top-sub-menu #sta-search-form #sta-start-search {display: inline;color: #fff;background-color: #007bc9;width: 86px;height: 32px;padding:0px}
#sta-nav-top .sta-nav-top-sub-menu #sta-search-form #sta-start-search:hover {color: #fff;background-color: rgb(10, 148, 235);}
/* Tagline and Nav */
#sta-header{border:0;margin-bottom:10px}
#sta-header #sta-tagline-call-info {padding: 20px 0;height: 90px;}
#sta-header #sta-tagline{float:left;background-image:url("http://www.statravel.co.uk/static/uk_division_web_live/assets/start-the-adventure.png");background-repeat:no-repeat;width:314px;height:51px;margin-top:13px;}
#sta-header #sta-tagline span {display:none;}
#sta-header #sta-logo{float:left;padding-right: 25px;}
#sta-header #sta-logo a {background-image:url('http://www.statravel.co.uk/static/uk_division_web_live/assets/logo.png');width:115px;height:79px;display:block;}
#sta-header #sta-logo a span {display: none;}
#sta-header .sta-call-info{float:right;margin-right:2px;text-align:right;width:260px}
#sta-header .sta-call-info p{line-height:90%;margin-bottom:2px;font-weight: bold;font-size: 85%;color:#4d5056;}
#sta-header .sta-call-info h2 {display:inline-block;color:#fb4f14;font-weight: bold;font-size: 170%;margin:5px 0 0 0;}
#sta-header .sta-call-info span {color: #b6b6b6;font-size: 71%;padding-top:6px;display:block;}

#sta-nav-wrap ul.sta-navigation{position: relative;border : 1px solid #f3f3f3;list-style:none outside none;margin:0 0 1px}
#sta-nav-wrap ul.sta-navigation li{float:left;position:static}
#sta-nav-wrap ul.sta-navigation li:hover .sta-mainNavSubMenu{left:0}
#sta-nav-wrap ul.sta-navigation li a{border-left: 1px solid #f3f3f3;color: #434343;display:block;font-size:95%;font-weight: normal;padding:5px 7px;text-align:center;text-transform:uppercase;background: none;margin:0;font-family: 'tahoma',arial,sans-serif;}
#sta-nav-wrap ul.sta-navigation li a.sta-active{font-weight: bold;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu {display:none;list-style:none outside none;margin:0;position:absolute;z-index:1000;width: 960px;background: #edeff1;padding: 5px 0 0 0;box-shadow:0 3px 3px #989898;-moz-box-shadow:0 3px 3px #989898;-webkit-box-shadow:0 3px 3px #989898;border:none;}
#sta-nav-wrap #sta-nav li:hover ul {display:block;}
#sta-nav-wrap ul.sta-navigation > li:hover {background-color: #edeff1;color: #434343;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu li{float:none}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu li a{background-color:#fff;border:0 none;display:block;font-size:120%;padding:0 14px 4px;text-align:left;white-space:nowrap;font-weight:bold}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu li a:hover{background-color:#fff;color:#fb4f14}
#sta-nav-wrap ul.sta-navigation .sta-small-menu {height:228px;}
#sta-nav-wrap ul.sta-navigation .sta-medium-menu {height:420px;}
#sta-nav-wrap ul.sta-navigation .sta-large-menu {height:610px;}
#sta-nav-wrap ul.sta-navigation .sta-featured-menu {height:406px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-desp-column {width:200px;height: 100%;float:left;padding-left:20px;padding-right:20px;background-color: #edeff1;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-desp-column .sta-nav-heading1 {padding-top: 15px;padding-bottom: 20px;font-family: 'tahoma',arial,sans-serif;color: #555555;font-size: 143.75%;margin: 0px 0px 10px 0px;font-weight: bold;line-height: 20px;text-transform: uppercase;display: block;text-rendering: optimizelegibility;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-desp-column p {font-family: 'tahoma',arial,sans-serif;color: #5f6369;font-size: 100%;margin-bottom:20px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-desp-column a {display:inline;color: #0065bd;font-weight:bold;text-align:left;padding:0 15px 0 0;position: relative;background: url(http://www.statravel.co.uk/static/uk_division_web_live/assets/desktop-arrows.png) no-repeat right 2px;font-size:111%;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-desp-column a img{position: absolute;top: 17px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-desp-column a:hover{color: #fb4f14;background: url(http://www.statravel.co.uk/static/uk_division_web_live/assets/desktop-arrows.png) no-repeat right -18px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-nav-column {width: 422px;height: 100%;float:left;padding:0 31px 0 22px;background-color: #fff;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-nav-column .sta-topspacer {height:18px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-nav-column .sta-single-nav{width:211px;float:left;padding-bottom:20px;height: 161px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-nav-column .sta-single-nav a{font-size: 146%;text-transform: none;text-align: left;padding:0 0 2px 0;font-weight: normal;color: #5f6369;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-nav-column .sta-single-nav a:hover {color: #fb4f14;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-img-column {width:245px;height: 100%;float:left;background-color: #fff;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-img-column img{padding-top: 20px;padding-left:4px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-feature-column {width:214px;height: 100%;float:left;background-color: #fff;padding:0 9px 0 22px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-feature-column .sta-nav-heading2 {padding-top: 7px;font-size: 104%;color: #434343;text-rendering: optimizelegibility;text-transform: uppercase;font-family: 'Trebuchet MS',tahoma,arial,sans-serif;font-weight: bold;line-height: 20px;margin: 10px 0;display: block;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-feature-column p{font-family: 'tahoma',arial,sans-serif;color: #5f6369;font-size: 100%;padding-top: 5px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-feature-column a span {padding-right:5px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-feature-column a {color: #0065bd;font-weight:bold;text-align:left;padding:10px 0 0 0;font-size: 100%;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-feature-column a.sta-all-link {display:inline;background: url(http://www.statravel.co.uk/static/uk_division_web_live/assets/desktop-arrows.png) no-repeat right -37px;padding-right:15px;padding-top:0px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-feature-column a.sta-all-link:hover {background: url(http://www.statravel.co.uk/static/uk_division_web_live/assets/desktop-arrows.png) no-repeat right -57px;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-feature-column a img{vertical-align: baseline;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-feature-column a:hover{color: #fb4f14;background: #fff;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu .sta-feature-column img{vertical-align: baseline;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu li.sta-nav-li a.sta-nolink {cursor:default !important;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu li.sta-nav-li a.sta-nolink:hover{cursor:default !important;color: #5f6369 !important;}
#sta-nav-wrap ul.sta-navigation .sta-mainNavSubMenu li.sta-nav-li .sta-nav-heading2 {font-size: 94%;padding: 0 0 7px 0;margin: 0px;color: #434343;display: block;font-family: 'Trebuchet MS',tahoma,arial,sans-serif;font-weight: bold;text-transform: uppercase;text-rendering: optimizelegibility;}
#sta-nav-wrap {display: block;}
#sta-nav-wrap-copy {display:none;}
/*Newsletter top*/
#sta-newsletter {background: transparent url("http://www.statravel.co.uk/static/uk_division_web_live/assets/newsletter-bg.png");color:#ffffff; margin-bottom:10px;position: relative;width:947px;height: 62px;display: none !important;}
#sta-newsletter a#sta-close{position:absolute; top:0px; left:920px;}
#sta-newsletter #sta-subscribe-form {position: absolute;top: 15px;left: 47px;text-transform: uppercase;font-size: 80%;font-weight: bold;}
#sta-newsletter #sta-subscribe-form span {padding-right: 15px;}
#sta-newsletter #sta-subscribe-form input {width: 260px;height: 23px;font-size: 12px;text-transform: uppercase;}
#sta-newsletter #sta-subscribe-form .sta-btn {display: inline;color: #fff;background-color: #007bc9;width:102px;height: 33px;margin-left: 17px;}
#sta-newsletter #sta-subscribe-form .sta-btn:hover {color: #fff;background-color: rgb(10, 148, 235);}
}
/* for ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{
 nav ul.sta-navigation li a{padding:5px 4px;}
}
.mm-menu > .mm-panel.mm-subopened { display: block !important;}.mm-menu > .mm-panel.mm-opened {display: block !important;}
.mm-list a.mm-subopen:after, .mm-list a.mm-subclose:before {border:0px !important; display: none !important;}
/* ##HEADER END ## */
/* ##FOOTER START ## */
#sta-footer{clear:both}
section .sta-btn-collapse-mini {background-image:url(http://www.statravel.co.uk/static/uk_division_web_live/assets/mobile-plus-minus-mini.png);background-position:98.7% -13px; background-repeat:no-repeat;color:#0065bd;margin:0 0 2px;padding:14px}
section .sta-ready-to-collapse-mini {background-position:98.9% 1px}
#sta-footer-panel1 {margin-bottom:20px;}
#sta-footer-panel2 {width:45%; float:left; padding-right:4.7%; border-right:1px solid #aaaaaa;}
#sta-footer-panel3 {width:45%; float:left; margin:0 0 20px 10px;}
#sta-footer .sta-footer-wrap {width:95%; margin: 0 auto;}
#sta-footer h4 {font-size:0.85em; margin:0 0 5px 0;}
#sta-footer-spread-social {text-align:center; margin:15px 0 20px 0; padding:2px 10px 8px 10px; background-color:#ffffff; background: #ffffff url(http://www.statravel.co.uk/static/uk_division_web_live/assets/bg-stripes.gif) repeat;box-shadow: 4px 4px 5px -2px #aaaaaa; -moz-box-shadow: 4px 4px 5px -2px #aaaaaa; -webkit-box-shadow: 4px 4px 5px -2px #aaaaaa;}
#sta-footer-spread-social h2 {font-size:0.95em; margin-top:5px; margin-bottom:5px; text-transform:uppercase;}
#sta-footer-spread-social .sta-social-buttons {display:inline;margin-top:0; margin-left:20px}
#sta-footer-spread-social .sta-social-buttons img{max-width:none;}
#sta-footer-specialist-travel {margin-top:23px;}
#sta-footer-support {margin-top:23px;}
#sta-footer-request-brochure {margin-top:23px;}
#sta-footer .sta-small-print {margin-top:10px; font-size:0.7em; text-align:center;text-transform:uppercase; color:#007bc9; font-weight:bold;}
#sta-footer .sta-small-print a {color:#007bc9;}
#sta-footer .sta-small-print.sta-mobile a {font-weight:bold;}
#sta-footer #sta-footer-newsletter {padding:1px 0 0 0; }
#sta-footer #sta-footer-newsletter .sta-mobile-extra {}
#sta-footer #sta-footer-newsletter h4 span {display:none;}
#sta-footer #sta-footer-newsletter .sta-btn-secondary {padding:0;width:98.5%;}
#sta-footer #sta-footer-newsletter .sta-mobile-extra {border:0;}
#sta-footer #sta-footer-newsletter .sta-btn-collapse-mini {color:#434343; padding:0;}
#sta-footer #sta-footer-email {margin:5px 0 7px 0;}
#sta-footer-contact-us .sta-contact-box {display:block;background:none;text-transform:none;font-weight:normal}
@media screen and (min-width:640px) {
 #sta-footer-panel2 {width:672px; padding-right:0; margin-right:10px; border:0;}
 #sta-footer-panel3 {width:230px; margin:0 0 40px 0;}
 #sta-footer .sta-footer-wrap {width:960px;}
 #sta-footer h4 {padding:12px 0 0 0; margin:10px 0 6px 0;}
 #sta-footer-spread-social {padding:10px 18px;}
 #sta-footer-spread-social h2 {font-size:112%; float:left; margin-bottom:0; display:inline;}
 #sta-footer-spread-social .sta-social-buttons {float:right;}
 #sta-footer .sta-footer-panels {margin:18px 0; padding:0 18px 10px 18px; background-color:#ffffff;}
 #sta-footer-contact-us {width:225px; margin-right:25px; float:left; }
 #sta-footer-about-us {width:195px; margin-right:10px; float:left;}
 #sta-footer-specialist-travel {width:195px; margin:0 10px 0 0; float:left;}
 #sta-footer-support {width:195px; margin:0 10px 0 0; float:left; }
 #sta-footer-request-brochure {width:195px; margin:0 10px 0 0; float:left;}
 #sta-footer #sta-footer-newsletter {padding:1px 10px 10px 10px; width:230px; float:left; float:left; margin-bottom:20px;}
 #sta-footer #sta-footer-newsletter h4 span {display:block;}
 #sta-footer-contact-us h4 {font-size:1em;}
 #sta-footer #sta-footer-newsletter .sta-mobile-extra {padding:0;}
 #sta-footer #sta-footer-newsletter .sta-btn-secondary {height:35px; }
 #sta-footer #sta-footer-newsletter .sta-btn-collapse-mini {padding:0;}
 #sta-footer .sta-accreditation-bar {text-align:center;}
 #sta-footer .sta-accreditation-bar ul {display:inline-block;}
 #sta-footer .sta-accreditation-bar ul li {float:left; margin:0 4px;}
 #sta-footer-contact-us .sta-contact-box {margin-top:10px;}
 #sta-footer-contact-us ul li {width:220px;height:30px; margin-bottom:6px; line-height:30px; text-transform:uppercase;font-weight:bold;}
 #sta-footer #sta-footer-contact-us ul li a {background-repeat:no-repeat; height:30px; padding-left:43px;color:#434343;display:block;font-size:93.75%;font-weight:bold;}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-phone {border:1px solid #ef6726}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-chat {border:1px solid #009fd2}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-email {border:1px solid #8347b2}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-store {border:1px solid #fbae12}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-appt {border:1px solid #3c1053}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-phone a:hover {color:#ef6726;}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-chat a:hover {color:#009fd2;}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-email a:hover {color:#8347b2;}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-store a:hover {color:#fbae12;}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-appt a:hover {color:#3c1053;}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-phone {background:url(http://www.statravel.co.uk/static/uk_division_web_live/assets/contact-buttons.png) 0 0; background-repeat:no-repeat;}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-chat {background:url(http://www.statravel.co.uk/static/uk_division_web_live/assets/contact-buttons.png) 0 -30px; background-repeat:no-repeat;}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-email {background:url(http://www.statravel.co.uk/static/uk_division_web_live/assets/contact-buttons.png) 0 -60px; background-repeat:no-repeat;}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-store {background:url(http://www.statravel.co.uk/static/uk_division_web_live/assets/contact-buttons.png) 0 -90px; background-repeat:no-repeat;}
 #sta-footer #sta-footer-contact-us ul li.sta-contact-appt {background:url(http://www.statravel.co.uk/static/uk_division_web_live/assets/contact-buttons.png) 0 -120px; background-repeat:no-repeat;}
 #sta-footer input #sta-footer-email {margin:5px 0 14px 0;}
 #sta-footer-blog {margin-top:5px;}
 #sta-footer-blog img {margin-right:13px; float:left;}
 #sta-footer-blog h4 {margin:0;}
 #sta-footer .sta-small-print {font-size:0.85em; text-align:center;text-transform:none; color:#919195; font-weight:normal;}
 #sta-footer .sta-small-print p {color:#919195;}
}
/* ##FOOTER END ## */