.stapopup-btn {
    display: inline-block !important;
    width: auto !important;
    margin-right: 10px !important;
    padding: 0px 7px 0px 7px !important;
    line-height: 32px !important;
}

#MainContent_ucSResult_pnlQuckLoad input, #MainContent_ucSResult_pnlQuckLoad select {
    height: 33px !important;
    padding: 2px !important;
}

#MainContent_ucSResult_pnlQuckLoad h2, #MainContent_ucSResult_pnlQuckLoad h2 {
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.starail-Form-select {
    line-height: 34px;
    height: 43px;
}

.dvPopupHead, .popuHeading {
    float: left;
    line-height: 25px;
}

.banner90, .carousel-caption h3, .searchbar h4 {
    text-transform: uppercase;
}

.lt-ie9 .loyspanradio input[type=radio] {
    display: inline-block;
}

.lt-ie9 .switchRadioGroup tr td input[type=radio] + label {
    background: 0 0;
}

.lt-ie9 table.loyclassradiotbl, .lt-ie9 table.switchRadioGroup {
    width: 500px !important;
}

.starail-Banner img {
    height: 100%;
}

.dots-starail-Wrapper {
    width: 960px;
    margin: -20px auto auto !important;
    padding-bottom: 10px !important;
}

.starail-Accordion-bodyContent {
    max-height: 500px !important;
    overflow-y: auto;
}

.dots-header {
    max-width: 960px;
    width: 960px;
}

.divPrice {
    text-align: center;
    width: 99%;
}

.float-lt {
    float: left;
}

.ts-next, .ts-prev {
    position: absolute;
    background-color: #831D1D;
    cursor: pointer;
}

.ui-datepicker-title .ui-datepicker-month, .ui-datepicker-title .ui-datepicker-year {
    color: #fff;
}

.ui-datepicker-title > select {
    color: #000 !important;
}

.starail-Form-error {
    background-color: #ffedee !important;
    border-color: #e6462e !important;
}

.dvPopupHead, .popuHeading, .popup {
    border: 1px solid #ccc;
}

.clsMrgTop10 {
    margin-top: 20px;
    float: left;
    width: 100%;
    text-align: center;
}

.dvPopupHead {
    text-align: right;
    padding-right: 5px;
    background: #0D69B6;
    color: #fff;
    width: 100%;
}

.dvPopupTxt {
    widt: 100px;
    float: left;
    padding-left: 15px;
}

.modalBackground {
    z-index: 999;
}

.popup {
    background-color: #fff;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    width: 955px;
    min-height: 85px;
    max-height: 485px;
    overflow-y: auto;
    padding: 25px;
}

.popuHeading {
    text-align: right;
    padding-right: 5px;
    background: #0D69B6;
    color: #fff;
    width: 100%;
}

.flashmap-country-drop {
    display: none !important;
}

:focus {
    outline: 0;
}

.clear {
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.pos-rel {
    position: relative;
}

#container {
    width: 100%;
}

.wrapper {
    width: 1004px;
    margin: 0 auto;
}

.banner, .content {
    width: 100%;
    float: left;
}

.banner {
    border-bottom: 3px solid #0D69B6;
    margin: 0;
    position: relative;
}

    .banner img {
        position: relative;
        z-index: 0;
        height: 176px;
    }

.content {
    margin-top: 15px;
}

.rail-detail-block {
    padding-top: 25px;
    margin-bottom: 10px;
}

.tab-detail-in .left-content {
    float: none;
    width: auto;
    padding-left: 5px;
}

.rail-detail-block .list-tab {
    height: 35px;
}

    .rail-detail-block .list-tab ul {
        line-height: 36px;
    }

        .rail-detail-block .list-tab ul li {
            list-style: none;
            float: left;
            margin-right: 5px;
        }

            .rail-detail-block .list-tab ul li a {
                list-style: none;
                text-decoration: none;
                float: left;
                padding: 0 15px;
                font-size: 13px;
                color: #424242;
                background: #f6f8f9;
                background: -moz-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
                background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f6f8f9),color-stop(49%,#f2f5f6),color-stop(50%,#dde4e7),color-stop(100%,#edeeee));
                background: -webkit-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
                background: -o-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
                background: -ms-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
                background: linear-gradient(to bottom,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
                -pie-background: linear-gradient(#f6f8f9,#edeeee);
                position: relative;
                border: 1px solid #b3b3b3;
                border-bottom: 0;
            }

                .rail-detail-block .list-tab ul li a.active, .rail-detail-block .list-tab ul li a:hover {
                    list-style: none;
                    float: left;
                    padding: 0 15px;
                    color: #fff;
                    text-decoration: none;
                    background: #b1085e;
                    background: -moz-linear-gradient(top,#b1085e 0,#75043d 100%);
                    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#b1085e),color-stop(100%,#75043d));
                    background: -webkit-linear-gradient(top,#b1085e 0,#75043d 100%);
                    background: -o-linear-gradient(top,#b1085e 0,#75043d 100%);
                    background: -ms-linear-gradient(top,#b1085e 0,#75043d 100%);
                    background: linear-gradient(to bottom,#b1085e 0,#75043d 100%);
                    -pie-background: linear-gradient(#b1085e,#75043d);
                    position: relative;
                    border: 1px solid #11070c;
                    border-bottom: 0;
                }

.rail-detail-block .tab-detail-in {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 1% 0 2% 1%;
    margin-bottom: 10px;
    border: 1px solid #b3b3b3;
}

    .rail-detail-block .tab-detail-in .booking-block {
        width: 332px;
        padding: 5px 5px 10px 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: #efefef;
        margin: 0 5px 8px 0;
        float: left;
        min-height: 170px;
        max-height: 170px;
    }

        .rail-detail-block .tab-detail-in .booking-block .imgblock {
            width: 116px;
            float: right;
        }

            .rail-detail-block .tab-detail-in .booking-block .imgblock img {
                background: #e7e7e7;
                padding: 4px;
                border: 1px solid #b3b3b3;
                margin-bottom: 5px;
            }

        .rail-detail-block .tab-detail-in .booking-block .booking-detail {
            width: 290px;
            padding-left: 9px;
            float: left;
            max-height: 110px;
            min-height: 110px;
        }

            .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 {
                width: 90px;
                float: left;
                position: relative;
                padding-top: 10px;
            }

                .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01.colum011 {
                    width: 160px;
                }

                .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 .price {
                    position: absolute;
                    text-align: right;
                    line-height: 15px;
                    right: -17px;
                    font-weight: 700;
                    top: 6px;
                    font-size: 14px;
                    color: #0D69B6;
                }

                    .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 .price span {
                        font-size: 12px;
                        color: #0D69B6;
                    }

                .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 img {
                    float: left;
                    padding-bottom: 10px;
                }

                    .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 img:after {
                        clear: both;
                    }

                .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 h3 {
                    font-size: 14px;
                    line-height: normal;
                    margin: 0;
                    color: #000;
                    float: left;
                    width: 100%;
                }

                    .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 h3 span {
                        font-size: 12px;
                        color: #000;
                    }

                .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 p {
                    font-size: 10px;
                    color: #000;
                    float: left;
                    width: 100%;
                    padding: 0;
                }

            .rail-detail-block .tab-detail-in .booking-block .booking-detail .title {
                width: 100%;
                float: left;
                padding-bottom: 10px;
            }

                .rail-detail-block .tab-detail-in .booking-block .booking-detail .title .lt {
                    font-size: 15px;
                    height: 15px;
                    line-height: 15px;
                    float: left;
                    color: #0D69B6;
                }

                    .rail-detail-block .tab-detail-in .booking-block .booking-detail .title .lt img {
                        float: left;
                        padding-right: 5px;
                    }

                .rail-detail-block .tab-detail-in .booking-block .booking-detail .title .rt {
                    font-size: 15px;
                    float: right;
                    height: 15px;
                    line-height: 15px;
                    color: #0D69B6;
                }

            .rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row {
                width: 100%;
                font-size: 12px;
                float: left;
                padding-bottom: 8px;
                color: #4d4d4d;
            }

                .rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row .lt {
                    width: 113px;
                    float: left;
                }

                .rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row .rt {
                    float: left;
                }

.right-content {
    width: 277px;
    float: right;
    padding-right: 10px;
}

.ticketbooking {
    width: 100%;
    float: left;
    padding-top: 25px;
}

    .ticketbooking .list-tabb {
        float: left;
        width: 100%;
        height: 36px;
    }

    .ticketbooking .list-tab ul {
        line-height: 36px;
    }

        .ticketbooking .list-tab ul li {
            list-style: none;
            float: left;
            margin-right: 5px;
        }

            .ticketbooking .list-tab ul li a {
                list-style: none;
                float: left;
                padding: 0 15px;
                text-decoration: none;
                font-size: 13px;
                cursor: pointer;
                color: #fff;
                background: #c5456a !important;
                background: -moz-linear-gradient(top,#c5456a 0,#962037 100%) !important;
                background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#c5456a),color-stop(100%,#962037)) !important;
                background: -webkit-linear-gradient(top,#c5456a 0,#962037 100%) !important;
                background: -o-linear-gradient(top,#c5456a 0,#962037 100%) !important;
                background: -ms-linear-gradient(top,#c5456a 0,#962037 100%) !important;
                background: linear-gradient(to bottom,#c5456a 0,#962037 100%) !important;
                -pie-background: linear-gradient(#c5456a,#962037) !important;
                position: relative;
                border: 1px solid #B3B3B3 !important;
                border-bottom: 0 !important;
            }

                .ticketbooking .list-tab ul li a.active, .ticketbooking .list-tab ul li a:hover {
                    list-style: none;
                    float: left;
                    padding: 0 15px;
                    text-decoration: none;
                    position: relative;
                    cursor: pointer;
                    background: #f6f8f9 !important;
                    background: -moz-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
                    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f6f8f9),color-stop(49%,#f2f5f6),color-stop(50%,#dde4e7),color-stop(100%,#edeeee)) !important;
                    background: -webkit-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
                    background: -o-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
                    background: -ms-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
                    background: linear-gradient(to bottom,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
                    -pie-background: linear-gradient(#f6f8f9,#edeeee) !important;
                    border: 1px solid #B3B3B3 !important;
                    border-bottom: 0 !important;
                    color: #931b31 !important;
                    font-size: 13px !important;
                }

    .ticketbooking .tab-detail-in {
        padding: 11px;
        float: left;
        margin-bottom: 0;
        border: 1px solid #b3b3b3;
        background: #efefef;
    }

.on-focusdiv {
    border: 1px solid #a50452 !important;
    background: #fad9dc !important;
}

.ticketbooking .full-row {
    width: 100%;
    float: left;
    padding-bottom: 8px;
    font-size: 12px;
    color: #4d4d4d;
}

    .ticketbooking .full-row.depart-cal .inbox01 {
        width: 67px !important;
        padding: 2px;
    }

    .ticketbooking .full-row.depart-cal .ui-datepicker-trigger {
        float: left;
        width: 20px;
        margin-top: 3px;
        margin-right: 3px;
        height: 21px;
    }

    .ticketbooking .full-row.depart-cal .slbox01 {
        width: 64px !important;
    }

    .ticketbooking .full-row.depart-cal .tdisabled input[type=text] {
        border: 1px solid #D3D3D3;
        color: #4D4D4D;
        float: left;
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        margin-right: 5px;
        padding: 2px;
        width: 67px !important;
    }

    .ticketbooking .full-row.depart-cal .tdisabled select {
        float: left;
        font-size: 12px;
        height: 31px;
        line-height: 31px;
        width: 64px !important;
        padding: 5px 3px;
        border: 1px solid #D3D3D3;
        margin-right: 0;
    }

.ticketbooking .colum01 {
    float: left;
    width: 85px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
}

.ticketbooking .colum02 {
    float: left;
    width: 165px;
    height: 25px;
    line-height: 25px;
}

.ticketbooking .colum03 {
    float: left;
    width: 120px;
    padding-left: 5px;
}

    .ticketbooking .colum03 p {
        font-size: 12px;
        color: #4d4d4d;
    }

    .ticketbooking .colum03 sapn {
        font-size: 9px;
        color: #acacac;
    }

    .ticketbooking .colum03 select {
        width: 100%;
        padding: 3px;
        border: 1px solid #d3d3d3;
        height: 25px;
        font-size: 12px;
        color: #4d4d4d;
        line-height: 25px;
    }

.ticketbooking .colum02 input[type=text] {
    width: 100%;
    border: 1px solid #d3d3d3;
    height: 25px;
    font-size: 12px;
    color: #4d4d4d;
    line-height: 25px;
}

.ticketbooking .gray-row {
    width: 92%;
    float: left;
    padding: 2%;
    background: #7f7f7f;
    margin-left: 5px;
    margin-bottom: 10PX;
    border: 1px solid #424242;
    font-size: 12px;
    color: #4d4d4d;
}

    .ticketbooking .gray-row .fullrow02 {
        border-bottom: 1px solid #a1a1a1;
        padding-bottom: 8px;
        margin-bottom: 10px;
        float: left;
        width: 100%;
    }

.inbox01, .slbox01 {
    float: left;
    border: 1px solid #d3d3d3;
}

.ticketbooking .gray-row .fullrow02 .colum01 {
    float: left;
    width: 51px;
    height: 25px;
    color: #FFF;
    line-height: 25px;
    padding-left: 8px;
}

.ticketbooking .gray-row .fullrow02 .colum02 {
    float: left;
    width: 160px;
    height: 25px;
    color: #FFF;
    line-height: 25px;
    padding-right: 8px;
}

.inbox01 {
    width: 78px !important;
    margin-right: 3px;
    height: 25px;
    font-size: 12px;
    color: #4d4d4d;
    line-height: 25px;
}

.slbox01 {
    width: 72px !important;
    padding: 5px 3px;
    height: 31px;
    font-size: 12px;
    color: #4d4d4d;
    line-height: 29px;
}

.slbox-big, .slbox-sml {
    padding: 3px;
    height: 29px;
    line-height: 29px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    color: #4d4d4d;
    float: left;
}

.slbox-big {
    width: 142px;
}

.textSearch {
    width: 56%;
    border: 1px solid #d3d3d3;
    height: 25px;
    font-size: 12px;
    color: #4d4d4d;
    line-height: 25px;
}

.newsletter-outer {
    width: 100%;
    float: left;
}

    .newsletter-outer .title {
        padding: 0 0 0 11px;
        width: 264px;
        float: left;
        height: 46px;
        line-height: 46px;
        background: #424242;
        font-size: 18px;
        color: #FFF;
    }

    .newsletter-outer .newsletter-inner {
        border: 1px solid #B3B3B3;
        float: left;
        margin-bottom: 0;
        padding: 11px;
        width: 251px;
    }

        .newsletter-outer .newsletter-inner input[type=text] {
            border: 1px solid #adb9c2;
            margin-bottom: 12px;
            font-size: 13px;
            color: #424242;
        }

.right-banner {
    width: 100%;
    float: left;
}

.brbotm {
    border-bottom: 1px dotted #b3b3b3;
}

.marg-lr {
    margin: 0 6px;
}

.marg-n {
    margin: 0 !important;
}

.f-right {
    float: right !important;
}

.w92 {
    width: 92px !important;
}

.left-content .smlblock {
    float: left;
    width: 208px;
    background: url(../../images/sml-bottomblock-bg.jpg) bottom repeat-x;
    border: 1px solid #b3b3b3;
    padding: 9px;
    margin-bottom: 12px;
}

    .left-content .smlblock img {
        border: 1px solid #d3d3d3;
        margin-bottom: 14px;
    }

    .left-content .smlblock p {
        padding-bottom: 27px;
    }

.starail-Icon-bars::before {
    content: "" !important;
}

.starail-Icon-bars {
    background: url(../../images/icon_list.jpg) left no-repeat;
    width: 24px;
    height: 20px;
    display: inline-block;
}

.btn-conect, .clsAbs, .faqAnswer, .foot-select, .footselect, .select, .select-menu, .trNews table td img {
    display: none;
}

.left-content .smlblock span {
    float: right;
    background: url(../../images/arr-red.jpg) left no-repeat;
    padding-left: 10px;
    font-size: 11px;
    color: #0D69B6;
}

    .left-content .smlblock span a {
        color: #0D69B6;
        text-decoration: none;
    }

.bg-white {
    background: #fff !important;
}

.content-inner {
    width: 97%;
    float: left;
    margin-top: 9px;
    padding: 1% 1.5%;
}

.breadcrumb {
    width: 100%;
    float: left;
    font-size: 12px;
    padding-bottom: 16px;
    color: #4d4d4d;
}

    .breadcrumb a {
        color: #0D69B6;
        text-decoration: none;
    }

.innner-banner {
    background: url(../../images/innerbanner-borderbg.png) bottom repeat-x;
    margin-bottom: 10px;
    padding-bottom: 8px;
    position: relative;
    width: 100%;
    float: left;
}

.content-inner ul.list li, .left-content ul.list li {
    clear: left;
    color: #4d4d4d;
    font-size: 13px;
    background: url(../../images/arr-black.jpg) left 10px no-repeat;
}

.btn-austrailia {
    position: absolute;
    left: 0;
    top: 0;
    height: 191px;
    overflow: hidden;
}

.btn-conect {
    position: absolute;
    right: 0;
    top: 0;
}

.innner-banner .scale-with-grid {
    max-width: inherit;
    width: 100%;
    max-height: 190px;
    float: left;
}

.btn-austrailia img {
    height: 207px;
}

.content-inner ul.list {
    float: left;
    padding-bottom: 25px;
}

    .content-inner ul.list li {
        padding: 5px 0 0 10px;
    }

.left-content ul.list {
    float: left;
    padding-bottom: 25px;
}

    .left-content ul.list li {
        padding: 5px 0 0 10px;
    }

.map-container-title {
    width: 100%;
    background: #dfdfdf;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    font-size: 17px;
    color: #0D69B6;
    border-top: 1px dashed #757575;
    border-bottom: 1px dashed #757575;
}

    .map-container-title h1 {
        float: left;
    }

        .map-container-title h1 a {
            color: #0D69B6;
            text-decoration: none;
        }

        .map-container-title h1 img {
            float: left;
            padding: 5px 0 0 5px;
        }

.w184 {
    width: 184px !important;
}

.mar-t {
    margin-top: 5px;
}

.information-block {
    float: left;
    width: 22.8%;
    border: 1px solid #B3B3B3;
    min-height: 238px;
    padding: 5px;
    margin: 0 12px 23px 0;
}

    .information-block img {
        margin-bottom: 14px;
    }

.mar-r-none {
    margin-right: 0 !important;
}

.padd-b {
    padding-bottom: 21px !important;
}

.txt-red {
    color: #0D69B6 !important;
    text-decoration: none;
}

.smltxt {
    font-size: 12px !important;
}

.bggray {
    background: #505050 !important;
}

.br-right {
    border-right: 1px solid #FFF;
}

.txt-w {
    color: #fff !important;
}

.br-none {
    border: 0 !important;
}

.w105 {
    width: 105px !important;
}

.banner-right {
    background: #dadada;
    padding: 4px;
    margin-bottom: 15px;
    border: 1px solid #b3b3b3;
}

.rail-pass-form-detail {
    width: 99.8%;
    float: left;
    border: 1px solid #b3b3b3;
    margin: 10px 0 20px;
}

    .rail-pass-form-detail .full-row {
        width: 100%;
        float: left;
        border-bottom: 1px solid #b3b3b3;
    }

    .rail-pass-form-detail .first-half {
        width: 30%;
        float: left;
    }

        .rail-pass-form-detail .first-half .colum1 {
            width: 97%;
            float: left;
            min-height: 50px;
            padding: 1% 1% 0 2%;
            font-size: 13px;
            color: #505050;
        }

            .rail-pass-form-detail .first-half .colum1 span {
                color: #0D69B6 !important;
            }

    .rail-pass-form-detail .second-half .colum1, .rail-pass-form-detail .second-half .colum2, .rail-pass-form-detail .second-half .colum3 {
        padding: 0 1%;
        color: #505050;
        float: left;
        font-size: 13px;
        height: 25px;
        line-height: 25px;
    }

    .rail-pass-form-detail .second-half {
        width: 69.8%;
        float: left;
        border-left: 1px solid #b3b3b3;
    }

        .rail-pass-form-detail .second-half .colum1 {
            width: 37.8%;
            border-right: 1px solid #b3b3b3;
        }

        .rail-pass-form-detail .second-half .colum2 {
            width: 27.8%;
            border-right: 1px solid #b3b3b3;
        }

        .rail-pass-form-detail .second-half .colum3 {
            width: 27.7%;
        }

.countrylist02 li {
    width: 47% !important;
    background: url(../../images/arr-red.jpg) left 10px no-repeat #eef1ee !important;
    min-height: 38px;
    margin: 4px;
    border: 1px dashed #ccc;
}

ul.countrylist {
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

    ul.countrylist li {
        float: left;
        color: #4d4d4d;
        font-size: 13px;
        width: 18%;
        padding: 5px 0 5px 10px;
        background: url(../../images/arr-red.jpg) left 10px no-repeat;
    }

        ul.countrylist li a {
            text-decoration: none;
            color: #4d4d4d;
        }

.RailPasslist.countrylistRp a, ul.RailPasslist li {
    font-size: 13px;
    border: 2px solid #0D69B6;
    text-decoration: underline;
    float: left;
}

ul.RailPasslist {
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

    ul.RailPasslist li {
        color: #4d4d4d;
        width: 18%;
        padding: 5px 0 5px 15px;
        background: url(../../images/arr-rail-red.png) left 10px no-repeat;
    }

.RailPasslist.countrylistRp {
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

    .RailPasslist.countrylistRp a {
        color: #0D69B6;
        width: 43%;
        margin-right: 1%;
        margin-bottom: 4px;
        min-height: 28px;
        padding: 10px 10px 10px 25px;
    }

ul.RailPasslist li a {
    text-decoration: none;
    color: #0D69B6;
}

.description {
    width: 316px;
    border: 1px solid #CFA1A1;
    float: left;
    padding: 2px;
    min-height: 100px;
    overflow: hidden;
    text-align: justify;
}

    .description:hover {
        background-color: #dedede;
        border: 1px solid #0D69B6;
    }

.slbox {
    border: 1px solid #D3D3D3;
    color: #4D4D4D;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    width: 100%;
}

.mr-l {
    margin-left: 5px;
}

.mr-r {
    margin-right: 3%;
}

.w45 {
    width: 45% !important;
}

.titlebg {
    background: #7f7f7f !important;
}

.contact-innner {
    border: 1px solid #DFDFDF;
    border-top: 0;
    float: left;
    margin-bottom: 0;
    padding: 11px;
    width: 251px;
    background: #DFDFDF;
}

.imgborder {
    border: 1px solid #DFDFDF;
}

.contact-innner p {
    padding-bottom: 5px;
}

    .contact-innner p img {
        vertical-align: middle;
    }

.formblock {
    float: left;
    width: 35%;
}

    .formblock .in-box, .formblock .txtarea-box {
        text-indent: 5px;
        width: 97.8%;
        padding: .5%;
        font-size: 13px;
        color: #717171;
        border: 1px solid #d6d6d6;
        float: left;
    }

    .formblock .in-box {
        margin-top: 12px;
        height: 36px;
        line-height: 36px;
    }

    .formblock .txtarea-box {
        margin: 12px 0;
        min-height: 70px;
    }

.address-block {
    float: left;
    width: 30%;
    padding: 0 1%;
}

    .address-block .fullrow {
        padding: 12px 0 0;
        float: left;
        margin: 0;
        font-size: 13px;
        color: #717171;
    }

        .address-block .fullrow .imgblock {
            padding: 10px;
            height: 20px;
            float: left;
            text-align: center;
            border: 1px solid #d6d6d6;
            margin-right: 10px;
        }

        .address-block .fullrow span {
            font-size: 13px;
            color: #717171;
            height: 40px;
            line-height: 40px;
        }

        .address-block .fullrow .inline {
            line-height: normal;
        }

.map-block {
    float: left;
    width: 31%;
    margin-top: 12px;
    padding: 5px;
    background: #dedede;
    border: 1px solid #d6d6d6;
}

.sml-detail-block-outer {
    padding: 11px;
    background: #dedede;
    width: 251px;
    float: left;
    margin-bottom: 0;
    border: 1px solid #b3b3b3;
}

    .sml-detail-block-outer .hd-title {
        padding: 5px 10px;
        background: #0D69B6;
        text-transform: uppercase;
        width: auto;
        float: left;
        font-size: 16px;
        font-weight: 700;
        color: #FFF;
    }

.sml-detail-block-inner {
    padding: 2%;
    text-align: center;
    width: 96%;
    margin-bottom: 0;
    background: #0D69B6;
    float: 5px;
}

    .sml-detail-block-inner p {
        font-size: 13px;
        color: #fff;
        margin: 0;
        text-align: left;
        padding: 10px 0;
    }

        .sml-detail-block-inner p a {
            color: #fff;
            text-decoration: none;
        }

.privacy-block-outer {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

    .privacy-block-outer .hd-title {
        width: 100%;
        cursor: pointer;
        padding: 1%;
        position: relative;
        float: 5px;
        color: #FFF;
        font-size: 16px;
        line-height: 20px;
        height: 37px;
    }

        .privacy-block-outer .hd-title .icon {
            position: absolute;
            right: 5px;
            top: 5px;
        }

    .privacy-block-outer .discription-block {
        margin-top: -2px;
        padding: 1% 1% 4%;
        float: left;
        background: #eaeaea;
    }

.discription-block .pass-coloum-forth {
    margin-left: 6px !important;
}

button.button, input[type=submit].button {
    -webkit-appearance: none;
}

.count {
    width: 160px;
    float: left;
    margin-right: 14px;
}

    .count .hd-ttl {
        width: 94%;
        cursor: pointer;
        padding: 2% 3%;
        position: relative;
        float: 5px;
        color: #FFF;
        background: #5e5e5e;
        font-size: 14px;
        line-height: 20px;
        height: 20px;
    }

.pass .hd-title, .red-title {
    height: 36px;
    line-height: 20px;
}

.count .discription-block {
    width: 92%;
    margin-top: -2px;
    padding: 2% 4%;
    float: left;
    background: #eaeaea;
}

.count ul {
    margin: 0;
    padding: 0;
}

    .count ul li {
        color: #4d4d4d;
        font-size: 13px;
        padding: 5px 0 0 10px;
        background: url(../../images/arr-red.jpg) left 10px no-repeat;
    }

        .count ul li a {
            text-decoration: none;
            color: #4d4d4d;
        }

.privacy-block-outer .hd-title .icon-close {
    position: absolute;
    right: 36px;
    top: 5px;
}

.pass .hd-title {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}

.pass .discription-block {
    margin-top: -4px;
    border: 3px solid #5E5E5E;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}

.width60 {
    width: 60% !important;
}

.width26 {
    width: 26% !important;
}

.red-title {
    color: #FFF;
    background: #0D69B6;
    padding: 1%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-weight: 700;
}

.pass-coloum-one, .pass-coloum-two {
    line-height: 30px;
    height: 30px;
    padding: 5px 0;
    float: left;
    color: #424242;
    font-size: 13px;
}

.pass-coloum-one {
    width: 20%;
}

.pass-coloum-two {
    width: 80%;
    position: relative;
}

    .pass-coloum-two .input {
        width: 60%;
        margin-right: 5px;
    }

.pass-coloum-three {
    width: 48px;
    float: left;
    color: #424242;
    font-size: 13px;
    padding: 2px 2px 0;
}

.pass-coloum-forth {
    width: 149px;
    float: left;
    color: #424242;
    font-size: 13px;
    padding: 2px 2px 0 6px;
}

.pass-coloum-fifth {
    width: 100px;
    float: left;
    color: #424242;
    font-size: 13px;
    padding: 2px 2px 0;
}

.input, .inputsl {
    color: #424242 !important;
    font-size: 13px !important;
    padding: .5% !important;
    float: left !important;
}

.input, .pass-coloum-fifth, .pass-coloum-forth, .pass-coloum-three {
    margin-left: 0;
}

    .pass-coloum-forth > input {
        margin-left: -1px;
    }

.input {
    border: 1px solid #ADB9C2;
    height: 25px !important;
    line-height: 25px !important;
}

.inputsl {
    border: 1px solid #ADB9C2 !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-left: 5px !important;
}

.cal_Theme1 .ajax__calendar_container {
    background-color: #BBB;
    border: 1px solid #941E34;
}

.cal_Theme1 .ajax__calendar_header {
    background-color: #FFF;
    margin-bottom: 4px;
}

.cal_Theme1 .ajax__calendar_next, .cal_Theme1 .ajax__calendar_prev, .cal_Theme1 .ajax__calendar_title {
    color: #004080;
    padding-top: 0;
}

.cal_Theme1 .ajax__calendar_body {
    background-color: #FFF;
    border: 1px solid #941E34;
}

.cal_Theme1 .ajax__calendar_dayname {
    color: #004080;
    font-weight: 700;
    text-align: center;
}

.cal_Theme1 .ajax__calendar_day {
    color: #004080;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.cal_Theme1 .ajax__calendar_invalid .ajax__calendar_day {
    color: #999;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.cal_Theme1 .ajax__calendar_active, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_day, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_month, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_year {
    background-color: #BBB;
    color: #004080;
    font-weight: 700;
}

.cal_Theme1 .ajax__calendar_today {
    font-weight: 700;
}

.ajax__calendar_footer {
    height: auto;
}

.cookies-outer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 85px;
    z-index: 999;
    float: left;
    border-top: 5px solid #0D69B6;
    background: #000;
    opacity: .8;
    filter: alpha(opacity=40);
    padding: 10px 0;
}

.cookies-inner {
    width: 960px;
    margin: auto;
}

    .cookies-inner p {
        float: left;
        width: 900px;
        font-size: 14px;
        color: #fff;
    }

        .cookies-inner p strong {
            font-size: 16px;
            color: #fff;
            font-weight: 700;
        }

    .cookies-inner span {
        float: right;
        width: 50px;
        padding-top: 10px;
    }

        .cookies-inner span input[type=submit] {
            padding: 0 4px;
            cursor: pointer;
        }

.divcookiesText {
    float: left;
    font-size: 13px;
    width: 850px;
    color: #fff;
}

.colum-label-eight, .colum-label-fifth, .colum-label-first, .colum-label-forth, .colum-label-second, .colum-label-seven, .colum-label-sixth, .colum-label-third {
    float: left;
    color: #424242;
    font-size: 13px;
    line-height: 30px;
    padding: 5px 0;
    height: 30px;
}

.t-right {
    text-align: right !important;
}

.delvery .input {
    width: 88%;
}

.colum-label-first {
    width: 7%;
}

.colum-label-second {
    width: 10%;
}

.colum-label-third {
    width: 14%;
}

.colum-label-forth {
    width: 31%;
}

.colum-label-fifth {
    width: 10%;
}

.colum-label-sixth {
    width: 28%;
}

.colum-label-seven {
    width: 31%;
}

.colum-label-eight {
    width: 69%;
}

.booking-detail-in table.grid tr th a {
    font-size: 12px;
    text-decoration: none;
}

.float-rt {
    float: right;
}

.clsHeadColor {
    color: #931b31;
    font-size: 15px !important;
}

.btnInactive, .btnInactive:hover, .btnactive {
    position: relative;
    cursor: pointer;
    padding-bottom: 1px;
    border: 1px solid #B3B3B3 !important;
    font-size: 13px !important;
}

.btnInactive {
    color: #fff;
    background: #c5456a !important;
    background: -moz-linear-gradient(top,#c5456a 0,#962037 100%) !important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#c5456a),color-stop(100%,#962037)) !important;
    background: -webkit-linear-gradient(top,#c5456a 0,#962037 100%) !important;
    background: -o-linear-gradient(top,#c5456a 0,#962037 100%) !important;
    background: -ms-linear-gradient(top,#c5456a 0,#962037 100%) !important;
    background: linear-gradient(to bottom,#c5456a 0,#962037 100%) !important;
    -pie-background: linear-gradient(#c5456a,#962037) !important;
}

    .btnInactive:hover {
        background: #f6f8f9 !important;
        background: -moz-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f6f8f9),color-stop(49%,#f2f5f6),color-stop(50%,#dde4e7),color-stop(100%,#edeeee)) !important;
        background: -webkit-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
        background: -o-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
        background: -ms-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
        background: linear-gradient(to bottom,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
        -pie-background: linear-gradient(#f6f8f9,#edeeee);
        color: #931b31;
    }

.btnactive {
    background: #f6f8f9 !important;
    background: -moz-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f6f8f9),color-stop(49%,#f2f5f6),color-stop(50%,#dde4e7),color-stop(100%,#edeeee)) !important;
    background: -webkit-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
    background: -o-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
    background: -ms-linear-gradient(top,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
    background: linear-gradient(to bottom,#f6f8f9 0,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
    -pie-background: linear-gradient(#f6f8f9,#edeeee) !important;
    color: #931b31 !important;
}

.clsNews {
    width: 300px;
    font-size: 13px;
}

.clsfont {
    font-size: 11px;
}

.newsletter-outer .newsletter-inner input[type=text] {
    height: 25px;
    line-height: 25px;
    width: 92%;
    margin-left: 6px;
}

.faqAnswer {
    text-align: left;
    font-size: 13px;
    width: 98%;
    padding: 10px 0 20px;
    margin-left: 23px;
    min-height: 50px;
}

.faqQactive, .faqQdisable {
    color: #962037;
    text-decoration: none;
}

.banner90 {
    background: #2f2f2f;
    color: #FFF;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    width: 190px;
    top: 75px;
    left: -75px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

    .banner90.ie9 {
        diplay: none;
        left: 0;
        top: 0;
        display: block;
    }

    .banner90.ie11 {
        top: 75px;
        left: -75px;
    }

.addbanner-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 138px;
    border: 1px solid #B3B3B3;
    padding: 1%;
    margin-top: 10px;
}

    .addbanner-box .imgblock {
        width: 25%;
        float: left;
    }

    .addbanner-box .discription-block {
        width: 70%;
        float: left;
        padding-left: 5%;
    }

        .addbanner-box .discription-block h3 {
            color: #0D69B6;
            font-size: 17px;
        }

        .addbanner-box .discription-block p {
            color: #4D4D4D;
            font-size: 12px;
        }

            .addbanner-box .discription-block p a {
                color: #0D69B6;
                text-decoration: none;
            }

.autocomplete_completionListElement {
    margin: 0 !important;
    cursor: default;
    overflow: auto;
    height: 200px;
    text-align: left;
    list-style-type: none;
    padding-left: 1px;
    font-size: 13px !important;
    background: #fff;
    border: 1px solid #ccc !important;
    z-index: 1000;
}

    .autocomplete_completionListElement li:hover {
        background: #0c6ab8;
        color: #fff;
    }

#_bindDivData {
    display: block;
    width: 84%;
    background: #fff !important;
    position: absolute;
    z-index: 999;
    border: 1px solid #d3d3d3;
    padding: 10px;
}

.colum-input #_bindDivData {
    position: absolute;
    top: 36px;
    width: auto;
}

.popupselect:hover {
    background-color: #ccc !important;
    padding-left: 5px;
    cursor: hand;
    cursor: pointer;
}

.popupselect {
    font-size: 11px;
    line-height: 25px;
    color: #000 !important;
    padding: 1px 1px 1px 5px;
    z-index: 80;
    background: #fff;
    position: relative;
    border-top: 1px dashed #d3d3d3;
}

.info, .warning {
    background-size: 40px 30px;
    font-size: 14px;
}

._prifixText {
    color: #0c6ab8;
}

.DivError {
    background-color: #FFFFE1;
    background-image: url(../../images/caution.gif);
    background-position: 20px 15px;
    background-repeat: no-repeat;
    border: 2px solid #F4E4B7;
    line-height: normal;
    margin: 3%;
    padding: 20px 20px 35px 85px;
}

.error, .info, .success, .warning {
    border: 1px solid;
    margin: 10px 0;
    padding: 15px 10px 15px 50px !important;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url(../../images/info.png);
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    font-size: 14px;
    background-image: url(../../images/success.png);
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url(../../images/warning.png);
}

.error {
    color: #D8000C;
    font-size: 14px;
    background-color: #FFBABA;
    background-image: url(../../images/error.png);
}

.btn-gray {
    background: url(../../images/gray-btn-bg.jpg) 0 -8px repeat-x !important;
    border: 1px solid #666 !important;
}

.grdBrd {
    float: left;
    font-size: 12px;
    width: 100%;
    background: #eaeaea;
    border: 1px solid #ccc;
}

#MainContent_grdPrintQueue {
    line-height: 25px;
}

#tblPrintQueueList {
    width: 845px;
}

    #tblPrintQueueList tbody tr {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        line-height: 33px;
    }

td.clsPrintColor {
    padding-left: 5px;
}

.clsdivPrduct {
    width: 100%;
    float: left;
}

.clsPrd {
    font-size: 13px;
    color: #424242;
    padding: 5px 5px 0;
    float: left;
}

.shade5, .shade5 a {
    color: #a62c48;
}

.clsDrp {
    width: 150px;
    font-size: 12px;
}

.clsDrpQ {
    width: 230px;
    font-size: 12px;
}

.shade5 a {
    text-decoration: none;
}

    .shade5 a:hover {
        color: #313333;
        text-decoration: underline;
    }

.login-col1, .login-col2 {
    color: #3e3d3d;
    float: left;
}

.addbanner-box .read, .tooltip1 {
    text-decoration: none;
}

.mr-tp3 {
    margin-top: 12px;
}

#login-sec {
    width: 575px;
    float: none;
    margin: 10px auto;
}

.login-data {
    width: 573px;
    float: left;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    background: url(../../images/img-lock.jpg) 30px 15px no-repeat;
    min-height: 193px;
    padding: 20px 0 0;
}

.login-col1 {
    width: 78px;
    font-size: 13px;
    line-height: 18px;
    padding: 3px 0 0 132px;
    height: 21px;
}

.corner {
    font-size: 0;
}

.login-col2 {
    width: 315px;
    font-size: 13px;
}

input.login {
    margin: 0 0 10px;
    padding: 0 0 0 5px;
    width: 295px;
    height: 23px;
    border: 1px solid #909090;
    line-height: 23px;
    font-size: 12px;
    color: #666;
    font-family: Arial,Helvetica,sans-serif;
}

.register-in .in-box, .register-in .txtarea-box {
    text-indent: 5px;
    border: 1px solid #d6d6d6;
    font-size: 13px;
    color: #717171;
    float: left;
}

.register-in {
    float: left;
    width: 100%;
}

    .register-in .in-box {
        width: 80.8%;
        margin-top: 12px;
        height: 36px;
        line-height: 36px;
    }

    .register-in .txtarea-box {
        width: 80%;
        padding: .5%;
        margin: 12px 0 0;
        min-height: 70px;
    }

.padd5 {
    padding: 8px;
}

.validreq, .validreq1 {
    color: Red;
    font-size: 12px;
    padding-left: 5px;
}

.validreq {
    float: left;
    width: 99%;
}

.mar-right {
    margin-right: 5px;
}

.mar-right-n {
    margin-right: 0 !important;
}

a.tooltip, label.tooltip {
    outline: 0;
    position: relative;
    float: left;
}

    a.tooltip strong, label.tooltip strong {
        line-height: 30px;
    }

    a.tooltip span, label.tooltip span.tresult {
        z-index: 10;
        display: none;
        padding: 10px;
        margin: -68px 0 0 -144px;
        width: 240px;
        line-height: 16px;
        -moz-box-shadow: 0 0 8px 4px #666;
        -webkit-box-shadow: 0 0 8px 4px #666;
        box-shadow: 0 0 8px 4px #666;
    }

    a.tooltip:hover span, label.tooltip:hover span.tresult {
        display: inline;
        position: absolute;
        border: 2px solid #FFF;
        color: #EEE;
        background: #fff;
    }

    a.tooltip:hover, label.tooltip:hover {
        position: relative;
        text-decoration: none;
        display: block;
    }

        a.tooltip:hover span.tresult, label.tooltip:hover span.tresult {
            margin-top: 0;
            width: 420px;
            position: absolute;
            bottom: 32px;
            left: -65px;
        }

    a.tooltip span.tresult img, label.tooltip span.tresult img {
        left: 50%;
        margin-left: -15px;
    }

    a.tooltip:hover span.tresult p, label.tooltip:hover span.tresult p {
        color: #4a4a4a;
        font-size: 11px;
        line-height: 13px;
    }

    a.tooltip img, label.tooltip img {
        position: absolute;
        bottom: -14px;
        left: 118px;
    }

.addbanner-box .read {
    color: #0D69B6;
    background: url(../../images/arr-red.jpg) left no-repeat;
    float: right;
    font-size: 11px;
    margin-top: 5px;
}

.imgOpen, [id*=TreeView1] div[id*=Nodes] a:hover {
    text-decoration: underline;
}

.col-calender .ui-datepicker-trigger {
    float: left;
    margin-right: 5px;
}

.group-title {
    float: left;
    background: #2f2f2f;
    padding: 1%;
    width: 98%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 10px;
}

.left-content.paymentconfirm {
    height: 500px;
}

.booking-detail-in {
    background: #EDEDED;
    float: left;
    margin-bottom: 20px;
    padding: 1%;
    width: 98%;
}

.train-search-result-topblock {
    width: 98%;
    float: left;
    background: #4a4a4a;
    padding: 1%;
}

    .train-search-result-topblock .colum-one {
        width: 50%;
        float: left;
        color: #FFF;
        font-size: 14px;
        padding: 5px 0;
    }

.booking-detail-in table.grid2 {
    width: 100%;
    border: 4px solid #ededed;
    border-collapse: collapse;
}

    .booking-detail-in table.grid2 tr th {
        border-bottom: 2px solid #ededed;
        text-align: left;
        font-size: 13px;
        color: #951f39;
        height: 25px;
        line-height: 25px;
        padding-left: 5px;
    }

    .booking-detail-in table.grid2 tr.alt td {
        border-bottom: 6px solid #ededed;
        background: #c7c7c7;
        font-size: 12px;
        color: #4a4a4a;
        padding: 5px;
    }

    .booking-detail-in table.grid2 tr td {
        border-bottom: 0;
        background: #c7c7c7;
        font-size: 12px;
        color: #4a4a4a;
        padding: 5px;
    }

        .booking-detail-in table.grid2 tr td span.time {
            color: #fff;
        }

        .booking-detail-in table.grid2 tr td a {
            color: #0D69B6;
        }

.booking-detail-in table .detail-class {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    background: #efefef;
    padding: .5%;
    border: 1px dashed #666;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.booking-detail-in .detail-class .colum-first {
    width: 20%;
    float: left;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #4a4a4a;
}

.booking-detail-in .detail-class .colum-second {
    width: 30%;
    float: left;
    font-size: 13px;
    color: #4a4a4a;
}

    .booking-detail-in .detail-class .colum-second span {
        color: #991d35;
    }

.booking-detail-in .detail-class .colum-third {
    width: 30%;
    float: left;
}

.booking-detail-in table .extra-detail {
    width: 100%;
    margin-bottom: 10px;
    float: left;
    background: #fff;
    padding: .5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

    .booking-detail-in table .extra-detail table.detailtrain {
        width: 100%;
    }

        .booking-detail-in table .extra-detail table.detailtrain tr th {
            font-size: 13px;
            color: #666;
            border-bottom: 2px solid #c7c7c7;
        }

        .booking-detail-in table .extra-detail table.detailtrain tr td {
            border: 0;
            background: #FFF;
            font-size: 13px;
            color: #666;
        }

.detail-class table tr td {
    background: 0 0 !important;
    border: 0 !important;
}

.detail-table, .detail-table tr td {
    background: #4A4A4A !important;
}

    .detail-table tr td {
        color: #fff !important;
    }

        .detail-table tr td h2 {
            color: #fff !important;
            font-size: 30px !important;
        }

.imgOpen {
    color: #951F39;
    font-weight: 700;
    cursor: pointer;
}

.lnkCont, .lnkCont1 {
    text-decoration: none;
    font-weight: 700;
    padding: 5px;
    color: #fff !important;
    background-color: #4A4A4A;
    float: right;
}

.lnkCont1 {
    display: block;
}

.DivTrainInOut, .DivTrainInOutSeg {
    background: #D5D4D4;
    height: 36px;
    line-height: 36px;
    text-indent: 5px;
    width: 100%;
    color: #333;
    font-weight: 700;
}

.left-content {
    position: relative;
}

.DivTrainInOut {
    border: 1px solid #53111e;
    float: left;
}

.DivTrainInOutSeg {
    float: left;
}

.clsFore {
    background-color: #EDEDED;
    color: #333;
}

.tblHeading {
    background: #666;
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 1%;
    width: 98%;
}

.modal-popup {
    background-color: none;
}

.modalBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .5;
    text-align: center;
    float: left;
}

.ui-helper-clearfix:after {
    clear: both;
    content: .;
    display: block;
    height: 0;
    visibility: hidden;
}

.ui-widget-header {
    color: #FFF;
    font-weight: 700;
}

.popup-outer {
    float: left;
    width: 100%;
}

.popup-inner {
    background: #FFF;
    border: 2px solid #0D69B6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    float: left;
    moz-box-sizing: border-box;
    padding: 80px 20px 20px;
    position: relative;
    width: 654px;
}

    .popup-inner .title {
        width: 663px;
        line-height: 43px;
        background: url(../../images/popup-title.png) no-repeat;
        height: 43px;
        padding: 0 0 15px 20px;
        font-size: 18px;
        color: #FFF;
        float: left;
        position: absolute;
        top: 20px;
        left: -17px;
    }

    .popup-inner .input, .popup-inner .inputsl {
        border: 1px solid #ADB9C2;
        padding: .5%;
        margin-left: 5px;
    }

    .popup-inner .input {
        color: #424242;
        font-size: 13px;
        height: 25px;
        line-height: 25px;
        float: left;
    }

    .popup-inner .inputsl {
        color: #424242;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        float: left;
    }

    .popup-inner .lt, .popup-inner .rt {
        float: left;
        line-height: 30px;
        height: 30px;
        padding: 5px 0;
    }

    .popup-inner .lt {
        width: 30%;
        color: #424242;
        font-size: 13px;
    }

    .popup-inner .rt {
        width: 70%;
    }

    .popup-inner .btn-right {
        float: right;
        width: 190px;
    }

    .popup-inner .fare-rules-list {
        width: 100%;
        float: left;
        max-height: 230px;
        overflow-y: scroll;
    }

        .popup-inner .fare-rules-list li {
            float: left;
            width: 95%;
            padding: 2px 0;
            font-size: 13px;
            line-height: 20px;
            list-style-type: square;
            margin-left: 5%;
        }

#ParentDivPrice {
    position: absolute;
    top: -12px;
    right: 0;
    width: 207px;
    font-size: 13px;
    background-color: #c5456a;
    float: right;
    margin-right: 2px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

    #ParentDivPrice img {
        float: left;
        margin: 5px;
    }

    #ParentDivPrice span {
        float: left;
        margin: 5px;
        line-height: 30px;
    }

.clsSMap {
    font-size: 13px;
}

    .clsSMap table {
        margin: 0 0 7px;
    }

    .clsSMap div td div {
        display: none;
    }

[id*=TreeView1] table td span {
    color: #0D69B6;
    font-size: 16px;
}

[id*=TreeView1] table td a {
    font-size: 14px;
}

[id*=TreeView1] table td a, [id*=TreeView1] table td span {
    list-style-type: none;
    background: url(../../images/gryrndarw.png) 0 6px no-repeat;
    padding-left: 20px;
}

[id*=TreeView1] div[id*=Nodes] {
    padding-left: 20px;
}

    [id*=TreeView1] div[id*=Nodes] a {
        list-style-type: none;
        background: url(../../images/list-disc.png) 0 7px no-repeat;
        padding-left: 15px;
        color: #4d4d4d;
        font-weight: 400;
    }

.country-clear {
    clear: both;
    content: '';
    height: 0;
}

.submenu {
    width: 430px;
    float: left;
}

.sumenu-table {
    border: 8px solid #9c253e;
    width: 280px;
}

    .sumenu-table tr th {
        background: #9c253e;
        font-weight: 700;
        text-align: left;
        color: #fff;
        border: 0;
    }

    .sumenu-table tr td {
        background: #fff;
    }

        .sumenu-table tr td li.slmenu {
            float: left;
            display: block;
            width: 120px;
            margin: 2px 10px 2px 2px;
            border-bottom: 1px dashed #ccc;
        }

            .sumenu-table tr td li.slmenu a, .sumenu-table tr td li.slmenu a:hover {
                float: left;
                border: 0;
                display: block;
                font-size: 12px;
                cursor: pointer;
                text-decoration: none;
            }

            .sumenu-table tr td li.slmenu a {
                height: 18px;
                -pie-background: none;
                background: 0 0 !important;
                line-height: 18px;
                color: #9c253e;
                text-align: left;
                width: 120px;
                padding: 0 5px;
            }

                .sumenu-table tr td li.slmenu a:hover {
                    background: #9c253e !important;
                    color: #fff !important;
                }

.clsRead {
    float: right;
    font-size: 11px;
    color: #0D69B6;
}

.link-btn {
    padding: 0 11px;
    padding-bottom: 0/0IE9;
    border: 1px solid #b42232;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    position: relative;
    height: 28px;
    line-height: 26px;
    background: url(../../images/btn-redbg.png) repeat-x;
    text-decoration: none;
}

.right .nivo-controlNav {
    display: none;
}

.clsRailPassName {
    color: #0D69B6 !important;
}

.headingclass {
    font-size: 17px;
    color: #951f35;
    font-family: avantgarde_md_btmedium;
    font-weight: 400;
    padding-bottom: 10px;
}

.SortBtnStyle {
    margin-left: 2px;
    color: #0c6ab8;
    font-weight: 700;
    text-decoration: none;
}

.clsServiceName {
    color: #951F39 !important;
}

.clsSoldOut {
    height: 27px;
    color: #9E0B0F;
}

#banner-slide {
    background-color: #8a182f;
    padding: 3px 0;
}

.clsFaq {
    color: #962037;
    padding-right: 10px;
}

.clsAgLegend {
    color: #941e34;
    background: #fff;
    padding: 0 10px;
}

.form-row input[type=submit] {
    padding-bottom: 3px;
    border: 1px solid #b42232;
    background: url(../../images/btn-redbg.png) repeat-x !important;
    font-size: 17px;
    color: #FFF;
    cursor: pointer;
}

.booking-detail-in-print table.grid tr td a {
    color: #0D69B6;
}

.booking-detail-in-print .total {
    border-top: 1px dashed #0D69B6;
    width: 27%;
    float: right;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    padding-top: 10px;
}

.clsAgentLogin, .clsUserLogin {
    width: 575px;
    height: 33px;
    margin-bottom: 10px;
}

.clsAgentLogin {
    background: url(../../images/agentlogin-heading-bg.png) no-repeat repeat;
    float: left;
}

.clsUserLogin {
    background: url(../../images/user-heading-bg.png) no-repeat repeat;
    float: left;
}

.callOut {
    background: url(../../images/callout_black.gif) no-repeat repeat;
    width: 30px;
    height: 14px;
}

.calIcon {
    background: url(../../images/icon-calender.png) no-repeat repeat;
    width: 27px;
    height: 28px;
}

.calIconSmall {
    background: url(../../images/icon-calender_small.png) no-repeat;
    width: 20px;
    height: 21px;
}

.clsLoader {
    background: url(../../images/loader.gif) no-repeat;
    width: 30px;
    height: 32px;
}

.divLoyHeader {
    color: #0C6AB8;
    float: left;
    font-weight: 700;
    margin-bottom: 5px;
    padding-left: 3px;
    width: 409px;
}

.tariffPriceTable {
    width: 100%;
}

    .tariffPriceTable th {
        text-align: center;
        background: #0c6ab8;
        color: #fff !important;
    }

    .tariffPriceTable tbody tr {
        border-bottom: 1px solid #0c6ab8;
    }

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
}

    .ui-dialog .ui-dialog-titlebar {
        padding: .4em 1em;
        position: relative;
    }

    .ui-dialog .ui-dialog-title {
        float: left;
        margin: .1em 0;
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        position: absolute;
        right: .3em;
        top: 50%;
        width: 21px;
        margin: -10px 0 0;
        padding: 1px;
        height: 20px;
    }

    .ui-dialog .ui-dialog-content {
        position: relative;
        border: 0;
        padding: .5em 1em;
        background: 0 0;
        overflow: auto;
    }

    .ui-dialog .ui-dialog-buttonpane {
        text-align: left;
        border-width: 1px 0 0;
        background-image: none;
        margin-top: .5em;
        padding: .3em 1em .5em .4em;
    }

        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
            float: right;
        }

        .ui-dialog .ui-dialog-buttonpane button {
            margin: .5em .4em .5em 0;
            cursor: pointer;
        }

    .ui-dialog .ui-resizable-se {
        width: 12px;
        height: 12px;
        right: -5px;
        bottom: -5px;
        background-position: 16px 16px;
    }

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.info-block, .starail-Form-datePicker i, .swap-arr, .swap-arr2, .taco {
    cursor: pointer;
}

.ui-dialog.ui-widget .ui-dialog-titlebar.ui-widget-header .ui-dialog-titlebar-close span.ui-button-text {
    color: transparent;
    font-size: 0;
}

.swapTrain {
    width: 140px !important;
    font-size: 15px !important;
    height: 26px !important;
    float: left !important;
    margin-left: 15px !important;
}

.divModalDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,.2);
    text-align: center;
    z-index: 101;
}

.divDialog {
    text-align: center;
    padding: 5px;
    z-index: 102;
    height: 150px;
    width: 280px;
    position: absolute;
    left: 40%;
    top: 45%;
    background-color: #FFF;
    font-size: 15px;
}

    .divDialog > p {
        background-color: #962037;
        height: 25px;
        text-align: right;
        padding: 6px 6px 0 0;
        border: 1px solid #e5d35b;
    }

        .divDialog > p > a {
            position: absolute;
            left: 262px;
            top: 12px;
            text-decoration: none;
            font-size: 14px;
            padding: 0 4px;
            font-weight: 700;
            background: #FFF;
        }

.countryinput {
    border: 1px solid #ADB9C2;
    height: 28px;
    margin-left: 0;
    padding: 5px;
    width: 145px;
}

.taco {
    position: relative;
}

    .callout, .swap-arr, .swap-arr2, .taco .icon, .tooltip2 {
        position: absolute;
    }

    .taco .icon {
        right: 5px;
        top: 5px;
    }

.toogle {
    width: 100%;
    float: left;
    padding: 5px 0;
}

.clsPrintingHeader {
    font-size: 13px;
    line-height: 30px;
    background-color: #0D69B6;
    color: #fff;
}

.clsPrintingGrid {
    background: #FBDEE6 !important;
}

.width-n {
    padding: 5px !important;
    width: 263px !important;
}

.bg-red {
    background: #0D69B6 !important;
}

    .bg-red i {
        float: right;
        padding: 12px;
    }

.newsletter-inner .hd {
    width: 98%;
    float: left;
    padding: 1%;
    background: #727272;
}

    .newsletter-inner .hd span {
        font-size: 14px;
        font-weight: 700;
        color: #FFF;
        float: left;
        padding: 2px;
    }

    .newsletter-inner .hd i {
        float: right;
        padding-top: 3px;
    }

.booking-status {
    width: 98%;
    float: left;
    padding: 1%;
    background: #DEDEDE;
}

    .booking-status p {
        font-size: 12px;
        color: #0D69B6;
        padding: 0 10px;
    }

        .booking-status p.detail {
            font-size: 12px;
            color: #666;
            padding: 0 10px;
        }

            .booking-status p.detail a {
                color: #0D69B6;
                text-decoration: underline;
            }

    .booking-status h3 {
        font-size: 13px;
        color: #666;
        padding: 0 10px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 5px;
    }

    .booking-status p.price {
        font-size: 12px;
        color: #666;
        padding: 0 10px;
        float: left;
        width: 92%;
    }

    .booking-status p.total, .dvtotalSummay p.total {
        padding: 0 10px 5px;
        margin-top: 5px;
        border-bottom: 1px solid #666;
        background: #fff;
    }

    .booking-status p.price span, .booking-status p.price strong {
        width: 50%;
        font-size: 12px;
        color: #666;
        float: left;
    }

    .booking-status p.price strong {
        font-weight: 700;
        text-align: right;
    }

    .booking-status p.total {
        font-size: 12px;
        color: #666;
        float: left;
        width: 92%;
    }

        .booking-status p.total span, .booking-status p.total strong {
            width: 50%;
            font-size: 13px;
            float: left;
            color: #666;
            font-weight: 700;
        }

        .booking-status p.total strong {
            text-align: right;
        }

.dvtotalSummay p.total {
    font-size: 13px;
    color: #666;
    float: left;
    width: 92%;
}

    .dvtotalSummay p.total span {
        float: left;
        width: 50%;
        font-size: 13px;
        color: #666;
        font-weight: 700;
    }

    .dvtotalSummay p.total strong {
        float: left;
        width: 50%;
        font-size: 15px;
        color: #666;
        font-weight: 700;
        text-align: right;
    }

.booking-status p.detail span {
    color: #0D69B6;
    text-decoration: underline;
}

.btn-continue {
    font-size: 12px !important;
    height: 24px !important;
    padding-bottom: 3px !important;
    width: 80px !important;
    margin-top: 5px !important;
}

.popup-inner p {
    color: #424242;
    font-size: 13px;
    padding: 0 !important;
}

.swap-img {
    width: 10px;
    float: right;
    font-size: 0;
}

.swap-arr {
    width: 5px;
    top: 20px;
    right: 2px;
}

.swap-arr2 {
    width: 44px;
    top: 27px;
    right: 11px;
}

.hd-title {
    padding: 5px 10px;
    background: #0D69B6;
    width: auto;
    float: left;
    font-size: 13px;
    font-weight: 700;
    color: #FFF;
}

.bigslbox .customSelect {
    min-width: 57px !important;
}

.discription-block.row .input {
    margin-left: 0 !important;
}

.discription-block .pass-coloum-two {
    margin-left: 5px !important;
}

.pass-startdate {
    float: right;
    width: 480px;
    padding-left: 65px;
}

.overflow-table {
    width: 671px;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}

.clear {
    clear: both;
}

.overflow-table div table tr td {
    padding: 5px 3px !important;
}

.info-block {
    background: #0D69B6;
    padding: 0 5px;
    margin: 3px 0 0 7px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
}

.tooltip-content {
    background: #efefef;
    text-align: justify;
    padding: 7px;
}

a.price-tooltip {
    outline: 0;
}

    a.price-tooltip strong {
        line-height: 30px;
        color: #0D69B6;
        text-align: left;
    }

    a.price-tooltip:hover {
        text-decoration: none;
        text-align: left;
    }

    a.price-tooltip span {
        z-index: 10;
        display: none;
        padding: 14px 16px;
        margin-top: -30px;
        margin-left: 28px;
        width: 293px;
        line-height: 16px;
        font-family: Arial;
        box-shadow: 5px 5px 8px #CCC;
    }

    a.price-tooltip:hover span {
        display: inline;
        position: absolute;
        color: #111;
        border: 1px solid #DCA;
        background: #fffAF0;
    }

.callout {
    z-index: 20;
    top: 30px;
    border: 0;
    left: -12px;
}

.tooltip2 {
    display: none;
    border: 1px solid #fff;
    background-color: #0D69B6;
    padding: 10px;
    color: #fff;
    font-size: 12px Arial;
}

.absolute, .mobilemenu {
    position: absolute !important;
}

.absolute {
    max-width: 0 !important;
}

.width-93 {
    width: 90% !important;
}

.mobilemenu {
    left: 80% !important;
}

.verticaltop {
    vertical-align: top !important;
}

.ppbkradioSpan {
    position: absolute;
}

.bkpassdetails {
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 0;
}

.countrylvlgrd, .starail-YourBooking-ticketDetails > td p {
    margin: 0 !important;
}

.clvltrmobile {
    padding: 0 !important;
}

.clvlmobile {
    padding-left: 10px !important;
}

.displaynone {
    display: none !important;
}

.starail-YourBooking-ticketDetails > td, .starail-YourBooking-ticketDetails > th {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #edeff1;
    padding: 10px;
    font-size: 14px;
    font-size: 1rem;
}

.countrylvlgrd {
    width: 100%;
}

.customvaltravellers {
    width: 65px !important;
}

.data-list-class-grid-td-secound {
    width: 40% !important;
}

.data-list-class-grid-td-first {
    width: 20% !important;
}

.data-list-class-grid-td-div-secound {
    width: 100% !important;
}

.data-list-class-grid-td-div-secound-first {
    width: 80% !important;
}

.data-list-class-grid-td-div-first {
    width: 20% !important;
}

.data-list-class-grid-td-div-select {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.grddatabind tr td {
    border: 0 solid !important;
    line-height: 50px !important;
}

.grddatabind tr th {
    border: 0 solid !important;
    line-height: 40px !important;
}

.grddatabind {
    border: 0 solid !important;
    padding: 10px !important;
}

.divLoy input[type=text], .txtLoyleft {
    border: 0;
    height: 25px !important;
    line-height: 25px !important;
    text-indent: 5px;
}

.leftpaddingrailpass {
    padding: 0 10px !important;
}

.country-list {
    float: left;
}

    .country-list tbody tr td {
        margin: 0;
        display: inline-block;
        width: 16.6%;
        padding: 1.42857rem 1.42857rem .71429rem 0;
        font-family: Tahoma,Verdana,Segoe,sans-serif;
        box-sizing: inherit;
        font-weight: 400;
        font-size: 1rem;
        color: #444;
    }

.bookingcheckbox input[type=checkbox], .classcheckbox input[type=checkbox], .loycheckbox input[type=checkbox], .loyspanradio input[type=radio], .ppbkspanradio input[type=radio], .spanradio input[type=radio] {
    display: none;
}

.val-error {
    color: #0c6ab8;
}

.bottompadding {
    margin-bottom: -40px !important;
}

.divLoyleft, .divLoyright {
    margin-bottom: 5px;
    float: left;
}

.input {
    margin-left: 0 !important;
}

.loading {
    background-image: url(images/loading3.gif);
    background-position: right;
    background-repeat: no-repeat;
}

.lblock {
    background-color: #FFF;
    color: #424242;
    font-size: 13px;
    padding: 10px;
}

.divLoy {
    float: left;
    margin: 5px;
    width: 250px;
}

.divLoyleft {
    width: 95px;
}

.divLoyright {
    width: 150px;
}

.divLoy input[type=text] {
    background: #D5D4D4;
    color: #333;
    float: left;
    width: 150px !important;
}

.txtLoyleft {
    background: #696969 !important;
    color: #000;
    float: left;
    width: 90px !important;
}

.switchRadioGroup {
    margin: 0;
}

    .switchRadioGroup tr td input[type=radio] + label {
        width: 99% !important;
        background-color: #d4d4d4;
        color: #888;
        font-size: 1rem;
        text-align: center;
        transition: all .3s ease-in-out;
        border: 1px solid transparent;
        line-height: 2.85714rem;
    }

    .switchRadioGroup tr td input[type=radio]:checked + label {
        background-color: #0c6ab8 !important;
        color: #FFF !important;
    }

.aspNetDisabled {
    border: 1px solid #D5D7D8;
}

.journeyreturntxt input {
    padding: 9px 9px 11px !important;
    font-size: 14px;
}

.jurnyreturnselect {
    height: 40px;
    padding: 5px 0 5px 5px !important;
    font-size: 14px;
    border: 1px solid #d5d7d8;
    color: #222;
    background-color: #FFF;
    width: 38% !important;
    text-align: left;
    transition: border .3s ease-in-out;
    border-radius: 1px;
}

.loyreturntxt input {
    font-size: 16px !important;
    padding: .71429rem !important;
    border: 1px solid #d5d7d8 !important;
    color: #222 !important;
    background-color: #FFF !important;
    width: 100% !important;
    text-align: left !important;
    transition: border .3s ease-in-out !important;
    border-radius: 1px !important;
    height: 40px !important;
}

.loyreturnselect {
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #d5d7d8;
    color: #222;
    background-color: #FFF;
    width: 100px !important;
    text-align: left;
    transition: border .3s ease-in-out;
    border-radius: 1px;
}

.starail-Form-switchRadioGroup:not(#ie8) .activebtn, .starail-Form-switchRadioGroup:not(#ie8) .disablebtn {
    width: 100%;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
    padding: 0 .71429rem;
    line-height: 2.85714rem;
    text-align: center;
}

.starail-Form-switchRadioGroup:not(#ie8) .activebtn {
    background-color: #0c6ab8;
    color: #FFF;
    font-size: 16px;
    font-size: 1.14286rem;
}

.starail-Form-switchRadioGroup:not(#ie8) .disablebtn {
    background-color: #d4d4d4;
    color: #888;
    font-size: 16px;
    font-size: 1.14286rem;
}

.radioSpan {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    height: 16px !important;
    width: 16px !important;
    border-radius: 8px !important;
    border: 1px solid #a3a3a3 !important;
    background: #FFF !important;
    font-size: 14px !important;
    font-size: 1rem !important;
}

.radioSpancenter {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #0c6ab8;
    border-radius: 4px;
    top: 3px;
    left: 3px;
}

.loyspanradio label, .ppbkspanradio label {
    padding-left: 22px !important;
    top: -1px !important;
    position: relative !important;
}

.classradiotbl, .loyclassradiotbl {
    margin: 10px 0 0;
}

.loyradioSpan {
    position: relative !important;
}

.ppbkspanradio label {
    left: -25px;
}

.loyspanradio, .ppbkspanradio {
    float: left;
    width: 80px !important;
}

.classradiotbl tr td {
    padding: 0 5px;
    width: 1%;
}

    .classradiotbl tr td label {
        float: left;
        line-height: 18px;
        position: absolute !important;
        padding-left: 21px !important;
    }

.bookingcheckbox label, .cart_link button, .classcheckbox label, .loycheckbox label, .loylabel {
    position: relative;
}

.journeylbl {
    padding: 0 !important;
}

.loylabel {
    font-size: 14px;
    float: left;
    padding: 2px 2px 0 0 !important;
    width: 44% !important;
    text-align: center;
    margin: 9px 2px 0 4px;
}

.loychkbox {
    width: 8% !important;
    padding: 0 !important;
}

    .loychkbox input {
        float: left;
        width: auto !important;
        margin: 16px 0 0;
        padding: 0;
    }

.hideoverflow {
    overflow: visible !important;
}

.setposition {
    margin-left: 63px !important;
}

.bookingcheckbox span, .classcheckbox span {
    padding: 0;
}

.loysetposition {
    margin-left: 111px !important;
}

.classcheckbox {
    width: 74% !important;
    padding-top: 0 !important;
}

#MainContent_RegionalTrainsUc1_pnlQuckLoad .starail-Box, #MainContent_ucSResultTi_pnlQuckLoad .starail-Box, #MainContent_ucSResult_pnlQuckLoad .starail-Box {
    padding: 1rem;
}

.checkboxSpan, .loycheckboxSpan {
    float: left;
    top: 21px !important;
}

.loycheckbox {
    width: 100% !important;
}

.mm-page {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    z-index: 99 !important;
}

.starail-ImageLink img {
    width: 100%;
    height: 100%;
}

#MainContent_ucSResultTi_pnlQuckLoad .starail-Form-inputContainer--inputGrid > * {
    width: 34%;
    margin-right: 3px;
}

#MainContent_ucSResultTi_pnlQuckLoad select.starail-Form-input {
    width: 86%;
}

#MainContent_ucSResultTi_pnlQuckLoad {
    width: 50%;
}

    #MainContent_ucSResultTi_pnlQuckLoad .starail-Form-button {
        display: block;
        margin: 0 auto;
        max-width: 300px;
        width: 45%;
    }

#divShowFareRules {
    max-height: 150px;
    overflow-y: scroll;
}

#MainContent_RegionalTrainsUc1_pnlQuckLoad .starail-Form-inputContainer--inputGrid > * {
    width: 34%;
    margin-right: 3px;
}

#MainContent_RegionalTrainsUc1_pnlQuckLoad select.starail-Form-input {
    width: 86%;
}

#MainContent_RegionalTrainsUc1_pnlQuckLoad {
    width: 50%;
}

    #MainContent_RegionalTrainsUc1_pnlQuckLoad .starail-Form-button {
        display: block;
        margin: 0 auto 0 3PX;
        max-width: 300px;
        width: 45%;
    }

#MainContent_RegionalTrainsUc1_ulTI {
    height: 200px;
    overflow-y: scroll;
}

#MainContent_ucSResult_pnlQuckLoad .starail-Form-inputContainer--inputGrid > * {
    width: 34%;
    margin-right: 3px;
}

#MainContent_ucSResult_pnlQuckLoad select.starail-Form-input {
    width: 86%;
}

#MainContent_ucSResult_pnlQuckLoad {
    width: 500px;
}

.train-result-col2 {
    width: 100% !important;
}

#MainContent_ucSResult_pnlQuckLoad .starail-Form-button {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 45%;
}

#MainContent_ucTicketDelivery_rdoBkkoingList {
    width: 100% !important;
}

    #MainContent_ucTicketDelivery_rdoBkkoingList > label {
        float: left !important;
        margin-bottom: 1.07143rem;
        font-size: 1.14286rem;
        width: 394px !important;
    }

.train-result-journy {
    width: 57%;
}

.train-result-journyFromTo {
    width: 78%;
    overflow: visible !important;
}

.uc-ticketdilbl {
    padding: 0 !important;
    width: 11% !important;
    display: inline-block;
}

#_bindDivDataTrainResult {
    background: #fff !important;
    border: 1px solid #d3d3d3;
    display: block;
    padding: 10px;
    position: absolute;
    width: 57.1%;
    z-index: 999;
}

#popupDiv {
    display: none;
}

.paddingleft {
    padding-left: 25px;
}

.manage_select {
    width: 54% !important;
    float: left;
}

    .manage_select .starail-Form-input {
        max-width: calc(46% - 10px);
    }

.disable-button-event {
    pointer-events: none !important;
}

@media only screen and (max-width:639px) {
    .starail-YourBooking-ticketDetails > td, .starail-YourBooking-ticketDetails > th {
        border-bottom: 0 solid #edeff1;
        font-size: 13px;
    }

    .starail-YourBooking-ticketDetails > .starail-YourBooking-mobileHeader {
        font-size: 15px !important;
    }

    .deletepass {
        line-height: 61px;
    }
}

@media (max-width:360px) {
    #MainContent_RegionalTrainsUc1_pnlQuckLoad, #MainContent_ucSResultTi_pnlQuckLoad {
        width: 99% !important;
    }

    #MainContent_RegionalTrainsUc1_lnkContinue {
        margin: 0 2%;
        width: 96%;
    }

    #MainContent_RegionalTrainsUc1_ulTI {
        height: 100px !important;
        overflow-y: scroll !important;
    }

    #divShowFareRules {
        height: 100px !important;
        overflow-y: scroll;
    }

    .loyreturnselect {
        height: 40px;
        padding-left: 10px;
        font-size: 16px;
        border: 1px solid #d5d7d8;
        color: #222;
        background-color: #FFF;
        text-align: left;
        transition: border .3s ease-in-out;
        border-radius: 1px;
    }

    .booking-feep2p, .paddingnone {
        padding: 0 !important;
    }

    .securetextcenter, .textcenter {
        text-align: center !important;
    }

    .starail-YourBooking-passProtection {
        background-color: #EDEFF1 !important;
    }

    .manage_select .starail-Form-input {
        max-width: calc(50% - 10px) !important;
    }

    .manage_select {
        width: 100% !important;
        float: left;
    }

    .car_number .starail-Form-input {
        max-width: calc(100% - 135px) !important;
    }

    .card_holder .starail-Form-select {
        width: 92% !important;
    }

    #starail-passes .starail-ImageLink {
        height: 100% !important;
        margin: 1%;
        width: 48% !important;
    }

    #starail-passes .starail-ImageLink-title {
        line-height: 19px;
        font-size: 13px;
        padding: 0px 0px 0px 0px !important;
    }

    .loyreturnselect {
        width: 90px !important;
    }

    .switchRadioGroup, .switchRadioGroup tr td label {
        width: 100% !important;
    }

    .loysetposition, .setposition {
        margin-left: 0 !important;
    }

    .securetextcenter {
        margin-top: 10px !important;
    }

    #MainContent_ucSResult_pnlQuckLoad select.starail-Form-input {
        width: 97%;
    }

    #MainContent_ucSResult_pnlQuckLoad {
        width: 99% !important;
    }

    .data-list-class-grid-td-first, .data-list-class-grid-td-secound div, .data-list-class-grid-td-secound., .train-result-col2 {
        width: 100% !important;
    }

    .grddatabind tr td {
        line-height: 1.42857rem !important;
    }

    .train-result-journy {
        width: 100%;
    }

    .data-list-class-grid-td-first, .data-list-class-grid-td-secound, .data-list-class-grid-td-secound div {
        width: 100% !important;
    }

    .train-result-journyFromTo {
        width: 100%;
        overflow: visible;
    }

    .booking-detail-p2p {
        width: 56%;
        width: 100%;
    }

    .uc-ticketdilbl {
        width: 30% !important;
    }

    #_bindDivDataTrainResult {
        width: 100%;
    }
}

@media (max-width:480px) {
    .loyreturnselect {
        height: 40px;
        padding-left: 10px;
        font-size: 16px;
        border: 1px solid #d5d7d8;
        color: #222;
        background-color: #FFF;
        width: 36% !important;
        text-align: left;
        transition: border .3s ease-in-out;
        border-radius: 1px;
    }

    .securetextcenter, .textcenter {
        text-align: center !important;
    }

    .starail-YourBooking-passProtection {
        background-color: #EDEFF1 !important;
    }

    .loysetposition, .setposition {
        margin-left: 0 !important;
    }

    .securetextcenter {
        margin-top: 10px !important;
    }

    .starail-Banner .left-banner {
        display: none;
    }

    .paddingnone {
        padding: 0 !important;
    }
}

@media (max-width:767px) {
    .dots-starail-Wrapper {
        margin: 0 !important;
        width: 100%;
    }

    .paddingnone {
        padding: 0 7% 0 0% !important;
    }

    .loyreturnselect {
        height: 40px;
        padding-left: 10px;
        font-size: 16px;
        border: 1px solid #d5d7d8;
        color: #222;
        background-color: #FFF;
        width: 36% !important;
        text-align: left;
        transition: border .3s ease-in-out;
        border-radius: 1px;
    }

    .securetextcenter, .textcenter {
        text-align: center !important;
    }

    .starail-YourBooking-passProtection {
        background-color: #EDEFF1 !important;
    }

    .left-content {
        padding: 0;
        width: 100%;
    }

    .securetextcenter {
        margin-top: 10px !important;
    }

    .grddatabind tr td {
        line-height: 1.42857rem !important;
    }

    .data-list-class-grid-td-first, .data-list-class-grid-td-secound, .data-list-class-grid-td-secound div {
        width: 100% !important;
    }

    .thalysbox {
        float: left !important;
        width: 65%;
        vertical-align: middle;
    }

    .uc-ticketdilbl {
        padding: 0 !important;
        width: 30% !important;
        float: left !important;
    }

    .innerpage .starail-Banner .left-banner {
        display: block;
    }

    .innerpage .right-banner {
        float: right !important;
        width: 100% !important;
        height: 190px !important;
    }

    .innerbaner.starail-Banner {
        margin: 10px;
    }

    .dots-header {
        width: 100% !important;
    }

    .travell-margin-right {
        margin-right: 3%;
    }

    .travell-font-size {
        font-size: 1.07rem;
    }
}

@media (min-width:1200px) {
    .starail-Wrapper--main {
        margin: 0 !important;
    }

    .thalysbox {
        display: inline-block;
    }

    .dots-starail-Wrapper {
        width: 960px;
        margin: -10px auto auto !important;
    }
}

@media screen and (min-device-width:360px) and (max-device-width:768px) {
    .dots-starail-Wrapper {
        margin: 0 !important;
        width: 100%;
    }
}

@media only screen and (max-width:639px) {
    .progess-inner2 {
        left: 1% !important;
        margin-left: 0 !important;
        width: 98%;
    }
}

.watermark {
    color: #999;
    background-color: #fff;
    border: 1px solid #d5d7d8;
    border-radius: 1px;
    font-size: 1.14286rem;
    padding: .71429rem;
    text-align: left;
    transition: border .3s ease-in-out 0;
    width: 100%;
}

body {
    background: #fff !important;
}

* {
    outline: 0;
}

a, a:focus, a:hover {
    cursor: pointer;
    outline: 0;
}

.navbarbg {
    background: #ececec;
    border-bottom: 1px solid #e0dfdf;
    padding: 5px 0;
}

.cart_link {
    text-align: right;
    float: right;
}

    .cart_link button {
        border: 0;
        padding: 0;
        background: 0 0;
    }

    .cart_link i {
        color: #98293d;
        font-size: 24px;
    }

.btn .badge {
    position: absolute;
    left: 15px;
    top: -3px;
}

.badge {
    background-color: #777;
    font-weight: 400;
    height: 20px;
    line-height: 15px;
    min-width: 10px;
    padding: 3px;
    width: 20px;
}

.btn span.item {
    display: inline-block;
    padding: 0 0 0 12px;
}

.cart_link .dropdown-menu {
    padding: 15px;
}

.btn-default.active, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active, .btn-default:active:focus, .btn-default:active:hover, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: transparent;
    outline: 0;
    border-color: transparent;
    color: #333;
}

.navbar-nav li a {
    position: relative;
}

    .navbar-nav li a.active span, .navbar-nav li a:focus span, .navbar-nav li a:hover span, .navbar-nav li.dropdown.open span {
        display: block;
    }

    .navbar-nav li a span {
        position: absolute;
        left: 0;
        height: 3px;
        background: #941e34;
        width: 100%;
        float: left;
        top: -3px;
        display: none;
    }

.top_link {
    margin: 3px 0 0;
    padding: 0;
    text-align: left;
    float: left;
}

    .top_link li {
        display: inline-block;
        border-right: 1px solid #777474;
        padding: 0 10px;
        line-height: 13px;
    }

        .top_link li:last-child {
            border-right: 0;
        }

        .top_link li:first-child {
            padding-left: 0;
        }

        .top_link li a {
            display: inline-block;
            color: #777474;
            font-size: 14px;
        }

.navouter {
    border-top: 1px solid #d9d7d7;
}

.navbar-nav > li > a {
    padding: 9px;
    color: #5d5d5d;
    border-right: 1px solid #eeeded;
}

.navbar-nav > li:last-child > a {
    border-right: 0;
}

.nav > li > a.active, .nav > li > a:focus, .nav > li > a:hover, .navbar-nav li.dropdown.open a {
    background-color: transparent;
    text-decoration: none;
    color: #941e34;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
}

.agent_login {
    background: url(../../assets/img/agentlogin.png) left 0 no-repeat #f3f3f3;
    padding: 0 20px;
    min-height: 43px;
}

    .agent_login a {
        color: #941e34;
        text-decoration: none;
        line-height: 43px;
    }

    .agent_login i {
        display: inline-block;
        vertical-align: top;
        padding: 7px 5px 0 0;
    }

.logo img {
    padding: 20px 0;
}

.img-center {
    display: inline-block !important;
    max-width: 100%;
}

.paddt20 {
    padding-top: 20px;
}

.pos_rel {
    position: relative;
}

.phone {
    font-size: 20px;
    color: #6d6565;
    display: inline-block;
    padding-top: 10px;
}

.callinfo {
    font-size: 12px;
    color: #941e34;
    padding: 0;
    margin: 0;
}

.footer {
    background: #424242;
    padding: 25px 0;
}

    .footer h3 {
        font-size: 16px;
        color: #fff;
        margin: 0;
        padding: 0 0 10px;
    }

    .footer ul {
        margin: 0;
        padding: 0;
    }

        .footer ul li {
            list-style: none;
        }

            .footer ul li a {
                background: url(../../assets/img/arr-white.png) 0 10px no-repeat rgba(0,0,0,0);
                color: #aeaeae;
                font-size: 12px;
                padding: 5px 0 0 10px;
                text-decoration: none;
            }

    .footer.footer_bottom {
        background: #242424;
        padding: 10px 0;
        border-top: 1px solid #4d4d4d;
    }

        .footer.footer_bottom ul {
            margin: 0;
            padding: 0 0 10px;
        }

            .footer.footer_bottom ul li {
                list-style: none;
                display: inline-block;
            }

                .footer.footer_bottom ul li a {
                    list-style: none;
                    display: inline-block;
                    background: 0 0;
                    line-height: 1;
                    color: #fff;
                    padding: 0 10px;
                    border-right: 1px solid #CCC;
                }

                .footer.footer_bottom ul li:last-child a {
                    border-right: 0;
                }

.copyright {
    font-size: 11px;
    color: #CCC;
    padding: 0;
    margin: 0;
}

.social_link a {
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    margin-left: 3px;
}

#ui-datepicker-div, .starail-Header-contact-title {
    display: none;
}

.dropdown-large {
    position: static !important;
}

.carousel, .seeall {
    position: relative;
}

.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0;
}

    .dropdown-menu-large > li > ul {
        padding: 0;
        margin: 0;
    }

        .dropdown-menu-large > li > ul > li {
            list-style: none;
        }

.dropdown-header {
    padding: 3px 0;
}

    .dropdown-header a {
        font-size: 14px;
    }

.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 0;
    font-size: 13px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}

.dropdown-menu-large > li ul > li > a:focus, .dropdown-menu-large > li ul > li > a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.dropdown-menu-large .disabled > a, .dropdown-menu-large .disabled > a:focus, .dropdown-menu-large .disabled > a:hover {
    color: #999;
}

    .dropdown-menu-large .disabled > a:focus, .dropdown-menu-large .disabled > a:hover {
        text-decoration: none;
        background-color: transparent;
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        cursor: not-allowed;
    }

.dropdown-menu-large .dropdown-header {
    color: #428bca;
    font-size: 18px;
}

.dropdown-header a {
    text-align: left !important;
    padding: 0 !important;
    color: #000 !important;
    font-weight: 700 !important;
}

.bdrbtm {
    border-bottom: 1px solid #d9d7d7 !important;
    border-top: 0 !important;
}

.margt120 {
    margin-top: 120px;
}

.content-padtb {
    padding: 10px 0 50px;
}

.paddt40 {
    padding-top: 40px;
}

body, html {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -299px;
}

    .page-wrap:after {
        content: "";
        display: block;
    }

    .page-wrap:after {
        height: 299px;
    }

.dropdown-menu {
    width: 97%;
    background: #f3f3f3;
}

.footer_block {
    width: 20%;
    float: left;
}

.navbar-collapse {
    padding-left: 0;
}

.sml_popup {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    left: 0 !important;
}

.sml_popup_content {
    max-height: 485px;
    float: left;
    width: 100%;
    min-height: 85px;
    overflow-y: auto;
}

#mapframe {
    width: 100% !important;
}

label {
    font-weight: 400;
    margin-bottom: 0;
}

.starail-Wrapper h2.starail-Login-title {
    text-align: center;
    width: 100%;
}

.carousel-caption {
    background: url(../img/banner_capiton_bg.png) left 0 no-repeat rgba(0,0,0,0);
    left: 54%;
    min-height: 269px;
    padding: 20px 20px 20px 83px;
    right: 0 !important;
    width: 46%;
    top: 0;
    text-shadow: none;
}

.carousel {
    overflow: hidden;
}

.carousel-caption h3, .carousel-caption p {
    text-align: right;
}

.carousel-caption h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.carousel-caption p {
    font-size: 16px;
}

.linkbtn {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px 15px;
    float: right;
    font-size: 14px;
    color: #fff !important;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-decoration: none;
}

    .linkbtn:hover, .searchbar h4, .seeall, .seeall a {
        color: #fff;
    }

.searchbar {
    background: #9e9a81;
    border-bottom: 2px solid #fff;
    margin-top: -1px;
}

.seeall {
    background: #933;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
}

    .seeall span {
        font-size: 15px;
        font-weight: 700;
    }

    .seeall i {
        vertical-align: top;
        padding-top: 7px;
        padding-left: 3px;
    }

    .seeall a {
        text-decoration: none;
    }

.cornertop {
    background: url(../img/topcorner.png) no-repeat rgba(0,0,0,0);
    height: 12px;
    left: -5px;
    position: absolute;
    top: -8px;
    width: 245px;
    z-index: 99;
}

.searchbar h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 21px 0;
}

.searchbar .input-group {
    margin: 15px 0 0;
}

.input-group .form-control {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #fff;
}

.input-group-btn > .btn {
    position: relative;
    border-radius: 0;
    background: #941e34;
    border: 1px solid #fff;
    color: #fff;
}

    .input-group-btn > .btn:focus, .input-group-btn > .btn:hover {
        background: #941e34;
        border: 1px solid #fff;
    }

.input-group div {
    top: 34px !important;
}

.carousel-indicators {
    bottom: -10px;
}

.banner:after, .banner:before, .footer:after, .footer:before, .inner-caption:after, .inner-caption:before, .navbarbg:after, .navbarbg:before, .navouter:after, .navouter:before, .searchbar:after, .searchbar:before {
    content: "";
    display: table;
}

.banner:after, .footer:after, .inner-caption:after, .navbarbg:after, .navouter:after, .searchbar:after {
    clear: both;
}

@media (min-width:1200px) {
    .container {
        width: 992px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .navbar-nav > li > a {
        padding: 10px 6px;
    }

    .searchbar h4 {
        font-size: 16px;
    }

    .cornertop {
        width: 260px;
    }
}

@media (max-width:767px) {
    .logo, .navbarbg, .seeall {
        text-align: center;
    }

        .seeall a {
            display: inline-block;
        }

    .searchbar .input-group {
        margin: 0 0 23px;
    }

    .cornertop {
        display: none !important;
    }

    .searchbar h4 {
        margin: 13px 0;
    }

    .carousel-caption {
        display: none;
    }

    .carousel {
        height: auto;
    }

    .starail-Form-fancyCheckbox {
        font-size: 16px;
        line-height: 17px;
    }

    .starail-Wrapper .starail-u-beta, .starail-Wrapper h2 {
        font-size: 1.21429rem;
    }

    .starail-Button--full {
        font-size: 1.1rem;
    }

    .starail-Login-rememberedPw {
        font-size: 12px;
    }

    .sml_popup_content {
        max-height: 400px !important;
    }

    .footer_block {
        width: 100%;
    }

    .dropdown-menu {
        right: 0 !important;
        left: inherit;
    }

    .footer h3 {
        padding: 10px 0;
    }

    .footer ul li {
        list-style: none;
        display: inline-block;
    }

    .navbar-toggle {
        background: #941e34;
        margin-right: 0;
    }

    .navbar-collapse.pull-left {
        float: none !important;
    }

    .navbar-toggle .icon-bar {
        background: #fff;
    }

    .phone {
        padding-top: 0;
    }

    .top_link li {
        padding: 0 4px;
    }

    .social_link, .top_link {
        float: left;
        text-align: center;
    }
}

@media (max-width:480px) {
    .sml_popup_content {
        max-height: 300px !important;
    }
}

.seeall i, .seeall span, .seeall span p {
    display: inline !important;
}

.phone, .seasional-info {
    position: relative;
}

.starail-Header-contact p.starail-Header-contact-disclaimer {
    display: block;
}

.seasional-info {
    display: inline-block;
}

.sta-call-info span.seasional-info {
    position: relative;
    display: inline-block !important;
}

.sta-call-info h2 {
    display: block !important;
}


@media (max-width:767px) {
    #ucTravellCutsHeader1_hour1.seasional-info {
        width: 295px;
    }

    .navbar-collapse {
        padding-left: 15px;
    }

    .seasional-info {
        position: absolute;
        left: 9px !important;
        top: 10px;
    }

    .sta-mobile .seasional-info {
        position: absolute;
        left: 9px !important;
        top: 50px;
        width: 94%;
    }
}

/*seasonal*/
.newdynamic .seasonal {
    margin-left: -238px !important;
}

.seasonal span p, .seasonalmessage p {
    padding: 5px !important;
    line-height: 15px !important;
    font-size: 12px !important;
    line-height: 22px !important;
}

.seasonal img {
    margin-right: 2px !important;
    border-radius: 5px !important;
    float: left;
    width: 30px !important;
    height: 35px !important;
}

.seasonalmessage > p, .seasonalmessage > table tr td {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    padding: 5px !important;
}

.seasonalmessage span {
    border-radius: 0 !important;
    border: none !important;
}

.seasonal span {
    border-radius: 5px !important;
    padding: 0 3px !important;
    display: -webkit-box !important;
    height: 32px !important;
    line-height: 33px !important;
    font-size: 12px !important;
}

.seasonal, .seasonalmessage {
    font-family: Arial;
    color: #000;
    font-size: 13px;
    position: absolute;
    border-radius: 5px;
}

.seasonal {
    z-index: 100;
    margin-left: 454px;
    cursor: default;
}

.seasonalmessage {
    z-index: 201;
    text-align: left;
    padding: 10px;
    margin-top: 48px;
    margin-left: 0;
    min-width: 245px;
}

.seasional-info {
    font-size: 16px !important;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    line-height: 1.42857rem;
    text-transform: capitalize !important;
    color: #444 !important;
    font-weight: 400;
}


.divs {
    z-index: 201;
    position: absolute;
    height: 60px;
    width: 202px;
    background-repeat: no-repeat;
    background-image: url(http://www.internationalrail.com/images/ArrowRight.png);
    background-size: 87px 78px;
    margin-top: -14px;
    margin-left: 50px;
}
/**/
