.width100 select
{
        padding: 10px!important;
}
.user-input-heading
{
    display: block;
}
.left
{
    float:left !important;
}
.clearfix
{
    width:100%;
    display:flex;
}
.user-input-heading-ep
{
    display: inline-block; width: 15%; vertical-align: top;text-align:left; 
}
.required
{
    color:Red;
}
.backlin
{
    color: #991f36;
    font-weight: bold;
    padding: 0px;
    position: relative;
    display: table;
    float: right;
    margin-top: -31px;
}
.chk-cancel
{
    display: inline;
}
.chk-cancel label
{
    padding: 0px 0px 0px 7px!important;
}
.activepaging {
    font-weight: bold;
    color: #fff !important;
    font-size: 15px;
    background: #757575 !important;
    border: 1px solid #ccc;
}
.tablle-paging {
    float: left;
    width: 100%;
}
.tablle-paging tr {
    padding: 10px 0px 0px 0px;
    text-align: center;
    font-size: 13px;
}
.tablle-paging td {
    float: left;
}
.tablle-paging tr a {
    color: #000;
    text-decoration: none;
    border: 1px solid #dddddd;
}
.tablle-paging tr a:hover {
    text-decoration: none;
    background-color: #00aeef;
    color: #fff;
    border-color: #ccc;
}
.tablle-paging a,
.tablle-paging span {
    padding: 2px 8px 2px 8px;
}
.class-main {
    width: 100%;
    margin: 10px 5px 5px 5px;
}
.class-main .class-label {
    width: 11%;
    display: inline-block;
    margin-bottom: 1%;
}
.class-main .class-text {
    width: 60%;
    margin-bottom: 1%;
    display: inline-block;
}
.class-main .class-text input,
.class-main .class-text select {
    width: 35%;
    padding: 6px 6px 6px 6px;
}
.clear {
    clear: both;
}
/* clear float */
/*-- custon --*/

.frmregister .form-row {
    width: 55% !important;
}
.form-row-ep {
    display:inline-block!important;
}
.frmregister {
    margin: auto;
    text-align: center;
}
.addressarea {
    /* width: 96.5%; */
    display: block;
    margin: 0 10px 15px 10px;
}
.centerdiv {
    text-align: center;
    margin: auto;
    width: 54%;
}
.checkbox-news input
{
    margin-right:10px;
}

.checkbox-news label
{
    color:#000!important;
}
.centerrowtext {
    text-align: center;
}
.width35 {
    width: 35%!important;
}
.width75 {
    width: 75%!important;
}
/*-- end custon--*/
/*-- main --*/

input[type="submit"],
input[type="reset"],
.btn-primary,
.agileits_copyright p a,
.w3_agile_main_left_grid_w3_agileits p a,
.agile_remember_right a,
.wthree_social_icons ul li a,
.w3_agile_main_left_grid_w3_agileits h5 a {
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
.main {
    padding: 4em 0;
}
.main h1 {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: capitalize;
}
/* Register Form Css Start */

.register-form {
    width: 100%;
    margin: 0 auto;
}
.register-form h3 {
    background: #0c6ab8 none repeat scroll 0 0;
    color: #fff;
    font-size: 1.5em;
    padding: 0.7em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 0;
}
.register-form h3::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #0c6ab8 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    bottom: -19px;
    margin-right: -10px;
}
.form-box {
    background: #EDEFF1 none repeat scroll 0 0;
    padding: 2em 20px;
}
.check {
    margin-left: 10px;
}
.form-row {
    display: block;
    margin: 0 0 15px 0;
    position: relative;
    /* width: 97%; */
}
.form-row input[type="text"],
.form-row textarea,
.form-row input[type="email"],
.form-row input[type="password"],
.form-row input[type="email"],
.form-row select {
    padding: 10px 10px 10px 40px;
    font-size: 14px;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    width: 100%;
}
.form-row input[type="text"]:hover,
.form-row textarea:hover,
.form-row input[type="email"]:hover,
.form-row input[type="password"]:hover,
.form-row select:hover {
    border: 1px solid #b1b1b1;
}
.form-row:nth-child(2),
.form-row:nth-child(4),
{
    margin: 1.5em 0;
}
.form-row i {
    color: #424242;
    font-size: 1em;
    left: 2%;
    position: absolute;
    top: 26%;
}
.form-box label {
    color: #999;
    font-size: 1em;
    font-weight: 400;
    margin: 1.5em 0 0 0;
    text-transform: capitalize;
}
.form-box input[type="submit"],
.form-box input[type="reset"] {
    background: #c9da00 none repeat scroll 0 0;
    border: medium none;
    color: #0073ae;
    cursor: pointer;
    font-size: 1em;
    margin: 1.5em 0 0;
    outline: medium none;
    padding: 10px 0;
    width: 100%;
    font-size: 1.21429rem !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Titillium Web', Tahoma, Verdana, Segoe, sans-serif;
    font-weight: 700;
    padding: 8px 10px;
    transition: background-color 300ms ease-in-out,color 300ms ease-in-out;
}
.form-box input[type="submit"]:hover,
.form-box input[type="reset"]:hover {
        background-color: #bdcd00;
}

.small-font
{
    font-size:14px!important;
}
.form-box h5 {
    color: #999;
    font-size: 1em;
    margin: 2em 0 0;
    text-align: center;
}
.form-box h5 a {
    color: #212121;
    text-decoration: underline;
}
.form-box h5 a:hover {
    color: #999;
}
.form-box h4 {
    color: #212121;
    font-size: 1.2em;
    margin: 1.5em 0 1em;
    text-align: center;
}
/* Register Form Css End */

.table-res table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
}
.table-res th,
.table-res td {
    border: none;
    text-align: left;
    padding: 8px;
}
.table-res tr:nth-child(even) {
    background-color: #f2f2f2;
}
.grid-sec2 {
    background: #eeeeee;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    position: relative;
    margin-left: 7px;
}
.fieldset-chart {
           width: 100%;
    background: #fff;
    display: table;
    border: 1px solid #ccc;
    border-bottom-style: none;
        border-left-style: none;
}
.grid-sec2 legend
{
        border-radius: 5px;
    padding: 4px 15px;
    color: white;
    font-size: 16px !important;
    width: inherit;
    background-color: #6b6b6b;
}
.fieldset-chart .div_th {
    display: block;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.fieldset-chart .div_th p {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 0;
}
.div_td {
       border-bottom: 1px solid #ccc;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: 50%;
    border-left: 1px solid #ccc;
        height: 41px;
}
.fieldset-chart a {
    color: #00aeef;
    text-decoration: underline;
}
.tdpaging
{
    display:inline;
}
.hidedesktop
{
    display:none;
}
.hidemobile
{
    display:block;
}
/*-- start-responsive-design --*/


.regi-form { display: block;}
.regi-form h2 { font-size: 20px; color: #999; font-weight: 600; }
.regi-form .user-input-heading { display: block; }


@media only screen and (max-width: 680px)
{
    .left {
    float: none !important;
}
    .width100
    {
        width:100%!important;
    }
    .clearfix
    {
        display:none;
    }
    .row {
    padding: 0px 24px 0px 24px !important;
}
    .user-input-heading,.user-input-heading-ep
{
    width: 100%;
}
    .centerdiv {
        width: 95%;
    }
    .width75 {
        width: 100%!important;
        margin: 0px 0px 10px 0px;
    }
    .form-row {
        width: 100%;
    }
    .frmregister .form-row {
        width: 100% !important;
        margin-left: 0px;
    }
    .class-main .class-label {
        width: 35%;
    }
    .class-main .class-text input,
    .class-main .class-text select {
        width: 100%;
    }

    .table-res .grid-head2 th
    {
        display:none;
    }
    .table-res .grid-head2 td {
        padding: 8px;
        display: inline-block;
        width: 100%;
    }
    .table-res .grid-head2 td:first-child{
        font-weight:bold !important;
        padding-top: 28px;
    }
     .table-res .tablle-paging td{
        display:inline;
            height: 35px;
    }
    .div_td {
    width: 100%;
}

.hidedesktop
{
    display:inline-block;
}
.hidemobile
{
    display:none;
}
}
@media only screen and (max-width: 480px)
{
    .left {
    float: none !important;
}
    .width100
    {
        width:100%!important;
    }
    .clearfix
    {
        display:none;
    }
    .row {
    padding: 0px 24px 0px 24px !important;
}
    .user-input-heading,.user-input-heading-ep
{
    width: 100%;
}
    .register-form {
    margin: 0 1% auto;
}
    .centerdiv {
        width: 95%;
    }
    .width75 {
        width: 100%!important;
        margin: 0px 0px 10px 0px;
    }
    .form-row {
        width: 100%;
    }
    .frmregister .form-row {
        width: 100% !important;
        margin-left: 0px;
    }
    .class-main .class-label {
        width: 35%;
    }
    .class-main .class-text input,
    .class-main .class-text select {
        width: 100%;
            text-align: left;
    }
    .table-res .grid-head2 th
    {
        display:none;
    }
    .table-res .grid-head2 td {
        display: inline-block;
        width: 100%;
        font-size:15px;
    }
    .table-res .grid-head2 td:first-child{
        font-weight:bold !important;
        padding-top: 28px;
    }
    .table-res .tablle-paging td{
        display:inline;
            height: 35px;
    }
    .div_td {
    width: 100%;
}
.width35 {
    width: 100%!important;
}
.hidedesktop
{
    display:inline-block;
}
.hidemobile
{
    display:none;
}
}