﻿body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

.btn,.button{ min-width:100px; width:auto; background:url(../schemes/images/btn-bar.jpg) no-repeat left -30px; border-right:1px thin #a1a1a1;  border: thin none;   font-weight:bold;  color: white;  cursor: pointer; height: 30px; }   

.btn:hover,.button:hover{  background:url(../schemes/images/btn-bar.jpg) no-repeat left -0px; border-right:1px solid #a1a1a1; color: White; cursor: pointer;  height: 30px; }
  h1,h2
 {
         text-transform: capitalize!important;
                 font-weight: 600!important;
 }
.modal-content
{
    min-width:787px;
}
.modal
{
    padding-right:180px !important;
}
.modal-body table
{
    width:100%;
}
#mymodalproduct
{
        left: -14%!important;
}
.modal-header,.modal-footer
{
        background: #f3f3f3;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
.main-wrapper {
    display: block;
}
.bannernew {
    display: block;
    /* background: url('../../images/banner-1.jpg') no-repeat;  */
    
    position: relative;
}

.bannernew-text h1
{
        font-size: 36px !important;
}
.bannernew-text h2
{
       font-size: 30px !important;
}
.bannernew-text {
    display: block;
    position: absolute;
    top: 6%;
    text-align: center;
    color: #fff;
    width: 100%;
}
.contant-text {
    display: block;
    padding: 5% 10%;
    text-align: center;
}
.contant-text > p {
    color: #434343;
    font-weight: 600;
}
#mymodalbannerupload .modal-content {
    width: 787px;
    left: -14%;
}
.modal-body {
    min-height: 300px;
    max-height: 450px;
    overflow-y: auto;
}
.point-to {
    display: block;
}
.point-to h2,
.tour-packages h2 {
    font-size: 26px;
    font-weight: bold;
    color: #555555;
}
.point-to p {
    color: #555;
}
hr.blank {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: transparent;
    margin-bottom: 15px;
    margin-top: 15px;
}
.light-green-btn {
    background: #c9da00 none repeat scroll 0 0;
    color: #1b365d;
    font-size: 16px;
    font-weight: bold;
    padding: 2% 10%;
    text-transform: uppercase;
    display: inline-block;
}
.map-sec {
    display: block;
    margin-bottom: 15px;
}
.map-sec img,
.visit-box img {
    width: 100%;
}
.tour-packages {
    display: block;
    margin-bottom: 25px;
}
/* Included color classes..
    .red
  .blue
  .yellow
  .green
  .navy
*/
/* .services{
    margin: 20px auto;
    } */

.tour-packages div.snip1174 {
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: left;
    margin: 10px 0;
    width: 100%;
    border-radius: 0px;
}
.tour-packages div.snip1174 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.tour-packages div.snip1174 > img {
    width: 100%;
    height: 230px;
}
.tour-packages div.snip1174 img {
    max-width: 100%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    vertical-align: top;
    /* opacity: 0.7; */
}
/* .tour-packages div.snip1174 figcaption {
  position: absolute;
  padding: 40px 25px;
  top: 0;
  left: 0;
} */

.tour-packages div.snip1174 div.figcaption {
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.tour-packages div.snip1174 h2,
.tour-packages div.snip1174 p {
    margin: 0;
    padding: 0;
}
.tour-packages div.snip1174 h2 {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 100;
    /* font-size: 1.8em; */
    
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}
.tour-packages div.snip1174 p {
    font-weight: 300;
    /* margin-bottom: 20px; */
    /* line-height: 1.4em; */
    
    font-size: 18px;
}
.yellow-box 
{
        width: 78%;
    background: #f6be00 none repeat scroll 0 0;
    display: inline-block;
    opacity: 1;
    padding: 10px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -o-transform: translateY(50%);
    -ms-transform: translateY(50%);
}
.tour-packages div.snip1174:hover .yellow-box {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
}
.tour-packages div.snip1174 a {
    display: inline-block;
    padding: 10px 20px;
    /* border: 1px solid #ffffff; */
    
    text-decoration: none;
    /* color: #ffffff; */
    /* letter-spacing: 2px; */
    /* text-transform: uppercase; */
    /* font-size: 0.8em; */
    
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
}
.tour-packages div.snip1174 a:hover {
    /* background-color: rgba(0, 0, 0, 0.2); */
}
.tour-packages div.snip1174.blue {
    background-color: #20638f;
}
.tour-packages div.snip1174.yellow {
    background-color: #f6be00;
}
.tour-packages div.snip1174.green {
    background-color: #1e8449;
}
.tour-packages div.snip1174.navy {
    background-color: #222f3d;
}
.tour-packages div.snip1174.red {
    background-color: #962d22;
}
.tour-packages div.snip1174:hover > img,
.tour-packages div.snip1174.hover > img {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.tour-packages div.snip1174:hover a,
.tour-packages div.snip1174.hover a {
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
    opacity: 1;
}
.gray-text-box {
    display: block;
    background: #f0f0f0;
    padding: 2% 18%;
    text-align: center;
    margin-bottom: 25px;
}
.gray-text-box p {
    margin-bottom: 0;
    color: #434343;
}
.sta-contact-box {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    font-weight: 400;
    text-transform: none;
}
.sta-contact-box ul {
    /* margin: 0;  */
    
    padding: 0;
    list-style: none;
}
/* .sta-contact-box ul li {
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
} */

.sta-contact-box ul li {
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}
/* .sta-contact-box ul li a {
  background-repeat: no-repeat;
  color: #434343;
  display: block;
  font-size: 93.75%;
  font-weight: 700;
  height: 30px;
  padding-left: 43px;
} */

.sta-contact-box ul li a {
    background-repeat: no-repeat;
    color: #343434;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 37px;
    padding-left: 50px;
}
.sta-contact-box ul li .sta-contact-phone {
    background: rgba(0, 0, 0, 0) url("../../images/contact-buttons.png") no-repeat scroll 0 0;
    border: 1px solid #ef6726;
}
.sta-contact-box ul li .sta-contact-phone a:hover {
    color: #ef6726;
}
.sta-contact-box ul li .sta-contact-email {
    background: rgba(0, 0, 0, 0) url("../../images/contact-buttons.png") no-repeat scroll 0 -74px;
    border: 1px solid #8347b2;
}
.sta-contact-box ul li .sta-contact-email a:hover {
    color: #8347b2;
}
.sta-contact-box ul li .sta-contact-chat {
    background: rgba(0, 0, 0, 0) url("../../images/contact-buttons.png") no-repeat scroll 0 -37px;
    border: 1px solid #009fd2;
}
.sta-contact-box ul li .sta-contact-chat a:hover {
    color: #009fd2;
}
/* .sta-contact-box ul li .sta-contact-store {
  background: rgba(0, 0, 0, 0) url("../../images/contact-buttons.png") no-repeat scroll 0 -90px;
  border: 1px solid #fbae12;
} */

.sta-contact-box ul li .sta-contact-appt {
    background: rgba(0, 0, 0, 0) url("../../images/contact-buttons.png") no-repeat scroll 0 -111px;
    border: 1px solid #3c1053;
}
.sta-contact-box ul li .sta-contact-appt a:hover {
    color: #4D1D65;
}
.visit-box {
    display: block;
    margin-bottom: 15px;
}
.contact-box {
    display: block;
    margin-bottom: 25px;
}
.contact-box h2 {
    font-size: 23px;
    font-weight: bold;
    color: #434343;
}
.adventure-tours {
    display: block;
    margin-bottom: 25px;
}
.adventure-tours img {
    width: 100%;
    height: 230px;
}
.adventure-tours [class*="col-"] {
    padding: 0;
}
.adventure-tours .thumbnail {
    position: relative;
    overflow: hidden;
    border: none;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
}
.adventure-tours .caption {
    position: absolute;
    top: -100%;
    right: 0;
    /* background:rgba(66, 139, 202, 0.75); */
    
    background: rgba(246, 190, 0, 1);
    width: 100%;
    height: 100%;
    padding: 4%;
    text-align: left;
    color: #fff !important;
    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.adventure-tours .thumbnail:hover .caption {
    top: 0%;
}
.caption h4 {
    font-size: 22px;
    margin-bottom: 30px;
}
.book-now-btn {
    display: block;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
.book-now-btn:hover {
    background: #fff;
    color: #f6be00;
}
.pos-rel {
    position: relative;
}
.edit-btn {
    background: #2572b5 url(../../images/icon-edit.png) no-repeat scroll 10px 5px;
    border: medium none;
    border-radius: 0 !important;
    box-shadow: 1px 1px 1px 0 #000000;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    padding: 6px 15px 5px 35px;
    width: 70px;
    line-height: 15px;
    position: absolute!important;
}
@media (max-width: 992px) {
    body {
        font-family: "Titillium Web", sans-serif;
        font-size: 14px;
    }
    .contant-text {
        padding: 5% 8%;
    }
    .yellow-box {
        transform: translateY(15%);
        width: 90%;
    }
    .tour-packages div.snip1174 h2 {
        font-size: 16px;
    }
    .tour-packages div.snip1174 p {
        font-size: 16px;
        line-height: 20px;
    }
    .tour-packages div.snip1174:hover a,
    .tour-packages div.snip1174.hover a {
        transform: translateY(-54%);
            top: 84px;
    position: relative;
}
    }
    .caption h4 {
        font-size: 18px;
        margin-bottom: 22px;
    }
    hr.blank {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .point-to h2,
    .tour-packages h2 {
        font-size: 24px;
    }
    .light-green-btn {
        font-size: 15px;
    }
}
@media (max-width: 500px) {
    .adventure-tours [class*="col-"] {
        width: 100%;
    }
    .adventure-tours .caption {
        padding-top: 10%;
    }
    .tour-packages div.snip1174 > img {
        width: 100%;
        height: auto;
    }
}
#dtBanner td {
    padding: 10px;
}