/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

 
*:focus{outline:none;}
.bgwhite{ background:#FFF !important;}
#bluethem header{ width:100%;  position:relative;}
#bluethem header .wrapper{position:relative;}
#bluetheme .logo{ float:left; padding:0px;}
#bluetheme .logo img{float:left;}

#bluetheme  header .top-rightblock{ float:right; width:62%; padding-top:7px; position:relative;}
#bluetheme  header .top-rightblock .toplink{ height:22px;
 font-size:11px; color:#4a4a4a; float:left; background:none;}

#bluetheme header .top-rightblock .toplink a{font-size:13px;   color:#4a4a4a; text-decoration:none;}

#bluetheme header .top-rightblock .call-in{ float:right; width:42%;}
#bluetheme header .top-rightblock .search{ float:left; width:100%;}
#bluetheme header .top-rightblock .search input{ width:88%; height:20px; float:left; font-size:13px;color:#666; line-height:22px; border:1px solid #bed31a;}
#bluetheme header .top-rightblock .search  img{ float:left} 
#bluetheme header .top-rightblock  span{ float: right; text-align:right;  font-size:28px; height:34px; line-height:34px; color:#0065bd; width:100%}
#bluetheme header ul.additiontab{ width:99.8%; margin-top:10px; float:left; height:30px; line-height:30px; background:url(../images/addtional-tabbg.png) repeat-x; border:1px solid #e4e4e4;}
#bluetheme header ul.additiontab li{ float:left; list-style:none;}
#bluetheme header ul.additiontab li a{ float:left; list-style:none; padding:0 10px; text-decoration:none;  border-right:1px solid #e4e4e4; font-size:13px; color:#0065bd; font-weight:bold;}


#bluetheme  nav{height:47px; margin-top:12px; background:url(../images/navbg02.png) repeat-x;  float:left; width:100%; border-bottom:1px solid #FFF; }
#bluetheme nav select{display:none; }

#bluetheme nav ul{padding:0 0px; width:75%; padding:13px 0 0 10px; float:left;}
#bluetheme nav ul li{float:left; display:inline-block; margin-right:5px;}

#bluetheme nav ul li a{color:#fff; line-height:32px;
background: #7ac1ff; /* Old browsers */
background: -moz-linear-gradient(top,  #7ac1ff 0%, #076cc7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ac1ff), color-stop(100%,#076cc7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7ac1ff 0%,#076cc7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7ac1ff 0%,#076cc7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7ac1ff 0%,#076cc7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7ac1ff 0%,#076cc7 100%); /* W3C */
-pie-background: linear-gradient(#7ac1ff, #076cc7);

	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
 behavior:url(PIE.htc); 
 
 position:relative;
 border:1px solid #076cc7;

font-size:15px; font-weight:bold; padding:0 15px; display:block; text-decoration:none; }

#bluetheme nav ul li a:hover , #bluetheme nav li a.active{color:#0e56ba; line-height:32px;
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* W3C */
-pie-background: linear-gradient(#f6f8f9, #edeeee);

	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
 behavior:url(PIE.htc); position:relative;
 border:1px solid #adb9c2;
padding:0 15px; display:block; text-decoration:none; }

#bluetheme nav .agentlogin{ float:right; padding:15px 20px 0 0; line-height:20px; height:20px; font-size:15px; font-weight:normal; color:#FFF;}
#bluetheme nav .agentlogin a{ color:#FFF; text-decoration:none;}
#bluetheme nav .agentlogin a img{ float:left; padding-right:5px;}
	
#bluetheme .banner{width:100%; float:left; border-bottom:3px solid #0065BD; margin:0px;  position:relative;}
#bluetheme  .rail-detail-block .list-tab ul li a:hover ,  #bluetheme .rail-detail-block .list-tab ul li a.active{ list-style:none; float:left; padding:0 15px; color:#fff;text-decoration:none;
background: #4a92f7; /* Old browsers */
background: -moz-linear-gradient(top,  #4a92f7 0%, #0047ab 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a92f7), color-stop(100%,#0047ab)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4a92f7 0%,#0047ab 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4a92f7 0%,#0047ab 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4a92f7 0%,#0047ab 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4a92f7 0%,#0047ab 100%); /* W3C */
-pie-background: linear-gradient(#4a92f7, #0047ab);

-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
 behavior:url(PIE.htc); position:relative;
 border:1px solid #002e71; border-bottom:0px;}

		#bluetheme .rail-detail-block .tab-detail-in .booking-block .booking-detail .title .rt{ font-size:15px; float:right; height:15px; line-height:15px; color:#0e56ba;}
	
#bluetheme .left-content .smlblock span{ float:right; background:url(../images/arr-black.png) no-repeat left; padding-left:10px; font-size:11px; color:#951f35;}
#bluetheme .left-content .smlblock span a{  color:#0065BD; text-decoration:none;}


#bluetheme .left-content .country-block-inner{ background:#a8a8a8; height:194px; position:relative; border:1px solid #424242; padding:1% 0; width:99.8%; float:left; 
border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);}
 #bluetheme .left-content .country-block-inner .lt-corner{ background:#424242;z-index:99;  text-align:center; vertical-align:middle;height:209px; width:40px; float:left; z-index:99; position:absolute; left:0px; top:0px; 
   border-radius:5px 0 0 5px ;
	-moz-border-radius: 5px 0 0 5px  ;
	-webkit-border-radius: 5px 0 0 5px  ;
	-ms-border-radius: 5px 0 0 5px  ;
 behavior:url(PIE.htc);}
 #bluetheme .left-content .country-block-inner .ar-con{ position:absolute; left:5px; top:100px;}
  
  #bluetheme .left-content .country-block-inner .rt-corner{ background:#424242; text-align:center; z-index:99; vertical-align:middle; height:209px; width:40px; float:left; position:absolute; right:0px; top:0px; 
   border-radius: 0 5px 5px 0  ;
	-moz-border-radius: 0 5px 5px 0  ;
	-webkit-border-radius:  0 5px 5px 0   ;
	-ms-border-radius:  0 5px 5px 0  ; 
 behavior:url(PIE.htc);}
 
 
#bluetheme .left-content .country-block-inner .contory-block{ background:#ffffff ; position:relative;  height:170px;  margin: 4px; padding:8px; width:147px; float:left; 
 border:1px solid #b3b3b3;
 border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc); }
#bluetheme .left-content .country-block-inner .contory-block p{ font-size:12px;}
	
#bluetheme .left-content .country-block-inner .contory-block img{
	 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:1px solid #d3d3d3; margin-bottom:8px; }
/*innerstart*/
#bluetheme .breadcrumb a{color:#0065BD; text-decoration: none; }


#bluetheme .innner-banner{ background:url(../images/innerbanner-borderbg-blue.jpg) repeat-x bottom; margin-bottom:10px; padding-bottom:9px; position:relative; width:100%; float:left;}

#bluetheme .map-container-title h1 a{  color:#0065BD; text-decoration:none; }

#bluetheme .txt-red{ color:#0065BD !important; text-decoration:none;}

 #bluetheme .ticketbooking .list-tab ul li a{ list-style:none; float:left; border:1px solid #b3b3b3;  border-bottom:0px; padding:0 15px; text-decoration:none; font-size:13px; color:#424242;
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* W3C */
  -pie-background: linear-gradient(#f6f8f9, #edeeee);	 
	border-radius:5px 5px 0 0 ;
	-moz-border-radius: 5px 5px 0 0 ;
	-webkit-border-radius:5px 5px 0 0 ;
	-ms-border-radius: 5px 5px 0 0; 
 behavior:url(PIE.htc); position:relative;}

  #bluetheme .ticketbooking .list-tab ul li a:hover ,    #bluetheme .ticketbooking .list-tab ul li a.active{ list-style:none; float:left; padding:0 15px;text-decoration:none; color:#fff;
background: #b1085e; /* Old browsers */
background: #4a92f7; /* Old browsers */
background: -moz-linear-gradient(top,  #4a92f7 0%, #0047ab 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a92f7), color-stop(100%,#0047ab)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4a92f7 0%,#0047ab 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4a92f7 0%,#0047ab 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4a92f7 0%,#0047ab 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4a92f7 0%,#0047ab 100%); /* W3C */
-pie-background: linear-gradient(#4a92f7, #0047ab);

border:1px solid #002E71 ; border-bottom:0px;
  	border-radius:5px 5px 0 0  ;
	-moz-border-radius: 5px 5px 0 0  ;
	-webkit-border-radius:5px 5px 0 0  ;
	-ms-border-radius: 5px 5px 0 0  ; 
 behavior:url(PIE.htc);
}
 

/*accomadtion end*/
/*footer starts here */ 
#bluetheme .padd-none{ padding:0px !important;}
#bluetheme .review-block{ width:93.8%; padding:2%; float:right; border:1px solid #208adc;}
#bluetheme .review-block p{ font-size:11px; color:#6c6c6c; padding: 0 0 5px 0; float:left;} 
#bluetheme .review-block span{  font-size:12px; line-height:12px; width:100%; font-weight:bold;  color:#6c6c6c; padding: 5px 0 5px 0; float:left;} 
#bluetheme .review-block span img{ float:left; padding:2px;} 

#bluetheme footer{background:#fff !important; border-top:3px solid #208bdd; margin-top:10px !important; }

#bluetheme footer .foot-col1{ width:23%; float:left; padding-right:2%;}
#bluetheme footer .foot-col1 h3{ font-size:15px; color:#6c6c6c; font-weight:bold; text-transform:uppercase; padding-bottom:0; margin:0px;}

#bluetheme footer .foot-col1 ul li a{ float:left; font-size:13px; background:url(../images/arr-black.jpg) no-repeat 0 7px; color:#6c6c6c; text-decoration:none;
 padding:0 0 0 10px;}
 #bluetheme  footer .foot-col1 .number{ float:left; color:#208adc; padding:10px; font-size:24px;}
 
#bluetheme footer .bottom-section{ width:100%; background:#fff; border-top:1px solid #ededed; padding:16px 0 21px 0;}
#bluetheme  footer .bottom-section .wrapper{padding:0 12px; width:976px;}
#bluetheme footer .bottom-section .wrapper .f-links{ width:75%; float:left;}
#bluetheme footer .bottom-section .wrapper .f-links p{ padding:0px; margin:0px; font-size:13px; color:#fff; padding-bottom:10px; }
#bluetheme footer .bottom-section .wrapper .f-links p a{ color:#6C6C6C; padding-right:5px; text-decoration:none;}

/*aboutus*/

#bluetheme .sml-detail-block-outer .hd-title{  padding:5px 10px; background:#166cb5; text-transform:uppercase;
  width: auto; float:left; font-size:16px; font-weight:bold; color:#FFF;
  	border-radius:5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0 ; 
 behavior:url(PIE.htc); 
  
} 


#bluetheme .sml-detail-block-inner{  padding:2%; text-align:center;
  width: 96%; float:left; margin-bottom:0px; background:#166cb5;  
  	border-radius:0 5px 5px 5px; 
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius:0 5px 5px 5px;
	-ms-border-radius: 0 5px 5px 5px ; 
 behavior:url(PIE.htc); float:5px; 
  
} 

#bluetheme .sml-detail-block-inner p{ font-size:13px; color:#88bbe5; margin:0px; text-align:left;  padding:10px 0 10px 0;}
#bluetheme .sml-detail-block-inner  p a{ color:#88bbe5; text-decoration:none;}

#bluetheme .left-content .country-block-outer02{ background:#166CB5; padding:1.5%; width:97%; float:left; 
 border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);}
#bluetheme .left-content .country-block-inner02{ background:#fff; padding:1% 0; width:100%; float:left; 
border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);}

 .country-block-inner02 table { width:98%; margin-left:1%; border:2px solid #dedede;}
   .country-block-inner02 table tr { padding-bottom:10px;}
  .country-block-inner02 table tr th { background:#dedede; font-size:14px; color:#686868; height:30px; vertical-align:middle;}
    .country-block-inner02 table tr td { font-size:13px; color:#686868; height:20px; vertical-align:middle; margin:5px 0;  text-align:center;}


