/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */




#dev7link {
    position:absolute;
    top:0;
    left:50px;
    background:url(images/dev7logo.png) no-repeat;
    width:60px;
    height:67px;
    border:0;
    display:block;
    text-indent:-9999px;
}

.slider-wrapper { 
	width: 100%;
	float:left;
	position:relative;

}



.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	right:0px;
	top:50px;
	color:#fff;
	width:26%;
	z-index:8;
	padding: 5px 10px;
	overflow: hidden;
	display: none;

}
.nivo-caption  h2 {
  color: #FFFFFF;
  font-size: 30px;
  text-transform: uppercase;
}
.nivo-caption  p {
  color: #FFFFFF;
  font-size: 12px;
}


.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
	font-size:0PX;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
border-bottom: 1px solid #FFFFFF;
bottom: 90px;
float: right;
padding-bottom: 12px;
position: absolute;
right: 11px;
width: 260px;
z-index: 999;
}
.nivo-controlNav a {
	cursor:pointer; font-size:0px;
	float:left; display:block;
	width:6px; height:6px;
	background:url(../images/bullet04.jpg) no-repeat; margin-right:5px;
	
}
.nivo-controlNav a.active {
		float:left; display:block;
	width:6px; height:6px;
	background:url(../images/bullet01.jpg) no-repeat !important;
}