﻿@import "/code/schemes/default/css/default.css";
@import "/code/schemes/internationalrail/css/ir.css";
body {
    background-color: #d0f2ff;
}

a {
	color:#0066CC;
}

.pagecontainer
{

    border:2px solid #0066CC;
}

    .categorymenu .main:hover
    {
        color:#0066CC;
    }
    .categorymenu .mainselected
    {
        color:#0066CC;
        
    }
    .categorymenu .mainselected:hover
    {
        color:#0066CC;
    }
	
	.lisubmenucontainer
{
    border: 1px solid #0066CC;
    background-color: #d0f2ff;
}

.lisubmenucontainer .sub:hover
{
    color: #0066CC;
}

.submain:hover
{
    color: #0066CC;
}

    .tabsbox .tabselected
    {
        border-right: 1px solid #d0f2ff;
        border-top: 1px solid #d0f2ff;
        border-bottom: 1px solid #ffffff;
		background-color:#0066CC;
    }
	
    .passtype:hover {
		color:#0066CC;
	}	
	
.odbottom a
{
    color: #0066CC;
}

div.SiteId a {
	color:#0066CC;
}		







#hiddenqueuearea
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
display: none;
visability: hidden;
}

#hiddenqueuearea #center{
	position: absolute;
	top: 200px;
	left: 50%;
	width: 0px;
}
#hiddenqueuearea #center #selection{
	position: absolute;
	left: -200px;
	width: 400px;
	height: 100px;
	background-color: #000000;
padding-top: 50px;
}




#hiddenqueuearea
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
display: none;
visability: hidden;
}

#hiddenqueuearea #center{
	position: absolute;
	top: 200px;
	left: 50%;
	width: 0px;
}
#hiddenqueuearea #center #selection{
	position: absolute;
	left: -200px;
	width: 400px;
	height: 100px;
	background-color: #000000;
padding-top: 50px;
}