@charset "UTF-8";

/** 
 * NVIDIA Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		NVIDIA
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE7+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */



/* -- Base style extension -- */

ul.dropdown li a {
 display: block;
}


/* -- Base style override -- */

ul.dropdown li {
 padding: 0;
 float:left;
}


/* -- Base style reinitiate: post-override activities -- */

ul.dropdown li.dir {
 padding:0;
}

ul.dropdown ul.submenu li.dir {
padding:0px;
}


/* -- Custom -- */

ul.dropdown ul.submenu a {


}



/* -- Drop-down open -- */

ul.dropdown li:hover > a.dir {
	

}

ul.dropdown ul.submenu li:hover > a.dir {
 color: #fff;
 
}