﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UCGeneralInformation.ascx.cs" Inherits="UserControls_UCGeneralInformation" %>

    <style>
        body
        {
            font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
        }
        /*.sml-detail-block-outer
        {
            padding: 11px;
            background: #dedede;
            width: 251px;
            float: left;
            margin-bottom: 0px;
            border: 1px solid #b3b3b3;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -ms-border-radius: 5px;
            behavior: url(PIE.htc);
        }
        
        .sml-detail-block-outer .hd-title
        {
            padding: 5px 10px;
            background: #951F35;
            text-transform: uppercase;
            width: auto;
            float: left;
            font-size: 16px;
            font-weight: bold;
            color: #FFF;
            border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            -ms-border-radius: 5px 5px 0 0;
            behavior: url(PIE.htc);
        }
        .sml-detail-block-inner
        {
            padding: 2%;
            text-align: center;
            width: 95%;
            float: left;
            margin-bottom: 0px;
            background: #951F35;
            border-radius: 0 5px 5px 5px;
            -moz-border-radius: 0 5px 5px 5px;
            -webkit-border-radius: 0 5px 5px 5px;
            -ms-border-radius: 0 5px 5px 5px;
            behavior: url(PIE.htc);
            float: 5px;
        }
        .sml-detail-block-inner p
        {
            font-size: 13px;
            color: #fff;
            text-align: left;
        }*/
        #imagetag
        {
            width: 225px;
            height: 118px;
        }
    </style>
 
    <div class="sml-detail-block-outer">
        <div class="hd-title">
            General Information
        </div>
        <div class="sml-detail-block-inner">
         
            <img id="imagetag" runat="server" src='../images/genral-information.jpg' class="imground scale-with-grid" style="height:110px;width:320px;"
                border="0" />
            <p id="PKeyword" runat="server">
                
            </p>
        </div>
    </div>
