@charset "utf-8";
/* CSS Document */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */


@media only screen and (max-width: 480px) {
.wrapper{width:100%; margin:0 auto;}
.logo{ padding:7px 0 0 10px;  height:auto;}
	header .top-rightblock .toplink{ height:22px; background:#aaaaab;
 -webkit-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topmright: 5px;
-moz-border-radius-topleft: 5px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
-webkit-border-bottom-right-radius: 0;
-webkit-border-bottom-left-radius: 0;
-moz-border-radius-bottomright: 0;
-moz-border-radius-bottomleft: 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;

}
header .top-rightblock .call{bottom: 40px;padding: 10px;position: absolute; right: 0;width: 190px;}
header .top-rightblock .call span { font-size:14px; font-weight:bold;
  
}
nav {position:relative;}
nav .agentlogin { position:absolute; background:#2b2b2c; height:20px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; position:absolute; right:0; padding:5px; z-index:999; bottom:-28px; }

nav select{display:block; }

nav select{display:block; width:97.5%; padding:1%; margin:3% 2%; color:#000000; line-height:32px;
background: #c5456a; /* Old browsers */
background: -moz-linear-gradient(top,  #c5456a 0%, #962037 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5456a), color-stop(100%,#962037)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c5456a 0%,#962037 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c5456a 0%,#962037 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c5456a 0%,#962037 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c5456a 0%,#962037 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5456a', endColorstr='#962037',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; behavior:url(PIE.htc); position:relative;
border:1px solid #000; border:1px solid #ab2f46;

font-size:15px; font-weight:bold; }

nav ul{display:none; }

.banner {
  border-bottom: 1px solid #951F35;
  float: left;
  height: 117px;
  margin: 0;
  position: relative;
  width: 100%;
  background:#951F35;
}
.banner .caption {
  float: right;
  position: absolute;
  left: 10px;
  top: 0;
}



.content .left-content{ width:97%; padding-left:3%;}
.right-content {
  float: right;
  width: 98%; padding:0px 0 0 2%;
}

.rail-detail-block .tab-detail-in{ width:92.8%;}
.rail-detail-block .tab-detail-in .booking-block{ width:100%;}
.rail-detail-block .tab-detail-in .booking-block .imgblock{ width:40%;}
.rail-detail-block .tab-detail-in .booking-block .booking-detail{ padding-left: 2%;
    width: 57%;}
	.rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row .lt{ width:50%;}
	.rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row .rt{ width:50%;}
.left-content .country-block-outer{ width:90%;}
.left-content .country-block-inner .contory-block{width:90%;}
 .ticketbooking { width:95%; padding:3% 0 3% 3%; }
.newsletter-outer{ width:95%; padding:3% 0 3% 3%; }
.right-banner{ padding-left:3%; width:97%;}
 
.left-content .smlblock{ width:88%;}
.left-content .marg-lr{ margin:0px 0 10px 0;}
footer .wrapper {  padding: 1%;  width: 98%;}
footer .foot-col1 { padding-left: 2%;  width: 46%;}
footer .foot-col2 { padding-left: 2%; width: 93%;}

footer .bottom-section .wrapper {
 padding: 1%;  width: 98%;
}
footer .bottom-section .wrapper .f-links {
  float: left;
  width: 100%;
}
footer .bottom-section .wrapper .social-links{ width:100%; float:left;}

.nivo-caption {
	position:absolute;
	left:0px;
	top:0;
	color:#fff;
	width:95%;
	z-index:8;
	padding: 5px 10px;
	overflow: hidden;
	display: none;
}
.nivo-caption  h2 {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase; margin:0px; padding:0px;
}
.nivo-caption  p {
  color: #FFFFFF;
  font-size: 12px; margin:0px; padding:0px;
}

.nivo-controlNav {
border-bottom: 1px solid #FFFFFF;
bottom: -10px;
float: right;
padding-bottom: 12px;
position: absolute;
left: 5px;
width: 260px;
z-index: 999;
}

}