/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
@font-face {
    font-family: 'avantgarde_md_btmedium';
    src: url('../fonts/avgardm-webfont.eot');
    src: url('../fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avgardm-webfont.woff') format('woff'),
         url('../fonts/avgardm-webfont.ttf') format('truetype'),
         url('../fonts/avgardm-webfont.svg#avantgarde_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

 
*:focus{outline:none;}
body{background:url(../images/top-bg.jpg) top repeat-x; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}

.clear{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.pos-rel{position:relative;}

#container{width:100%;}
.wrapper{width:1004px; margin:0 auto;}


header{ width:100%; min-height:85px; margin-top:1px; position:relative;}
header .wrapper{position:relative;}

.logo{ float:left; padding:13px 10px;}
.logo img{float:left;}
header .top-rightblock{ float:right; padding-right:10px; position:relative;}
header .top-rightblock .toplink{ height:22px; background:#aaaaab;
border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc); padding:0 17px; font-size:11px; color:#4a4a4a;}

header .top-rightblock .toplink a{font-size:11px;   color:#4a4a4a; text-decoration:none;}

header .top-rightblock .call{ float:left;width:100%; padding:14px 0;}
header .top-rightblock .call img{ float:left;}
header .top-rightblock .call span{ float:left; font-size:18px; height:34px; line-height:34px; color:#000; padding-left:10px;}





nav{height:47px;  float:left; width:100%; border-bottom:1px solid #FFF; }
nav select{display:none; }

nav ul{padding:0 0px; width:75%; padding:13px 0 0 10px; float:left;}
nav ul li{float:left; display:inline-block; margin-right:5px;}

nav ul li a{color:#fff; line-height:32px;  border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
 behavior:url(PIE.htc); 
background: #c5456a; /* Old browsers */
background: -moz-linear-gradient(top,  #c5456a 0%, #962037 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5456a), color-stop(100%,#962037)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c5456a 0%,#962037 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c5456a 0%,#962037 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c5456a 0%,#962037 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c5456a 0%,#962037 100%); /* W3C */
-pie-background: linear-gradient(#c5456a, #962037);
 
 position:relative;
 border:1px solid #ab2f46;

font-size:15px; font-weight:bold; padding:0 15px; display:block; text-decoration:none; }

nav ul li a:hover , nav li a.active{color:#252527; line-height:32px; border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
 behavior:url(PIE.htc); 
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* W3C */
-pie-background: linear-gradient(#f6f8f9, #edeeee);

 border:1px solid #adb9c2;
 color:#931b31; padding:0 15px; display:block; text-decoration:none; }

nav .agentlogin{ float:right; padding:15px 20px 0 0; line-height:20px; height:20px; font-size:15px; font-weight:normal; color:#FFF;}
nav .agentlogin a{ color:#FFF; text-decoration:none;}
nav .agentlogin a img{ float:left; padding-right:5px;}
	
/* banner starts here */
.banner{width:100%; float:left; border-bottom:3px solid #951f35; margin:0px;  position:relative;}
/*.banner .caption{ float:right; position:absolute; right:10px; top:50px; z-index:999;}
.banner .caption h2{ font-size:30px; color:#FFF; text-transform:uppercase;} 
.banner .caption p{ font-size:12px; color:#fff;}
.banner .caption span{ float:left; width:100%; border-bottom:1px solid #FFF; padding:7px 0 8px 0;}*/
.banner img{ position:relative; z-index:0;}

/* banner ends here */







/* content part starts here */ 
.content{width:100%; float:left; margin-top:15px;}
.left-content{ width:697px; float:left; padding-left:12px;}
.left-content p{ font-size:13px; color:#4d4d4d;}
.rail-detail-block{ width:100%; float:left; padding-top:25px;}
.rail-detail-block .list-tab{ float:left; width:100%; height:36px;}
 .rail-detail-block .list-tab ul{ line-height:36px;}
  .rail-detail-block .list-tab ul li{ list-style:none; float:left; margin-right:5px;}
  .rail-detail-block .list-tab ul li a{ list-style:none; text-decoration:none; float:left; padding:0 15px; font-size:13px; color:#424242;
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* W3C */
-pie-background: linear-gradient(#f6f8f9, #edeeee);

	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
 behavior:url(PIE.htc); position:relative; 
 border:1px solid #b3b3b3; border-bottom:0px;

}

  .rail-detail-block .list-tab ul li a:hover ,  .rail-detail-block .list-tab ul li a.active{ list-style:none; float:left; padding:0 15px; color:#fff;text-decoration:none;
background: #b1085e; /* Old browsers */
background: -moz-linear-gradient(top,  #b1085e 0%, #75043d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1085e), color-stop(100%,#75043d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b1085e 0%,#75043d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b1085e 0%,#75043d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b1085e 0%,#75043d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b1085e 0%,#75043d 100%); /* W3C */
-pie-background: linear-gradient(#b1085e, #75043d);
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
 behavior:url(PIE.htc); position:relative; 
 border:1px solid #11070c; border-bottom:0px;}
 .rail-detail-block .tab-detail-in{ width:97.8%; float:left; padding:1% 1% 0 1%; margin-bottom:10px;  border:1px solid #b3b3b3;   	
 border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc); } 

   .rail-detail-block .tab-detail-in .booking-block{ width:320px; margin:5px 18px 10px 2px; padding-bottom:8px; float:left;  }
   .rail-detail-block .tab-detail-in .booking-block .imgblock{ width:111px; float:right; }
   .rail-detail-block .tab-detail-in .booking-block .imgblock img{ background:#e7e7e7; padding:4px; border:1px solid #b3b3b3; margin-bottom:5px;}
   .rail-detail-block .tab-detail-in .booking-block .booking-detail{ width:200px; padding-left:9px; float:left; }
   .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01{ width:100px; float:left; position:relative; }
   .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 .price{ position:absolute; text-align:right; line-height:15px; right:10px; top:-10px;font-size:18px;color:#951f35; }
   .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 .price span{font-size:12px;color:#951f35;  } 
   .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 img{float:left; }
   .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 img:after{ clear:both; }
   .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 h3{ font-size:15px; line-height:normal; margin:0px; color:#000; float:left; width:100%; }
   .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 h3 span{ font-size:12px; color:#000; }
   .rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 p{ font-size:10px; color:#000; float:left; width:100%; padding:0px; }
		

		
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .title{ width:100%;  float:left; padding-bottom:10px; }
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .title .lt{ font-size:15px; height:15px; line-height:15px; float:left; color:#951f35;}
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .title .lt img{ float:left ; padding-right:5px;} 
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .title .rt{ font-size:15px; float:right; height:15px; line-height:15px; color:#951f35;}
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row{ width:100%; font-size:12px;  float:left; padding-bottom:8px; color:#4d4d4d; }		
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row .lt{ width:113px;float:left;  }
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row .rt{ float:left;  }
		


.right-content{ width:277px; float:right;  padding-right:10px;}

.ticketbooking{ width:100%; float:left; padding-top:25px;}
.ticketbooking .list-tab{ float:left; width:100%; height:36px;}
 .ticketbooking .list-tab ul{ line-height:36px;}
  .ticketbooking .list-tab ul li{  list-style:none; float:left; margin-right:5px;}
  .ticketbooking .list-tab ul li a{ list-style:none; float:left; border:1px solid #b3b3b3;  border-bottom:0px; padding:0 15px; text-decoration:none; font-size:13px; color:#424242;
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* W3C */
  -pie-background: linear-gradient(#f6f8f9, #edeeee);	 
	border-radius:5px 5px 0 0 ;
	-moz-border-radius: 5px 5px 0 0 ;
	-webkit-border-radius:5px 5px 0 0 ;
	-ms-border-radius: 5px 5px 0 0; 
 behavior:url(PIE.htc); position:relative;}

  .ticketbooking .list-tab ul li a:hover ,  .ticketbooking .list-tab ul li a.active{ list-style:none; float:left; padding:0 15px;text-decoration:none; color:#fff;
background: #b1085e; /* Old browsers */
background: -moz-linear-gradient(top,  #b1085e 0%, #75043d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1085e), color-stop(100%,#75043d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b1085e 0%,#75043d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b1085e 0%,#75043d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b1085e 0%,#75043d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b1085e 0%,#75043d 100%); /* W3C */
-pie-background: linear-gradient(#b1085e, #75043d);

border:1px solid #b3b3b3; border-bottom:0px;
  	border-radius:5px 5px 0 0  ;
	-moz-border-radius: 5px 5px 0 0  ;
	-webkit-border-radius:5px 5px 0 0  ;
	-ms-border-radius: 5px 5px 0 0  ; 
 behavior:url(PIE.htc);
}
 
 .ticketbooking .tab-detail-in{  padding:11px;
  width: 251px; float:left;margin-bottom:0px;  border:1px solid #b3b3b3; 
  	border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc); 
} 
 .ticketbooking .full-row{ width:100%; float:left; padding-bottom:8px; font-size:12px; color:#4d4d4d;}

 .ticketbooking .colum01{ float:left; width:85px; height:25px; line-height:25px; padding-left:5px; }
  .ticketbooking .colum02{ float:left; width:160px; height:25px; line-height:25px;}
   .ticketbooking .colum03{ float:left; width:120px; padding-left:5px; }
      .ticketbooking .colum03 p{ font-size:12px; color:#4d4d4d; }
	  .ticketbooking .colum03 sapn{ font-size:9px; color:#acacac; }
    .ticketbooking .colum03 select{ width:100%; border:1px solid #d3d3d3; height:25px; font-size:12px; color:#4d4d4d; line-height:25px;}

  
    .ticketbooking .colum02 input[type="text"]{ width:100%; border:1px solid #d3d3d3; height:25px; font-size:12px; color:#4d4d4d; line-height:25px;}
	 
 .ticketbooking .gray-row{ width:92%; float:left; padding:2%; background:#7f7f7f; margin-left:5px; margin-bottom:10PX; border:1px solid #424242;  font-size:12px; color:#4d4d4d;  }
 .ticketbooking .gray-row .fullrow02{ border-bottom:1px solid #a1a1a1; padding-bottom:8px; margin-bottom:10px; float:left; width:100%;}

 .ticketbooking .gray-row .fullrow02 .colum01{ float:left; width:51px; height:25px;  color:#FFF; line-height:25px; padding-left:8px; }
  .ticketbooking .gray-row .fullrow02 .colum02{ float:left; width:160px; height:25px; color:#FFF; line-height:25px; padding-right:8px; }
  .inbox01{width:75px !important; margin-right:5px; float:left;  border:1px solid #d3d3d3; height:25px; font-size:12px; color:#4d4d4d; line-height:25px;}
     .slbox01{width:75px !important;  float:left;  border:1px solid #d3d3d3; height:29px; font-size:12px; color:#4d4d4d; line-height:29px;}

.newsletter-outer{ width:100%; float:left; }
.newsletter-outer .title{ padding: 0 0 0 11px;
  width: 264px;  float:left; height:46px; line-height:46px;
  	border-radius: 5px 5px 0 0 ;
	-moz-border-radius: 5px 5px 0 0 ;
	-webkit-border-radius: 5px 5px 0 0 ;
	-ms-border-radius: 5px 5px 0 0 ; 
 behavior:url(PIE.htc); 

background:#424242; font-size:18px; color:#FFFFFF; }

.newsletter-outer .newsletter-inner {
  border: 1px solid #B3B3B3;
  	border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc); 
  float: left;
  margin-bottom: 0;
  padding:11px;
  width: 251px;
}


.newsletter-outer .newsletter-inner input[type="text"] {
  border: 1px solid #adb9c2;
  height:38px; line-height:38px;
   -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; width:100%; margin-bottom:12px; font-size:13px; color:#424242;}

.right-banner{ width:100%; float:left;}


.brbotm{ border-bottom:1px dotted #b3b3b3;}
.marg-lr{ margin:0 6px;}
.br-none{ border:0px !important;}
.marg-n{ margin:0px !important;}
.f-right{ float:right !important;}
.w92{ width:92px !important;}

.left-content .smlblock{ float:left; width:208px; 
  	border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc); 

background:url(../images/sml-bottomblock-bg.jpg) repeat-x bottom;  border:1px solid #b3b3b3; padding:9px; margin-bottom:12px;  }
.left-content .smlblock img{
 border:1px solid #d3d3d3;   	border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);  margin-bottom:14px; }
.left-content .smlblock p{ padding-bottom:27px;}
.left-content .smlblock span{ float:right; background:url(../images/arr-red.jpg) no-repeat left; padding-left:10px; font-size:11px; color:#951f35;}
.left-content .smlblock span a{  color:#951f35; text-decoration:none;}
.left-content .country-block-outer{ background:#8a182f; padding:1.5%; width:97%; float:left; 
 border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc); position:relative;}
.left-content .country-block-inner{ background:#fff; width:100%; float:left; 
}


 .left-content .country-block-inner .lt-corner{ background:#8a182f;z-index:99;  text-align:center; vertical-align:middle;height:209px; width:40px; float:left; z-index:99; position:absolute; left:0px; top:0px; 
   border-radius:5px 0 0 5px ;
	-moz-border-radius: 5px 0 0 5px  ;
	-webkit-border-radius: 5px 0 0 5px  ;
	-ms-border-radius: 5px 0 0 5px  ;
 behavior:url(PIE.htc);}
 .left-content .country-block-inner .ar-con{ position:absolute; left:5px; top:100px;}
  
 .left-content .country-block-inner .rt-corner{ background:#8a182f; text-align:center; z-index:99; vertical-align:middle; height:209px; width:40px; float:left; position:absolute; right:0px; top:0px; 
   border-radius: 0 5px 5px 0  ;
	-moz-border-radius: 0 5px 5px 0  ;
	-webkit-border-radius:  0 5px 5px 0   ;
	-ms-border-radius:  0 5px 5px 0  ; 
 behavior:url(PIE.htc);}
 

.left-content .country-block-inner .contory-block{  width:143px; height:170px; float:left; 
 border:1px solid #b3b3b3;
 border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc); margin: 4px; padding:8px;}
.left-content .country-block-inner .contory-block p{ font-size:12px;}
	
.left-content .country-block-inner .contory-block img{
	 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:1px solid #d3d3d3; margin-bottom:8px; }
/*innerstart*/
.content-inner{width:97%; float:left; margin-top:9px; padding:1% 1.5%}
.breadcrumb{ width:100%; float:left; font-size:12px; padding-bottom:16px; color:#951f35; color:#4d4d4d; }
.breadcrumb a{color:#951f35; text-decoration: none; }
.innner-banner{ background:url(../images/innerbanner-borderbg.png) repeat-x bottom; margin-bottom:10px; padding-bottom:9px; position:relative; width:100%; float:left;}
.btn-austrailia{ position:absolute; left:0px; top:0px;}
.btn-conect{ position:absolute; right:0px; top:0px;}

.content-inner  ul.list { float:left; padding-bottom:25px;}
.content-inner  ul.list li { clear:left; color:#4d4d4d; font-size:13px; padding:5px 0 0 10px; background:url(../images/arr-black.jpg) no-repeat left 10px;}

.left-content ul.list { float:left; padding-bottom:25px;}
.left-content  ul.list li { clear:left; color:#4d4d4d; font-size:13px; padding:5px 0 0 10px; background:url(../images/arr-black.jpg) no-repeat left 10px;}


.map-container-title{ width:100%; background:#dfdfdf; height:40px; line-height:40px; margin-bottom:15px; font-size:17px; color:#951f35; border-top:1px dashed #757575; border-bottom:1px dashed #757575;}
.map-container-title h1{ float:left;}
.map-container-title h1 a{  color:#951f35; text-decoration:none; }
.map-container-title h1 img{ float:left; padding:5px 0 0 5px; }
.w184{ width:184px !important;}
.mar-t{ margin-top:5px;}
.information-block{ float:left; width:22.8%; 
 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:1px solid #B3B3B3; min-height:238px;  padding:5px; margin:0 12px 23px 0;   }
.information-block img{
border-radius: 5px 5px 5px 5px;
margin-bottom: 14px;}
.mar-r-none{ margin-right:0 !important;}
.padd-b{ padding-bottom:21px !important;}
.txt-red{ color:#951f35 !important; text-decoration:none;}
.smltxt{ font-size:12px !important;}
.bggray{background:#505050 !important;}
.br-right{border-right:1px solid #FFF;}
.txt-w{ color:#fff !important; }
.br-none{ border:0px !important;}
.w105{ width:105px !important;}
/*content-ends*/

/*contory-detail-start*/
.banner-right{ background:#dadada; padding:4px; margin-bottom:15px; border:1px solid #b3b3b3;}
.rail-pass-form-detail{ width:99.8%; float:left; border:1px solid #b3b3b3; margin:10px 0 20px 0;}
.rail-pass-form-detail .full-row{ width:100%; float:left ;  border-bottom:1px solid #b3b3b3;} 
.rail-pass-form-detail .first-half{ width:30%; float:left ;  } 
.rail-pass-form-detail .first-half .colum1{ width:97%; float:left ; min-height:50px; padding:1% 1% 0 2%; font-size:13px; color:#505050;} 
.rail-pass-form-detail .first-half .colum1 span{ color:#951f35 !important; }
.rail-pass-form-detail .second-half{ width:69.8%; float:left ; border-left:1px solid #b3b3b3; } 
.rail-pass-form-detail .second-half .colum1{ width:37.8%; height:25px; line-height:25px; float:left ; border-right:1px solid #b3b3b3; padding:0 1% 0 1%; font-size:13px; color:#505050;} 
.rail-pass-form-detail  .second-half .colum2{ width:27.8%;  height:25px; line-height:25px; float:left ; border-right:1px solid #b3b3b3; padding:0 1% 0 1%;font-size:13px; color:#505050;}
.rail-pass-form-detail .second-half .colum3{ width:27.7%;  height:25px; line-height:25px; float:left ;padding:0 1% 0 1%; font-size:13px; color:#505050;}
.countrylist02{}
.countrylist02 li{ width:48% !important;}
 ul.countrylist { float:left; padding-bottom:10px; width:100%;}
ul.countrylist li { float:left; color:#4d4d4d; font-size:13px; width:18%; padding:5px 0 0 10px; background:url(../images/arr-red.jpg) no-repeat left 10px;}
ul.countrylist li a { text-decoration:none; color:#4d4d4d;}



/*contory-detail-start*/

/*accomadtion*/
.slbox{
border: 1px solid #D3D3D3;
color: #4D4D4D;
font-size: 12px;
height: 25px;
line-height: 25px;
width: 100%; }
.mr-l{ margin-left:5px;}
.mr-r{ margin-right:3%;}
.w45{ width:45% !important;}
.titlebg{  background:#7f7f7f !important;}
.contact-innner {
  border: 1px solid #DFDFDF; border-top:0px;
  	border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc); 
  float: left;
  margin-bottom: 0;
  padding:11px;
  width: 251px;
   background:#DFDFDF;

}
  .imgborder{border: 1px solid #DFDFDF;
  	border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);}

.contact-innner p { padding-bottom:5px;}
.contact-innner p  img{ vertical-align:middle;}

/*contactus*/
.formblock{ float:left; width:35%;}
.formblock .in-box{ float:left; width:97.8%;
		border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc); text-indent:5px; padding:0.5%; margin-top:12px; height:36px; line-height:36px; border:1px solid #d6d6d6; font-size:13px; color:#717171;}
 
.formblock .txtarea-box{ float:left;  	
border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);text-indent:5px; width:97.8%; padding:0.5%; margin:12px 0; min-height:70px; border:1px solid #d6d6d6; font-size:13px; color:#717171;}
 
.address-block{ float:left; width:30%; padding:0 1%;}
.address-block .fullrow{ padding:12px 0 0 0; float:left; margin:0px; font-size:13px; color:#717171;}
.address-block .fullrow .imgblock{ padding:10px; height:20px; float:left; text-align:center;
 border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);  border:1px solid #d6d6d6; margin-right:10px; }
.address-block .fullrow  span{ font-size:13px;  color:#717171; height:40px; line-height:40px;}
.address-block .fullrow .inline{ line-height:normal; !important;}

.map-block{ float:left; width:31%; margin-top:12px; padding:5px;
  border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc) ;
background:#dedede;  border:1px solid #d6d6d6;}
/*contactus end*/

/*aboutus*/

.sml-detail-block-outer{  padding:11px; background:#dedede;
  width: 251px; float:left;margin-bottom:0px;  border:1px solid #b3b3b3; 
  	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-ms-border-radius: 5px ; 
 behavior:url(PIE.htc); 
  
} 

.sml-detail-block-outer .hd-title{  padding:5px 10px; background:#951F35; text-transform:uppercase;
  width: auto; float:left; font-size:16px; font-weight:bold; color:#FFF;
  	border-radius:5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0 ; 
 behavior:url(PIE.htc); 
  
} 
.imground{border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-ms-border-radius: 5px ; 
 behavior:url(PIE.htc);}

.sml-detail-block-inner{  padding:2%; text-align:center;
  width: 96%; float:left; margin-bottom:0px; background:#951F35;  
  	border-radius:0 5px 5px 5px; 
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius:0 5px 5px 5px;
	-ms-border-radius: 0 5px 5px 5px ; 
 behavior:url(PIE.htc); float:5px; 
  
} 
.sml-detail-block-inner p{ font-size:13px; color:#fff; margin:0px; text-align:left;  padding:10px 0 10px 0;}
.sml-detail-block-inner  p a{ color:#fff; text-decoration:none;}

/*aboutus ends*/

/*privacypolicy*/

.privacy-block-outer{ float:left; width:100%; margin-bottom:10px;} 
.privacy-block-outer .hd-title{ float:left; width:98%; cursor:pointer; padding:1%; position:relative;  	
border-radius:5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius: 5px;
 behavior:url(PIE.htc); float:5px; color:#FFFFFF;  background:#5e5e5e; font-size:16px; line-height:20px; height:20px;} 
  .privacy-block-outer .hd-title .icon{ position:absolute; right:5px; top:5px; }
  
  
.privacy-block-outer .discription-block{ float:left; width:98%; margin-top:-2px; padding:1%;  	
border-radius:0 0 5px 5px; 
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;;
	-ms-border-radius: 0 0 5px 5px;
 behavior:url(PIE.htc); float:left;  background:#eaeaea;} 

/*privacypolicy end*/
/*railpass start*/
.marg-b{ margin-bottom:15px;}
.marg-tb{ margin:5px 0;}
.innertab{ width:100%; float:left; margin:0px; padding:0px;}
.innertab li{ float:left; list-style:none; position:relative;}
.innertab li a{ float:left; background:#fff; color:#333; text-decoration:none; font-size:14px; font-weight:bold; list-style:none; height:20px; margin:0 2px 0 0; padding:5px 15px; border-radius:5px 5px 0 0 ; 
	-moz-border-radius:5px 5px 0 0 ;
	-webkit-border-radius:5px 5px 0 0 ;
	-ms-border-radius: 5px 5px 0 0 ;
 behavior:url(PIE.htc)}
 .innertab li a span{ position:absolute; right:8px; top:5px; font-size:10px; color:#333333;}
 
 .innertab li a:hover, .innertab li a.active{ float:left; background:#DEDEDE; color:#2f2f2f; text-decoration:none; font-size:14px; font-weight:bold; list-style:none; height:20px; margin:0 2px 0 0; padding:5px 15px; border-radius:5px 5px 0 0 ; 
	-moz-border-radius:5px 5px 0 0 ;
	-webkit-border-radius:5px 5px 0 0 ;
	-ms-border-radius: 5px 5px 0 0 ;
 behavior:url(PIE.htc)}
 
 
 .radius-block{ border-radius: 0 5px 5px 5px !important; 
	-moz-border-radius:0 5px 5px 5px !important;
	-webkit-border-radius:0 5px 5px 5px !important ;
	-ms-border-radius: 0 5px 5px 5px !important;
 behavior:url(PIE.htc)}
 
 .country-block-inner table { width:100%;}
   .country-block-inner table tr { padding-bottom:10px;}
  .country-block-inner table tr th { background:#dedede; border-right:1px solid #fff; font-size:14px; color:#2f2f2f;  height:30px; vertical-align:middle;}
    .country-block-inner table tr td { font-size:13px;border-right:1px solid #dedede; border-top:1px solid #dedede; color:#686868; height:20px; padding:5px 0; vertical-align:middle; margin:5px 0;  text-align:center;}
.detail-hints{ float:left; width:100%; padding:10px 0 0 0;}
 .detail-hints p{ font-size:13px; float:left;  border:1px dashed #d65872; margin:5px; position:relative; padding:1% 3%;  color:#FFFFFF;}
  .detail-hints p span{ font-size:11px; font-weight:bold; color:#fff; position:absolute; left:10px; top:0px;}
 
 .calculation-detail{ float:right; width:200px; margin-top:2px; padding:10px 60px 0 10px; background:#FFFFFF;}
  .calculation-detail .colum-name{ width:50%; float:left; height:30px; line-height:30px; font-size:14px; color:#333;}
   .calculation-detail .colum-price{ width:50%; text-align:right; float:left; height:30px; line-height:30px; font-size:14px; color:#333;}
   .br-btm{ border-bottom:1px solid #333; float:left; height:2px; width:100%;}
/*railpass end*/


/*footer starts here */ 

footer{background:#424242 url(../images/footer-bg.png) top repeat-x; margin-top:10px !important; }
footer .wrapper{padding:20px 12px; width:976px;}
footer .foot-col1{width:13%; float:left; padding-right:2%;}
footer .foot-col1 h3{ font-size:15px; color:#FFFFFF; padding-bottom:0; margin:0px;}
footer .foot-col1 ul { float:left;}
footer .foot-col1 ul li{ float:left; width:100%;}
footer .foot-col1 ul li a{ float:left; font-size:13px; background:url(../images/arr-white.png) no-repeat 0 10px; color:#aeaeae; text-decoration:none;
 padding:5px 0 0 10px;}
 
 footer .foot-col2{width:19%; float:left; padding-right:2%;}
footer .foot-col2 h3{ font-size:15px; color:#FFFFFF; padding-bottom:0; margin:0px;}
footer .foot-col2 ul { float:left;}
footer .foot-col2 ul li{ float:left; width:100%;}
footer .foot-col2 ul li a{ float:left; font-size:13px; background:url(../images/arr-white.png) no-repeat 0 10px; color:#aeaeae; text-decoration:none;
 padding:5px 0 0 10px;}

footer .bottom-section{ width:100%; border-top:1px solid #4d4d4d; padding:16px 0 21px 0; background:#242424 url(../images/footer--bottom-bg.png) repeat-x bottom;}
footer .bottom-section .wrapper{padding:0 12px; width:976px;}
footer .bottom-section .wrapper .f-links{ width:75%; float:left;}
footer .bottom-section .wrapper .f-links p{ padding:0px; margin:0px; font-size:13px; color:#fff; padding-bottom:10px; }
footer .bottom-section .wrapper .f-links p a{ color:#FFFFFF; text-decoration:none;}

footer .bottom-section .wrapper .f-links span{ padding:0px;margin:0px; font-size:11px; color:#fff; float:left; }
footer .bottom-section .wrapper .social-links{  float:right;   width:25%; }
footer .bottom-section .wrapper .social-links p{ font-size:17px; color:#FFF; margin:0px; padding:0px 0 10px 0;}
footer .bottom-section .wrapper .social-links img{ float:left; padding-right:5px;}




/* Nicolas Gallagher's micro clearfix */
.wrapper, nav, .content-box, .box-content, .box-container, .c-box .box-bottom ul.icon, footer ul.footlinks, .box-container, .obox-container, .innerbox, .form{ *zoom: 1; }
.wrapper:before, .wrapper:after, nav:before, nav:after, .toppanel:before, .toppanel:after, .content-box:before, .content-box:after, .box-content:before, .box-content:after, .box-container:before, .box-container:after, .footrow:before, .footrow:after, .ts-display-pf-text:before, .ts-display-pf-text:after, .ts-display-pf-img:before, .ts-display-pf-img:after, .c-box .box-bottom ul.icon:before, .c-box .box-bottom ul.icon:after, footer ul.footlinks:before, footer ul.footlinks:after, .box-container:before, .box-container:after, .obox-container:before, .obox-container:after, .innerbox:before, .innerbox:after, .form:before, .form:after{content:""; display:table;}
.wrapper:after, nav:after, .toppanel:after, .content-box:after, .box-content:after, .box-container:after, .footrow:after, .c-box .box-bottom ul.icon:after, footer ul.footlinks:after, .box-container:after, .obox-container:after, .innerbox:after, .form:after{clear:both;}

/* Nicolas Gallagher's micro clearfix end */




/* Don't use native buttons on iOS */
input[type=submit].button, button.button { -webkit-appearance: none; }
.select-menu, .select, .footselect, .foot-select {
    display: none;
}




/*CSS FOR SPECIAL TRAINS PAGE*/
.count{width:160px; float:left; margin-right:14px;}
.count .hd-ttl{ float:left; width:94%; cursor:pointer; padding:2% 3%; position:relative;  	
border-radius:5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius: 5px;
 behavior:url(PIE.htc); float:5px; color:#FFFFFF;  background:#5e5e5e; font-size:14px; line-height:20px; height:20px;}
.count .discription-block{ float:left; width:92%; margin-top:-2px; padding:2% 4%;  	
border-radius:0 0 5px 5px; 
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;;
	-ms-border-radius: 0 0 5px 5px;
 behavior:url(PIE.htc); float:left;  background:#eaeaea;} 
 
.count ul{margin:0px; padding:0px;}
.count ul li{ color:#4d4d4d; font-size:13px; padding:5px 0 0 10px; background:url(../images/arr-red.jpg) no-repeat left 10px;}
.count ul li a { text-decoration:none; color:#4d4d4d;}

