  .starail-Header-contact-phone {
    color: #fd3800 !important;
    font-size: 1.78571rem !important;
    line-height: 1.2 !important;
    font-family: 'Trebuchet MS' , tahoma, arial, sans-serif !important;
    margin: 0px 0px 5px !important;
    margin: 0 0 0.35714rem !important;
  
}
.starail-Header-contact-title {
    text-transform: uppercase  !important;
    font-size: 1rem  !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif  !important;
    font-weight: bold  !important;
    margin: 0px 0px 2px  !important;
    margin: 0 0 0.14286rem !important;
}

.editbtn1 {
    left: 40px;
    position: absolute;
    top: 156px;
    z-index: 999;
}

.editbtn2 {
    position: absolute;
    right: 475px;
    top: 218px;
    z-index: 999;
}

.editbtn3 {
    left: 448px;
    position: absolute;
    z-index: 999;
    top: 366px;
}

.edit-btn {
    background: #c5456a url("../img/icon-edit.png") no-repeat scroll 10px 5px;
    border: medium none;
    border-radius: 0 !important;
    box-shadow: 3px 3px 3px 0 #000000;
    color: #ffffff !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    padding: 6px 15px 5px 35px;
    width: 70px;
}

.editbtn4 {
    position: absolute;
    right: 37px;
    z-index: 999;
    top: 460px;
}

.editbtn5 {
    left: 32px;
    position: absolute;
    top: 417px;
    z-index: 999;
}

.editbtn6 {
    left: 434px;
    position: absolute;
    top: 17px;
    z-index: 999;
}

.editbtn7 {
    left: 20px;
    position: absolute;
    top: 65px;
    z-index: 999;
}


/*contact-txt*/

.fullrow:before, .fullrow:after{ content:""; display:table;}
.fullrow:after{ clear:both;}

.contact-img{ width:389px !important; float:left; margin-right:15px;}
.contact-img img{ width:100%;}
.contact-txt{ overflow:hidden; width:auto !important;}

.box1, .box2, .box3, .con-txt{ position:relative;   padding-top: 15px;}
.box1 .clsAbs{ left: 0;position: absolute;top: 4px;}
.box1 .fullrow{ display:inline-block;} 
.box1 .pTop5{ width:30px; float:left; margin-top:20px;}
.con-txt .clsAbs {left: 50px;position: absolute; top: -10px;}
.cont-img{ width:30px; float:left;}
.con-txt{ width:260px; float:left; line-height:1; padding-top:20px;font-size:14px;}
.con-txt a{ line-height:18px;}

.box2 .cont-img .clsAbs{  left: 0;position: absolute; top: 3px; }
.box2 .cont-img .pTop5{ padding-top:22px;}
.box2 .con-txt{ padding-top:22px; }
.box3 .cont-img .clsAbs{  left: 0;position: absolute; top: 3px; }
.box3 .cont-img .pTop5{ padding-top:22px;}
.box3 .con-txt{ padding-top:22px; }
.box3 .con-txt #Label3 { font-size:14px;}

