

@font-face {
    font-family: 'titillium_webbold';
    src: url('../fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_webregular';
    src: url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_websemibold';
    src: url('../fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/Tahoma.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Tahoma.woff') format('woff'),
  url('../fonts/Tahoma.ttf')  format('truetype'),
  url('../fonts/Tahoma.svg#Tahoma') format('svg');
  font-weight: normal;
  font-style: normal;
}


body { margin: 0; padding: 0;  font-family: 'Tahoma'; font-size: 14px; }
    .oops-page { display: block; height: 100vh; }
    .table-view { display: table; width: 100%; height: 100%; }
    .table-cell-view { display: table-cell; height: 100%; vertical-align: middle; text-align: center; }
    .red-text {  color:#e6462e; }
    .blue-text { color: #0065bd; }
    .op-wrapper {  display: inline-block; text-align: center; width: 815px; padding: 30px; border: 1px solid #979797; }
    .op-wrapper img { margin-bottom: 10px; width: 122px; height: 122px; }
    .op-wrapper h1 { font-size: 46px; font-family: 'titillium_websemibold'; margin-bottom: 50px;}
    .op-wrapper p { font-size: 21px; font-family: 'titillium_websemibold'; margin-bottom: 10px;}
    .op-wrapper span { display: block; margin-bottom: 10px; }
    .ctc-btn { display: block; text-align: center; padding-top: 70px;}
    .ctc-btn a { display: inline-block; padding: 12px 20px; font-family: 'titillium_webbold'; font-size: 14px; text-transform: uppercase; letter-spacing: 1px; text-decoration: none; color: #1b365d; margin:0 5px;  }
    .op-wrapper a:hover { color: #000000; text-decoration: none; }
    .ctc-btn a.bordered-btn { border: 1px solid #1b365d; color: #1b365d; background: transparent; }
    .ctc-btn a.green-btn {color: #1b365d; background: #bed600; border: 1px solid #bed600; }
    .ctc-btn a:hover { color: #000; }
        .margin-btn { margin-bottom: 0; }


@media only screen and (max-width: 767px) {
    .op-wrapper {  display:block; width: auto; border: none; }
    .op-wrapper h1 { font-size: 36px;}
    .ctc-btn {bottom: 30px; display: block; left: 30px; padding-top: 70px; position: fixed; right: 30px; text-align: center; }
    .margin-btn { margin-bottom: 30px !important; }
    .ctc-btn a { display: block; }
    .table-view, .table-cell-view { display: block; width: 100%; }
}

/*     @media only screen and (max-width: 992px) {
        .op-wrapper h1 { font-size: 7em; }
    }

    @media only screen and (max-width: 700px) {
    .op-wrapper { width: 85%; }
    .op-wrapper h1 { font-size: 6em; }
    .op-wrapper p { font-size: 18px; }
    .op-wrapper a { font-size: 13px; }
    }
    @media only screen and (max-width: 400px) {
    .op-wrapper { width: 100%; }
    .op-wrapper h1 { font-size: 4em; }
    .op-wrapper p { font-size: 16px; }
    } */