@font-face
{
	font-family: 'avantgarde_md_btmedium';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/avgardm-webfont.eot');
	src: url('../fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
 url('../../fonts/avgardm-webfont.woff') format('woff'),
 url('../../fonts/avgardm-webfont.ttf') format('truetype'),
 url('../../fonts/avgardm-webfont.svg#avantgarde_md_btmedium') format('svg');
}
.header {
    margin: 0 auto !important;
    width: 1004px !important;
}

h1
{
	color: #0065BD!important;
}
h1, h2, h3
{
	text-transform: none!important;
}
.divPrice
{
	text-align: center;
	width: 99%;
}
.float-lt
{
	float: left;
}
.float-rt
{
	float: right;
}
img
{
	border: 0px !important;
}
.clsMrgTop10
{
	float: left;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}
 .ts-prev,
.ts-next{
position:absolute;
background-color:#0065BD;
cursor:pointer;
}
  
.dvPopupHead
{
	background: #0065BD;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #fff;
	float: left;
	line-height: 25px;
	padding-right: 5px;
	text-align: right;
	width: 100%;
}
.dvPopupTxt
{
	float: left;
	padding-left: 15px;
	width: 100px;
}
.modalBackground
{
	background-color: #000;
	bottom: 0px;
	filter: alpha(opacity=50);
	float: left;
	left: 0px;
	margin: 0;
	opacity: 0.5;
	overflow: hidden;
	padding: 0;
	position: fixed;
	right: 0px;
	text-align: center;
	top: 0px;
	z-index: 101;
}
.popup
{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 25px 5px #999;
	color: #111;
	max-height: 485px;
	min-height: 85px;
	overflow-y: auto;
	padding: 25px;
	width: 955px;
}
.popuHeading
{
	background: #0065BD;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #fff;
	float: left;
	line-height: 25px;
	padding-right: 5px;
	text-align: right;
	width: 100%;
}
.flashmap-country-drop
{
	display: none!important;
}
*:focus
{
	outline: none;
}
body
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif!important;
}
.clear
{
	clear: both;
}
.pos-rel
{
	position: relative;
}
#container
{
	width: 100%;
}
.wrapper
{
	margin: 0 auto;
	width: 1004px;
}
header
{
	margin-top: 1px;
	min-height: 85px;
	position: relative;
	width: 100%;
}
header .wrapper
{
	position: relative;
}
.logo
{
	float: left;
	padding: 13px 10px;
}
.logo img
{
	float: left;
}
header .top-rightblock
{
	float: right;
	padding-right: 10px;
	position: relative;
}
header .top-rightblock .toplink
{
	background: #aaaaab;
	behavior: url(PIE.htc);
	border-radius: 0 0 5px 5px;
	color: #4a4a4a;
	float: right;
	font-size: 11px;
	height: 22px;
	moz-border-radius: 0 0 5px 5px;
	ms-border-radius: 0 0 5px 5px;
	padding: 0 17px;
	webkit-border-radius: 0 0 5px 5px;
}
header .top-rightblock .toplink a
{
	color: #4a4a4a;
	font-size: 11px;
	text-decoration: none;
}
header .top-rightblock .call
{
	float: right;
	padding: 14px 0;
	width: 230px;
}
header .top-rightblock .call img
{
	float: right;
}
header .top-rightblock .call span
{
	color: #000;
	float: right;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	padding-left: 10px;
}
header .top-rightblock .call span a
{
	color: #000;
	text-decoration: none;
}
header .top-rightblock .welcomeuser
{
	color: #0065BD;
	float: left;
	line-height: 60px;
}
header .top-rightblock .welcomeuser span
{
	color: #0065BD;
}
nav
{
	border-bottom: 1px solid #FFF;
	float: left;
	height: 47px;
	width: 100%;
}
nav select
{
	display: none;
}
nav ul
{
	float: left;
	padding: 0 0px;
	padding: 12px 0 0 0;
}
nav ul li
{
	display: inline-block;
	float: left;
	margin-right: 5px;
}
nav ul li a
{
    top: -1px;
    behavior: url(PIE.htc);
	background: url(../../images/btn-bluebtnbg.png) repeat-x;
	background-size:1px 33px;
	border: 1px solid #076cc7;
	border-radius: 5px 5px 0 0;
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: bold;
	line-height: 33px;
	moz-border-radius: 5px 5px 0 0;
	ms-border-radius: 5px 5px 0 0;
	padding: 0 15px;
	pie-background: linear-gradient(#7ac1ff, #076cc7);
	position: relative;
	text-decoration: none;
	webkit-border-radius: 5px 5px 0 0;
}
nav ul li a:hover , nav li a.active
{
	background: #f6f8f9;
	background: linear-gradient(to bottom, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
	background: -moz-linear-gradient(top, #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%);
	background: -ms-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
	background: -o-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee));
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
	behavior: url(PIE.htc);
	border: 1px solid #adb9c2;
	border-radius: 5px 5px 0 0;
	color: #076cc7;
	color: #252527;
	display: block;
	line-height: 33px;
	moz-border-radius: 5px 5px 0 0;
	ms-border-radius: 5px 5px 0 0;
	padding: 0 15px;
	pie-background: linear-gradient(#f6f8f9, #edeeee);
	text-decoration: none;
	webkit-border-radius: 5px 5px 0 0;
}
nav .agentlogin
{
	color: #FFF;
	float: right;
	font-size: 15px;
	font-weight: normal;
	padding: 10px 20px 0 0;
}
nav .agentlogin a
{
	color: #FFF;
	text-decoration: none;
}
nav .agentlogin a p
{
	color: #FFF;
	float: left;
	margin: 0px;
	padding: 5px 0 0 0;
	text-decoration: none;
}
nav .agentlogin a img
{
	float: left;
	padding-right: 5px;
}
.banner
{
	border-bottom: 3px solid #0065BD;
	float: left;
	margin: 0px;
	position: relative;
	width: 100%;
}
.banner img
{
	height: 176px;
	position: relative;
	z-index: 0;
}
.content
{
	float: left;
	margin: 15px 0 0 0!important;
	width: 100%!important;
}
.left-content
{
    font-size: 13px;
	float: left;
	padding-left: 12px;
	width: 697px;
}
.left-content p
{
	color: #4d4d4d;
	font-size: 13px !important;
}
.rail-detail-block
{
	/*float: left; width: 100%;*/
	margin-bottom: 10px;
	padding-top: 25px;
	
}
.rail-detail-block .list-tab
{
	/*float: left; width: 100%;*/
	height: 35px;
	
}
.rail-detail-block .list-tab ul
{
	line-height: 36px;
}
.rail-detail-block .list-tab ul li
{
	float: left;
	list-style: none;
	margin-right: 5px;
}
.rail-detail-block .list-tab ul li a
{
	background: #f6f8f9;
	background: linear-gradient(to bottom, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
	background: -moz-linear-gradient(top, #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%);
	background: -ms-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
	background: -o-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee));
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%);
	behavior: url(PIE.htc);
	border: 1px solid #b3b3b3;
	border-bottom: 0px;
	border-radius: 5px 5px 0 0;
	color: #424242;
	float: left;
	font-size: 13px;
	list-style: none;
	moz-border-radius: 5px 5px 0 0;
	ms-border-radius: 5px 5px 0 0;
	padding: 0 15px;
	pie-background: linear-gradient(#f6f8f9, #edeeee);
	position: relative;
	text-decoration: none;
	webkit-border-radius: 5px 5px 0 0;
}
.rail-detail-block .list-tab ul li a:hover , .rail-detail-block .list-tab ul li a.active
{
	background: #4a92f7;
	background: linear-gradient(to bottom, #4a92f7 0%,#0047ab 100%);
	background: -moz-linear-gradient(top, #4a92f7 0%, #0047ab 100%);
	background: -ms-linear-gradient(top, #4a92f7 0%,#0047ab 100%);
	background: -o-linear-gradient(top, #4a92f7 0%,#0047ab 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a92f7), color-stop(100%,#0047ab));
	background: -webkit-linear-gradient(top, #4a92f7 0%,#0047ab 100%);
	behavior: url(PIE.htc);
	border: 1px solid #11070c;
	border-bottom: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
	float: left;
	list-style: none;
	moz-border-radius-topleft: 5px;
	moz-border-radius-topright: 5px;
	padding: 0 15px;
	pie-background: linear-gradient(#4a92f7, #0047ab);
	position: relative;
	text-decoration: none;
	webkit-border-top-left-radius: 5px;
	webkit-border-top-right-radius: 5px;
}
.rail-detail-block .tab-detail-in
{
	behavior: url(PIE.htc);
	border: 1px solid #b3b3b3;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
	/*float: left; width: 100%;*/
	margin-bottom: 10px;
	-moz-border-radius: 0 0 5px 5px;
	-moz-box-sizing: border-box;
	ms-border-radius: 0 0 5px 5px;
	padding: 1% 0% 0 1%;
	webkit-border-radius: 0 0 5px 5px;
	
}
.tab-detail-in .left-content{float:none; width:auto; padding-left:5px;}
/*
.rail-detail-block .tab-detail-in .booking-block
{
	background: #efefef;
	box-sizing: border-box;
	float: left;
	margin: 0 5px 8px 0;
	moz-box-sizing: border-box;
	padding: 5px 5px 10px 2px;
	width: 332px;
}
.rail-detail-block .tab-detail-in .booking-block .imgblock
{
	float: right;
	width: 116px;
}
.rail-detail-block .tab-detail-in .booking-block .imgblock img
{
	background: #e7e7e7;
	border: 1px solid #b3b3b3;
	margin-bottom: 5px;
	padding: 4px;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail
{
	float: left;
	padding-left: 9px;
	width: 200px;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01
{
	float: left;
	padding-top: 10px;
	position: relative;
	width: 94px;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01.colum011
{
	width: 90px;
}
*/
.rail-detail-block .tab-detail-in .booking-block {
 background: #efefef;
 box-sizing: border-box;
 float: left;
 margin: 0 5px 8px 0;
 moz-box-sizing: border-box;
 padding: 5px 5px 10px 2px;
 width: 332px;
 min-height:170px;max-height: 170px;
 }

.rail-detail-block .tab-detail-in .booking-block .booking-detail {
  float: left;
  padding-left: 9px;
  width: 290px;
  max-height: 110px;min-height: 110px; 
  }

.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 {
   float: left;
   padding-top: 10px;
   position: relative;
   width: 94px;
   }

.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01.colum011 {width: 160px;}

.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 .price
{
	color: #0065BD;
	font-size: 14px;
    font-weight: bold;
	line-height: 15px;
	position: absolute;
	right: -17px;
	text-align: right;
	top: 6px;
}

/*
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 .price
{
	color: #0065BD;
	font-size: 12px;
    font-weight: bold;
	line-height: 15px;
	position: absolute;
	right: -17px;
	text-align: right;
	top: 6px;
}*/
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 .price span
{
	color: #0065BD;
	font-size: 12px;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 img
{
	float: left;
	padding-bottom: 10px;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 img:after
{
	clear: both;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 h3
{
	color: #000;
	float: left;
	font-size: 14px;
	line-height: normal;
	margin: 0px;
	width: 100%;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 h3 span
{
	color: #000;
	font-size: 12px;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 p
{
	color: #000;
	float: left;
	font-size: 10px;
	padding: 0px;
	width: 100%;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .title
{
	float: left;
	padding-bottom: 10px;
	width: 100%;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .title .lt
{
	color: #0065BD;
	float: left;
	font-size: 15px;
	height: 15px;
	line-height: 15px;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .title .lt img
{
	float: left;
	padding-right: 5px;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .title .rt
{
	color: #0065BD;
	float: right;
	font-size: 15px;
	height: 15px;
	line-height: 15px;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row
{
	color: #4d4d4d;
	float: left;
	font-size: 12px;
	padding-bottom: 8px;
	width: 100%;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row .lt
{
	float: left;
	width: 113px;
}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row .rt
{
	float: left;
}
.right-content
{
	float: right;
	padding-right: 10px;
	width: 277px;
}
.ticketbooking
{
	float: left;
	padding-top: 25px;
	width: 100%;
	
}
.ticketbooking .list-tabb
{
	float: left;
	height: 36px;
	width: 100%;
}
.ticketbooking .list-tab ul
{
	line-height: 36px!important;
}
.ticketbooking .list-tab ul li
{
	float: left;
	line-height: 36px!important;
	list-style: none;
	margin-right: 5px;
}
.ticketbooking .list-tab ul li a
{
	background: url(../../images/btn-bluebtnbg.png) repeat-x;
	background-size: 1px 33px;
	behavior: url(PIE.htc);
	border: 1px solid #076cc7;
	border-bottom: 0px !important;
	border-radius: 5px 5px 0 0 !important;
	color: #fff;
	float: left;
	font-size: 13px;
	line-height: 32px;
	list-style: none;
	moz-border-radius: 5px 5px 0 0 !important;
	ms-border-radius: 5px 5px 0 0 !important;
	padding: 0 15px;
	padding-bottom: 0px !important;
	pie-background: linear-gradient(#7ac1ff, #076cc7) !important;
	position: relative;
	text-decoration: none;
	webkit-border-radius: 5px 5px 0 0 !important;
}
.ticketbooking .list-tab ul li a:hover , .ticketbooking .list-tab ul li a.active
{
	background: #f6f8f9 !important;
	background: linear-gradient(to bottom, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
	background: -moz-linear-gradient(top, #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100% ) !important;
	background: -ms-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
	background: -o-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee)) !important;
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
	behavior: url(PIE.htc);
	border: 1px solid #B3B3B3 !important;
	border-bottom: 0px !important;
	border-radius: 5px 5px 0 0 !important;
	color: #076CC7 !important;
	color: #076CC7;
	float: left;
	font-size: 13px !important;
	line-height: 32px;
	list-style: none;
	moz-border-radius: 5px 5px 0 0 !important;
	ms-border-radius: 5px 5px 0 0 !important;
	padding: 0 15px;
	padding-bottom: 0px !important;
	pie-background: linear-gradient(#f6f8f9, #edeeee);
	text-decoration: none;
	webkit-border-radius: 5px 5px 0 0 !important;
}
.ticketbooking .tab-detail-in
{
	background: #efefef;
	behavior: url(PIE.htc);
	border: 1px solid #b3b3b3;
	border-radius: 0 0 5px 5px;
	float: left;
	margin-bottom: 0px;
	moz-border-radius: 0 0 5px 5px;
	ms-border-radius: 0 0 5px 5px;
	padding: 11px 11px 11px 7px;
	webkit-border-radius: 0 0 5px 5px;
	width: 255px;
}
.on-focusdiv
{
	background: #ECFFFF!important;
	border: 1px solid #076cc7 !important;
}
.ticketbooking .full-row
{
	color: #4d4d4d;
	float: left;
	font-size: 12px;
	padding-bottom: 8px;
	width: 100%;
}
.ticketbooking .full-row.depart-cal
{
}
.ticketbooking .full-row.depart-cal .inbox01
{
	padding: 2px;
	width: 67px !important;
}
.ticketbooking .full-row.depart-cal .ui-datepicker-trigger
{
	float: left;
	height: 21px;
	margin-right: 3px;
	margin-top: 3px;
	width: 20px;
}
.ticketbooking .full-row.depart-cal .slbox01
{
	width: 64px !important;
}
.ticketbooking .full-row.depart-cal .tdisabled input[type="text"]
{
	border: 1px solid #D3D3D3;
	border-radius: 0;
	color: #4D4D4D;
	float: left;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	margin-right: 5px;
	moz-border-radius: 0;
	ms-border-radius: 0;
	o-border-radius: 0;
	padding: 2px;
	webkit-border-radius: 0;
	width: 67px !important;
}
.ticketbooking .full-row.depart-cal .tdisabled select
{
	border: 1px solid #D3D3D3;
	border-radius: 0;
	float: left;
	font-size: 12px;
	height: 31px;
	line-height: 31px;
	margin-right: 0;
	moz-border-radius: 0;
	ms-border-radius: 0;
	o-border-radius: 0;
	padding: 5px 3px;
	webkit-border-radius: 0;
	width: 64px !important;
}
.ticketbooking .colum01
{
	float: left;
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	width: 85px;
}
.ticketbooking .colum02
{
	float: left;
	height: 25px;
	line-height: 25px;
	width: 160px;
}
.ticketbooking .colum03
{
	float: left;
	padding-left: 5px;
	width: 120px;
}
.ticketbooking .colum03 p
{
	color: #4d4d4d;
	font-size: 12px;
}
.ticketbooking .colum03 sapn
{
	color: #acacac;
	font-size: 9px;
}
.ticketbooking .colum03 select
{
	border: 1px solid #d3d3d3;
	color: #4d4d4d;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	padding: 3px;
	width: 100%;
}
.ticketbooking .colum02 input[type="text"]
{
	border: 1px solid #d3d3d3;
	color: #4d4d4d;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	width: 100%;
}
.ticketbooking .gray-row
{
	background: #7f7f7f;
	border: 1px solid #424242;
	color: #4d4d4d;
	float: left;
	font-size: 12px;
	margin-bottom: 10PX;
	margin-left: 5px;
	padding: 2%;
	width: 92%;
}
.ticketbooking .gray-row .fullrow02
{
	border-bottom: 1px solid #a1a1a1;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 8px;
	width: 100%;
}
.ticketbooking .gray-row .fullrow02 .colum01
{
	color: #FFF;
	float: left;
	height: 25px;
	line-height: 25px;
	padding-left: 8px;
	width: 51px;
}
.ticketbooking .gray-row .fullrow02 .colum02
{
	color: #FFF;
	float: left;
	height: 25px;
	line-height: 25px;
	padding-right: 8px;
	width: 160px;
}
.inbox01
{
	border: 1px solid #d3d3d3;
	color: #4d4d4d;
	float: left;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	margin-right: 3px;
	width: 78px !important;
}
.slbox01
{
	border: 1px solid #d3d3d3;
	color: #4d4d4d;
	float: left;
	font-size: 12px;
	height: 31px;
	line-height: 29px;
	padding: 5px 3px;
	width: 72px !important;
}
.slbox-big
{
	border: 1px solid #d3d3d3;
	color: #4d4d4d;
	float: left;
	font-size: 12px;
	height: 29px;
	line-height: 29px;
	padding: 3px;
	width: 142px;
}
.slbox-sml
{
	border: 1px solid #d3d3d3;
	color: #4d4d4d;
	float: left;
	font-size: 12px;
	height: 29px;
	line-height: 29px;
	padding: 3px;
}
.newsletter-outer
{
	float: left;
	width: 100%;
}
.newsletter-outer .title
{
	background: #424242;
	behavior: url(PIE.htc);
	border-radius: 5px 5px 0 0;
	color: #FFFFFF;
	float: left;
	font-size: 18px;
	height: 46px;
	line-height: 46px;
	moz-border-radius: 5px 5px 0 0;
	ms-border-radius: 5px 5px 0 0;
	padding: 0 0 0 11px;
	webkit-border-radius: 5px 5px 0 0;
	width: 264px;
}
.newsletter-outer .newsletter-inner
{
	behavior: url(PIE.htc);
	border: 1px solid #B3B3B3;
	border-radius: 0 0 5px 5px;
	float: left;
	margin-bottom: 0;
	moz-border-radius: 0 0 5px 5px;
	ms-border-radius: 0 0 5px 5px;
	padding: 11px;
	webkit-border-radius: 0 0 5px 5px;
	width: 251px;
}
.newsletter-outer .newsletter-inner input[type="text"]
{
	border: 1px solid #adb9c2;
	border-radius: 5px;
	color: #424242;
	font-size: 13px;
	height: 38px;
	line-height: 38px;
	margin-bottom: 12px;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
	width: 100%;
}
.right-banner
{
	float: left;
	width: 100%;
}
.brbotm
{
	border-bottom: 1px dotted #b3b3b3;
}
.marg-lr
{
	margin: 0 6px;
}
.br-none
{
	border: 0px !important;
}
.marg-n
{
	margin: 0px !important;
}
.f-right
{
	float: right !important;
}
.w92
{
	width: 92px !important;
}
.left-content .smlblock
{
	background: url(../../images/sml-bottomblock-bg.jpg) repeat-x bottom;
	behavior: url(PIE.htc);
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	float: left;
	margin-bottom: 12px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 9px;
	webkit-border-radius: 5px;
	width: 208px;
}
.left-content .smlblock img
{
	behavior: url(PIE.htc);
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	margin-bottom: 14px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	webkit-border-radius: 5px;
}
.left-content .smlblock p
{
	padding-bottom: 27px;
}
.left-content .smlblock span
{
	background: url(../../images/arr-blue.jpg) no-repeat left;
	color: #0065BD;
	float: right;
	font-size: 11px;
	padding-left: 10px;
}
.left-content .smlblock span a
{
	color: #0065BD;
	text-decoration: none;
}
.bg-white
{
	background: #fff !important;
}
.left-content .country-block-outer
{
	background: #0065BD;
	behavior: url(PIE.htc);
	border: 1px solid #B3B3B3;
	border-radius: 5px;
	
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 1.5%;
	webkit-border-radius: 5px;
	position:relative;
	/*width: 97%;float: left;*/
}
.left-content .country-block-inner
{
	background: #fff;
	behavior: url(PIE.htc);
	border-radius: 5px;
	 
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 1% 0;
	webkit-border-radius: 5px;
	position:relative;
	 
}
.left-content .country-block-inner .contory-block
{
	behavior: url(PIE.htc);
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	float: left;
	height: 180px;
	margin: 4px;
	-moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 8px;
	webkit-border-radius: 5px;
	position:relative;
	width:142px; 
}
.left-content .country-block-inner .contory-block p
{
	font-size: 12px;
}
.left-content .country-block-inner .contory-block img
{
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	margin-bottom: 8px;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
}
.content-inner
{
	float: left;
	margin-top: 9px;
	padding: 1% 1.5%;
	width: 97%;
}
.breadcrumb
{
	color: #0065BD;
	color: #4d4d4d;
	float: left;
	font-size: 12px;
	padding-bottom: 16px;
	width: 100%;
}
.breadcrumb a
{
	color: #0065BD;
	text-decoration: none;
}
.innner-banner
{
	background: url(../../images/innerbanner-borderbg.png) repeat-x bottom;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 8px;
	position: relative;
	width: 100%;
}
.btn-austrailia
{
	height: 191px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
}
.btn-conect
{
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
}
.innner-banner .scale-with-grid
{
	float: left;
	max-height: 190px;
	max-width: inherit;
	width: 100%;
}
.btn-austrailia img
{
	height: 207px;
}
.content-inner ul.list
{
	float: left;
	padding-bottom: 25px;
}
.content-inner ul.list li
{
	background: url(../../images/arr-black.jpg) no-repeat left 10px;
	clear: left;
	color: #4d4d4d;
	font-size: 13px;
	padding: 5px 0 0 10px;
}
.left-content ul.list
{
	float: left;
	padding-bottom: 25px;
}
.left-content ul.list li
{
	background: url(../../images/arr-black.jpg) no-repeat left 10px;
	clear: left;
	color: #4d4d4d;
	font-size: 13px;
	padding: 5px 0 0 10px;
}
.map-container-title
{
	background: #dfdfdf;
	border-bottom: 1px dashed #757575;
	border-top: 1px dashed #757575;
	color: #0065BD;
	font-size: 17px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 15px;
	width: 100%;
}
.map-container-title h1
{
	float: left;
}
.map-container-title h1 a
{
	color: #0065BD;
	text-decoration: none;
}
.map-container-title h1 img
{
	float: left;
	padding: 5px 0 0 5px;
}
.w184
{
	width: 184px !important;
}
.mar-t
{
	margin-top: 5px;
}
.information-block
{
	border: 1px solid #B3B3B3;
	border-radius: 5px;
	float: left;
	margin: 0 12px 23px 0;
	min-height: 238px;
	moz-border-radius: 5px;
	padding: 5px;
	webkit-border-radius: 5px;
	width: 22.8%;
}
.information-block img
{
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 14px;
}
.mar-r-none
{
	margin-right: 0 !important;
}
.padd-b
{
	padding-bottom: 21px !important;
}
.txt-red
{
	color: #0065BD !important;
	text-decoration: none;
}
.smltxt
{
	font-size: 12px !important;
}
.bggray
{
	background: #505050 !important;
}
.br-right
{
	border-right: 1px solid #FFF;
}
.txt-w
{
	color: #fff !important;
}
.br-none
{
	border: 0px !important;
}
.w105
{
	width: 105px !important;
}
.banner-right
{
	background: #dadada;
	border: 1px solid #b3b3b3;
	margin-bottom: 15px;
	padding: 4px;
}
.rail-pass-form-detail
{
	border: 1px solid #b3b3b3;
	float: left;
	margin: 10px 0 20px 0;
	width: 99.8%;
}
.rail-pass-form-detail .full-row
{
	border-bottom: 1px solid #b3b3b3;
	float: left;
	width: 100%;
}
.rail-pass-form-detail .first-half
{
	float: left;
	width: 30%;
}
.rail-pass-form-detail .first-half .colum1
{
	color: #505050;
	float: left;
	font-size: 13px;
	min-height: 50px;
	padding: 1% 1% 0 2%;
	width: 97%;
}
.rail-pass-form-detail .first-half .colum1 span
{
	color: #0065BD !important;
}
.rail-pass-form-detail .second-half
{
	border-left: 1px solid #b3b3b3;
	float: left;
	width: 69.8%;
}
.rail-pass-form-detail .second-half .colum1
{
	border-right: 1px solid #b3b3b3;
	color: #505050;
	float: left;
	font-size: 13px;
	height: 25px;
	line-height: 25px;
	padding: 0 1% 0 1%;
	width: 37.8%;
}
.rail-pass-form-detail .second-half .colum2
{
	border-right: 1px solid #b3b3b3;
	color: #505050;
	float: left;
	font-size: 13px;
	height: 25px;
	line-height: 25px;
	padding: 0 1% 0 1%;
	width: 27.8%;
}
.rail-pass-form-detail .second-half .colum3
{
	color: #505050;
	float: left;
	font-size: 13px;
	height: 25px;
	line-height: 25px;
	padding: 0 1% 0 1%;
	width: 27.7%;
}
.countrylist02
{
}
.countrylist02 li
{
	background: #eef1ee url(../../images/arr-blue.jpg) no-repeat left 10px !important;
	border: 1px dashed #ccc;
	margin: 4px;
	min-height: 38px;
	width: 47% !important;
}
ul.countrylist
{
	float: left;
	padding-bottom: 10px;
	width: 100%;
}
ul.countrylist li
{
	background: url(../../images/arr-blue.jpg) no-repeat left 10px;
	color: #4d4d4d;
	float: left;
	font-size: 13px;
	padding: 5px 0 5px 10px;
	width: 18%;
}
ul.countrylist li a
{
	color: #4d4d4d;
	text-decoration: none;
}
/*Rail Pass List*/

ul.RailPasslist { float:left; padding-bottom:10px; width:100%;}
ul.RailPasslist li { float:left; color:#4d4d4d; font-size:13px; width:18%; padding:5px 0 5px 15px; background: url(../../images/arr-rail-blue.png) no-repeat left 10px;
                     border: 2px solid #0065BD;
                     border-radius: 5px 5px 5px 5px;
                     -webkit-border-radius: 5px 5px 5px 5px;
                     text-decoration: underline;}
ul.RailPasslist li a { text-decoration:none; color:#0065BD;}

.RailPasslist.countrylistRp { float:left; padding-bottom:10px; width:100%;}
.RailPasslist.countrylistRp a {float:left; color:#0065BD; font-size:13px; width:43%; margin-right: 1%;margin-bottom: 4px; background: url(../../images/arr-rail-blue.png) no-repeat 10px 13px; border: 2px solid #0065BD; 
 border-radius: 5px 5px 5px 5px;
 -webkit-border-radius: 5px 5px 5px 5px;
text-decoration: underline; min-height: 28px; padding: 10px 10px 10px 25px;}

.RailPasslist.countrylistRp a span{ }
ul.RailPasslist li a { text-decoration:none; color:#0065BD;}
/*end*/
.description
{
	border: 1px solid #7ac1ff;
	float: left;
	min-height: 100px;
	overflow: hidden;
	padding: 2px;
	text-align: justify;
	width: 316px;
}
.description:hover
{
	background-color: #dedede;
	border: 1px solid #0065BD;
}
.slbox
{
	border: 1px solid #D3D3D3;
	color: #4D4D4D;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	width: 100%;
}
.mr-l
{
	margin-left: 5px;
}
.mr-r
{
	margin-right: 3%;
}
.w45
{
	width: 45% !important;
}
.titlebg
{
	background: #7f7f7f !important;
}
.contact-innner
{
	background: #DFDFDF;
	behavior: url(PIE.htc);
	border: 1px solid #DFDFDF;
	border-radius: 0 0 5px 5px;
	border-top: 0px;
	float: left;
	margin-bottom: 0;
	moz-border-radius: 0 0 5px 5px;
	ms-border-radius: 0 0 5px 5px;
	padding: 11px;
	webkit-border-radius: 0 0 5px 5px;
	width: 251px;
}
.imgborder
{
	behavior: url(PIE.htc);
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	webkit-border-radius: 5px;
}
.contact-innner p
{
	padding-bottom: 5px;
}
.contact-innner p img
{
	vertical-align: middle;
}
.formblock
{
	float: left;
	width: 35%;
}
.formblock .in-box
{
	behavior: url(PIE.htc);
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	color: #717171;
	float: left;
	font-size: 13px;
	height: 36px;
	line-height: 36px;
	margin-top: 12px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 0.5%;
	text-indent: 5px;
	webkit-border-radius: 5px;
	width: 97.8%;
}
.formblock .txtarea-box
{
	behavior: url(PIE.htc);
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	color: #717171;
	float: left;
	font-size: 13px;
	margin: 12px 0;
	min-height: 70px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 0.5%;
	text-indent: 5px;
	webkit-border-radius: 5px;
	width: 97.8%;
}
.address-block
{
	float: left;
	padding: 0 1%;
	width: 30%;
}
.address-block .fullrow
{
	color: #717171;
	float: left;
	font-size: 13px;
	margin: 0px;
	padding: 12px 0 0 0;
}
.address-block .fullrow .imgblock
{
	behavior: url(PIE.htc);
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	float: left;
	height: 20px;
	margin-right: 10px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 10px;
	text-align: center;
	webkit-border-radius: 5px;
}
.address-block .fullrow span
{
	color: #717171;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
}
.address-block .fullrow .inline
{
	line-height: normal;
}
.map-block
{
	background: #dedede;
	behavior: url(PIE.htc);
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	float: left;
	margin-top: 12px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 5px;
	webkit-border-radius: 5px;
	width: 31%;
}
.sml-detail-block-outer
{
	background: #dedede;
	behavior: url(PIE.htc);
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	float: left;
	margin-bottom: 0px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 11px;
	webkit-border-radius: 5px;
	width: 251px;
}
.sml-detail-block-outer .hd-title
{
	background: #0065BD;
	behavior: url(PIE.htc);
	border-radius: 5px 5px 0 0;
	color: #FFF;
	float: left;
	font-size: 16px;
	font-weight: bold;
	moz-border-radius: 5px 5px 0 0;
	ms-border-radius: 5px 5px 0 0;
	padding: 5px 10px;
	text-transform: uppercase;
	webkit-border-radius: 5px 5px 0 0;
	width: auto;
}
.imground
{
	behavior: url(PIE.htc);
	border-radius: 5px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	webkit-border-radius: 5px;
}
.sml-detail-block-inner
{
	background: #0065BD;
	behavior: url(PIE.htc);
	border-radius: 0 5px 5px 5px;
	float: 5px;
	float: left;
	margin-bottom: 0px;
	moz-border-radius: 0 5px 5px 5px;
	ms-border-radius: 0 5px 5px 5px;
	padding: 2%;
	text-align: center;
	webkit-border-radius: 0 5px 5px 5px;
	width: 96%;
}
.sml-detail-block-inner p
{
	color: #fff;
	font-size: 13px;
	margin: 0px;
	padding: 10px 0 10px 0;
	text-align: left;
}
.sml-detail-block-inner p a
{
	color: #fff;
	text-decoration: none;
}
.privacy-block-outer
{
	float: left;
	margin-bottom: 10px;
	width: 100%;
}
.privacy-block-outer .hd-title
{
	background: #5e5e5e;
	behavior: url(PIE.htc);
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	float: 5px;
	float: left;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 1%;
	position: relative;
	webkit-border-radius: 5px;
	width: 98%;
}
.privacy-block-outer .hd-title .icon
{
	position: absolute;
	right: 5px;
	top: 5px;
}
.privacy-block-outer .discription-block
{
	background: #eaeaea;
	behavior: url(PIE.htc);
	border-radius: 0 0 5px 5px;
	float: left;
	margin-top: -2px;
	moz-border-radius: 0 0 5px 5px;
	ms-border-radius: 0 0 5px 5px;
	padding: 1% 1% 4% 1%;
	webkit-border-radius: 0 0 5px 5px;
	width: 98%;
}
.marg-b
{
	margin-bottom: 15px;
}
.marg-tb
{
	margin: 5px 0;
}
.innertab
{
	/*float: left;width: 100%;*/
	margin: 0px;
	padding: 0px;
	
}
.innertab li
{
	float: left;
	list-style: none;
}
.innertab li a
{
	background: #4D4D4D;
	behavior: url(PIE.htc);
	border-radius: 5px 5px 0 0;
	color: #fff;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	list-style: none;
	margin: 0 2px 1px 0;
	moz-border-radius: 5px 5px 0 0;
	ms-border-radius: 5px 5px 0 0;
	padding: 5px 15px;
	text-decoration: none;
	webkit-border-radius: 5px 5px 0 0;
}
.innertab li a:hover, .innertab li a.active
{
	background: #fff;
	behavior: url(PIE.htc);
	border-radius: 5px 5px 0 0;
	color: #2f2f2f;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	list-style: none;
	margin: 0 2px 1px 0;
	moz-border-radius: 5px 5px 0 0;
	ms-border-radius: 5px 5px 0 0;
	padding: 5px 15px;
	text-decoration: none;
	webkit-border-radius: 5px 5px 0 0;
}
.radius-block
{
	behavior: url(PIE.htc);
	border-radius: 0 5px 0 5px !important;
	moz-border-radius: 0 5px 0 5px !important;
	ms-border-radius: 0 5px 0 5px !important;
	webkit-border-radius: 0 5px 0 5px !important;
}
.country-block-inner table
{
	margin-left: 1%;
	width: 99%;
}
.country-block-inner table tr
{
	padding-bottom: 10px;
}
.country-block-inner table tr th
{
	background: none repeat scroll 0 0 #DEDEDE;
	border-right: 1px solid #FFFFFF;
	color: #2F2F2F;
	font-size: 14px;
	height: 30px;
	vertical-align: middle;
	text-align:center;
}
.country-block-inner table tr td
{
	border-right: 1px solid #dedede;
	border-top: 1px solid #dedede;
	color: #686868;
	font-size: 13px;
	height: 20px;
	margin: 5px 0;
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
}
.detail-hints-main
{
	float: left;
	padding: 10px 0 0 0;
	width: 100%;
}
.detail-hints
{
	float: left;
	width: 80%;
}
.detail-hints p
{
	border: 1px dashed #d65872;
	color: #FFFFFF;
	float: left;
	font-size: 13px;
	margin: 5px;
	padding: 1% 3%;
	position: relative;
}
.detail-hints p span
{
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	left: 10px;
	position: absolute;
	top: 0px;
}
.calculation-detail
{
	background: #FFFFFF;
	behavior: url(PIE.htc);
	border-radius: 0 0 5px 5px !important;
	float: right;
	margin-top: 2px;
	moz-border-radius: 0 0 5px 5px !important;
	ms-border-radius: 0 0 5px 5px !important;
	padding: 10px 10px 0 10px;
	webkit-border-radius: 0 0 5px 5px !important;
	width: 310px;
}
.CLASS-010
{
	float: left;
	width: 100%;
}
.calculation-detail .colum-name
{
	color: #333;
	float: left;
	font-size: 14px;
	height: 30px;
	padding: 5px 0;
	width: 60%;
}
.calculation-detail .colum-price
{
	color: #333;
	float: left;
	font-size: 14px;
	height: 30px;
	text-align: right;
	width: 40%;
}
.br-btm
{
	border-bottom: 1px solid #333;
	float: left;
	height: 2px;
	width: 100%;
}
footer
{
	background: #fff !important;
	border-top: 3px solid #208bdd;
	margin-top: 10px !important;
}
footer .wrapper
{
	padding: 20px 12px;
	width: 976px;
}
footer .foot-col1
{
	float: left;
	padding-right: 2%;
	width: 13%;
}
footer .foot-col1 h3
{
	color: #FFFFFF;
	font-size: 15px;
	margin: 0px;
	padding-bottom: 0;
}
footer .foot-col1 ul
{
	float: left;
}
footer .foot-col1 ul li
{
	float: left;
	width: 100%;
}
footer .foot-col1 ul li a
{
	background: url(../../images/arr-white.png) no-repeat 0 10px;
	color: #aeaeae;
	float: left;
	font-size: 13px;
	padding: 5px 0 0 10px;
	text-decoration: none;
}
footer .foot-col2
{
	float: left;
	padding-right: 2%;
	width: 19%;
}
footer .foot-col2 h3
{
	color: #FFFFFF;
	font-size: 15px;
	margin: 0px;
	padding-bottom: 0;
}
footer .foot-col2 ul
{
	float: left;
}
footer .foot-col2 ul li
{
	float: left;
	width: 100%;
}
footer .foot-col2 ul li a
{
	background: url(../../images/arr-white.png) no-repeat 0 10px;
	color: #aeaeae;
	float: left;
	font-size: 13px;
	padding: 5px 0 0 10px;
	text-decoration: none;
}
footer .bottom-section
{
	background: #242424 url(../../images/footer--bottom-bg.png) repeat-x bottom;
	border-top: 1px solid #4d4d4d;
	padding: 16px 0 21px 0;
	width: 100%;
}
footer .bottom-section .wrapper
{
	padding: 0 12px;
	width: 976px;
}
footer .bottom-section .wrapper .f-links
{
	float: left;
	width: 75%;
}
footer .bottom-section .wrapper .f-links p
{
	color: #fff;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
}
footer .bottom-section .wrapper .f-links p a
{
	color: #FFFFFF;
	text-decoration: none;
}
footer .bottom-section .wrapper .f-links span
{
	color: #fff;
	float: left;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}
footer .bottom-section .wrapper .social-links
{
	float: right;
	width: 25%;
}
footer .bottom-section .wrapper .social-links p
{
	color: #FFF;
	font-size: 17px;
	margin: 0px;
	padding: 0px 0 10px 0;
}
footer .bottom-section .wrapper .social-links img
{
	float: left;
	padding-right: 5px;
}
.wrapper, nav, .content-box, .box-content, .box-container, .c-box .box-bottom ul.icon, footer ul.footlinks, .box-container, .obox-container, .innerbox, .form ,.rail-detail-block .tab-detail-in,[class*="row"],.innertab 
{
	zoom: 1;
}

.wrapper:before, .wrapper:after, nav:before, nav:after, .toppanel:before, .toppanel:after, .content-box:before, .content-box:after, .box-content:before, .box-content:after, .box-container:before, .box-container:after, .footrow:before, .footrow:after, .ts-display-pf-text:before, .ts-display-pf-text:after, .ts-display-pf-img:before, .ts-display-pf-img:after, .c-box .box-bottom ul.icon:before, .c-box .box-bottom ul.icon:after, footer ul.footlinks:before, footer ul.footlinks:after, .box-container:before, .box-container:after, .obox-container:before, .obox-container:after, .innerbox:before, .innerbox:after, .form:before, .form:after, .rail-detail-block .tab-detail-in:after, [class*="row"]:before, [class*="row"]:after,.innertab:before, .innertab:after 
{
	content: "";
	display: table;
}
.wrapper:after, nav:after, .toppanel:after, .content-box:after, .box-content:after, .box-container:after, .footrow:after, .c-box .box-bottom ul.icon:after, footer ul.footlinks:after, .box-container:after, .obox-container:after, .innerbox:after, .form:after,.tab-detail-in:after,[class*="row"]:after, .innertab:after
{
	clear: both;
}
input[type=submit].button, button.button
{
	webkit-appearance: none;
}
.select-menu, .select, .footselect, .foot-select
{
	display: none;
}
.count
{
	float: left;
	margin-right: 14px;
	width: 160px;
}
.count .hd-ttl
{
	background: #5e5e5e;
	behavior: url(PIE.htc);
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	float: 5px;
	float: left;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 2% 3%;
	position: relative;
	webkit-border-radius: 5px;
	width: 94%;
}
.count .discription-block
{
	background: #eaeaea;
	behavior: url(PIE.htc);
	border-radius: 0 0 5px 5px;
	float: left;
	margin-top: -2px;
	moz-border-radius: 0 0 5px 5px;
	ms-border-radius: 0 0 5px 5px;
	padding: 2% 4%;
	webkit-border-radius: 0 0 5px 5px;
	width: 92%;
}
.count ul
{
	margin: 0px;
	padding: 0px;
}
.count ul li
{
	background: url(../../images/arr-blue.jpg) no-repeat left 10px;
	color: #4d4d4d;
	font-size: 13px;
	padding: 5px 0 0 10px;
}
.count ul li a
{
	color: #4d4d4d;
	text-decoration: none;
}
.privacy-block-outer .hd-title .icon-close
{
	position: absolute;
	right: 36px;
	top: 5px;
}
.pass
{
}
.pass .hd-title
{
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
	height: 36px;
	line-height: 20px;
	-moz-border-radius: 0 0 5px 5px;
	-moz-box-sizing: border-box;
	ms-border-radius: 0 0 5px 5px;
	webkit-border-radius: 0 0 5px 5px;
	width: 100%;
}
.pass .discription-block
{
	border: 3px solid #5E5E5E;
	box-sizing: border-box;
	margin-top: -4px;
	-moz-box-sizing: border-box;
	width: 100%;
}
.width60
{
	width: 60% !important;
}
.width26
{
	width: 26% !important;
}
.red-title
{
	background: #0065BD;
	behavior: url(PIE.htc);
	border-radius: 5px 5px 0 0;
	box-sizing: border-box;
	color: #FFFFFF;
	float: left;
	font-weight: bold;
	height: 36px;
	line-height: 20px;
	-moz-border-radius: 5px 5px 0 0;
	-moz-box-sizing: border-box;
	ms-border-radius: 5px 5px 0 0;
	padding: 1%;
	webkit-border-radius: 5px 5px 0 0;
	width: 100%;
}
.pass-coloum-one
{
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	width: 20%;
}
.pass-coloum-two
{
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	position: relative;
	width: 80%;
}
.pass-coloum-two .input
{
	margin-right: 5px;
	width: 60%;
}
.pass-coloum-three
{
	color: #424242;
	float: left;
	font-size: 13px;
	padding: 2px 2px 0;
	width: 48px;
}
.pass-coloum-forth
{
	color: #424242;
	float: left;
	font-size: 13px;
	padding: 2px 2px 0 6px;
	width: 149px;
}
.pass-coloum-fifth
{
	color: #424242;
	float: left;
	font-size: 13px;
	padding: 2px 2px 0;
	width: 100px;
}
.pass-coloum-three,.pass-coloum-forth,.pass-coloum-fifth, .input
{
	margin-left: 0px;
}
.pass-coloum-forth>input
{
	margin-left: -1px;
}
.input
{
	behavior: url(PIE.htc)!important;
	border: 1px solid #ADB9C2;
	border-radius: 5px 5px 5px 5px !important;
	color: #424242 !important;
	float: left !important;
	font-size: 13px !important;
	height: 25px !important;
	line-height: 25px !important;
	margin-left: 5px !important;
	moz-border-radius: 5px 5px 5px 5px !important;
	ms-border-radius: 5px 5px 5px 5px !important;
	padding: 0.5% !important;
	webkit-border-radius: 5px 5px 5px 5px !important;
}
.inputsl
{
	behavior: url(PIE.htc) !important;
	border: 1px solid #ADB9C2 !important;
	border-radius: 5px 5px 5px 5px !important;
	color: #424242 !important;
	float: left !important;
	font-size: 13px !important;
	height: 30px !important;
	line-height: 30px !important;
	margin-left: 5px !important;
	moz-border-radius: 5px 5px 5px 5px !important;
	ms-border-radius: 5px 5px 5px 5px !important;
	padding: 0.5% !important;
	webkit-border-radius: 5px 5px 5px 5px !important;
}
.cal_Theme1 .ajax__calendar_container
{
	background-color: #BBBBBB;
	border: 1px solid #941E34;
}
.cal_Theme1 .ajax__calendar_header
{
	background-color: #FFFFFF;
	margin-bottom: 4px;
}
.cal_Theme1 .ajax__calendar_title, .cal_Theme1 .ajax__calendar_next, .cal_Theme1 .ajax__calendar_prev
{
	color: #004080;
	padding-top: 0px;
}
.cal_Theme1 .ajax__calendar_body
{
	background-color: #FFFFFF;
	border: 1px solid #941E34;
}
.cal_Theme1 .ajax__calendar_dayname
{
	color: #004080;
	font-weight: bold;
	text-align: center;
}
.cal_Theme1 .ajax__calendar_day
{
	color: #004080;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.cal_Theme1 .ajax__calendar_invalid .ajax__calendar_day
{
	color: #999;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_month, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_year, .cal_Theme1 .ajax__calendar_active
{
	background-color: #BBBBBB;
	color: #004080;
	font-weight: bold;
}
.cal_Theme1 .ajax__calendar_today
{
	font-weight: bold;
}
.cal_Theme1 .ajax__calendar_other, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_today, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_title
{
}
.ajax__calendar_footer
{
	height: auto;
}
.cookies-outer
{
	background: #000;
	border-top: 5px solid #0065BD;
	bottom: 0px;
	filter: alpha(opacity=40);
	float: left;
	height: 85px;
	opacity: 0.8;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.cookies-inner
{
	margin: auto;
	width: 960px;
}
.cookies-inner p
{
	color: #fff;
	float: left;
	font-size: 14px;
	width: 900px;
}
.cookies-inner p strong
{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.cookies-inner span
{
	float: right;
	padding-top: 10px;
	width: 50px;
}
.cookies-inner span input[type="submit"]
{
	cursor: pointer;
	padding: 0 4px;
}
.divcookiesText
{
	color: #fff;
	float: left;
	font-size: 13px;
	width: 850px;
}
.t-right
{
	text-align: right !important;
}
.delvery
{
}
.delvery .input
{
	width: 88%;
}
.colum-label-first
{
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	width: 7%;
}
.colum-label-second
{
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	width: 10%;
}
.colum-label-third
{
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	width: 14%;
}
.colum-label-forth
{
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	width: 31%;
}
.colum-label-fifth
{
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	width: 10%;
}
.colum-label-sixth
{
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	width: 28%;
}
.colum-label-seven
{
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	width: 31%;
}
.colum-label-eight
{
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	width: 69%;
}
.booking-detail-in table.grid tr th a
{
	font-size: 12px;
	text-decoration: none;
}
.float-rt
{
	float: right;
}
.clsHeadColor
{
	color: #931b31;
	font-size: 15px !important;
}
.clsAbs
{
	display: none;
}
.btnInactive
{
	background: url(../../images/btn-bluebtnbg.png) repeat-x;
	behavior: url(PIE.htc);
	border: 1px solid #076cc7;
	border-bottom: 0px !important;
	border-radius: 5px 5px 0 0 !important;
	color: #fff;
	font-size: 13px !important;
	line-height: 32px;
	moz-border-radius: 5px 5px 0 0 !important;
	ms-border-radius: 5px 5px 0 0 !important;
	padding-bottom: 0px !important;
	pie-background: linear-gradient(#7ac1ff, #076cc7) !important;
	position: relative;
	webkit-border-radius: 5px 5px 0 0 !important;
}
.btnactive,.btnInactive:hover
{
    
	background: url(../../images/btn-bluebtnbg.png) repeat-x;
	behavior: url(PIE.htc);
	background: #f6f8f9 !important;
	/*background: linear-gradient(to bottom, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
	background: -moz-linear-gradient(top, #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100% ) !important;
	background: -ms-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
	background: -o-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee)) !important;
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%) !important;*/
	border: 1px solid #B3B3B3 !important;
	border-bottom: 0px !important;
	border-radius: 5px 5px 0 0 !important;
	color: #076cc7 !important;
	font-size: 13px !important;
	moz-border-radius: 5px 5px 0 0 !important;
	ms-border-radius: 5px 5px 0 0 !important;
	pie-background: linear-gradient(#f6f8f9, #edeeee);
	webkit-border-radius: 5px 5px 0 0 !important;
}
.clsNews
{
	font-size: 13px;
	width: 300px;
}
.clsfont
{
	font-size: 11px;
}
.newsletter-outer .newsletter-inner input[type="text"]
{
	height: 25px;
	line-height: 25px;
	margin-left: 6px;
	width: 92%;
}
.trNews table td img
{
	display: none;
}
.faqAnswer
{
	display: none;
	font-size: 13px;
	margin-left: 23px;
	min-height: 50px;
	padding: 10px 0 20px 0;
	text-align: left;
	width: 98%;
}
.faqQactive
{
	color: #076cc7;
	text-decoration: none;
}
.faqQdisable
{
	color: #076cc7;
	text-decoration: none;
}
.bannerLft
{
}
/*.banner90
{
	position: absolute;
	background: #2f2f2f;
	color: #FFFFFF;
	transform:          rotate(270deg);
    -ms-transform:      rotate(270deg);
    -moz-transform:     rotate(270deg);
    -webkit-transform:  rotate(270deg);
    -o-transform:       rotate(270deg);
	font-size: 17px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase; 
	top: 75px; 
	width: 190px;
	left:-75px; 
}*/
.banner90.ie9{ diplay: none;}

.banner90{
background: #2f2f2f; color: #FFFFFF; font-size: 17px; height: 40px; line-height: 40px; position: absolute; text-align: center; text-transform: uppercase; 
width:190px; top:75px; left:-75px;

transform: rotate(-90deg);  
-webkit-transform: rotate(-90deg);  
-moz-transform: rotate(-90deg); 
-o-transform: rotate(-90deg); /* IE */ 
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   /* left:0 \0/; top:0 \0/; left: 0\9; top: 0\9; width: 190px\9; */
}

.banner90.ie9{left:0; top:0; display: block;}
.banner90.ie11{top:75px; left:-75px;}


.addbanner-box
{
	border: 1px solid #B3B3B3;
	border-radius: 5px 5px 5px 5px;
	box-sizing: border-box;
	/*float: left; width: 100%;*/
	height: 138px;
	margin-top: 10px;
	moz-box-sizing: border-box;
	padding: 1%;
	
}
.addbanner-box .imgblock
{
	float: left;
	width: 25%;
}
.addbanner-box .discription-block
{
	float: left;
	padding-left: 5%;
	width: 70%;
}
.addbanner-box .discription-block h3
{
	color: #0065BD;
	font-size: 17px;
}
.addbanner-box .discription-block p
{
	color: #4D4D4D;
	font-size: 12px;
}
.addbanner-box .discription-block p a
{
	color: #0065BD;
	text-decoration: none;
}
.autocomplete_completionListElement
{
	background-color: inherit;
	border: buttonshadow !important;
	border-style: solid;
	border-width: 1px;
	color: #0065BD !important;
	cursor: 'default';
	font-size: 13px!important;
	height: 200px;
	list-style-type: none;
	margin: 0px !important;
	overflow: auto;
	padding-left: 1px;
	text-align: left;
}
input[type="button"]
{
	background: url(../../images/btn-bluebtnbg.png) repeat-x;
	behavior: url(PIE.htc);
	border: 1px solid #7ac1ff;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-size: 17px;
	height: 30px;
	moz-border-radius: 5px;
	padding-bottom: 3px;
	webkit-border-radius: 5px;
	width: 100%;
}
.newbutton
{
	background: url(../../images/btn-bluebtnbg.png) repeat-x !important;
	behavior: url(PIE.htc);
	border: 1px solid #7ac1ff;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-size: 17px;
	height: 30px;
	moz-border-radius: 5px;
	padding-bottom: 3px;
	webkit-border-radius: 5px;
	width: 100%;
}
#_bindDivData
{
	background: #fff!important;
	border: 1px solid #d3d3d3;
	display: block;
	padding: 10px;
	position: relative;
	width: 150px;
	z-index: 999;
}
.colum-input #_bindDivData
{
	position: absolute;
	top: 36px;
	width: auto;
}
.popupselect:hover
{
	background-color: #ccc !important;
	cursor: hand;
	cursor: pointer;
	padding-left: 5px;
}
.popupselect
{
	background: #fff;
	border-top: 1px dashed #d3d3d3;
	color: #000 !important;
	padding: 1px;
	padding-left: 5px;
	position: relative;
	z-index: 80;
}
._prifixText
{
	color: #0065BD !important;
}
.DivError
{
	background-color: #FFFFE1;
	background-image: url("../../images/caution.gif");
	background-position: 20px 15px;
	background-repeat: no-repeat;
	border: 2px solid #F4E4B7;
	line-height: normal;
	margin: 3%;
	padding: 20px 20px 35px 85px;
}
.info, .success, .warning, .error
{
	background-position: 10px center;
	background-repeat: no-repeat;
	border: 1px solid;
	border-radius: .5em;
	margin: 10px 0px;
	moz-border-radius: .5em;
	padding: 15px 10px 15px 50px !important;
	webkit-border-radius: .5em;
}
.info
{
	background-color: #BDE5F8;
	background-image: url('../../images/info.png');
	background-size: 40px 30px;
	color: #00529B;
	font-size: 14px;
}
.success
{
	background-color: #DFF2BF;
	background-image: url('../../images/success.png');
	color: #4F8A10;
	font-size: 14px;
}
.warning
{
	background-color: #FEEFB3;
	background-image: url('../../images/warning.png');
	background-size: 40px 30px;
	color: #9F6000;
	font-size: 14px;
}
.error
{
	background-color: #7ac1ff;
	background-image: url('../../images/error.png');
	color: #0065BD;
	font-size: 14px;
}
.btn-gray
{
	background: url('../../images/gray-btn-bg.jpg') repeat-x 0 -8px !important;
	border: 1px solid #666 !important;
}
.grdBrd
{
	background: #eaeaea;
	border: 1px solid #ccc;
	float: left;
	font-size: 12px;
	width: 100%;
}
#MainContent_grdPrintQueue
{
	line-height: 25px;
}
#tblPrintQueueList
{
	width: 845px;
}
#tblPrintQueueList tbody tr
{
	font-size: 12px;
	font-weight: normal;
	width: 100%;
}
#tblPrintQueueList tbody tr th
{
}
.clsdivPrduct
{
	float: left;
	width: 100%;
}
.clsPrd
{
	color: #424242;
	float: left;
	font-size: 13px;
	padding: 5px 5px 0 5px;
}
.clsDrp
{
	font-size: 12px;
	width: 150px;
}
.clsDrpQ
{
	font-size: 12px;
	width: 230px;
}
.shade5
{
	color: #a62c48;
}
.shade5 a
{
	color: #a62c48;
	text-decoration: none;
}
.shade5 a:hover
{
	color: #313333;
	text-decoration: underline;
}
.mr-tp3
{
	margin-top: 12px;
}
#login-sec
{
	float: none;
	margin: 10px auto;
	width: 575px;
}
.login-data
{
	background: url(../../images/img-lock.jpg) no-repeat 30px 15px;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	float: left;
	min-height: 193px;
	padding: 20px 0px 0px 0px;
	width: 573px;
}
.login-col1
{
	color: #3e3d3d;
	float: left;
	font-size: 13px;
	height: 21px;
	line-height: 18px;
	padding: 3px 0px 0px 132px;
	width: 78px;
}
.corner
{
	font-size: 0px;
}
.login-col2
{
	color: #3e3d3d;
	float: left;
	font-size: 13px;
	width: 315px;
}
input.login
{
	border: 1px solid #909090;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 23px;
	line-height: 23px;
	margin: 0px 0 10px 0;
	padding: 0px 0px 0px 5px;
	width: 295px;
}
.register-in
{
	float: left;
	width: 100%;
}
.register-in .in-box
{
	behavior: url(PIE.htc);
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	color: #717171;
	float: left;
	font-size: 13px;
	height: 36px;
	line-height: 36px;
	margin-top: 12px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	text-indent: 5px;
	webkit-border-radius: 5px;
	width: 80.8%;
}
.register-in .txtarea-box
{
	behavior: url(PIE.htc);
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	color: #717171;
	float: left;
	font-size: 13px;
	margin: 12px 0 0 0;
	min-height: 70px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 0.5%;
	text-indent: 5px;
	webkit-border-radius: 5px;
	width: 80%;
}
.padd5
{
	padding: 8px;
}
.validreq
{
	color: Red;
	float: left;
	font-size: 12px;
	padding-left: 5px;
	width: 99%;
}
.validreq1
{
	color: Red;
	font-size: 12px;
	padding-left: 5px;
}
.mar-right
{
	margin-right: 5px;
}
.mar-right-n
{
	margin-right: 0 !important;
}
a.tooltip, label.tooltip
{
	outline: none;
	position: relative;
}
a.tooltip strong, label.tooltip strong
{
	line-height: 30px;
}
a.tooltip span, label.tooltip span.tresult
{
	display: none;
	line-height: 16px;
	margin: -68px 0 0 -144px;
	padding: 10px;
	width: 240px;
	z-index: 10;
}
a.tooltip:hover span, label.tooltip:hover span.tresult
{
	background: #fff;
	behaviour: url(PIE.htc);
	border: 2px solid #FFF;
	border-radius: 5px;
	color: #EEE;
	display: inline;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	o-border-radius: 5px;
	position: absolute;
	webkit-border-radius: 5px;
}
a.tooltip:hover, label.tooltip:hover
{
	display: block;
	position: relative;
	text-decoration: none;
}
a.tooltip:hover span.tresult, label.tooltip:hover span.tresult
{
	bottom: 32px;
	left: -65px;
	margin-top: 0px;
	position: absolute;
	width: 420px;
}
a.tooltip span.tresult img, label.tooltip span.tresult img
{
	left: 50%;
	margin-left: -15px;
}
a.tooltip:hover span.tresult p, label.tooltip:hover span.tresult p
{
	color: #4a4a4a;
	font-size: 11px;
	line-height: 13px;
}
.taco
{
	color: #231802;
	font-size: 13px;
	font-weight: bold;
	line-height: 25px;
}
a.tooltip:hover span.tresult p strong, label.tooltip:hover span.tresult p strong
{
	color: #0065BD;
	font-weight: bold;
}
.tresult p
{
	background: #efefef;
	color: #4a4a4a;
	margin-bottom: 5px;
	padding: 0 5px 5px 5px;
}
.callout
{
	border: 0;
	left: 120px;
	position: absolute;
	top: -14px;
	z-index: 20;
}
a.tooltip span, label.tooltip span.tresult
{
	border-radius: 2px;
	box-shadow: 0px 0px 8px 4px #666;
	moz-border-radius: 2px;
	moz-box-shadow: 0px 0px 8px 4px #666;
	webkit-border-radius: 2px;
	webkit-box-shadow: 0px 0px 8px 4px #666;
}
a.tooltip img, label.tooltip img
{
	bottom: -14px;
	left: 118px;
	position: absolute;
}
.tooltip1
{
	text-decoration: none;
}
a.tooltip span, label.tooltip span.tresult
{
	border-radius: 2px;
	box-shadow: 0px 0px 8px 4px #666;
	moz-border-radius: 2px;
	moz-box-shadow: 0px 0px 8px 4px #666;
	webkit-border-radius: 2px;
	webkit-box-shadow: 0px 0px 8px 4px #666;
}
a.tooltip img, label.tooltip img
{
	bottom: -14px;
	left: 118px;
	position: absolute;
}
.tooltip1
{
	text-decoration: none;
}
.addbanner-box .read
{
	background: url(../../images/arr-blue.jpg) no-repeat left;
	color: #0065BD;
	float: right;
	font-size: 11px;
	margin-top: 5px;
	text-decoration: none;
}
.col-calender .ui-datepicker-trigger
{
	float: left;
	margin-right: 5px;
}
.group-title
{
	background: #2f2f2f;
	behavior: url(PIE.htc);
	border-radius: 5px;
	box-sizing: border-box;
	float: left;
	margin-bottom: 10px;
	moz-border-radius: 5px;
	moz-box-sizing: border-box;
	ms-border-radius: 5px;
	padding: 1%;
	webkit-border-radius: 5px;
	width: 98%;
}
.left-content.paymentconfirm
{
	height: 500px;
}
.booking-detail-in
{
	background: none repeat scroll 0 0 #EDEDED;
	border-radius: 0 0 5px 5px;
	float: left;
	margin-bottom: 20px;
	padding: 1%;
	width: 98%;
}
.train-search-result-topblock
{
	background: #4a4a4a;
	behavior: url(PIE.htc);
	border-radius: 5px 5px 0 0;
	float: left;
	moz-border-radius: 5px 5px 0 0;
	ms-border-radius: 5px 5px 0 0;
	padding: 1%;
	webkit-border-radius: 5px 5px 0 0;
	width: 98%;
}
.train-search-result-topblock .colum-one
{
	color: #FFFFFF;
	float: left;
	font-size: 14px;
	padding: 5px 0;
	width: 50%;
}
.booking-detail-in table.grid2
{
	border: 4px solid #ededed;
	border-collapse: collapse;
	width: 100%;
}
.booking-detail-in table.grid2 tr th
{
	border-bottom: 2px solid #ededed;
	color: #0065BD;
	font-size: 13px;
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	text-align: left;
}
.booking-detail-in table.grid2 tr.alt td
{
	background: #c7c7c7;
	border-bottom: 6px solid #ededed;
	color: #4a4a4a;
	font-size: 12px;
	padding: 5px;
}
.booking-detail-in table.grid2 tr td span.time
{
	color: #ffffff;
}
.booking-detail-in table.grid2 tr td
{
	background: #c7c7c7;
	border-bottom: 0px;
	color: #4a4a4a;
	font-size: 12px;
	padding: 5px;
}
.booking-detail-in table.grid2 tr td span.time
{
	color: #ffffff;
}
.booking-detail-in table.grid2 tr td a
{
	color: #0065BD;
}
.booking-detail-in table .detail-class
{
	background: #efefef;
	border: 1px dashed #666;
	box-sizing: border-box;
	float: left;
	margin-bottom: 10px;
	-moz-box-sizing: border-box;
	padding: 0.5%;
	width: 100%;
}
.booking-detail-in .detail-class .colum-first
{
	color: #4a4a4a;
	float: left;
	font-size: 13px;
	font-weight: bold;
	padding-top: 10px;
	width: 20%;
}
.booking-detail-in .detail-class .colum-second
{
	color: #4a4a4a;
	float: left;
	font-size: 13px;
	width: 30%;
}
.booking-detail-in .detail-class .colum-second span
{
	color: #991d35;
}
.booking-detail-in .detail-class .colum-third
{
	float: left;
	width: 30%;
}
.booking-detail-in table .extra-detail
{
	background: #fff;
	box-sizing: border-box;
	float: left;
	margin-bottom: 10px;
	moz-box-sizing: border-box;
	padding: 0.5%;
	width: 100%;
}
.booking-detail-in table .extra-detail table.detailtrain
{
	width: 100%;
}
.booking-detail-in table .extra-detail table.detailtrain tr th
{
	border-bottom: 2px solid #c7c7c7;
	color: #666;
	font-size: 13px;
}
.booking-detail-in table .extra-detail table.detailtrain tr td
{
	background: #FFF;
	border: 0px;
	color: #666;
	font-size: 13px;
}
.detail-class table tr td
{
	background: none !important;
	border: 0px !important;
}
.detail-table
{
	background: #4A4A4A !important;
	border-radius: 5px 5px 0 0;
}
.detail-table tr td
{
	background: #4A4A4A !important;
	color: #fff !important;
}
.detail-table tr td h2
{
	color: #fff !important;
	font-size: 30px !important;
}
.imgOpen
{
	color: #0065BD;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}
.lnkCont
{
	background-color: #4A4A4A;
	border-radius: 5px;
	color: white !important;
	float: right;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
}
.lnkCont1
{
	background-color: #4A4A4A;
	border-radius: 5px;
	color: white !important;
	display: block;
	float: right;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
}
.left-content
{
	position: relative;
}
table
{
	font-size: 13px;
	width: 100%;
}
.DivTrainInOut
{
	background: none repeat scroll 0 0 #D5D4D4;
	border: 1px solid #53111e;
	color: #333333;
	float: left;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	text-indent: 5px;
	width: 100%;
}
.DivTrainInOutSeg
{
	background: none repeat scroll 0 0 #D5D4D4;
	color: #333333;
	float: left;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	text-indent: 5px;
	width: 100%;
}
.clsFore
{
	background-color: #EDEDED;
	color: #333333;
}
.tblHeading
{
	background: none repeat scroll 0 0 #666666;
	color: #fff;
	font-size: 14px;
	margin-bottom: 5px;
	padding: 1%;
	width: 98%;
}
.modal-popup
{
	background-color: none;
}
.modalBackground
{
	background-color: #000;
	bottom: 0px;
	filter: alpha(opacity=50);
	float: left;
	left: 0px;
	margin: 0;
	opacity: 0.5;
	overflow: hidden;
	padding: 0;
	position: fixed;
	right: 0px;
	text-align: center;
	top: 0px;
}
.ui-helper-clearfix:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.ui-helper-clearfix:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.ui-draggable .ui-dialog-titlebar
{
	cursor: move;
}
.ui-dialog .ui-dialog-titlebar
{
	padding: 0.5em 1em 0.3em;
	position: relative;
}
.ui-corner-all
{
	border-radius: 5px 5px 5px 5px;
}
.ui-widget-header
{
	background-color: #53111e;
	border: 1px solid #53111e;
	color: #FFFFFF;
	font-weight: bold;
}
.popup-outer
{
	float: left;
	width: 100%;
}
.popup-inner
{
    background: #FFFFFF;
    behavior: url(PIE.htc);
    border: 2px solid #0065BD;
    border-radius: 5px 5px 5px 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    float: left;
    moz-border-radius: 5px 5px 5px 5px;
    moz-box-sizing: border-box;
    ms-border-radius: 5px 5px 5px 5px;
    padding: 80px 20px 20px 20px;
    position: relative;
    webkit-border-radius: 5px 5px 5px 5px;
    width: 654px;
}
.popup-inner .title
{
	background: url(../../images/popup-title_blue.png) no-repeat;
	color: #FFFFFF;
	float: left;
	font-size: 18px;
	height: 43px;
	left: -17px;
	line-height: 43px;
	padding: 0 0 15px 20px;
	position: absolute;
	top: 20px;
	width: 663px;
}
.popup-inner .input
{
	behavior: url(PIE.htc);
	border: 1px solid #ADB9C2;
	border-radius: 5px 5px 5px 5px;
	color: #424242;
	float: left;
	font-size: 13px;
	height: 25px;
	line-height: 25px;
	margin-left: 5px;
	moz-border-radius: 5px 5px 5px 5px;
	ms-border-radius: 5px 5px 5px 5px;
	padding: 0.5%;
	webkit-border-radius: 5px 5px 5px 5px;
}
.popup-inner .inputsl
{
	behavior: url(PIE.htc);
	border: 1px solid #ADB9C2;
	border-radius: 5px 5px 5px 5px;
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
	moz-border-radius: 5px 5px 5px 5px;
	ms-border-radius: 5px 5px 5px 5px;
	padding: 0.5%;
	webkit-border-radius: 5px 5px 5px 5px;
}
.popup-inner .lt
{
	color: #424242;
	float: left;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	width: 30%;
}
.popup-inner .rt
{
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	width: 70%;
}
.popup-inner p
{
	color: #424242;
	font-size: 13px;
	padding: 10px 0;
}
.popup-inner .btn-right
{
	float: right;
	width: 190px;
}
.popup-inner .fare-rules-list
{
	float: left;
	width: 100%;
	max-height: 230px;
    overflow-y: scroll;
}
.popup-inner .fare-rules-list li
{
	float: left;
	font-size: 13px;
	line-height: 20px;
	list-style-type: square;
	margin-left: 5%;
	padding: 2px 0;
	width: 95%;
}
#ParentDivPrice
{
	background-color: #0065BD;
	color: #fff;
	float: right;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	margin-right: 2px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: -12px;
	width: 207px;
}
#ParentDivPrice img
{
	float: left;
	margin: 5px;
}
#ParentDivPrice span
{
	float: left;
	line-height: 30px;
	margin: 5px;
}
.clsSMap
{
	font-size: 13px;
}
.clsSMap div td div
{
	display: none;
}
[id*="TreeView1"] table td span, [id*="TreeView1"] table td a
{
	background: url(../../images/gryrndarw.png) 0 2px no-repeat;
	color: #0065BD;
	font-weight: bold;
	list-style-type: none;
	padding-left: 20px;
}
[id*="TreeView1"] div[id*="Nodes"]
{
	padding-left: 20px;
}
[id*="TreeView1"] div[id*="Nodes"] a
{
	background: url(../../images/list-disc.png) 0 4px no-repeat;
	color: #4d4d4d;
	font-weight: normal;
	list-style-type: none;
	padding-left: 15px;
}
[id*="TreeView1"] div[id*="Nodes"] a:hover
{
	text-decoration: underline;
}
.country-clear
{
	clear: both;
	content: '';
	height: 0;
	height: 20px;
}
.submenu
{
	float: left;
	width: 430px;
}
.sumenu-table
{
	border: 8px solid #0065BD;
	width: 280px;
}
.sumenu-table tr th
{
	background: #0065BD;
	border: 0px;
	color: #fff;
	font-weight: bold;
	text-align: left;
}
.sumenu-table tr td
{
	background: #fff;
}
.sumenu-table tr td li.slmenu
{
	border-bottom: 1px dashed #ccc;
	display: block;
	float: left;
	margin: 2px 10px 2px 2px;
	width: 120px;
}
.sumenu-table tr td li.slmenu a
{
	background: none !important;
	border: 0px;
	color: #0065BD;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	padding: 0 5px;
	pie-background: none;
	text-align: left;
	text-decoration: none;
	width: 120px;
}
.sumenu-table tr td li.slmenu a:hover
{
	background: #0065BD !important;
	border: 0px;
	border-radius: 0px;
	color: #fff !important;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 12px;
	mos-border-radius: 0px;
	moz-border-radius: 0px;
	text-decoration: none;
	webkit-border-radius: 0px;
}
.clsRead
{
	color: #0065BD;
	float: right;
	font-size: 11px;
}
input[type="submit"],input[type="button"]
{
	background: url(../../images/btn-bluebtnbg.png) repeat-x;
    position: relative;
	border: 1px solid #3387D3;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-size: 15px !important;
	moz-border-radius: 5px;
	padding-bottom: 3px;
	webkit-border-radius: 5px;
	min-height:25px;behavior: url(PIE.htc);
	height:auto;
}
.clsRailPassName
{
	color: #0065BD!important;
}
.headingclass
{
	color: #0065BD;
	font-family: 'avantgarde_md_btmedium';
	font-size: 17px;
	font-weight: normal;
	padding-bottom: 10px;
}
.SortBtnStyle
{
	color: #0065BD;
	font-weight: bold;
	margin-left: 2px;
	text-decoration: none;
}
.progess-inner2
{
	background: #fff url(../../images/loader-blue.gif) no-repeat center 60px ;
	border: 2px solid #d7d7d7;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	color: #017dcf;
	font-weight: bold; font-size:16px;
	left: -7%;
	margin-left: 46%;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 42%; height:100px; padding-top:30px;
	width: 300px;
	z-index: 99999999;
}
.clsServiceName
{
	color: #0065BD!important;
}
.clsSoldOut
{
	color: #0065BD;
	height: 27px;
}
#banner-slide
{
	background: #0065BD;
	behavior: url(PIE.htc);
	border-radius: 5px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 3px 0 3px 0;
	webkit-border-radius: 5px;
}
.clsFaq
{
	color: #0065BD;
	padding-right: 10px;
}
.clsAgLegend
{
	background: #fff;
	border-radius: 5px;
	color: #0065BD;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	padding: 0 10px;
	webkit-border-radius: 5px;
}
.clsOrderPayBtn
{
	background: url(../../images/btn-bluebtnbg.png) repeat-x;
	behavior: url(PIE.htc);
	border: 1px solid #7ac1ff;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-size: 17px;
	moz-border-radius: 5px;
	padding-bottom: 3px;
	webkit-border-radius: 5px;
}
.booking-detail-in-print table.grid tr td a
{
	color: #0065BD;
}
.booking-detail-in-print .total
{
	border-top: 1px dashed #0065BD;
	color: #4A4A4A;
	float: right;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	padding-top: 10px;
	width: 27%;
}
.clsAgentLogin
{
	background: url(../../images/agentlogin-heading-bg_blue.png) no-repeat;
	float: left;
	height: 33px;
	margin-bottom: 10px;
	width: 575px;
}
.clsUserLogin
{
	background: url(../../images/user-heading-bg_blue.png) no-repeat repeat;
	float: left;
	height: 33px;
	margin-bottom: 10px;
	width: 575px;
}
.callOut
{
	background: url(../../images/callout_black.gif) no-repeat repeat;
	height: 14px;
	width: 30px;
}
.calIcon
{
	background: url(../../images/icon-calender_blue.png) no-repeat;
	height: 28px;
	width: 27px;
}
.calIconSmall
{
	background: url(../../images/icon-calender_blue_small.png) no-repeat;
	height: 21px;
	width: 20px;
}
.clsLoader
{
	background: url(../../images/loader_blue.gif) no-repeat;
	height: 32px;
	width: 30px;
}
.footer .newsletter
{
	width: 235px!important;
}
.header .contain #searchField
{
	border: 1px solid #bed600;
	color: #959595;
	font-size: 13px!important;
	height: 16px!important;
	margin: 0;
	padding: 2px 4px;
}
.header .contain
{
	float: left;
	font-size:14px;
}
nav
{
	background: url(../../images/navbg02.png) repeat-x;
	border-bottom: 1px solid #FFF;
	float: left;
	height: 47px;
	margin-top: 12px;
	width: 100%;
}
.divLoyHeader
{
	color: #0065BD;
	float: left;
	font-weight: bold;
	margin-bottom: 5px;
	padding-left: 3px;
	width: 409px;
}
p, li, dt, dd, label, address, th, td, legend, input, select, textarea
{
	font-size: 100% !important;
}
.tariffPriceTable
{
	width: 100%;
}
.tariffPriceTable th
{
	background: #0065BD;
	color: #fff !important;
	text-align: center;
}
.tariffPriceTable tbody tr
{
	border-bottom: 1px solid #0065BD;
}
.ui-dialog
{
	left: 0;
	outline: 0;
	padding: .2em;
	position: absolute;
	top: 0;
}
.ui-dialog .ui-dialog-titlebar
{
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title
{
	float: left;
	margin: .1em 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90%;
}
.ui-dialog .ui-dialog-titlebar-close
{
	height: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	position: absolute;
	right: .3em;
	top: 50%;
	width: 21px;
}
.ui-dialog .ui-dialog-content
{
	background: none;
	border: 0;
	overflow: auto;
	padding: .5em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-buttonpane
{
	background-image: none;
	border-width: 1px 0 0 0;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
	text-align: left;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
{
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button
{
	cursor: pointer;
	margin: .5em .4em .5em 0;
}
.ui-dialog .ui-resizable-se
{
	background-position: 16px 16px;
	bottom: -5px;
	height: 12px;
	right: -5px;
	width: 12px;
}
.ui-draggable .ui-dialog-titlebar
{
	cursor: move;
}
.ui-dialog.ui-widget .ui-dialog-titlebar.ui-widget-header .ui-dialog-titlebar-close span.ui-button-text
{
	color: transparent;
	font-size: 0px;
}
#footerTxt1,#footerTxt2,#footerTxt3,#footerTxt4
{
	font-size: 12px;
}
.contory-block > div > a
{
	text-decoration: none;
}
.swapTrain
{
    width: 140px !important;
    font-size: 15px !important;
    height: 26px !important;
    float: left !important; 
    margin-left: 15px !important;
}

.divModalDialog  {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    background-color:rgba(0,0,0,0.2);
    text-align:center;
    z-index:101;
}
.divDialog
{
    text-align:center;
    padding:5px;
    z-index:102;
    height:150px;
    width:280px;
    position:absolute;
    left:45%;
    top:45%;
    background-color:#FFFFFF;
    font-size:15px;
}
.divDialog>p
{
    background-color:#076cc7;
    height:25px;
    text-align:right;
    padding:6px 6px 0 0 ;
    border:1px solid #e5d35b;
}
.divDialog>p>a
{ 
position: absolute;
left: 262px;
top: 12px;
text-decoration: none;
font-size: 14px;
padding: 0px 4px 0px 4px;
font-weight: bold;
background: #FFFFFF;
}
.countryinput{border: 1px solid #ADB9C2; height: 28px; margin-left: 0; padding: 5px; width: 145px; border-radius: 5px; 
              -moz-border-radius: 5px; 
              -webkit-border-radius: 5px; 
              -ms-border-radius: 5px; 
              -o-border-radius: 5px; }
              
.taco{ position:relative; cursor:pointer;}
.taco .icon{ position:absolute;right:5px; top:5px; }
.toogle{ width:100%; float:left; padding:5px 0;}
              
/*Printing Page*/
.clsPrintingHeader
{
    font-size: 13px;
    line-height: 30px;
    background-color: #076cc7;
    color: #fff;
}
.clsPrintingGrid
{
    background: #ECFFFF!important;
}
.clsPrintColor{color: #fff;line-height: 30px;}

/*Start of Summary Box of P2P journey*/        
.width-n
        {
            padding: 5px !important;
            width: 263px !important;
        }
        .bg-red
        {
            border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            -ms-border-radius: 5px 5px 0 0;
            behavior: url(PIE.htc);
            background: #076CC7 !important;
        }
        .bg-red i
        {
            float: right;
            padding: 12px;
        }
        .newsletter-inner .hd
        {
            width: 98%;
            float: left;
            padding: 1%;
            background: #727272;
        }
        .newsletter-inner .hd span
        {
            font-size: 14px;
            font-weight: bold;
            color: #FFFFFF;
            float: left;
            padding: 2px;
        }
        .newsletter-inner .hd i
        {
            float: right;
            padding-top: 3px;
        }
        .booking-status
        {
            width: 98%;
            float: left;
            padding: 1%;
            background: #DEDEDE;
        }
        .booking-status p
        {
            font-size: 12px !important;
            color: #076CC7;
            padding: 0 10px;
        }
        .booking-status p.detail
        {
            font-size: 12px !important;
            color: #666;
            padding: 0 10px;
        }
        .booking-status p.detail a
        {
            color: #0065BD;
            text-decoration: underline;
        }
        
        .booking-status h3
        {
            font-size: 13px;
            color: #666;
            padding: 0 10px;
            font-weight: bold;
            line-height: normal;
            margin-bottom: 5px;
        }
        
        .booking-status p.price
        {
            font-size: 12px;
            color: #666;
            padding: 0 10px;
            float: left;
            width: 92%;
        }
        .booking-status p.price span
        {
            float: left;
            width: 50%;
            font-size: 12px;
            color: #666;
        }
        .booking-status p.price strong
        {
            float: left;
            width: 50%;
            font-size: 12px;
            color: #666;
            font-weight: bold;
            text-align: right;
        }
        
        .booking-status p.total
        {
            font-size: 12px;
            color: #666;
            padding: 0 10px 5px 10px;
            margin-top: 5px;
            border-bottom: 1px solid #666;
            float: left;
            width: 92%;
            background: #fff;
        }
        .booking-status p.total span
        {
            float: left;
            width: 50%;
            font-size: 13px;
            color: #666;
            font-weight: bold;
        }
        .booking-status p.total strong
        {
            float: left;
            width: 50%;
            font-size: 13px;
            color: #666;
            font-weight: bold;
            text-align: right;
        }
        .dvtotalSummay p.total
        {
            font-size: 13px;
            color: #666;
            padding: 0 10px 5px 10px;
            margin-top: 5px;
            border-bottom: 1px solid #666;
            float: left;
            width: 92%;
            background: #fff;
        }
        .dvtotalSummay p.total span
        {
            float: left;
            width: 50%;
            font-size: 13px;
            color: #666;
            font-weight: bold;
        }
        .dvtotalSummay p.total strong
        {
            float: left;
            width: 50%;
            font-size: 15px;
            color: #666;
            font-weight: bold;
            text-align: right;
        }
        
        .booking-status p.detail span
        {
            color:#076CC7;
            text-decoration: underline;
        }
        input[type="submit"].btn-continue, input[type="button"].btn-continue{font-size:12px !important;}
        .btn-continue
        {
            font-size: 12px !important;
            height: 24px !important;
            padding-bottom: 3px !important;
            width: 80px !important;
            margin-top: 5px !important;
        }
        
/*End of Summary Box of P2P journey*/  

    .popup-inner p
    {
        color: #424242;
        font-size: 13px;
        padding: 0px 0px 0px 0px !important;
    }
 .swap-img{width:10px; float:right; font-size:0px; } 
.swap-arr {width: 5px;position: absolute;top: 20px;right: 2px;cursor: pointer;} 
.swap-arr2{width: 44px;position: absolute;top: 27px;right: 11px;cursor: pointer;}

 .hd-title
        {
            padding: 5px 10px;
            background: #0065BD;
            width: auto;
            float: left;
            font-size: 13px;
            font-weight: bold;
            color: #FFF;
            border-radius: 5px 5px 0 0;
        }
        
        /*Manage Imported Css Au and Us site*/
        .header #mainLogo {  width: 231px !important;}
        .mainNav li a {   padding: 7px 3px !important;}
       
 .bigslbox{}
.bigslbox .customSelect {min-width:68px !important;}
.pass-coloum-three {
  color: #424242;
  float: left;
  font-size: 13px;
  padding: 2px 2px 0;
  position: relative;
  width: 48px;
}

.pass-coloum-forth {
  color: #424242;
  float: left;
  font-size: 13px;
  margin-left: 6px !important;
  padding: 2px 2px 0 6px;
  position: relative;
  width: 149px;
}
.pass-startdate {float: right; width: 480px; padding-left:65px;}
.pass-coloum-forth select {
  border-radius: 0 !important;
  left: 0;
  top: 17px;
  width: 198px !important;
}
.overflow-table{ width:671px; display:block; overflow-x:auto; overflow-y:hidden;}
/*
.overflow-table div table { width:100% !important;}
*/
.overflow-table div table tr td { padding:5px 3px !important;}