﻿@import "code/schemes/default/css/default.css";
body
{
    background-color: #F4F4F4;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
a {
	color:#E45104;
}
.page
{
    position: absolute;
    left: 50%;
    top: 0px;
	width:auto;
}
.pagecontainer
{
    position: absolute;
    left: -631px;
    top: 0px;
    width: 1262px;
    height: 610px;
    background-color: #ffffff;
    border:2px solid #E45104;
	margin-top:20px;
}
.small
{
    font-size: 12px;
    width: 100px;
    border-bottom: 1px solid #3D7BAD;
}
.header
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
	height:93px;
    border-bottom: 1px solid #F4F4F4;
}
    .logo
    {
        position: absolute;
        top: 20px;
        left: 20px;
        background-image: url(http://localhost:57861/code/schemes/images/phoenix-small-logo.png);
		background-position: top;
		background-repeat:no-repeat;
        width: 150px;
        height: 71px;
        cursor: pointer;
    }


.loginholder
{
    position: absolute;
    left: 50%;   
    top: 0px;
    width: 0px;
}
    .login
    {
        position: absolute;
        top: 150px;
        left: -250px;
        height: 175px;
        width: 500px;
        background-color: #FAF9E2;
    }
        .loginborder
        {
            position: absolute;
            top: 50px;
            left: 50px;
            height: 75px;
            width: 400px;

        }
        .loginline
        {
            position: absolute;
            width: 400px;
            height: 20px;
        }
            .logintext
            {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 200px;
            }
            .loginbox
            {
                position: absolute;
                left: 200px;
                top: 0px;
                width: 200px;
            }
                .loginusername
                {
                    width: 200px;
                }
        .passwordline
        {
            position: absolute;
            top: 25px;
            left: 0px;
            width: 400px;
            height: 20px;
        } 
            .passwordtext
            {
                position: absolute;
                width: 200px;
                left: 0px;
               
            }
            .passwordbox
            {
                position: absolute;
                left: 200px;
            }
                .loginpassword
                {
                    width: 200px;
                }
        .submitline
        {
            position: absolute;
            top: 50px;
            width: 400px;
        }
            .submitbutton
            {
               position: absolute;
                width: 400px;
            }
                .loginbutton
                {
                    position: absolute;
                    width: 100px;
                    left: 150px;
                }
.categorymenu
{
    z-index: 3;
    position: absolute;
    top: 35px;
    left: 200px;
    height: 40px;
    width: 1016px;
}
.categorymenu .maincontainer
{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    float: right;
        
}
    .categorymenu .main
    {
        font-size: 15px;
        color: #333;
        cursor: pointer;
        padding-bottom: 8px;
        
    }
    .categorymenu .main:hover
    {
        padding-bottom: 8px;
        color:#E45104;
		text-decoration:underline;		
    }
    .categorymenu .mainselected
    {
        font-size: 15px;
        color:#E45104;
		text-decoration:underline;		
        cursor: pointer;
        padding-bottom: 8px;
        
    }
    .categorymenu .mainselected:hover
    {
        color:#E45104;
		text-decoration:underline;		
        padding-bottom: 8px;
    }
.lisubmenu
{
    position: relative;
    top: 0px;
    left: 50%;
    width: 0px;
    height: 0px;
    display: none;
}
.lisubmenucontainer
{
    position:absolute;
    display: block;
    left: -65px;
    width: 130px;
    border: 1px solid #E45104;
    background-color: #f4f4f4;
}
.lisubmenucontainer .sub
{
    position: relative;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: #333;   
    list-style-type: none;
    cursor: pointer;
    text-align: center;
    width: 130px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.lisubmenucontainer .sub:hover
{
    text-align: center;
    color: #E45104;
    padding-bottom: 7px;
}
.pagecenter
{
    position: absolute;
    left: 50%;
    top: 175px;
}
.menulist
{
    position: relative;
    left: -100px;
    width: 200px;
    height: 300px;
}
.submain
{
    font-size: 15px;
    color: #333;
    cursor: pointer;
    padding-bottom: 8px;
    text-align: center;
        
}
.submain:hover
{
    color: #E45104;
    padding-bottom: 8px;
}

.workingpage
{
    position: absolute;
    left: 5px;
    width: 1245px;
    top: 93px;
    height: 515px;
}

.pageframe
{
    position: relative;
    left: 5px;
    width: 1280px;
    top: 20px;
    height: 485px;
    border: 1px solid #F4F4F4;
}
#print-queue form {   
    width: 1240px;
    height: 485px;
	overflow-y: auto;
}

h1
{
    position: absolute;
    font-weight: normal;
    left: 5px;
    top: -23px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    background-color:#ffffff;
}
.tabbedbox
{
    position: relative;
    left: 8px;
    width: 1221px;
    top: 35px;
    height: 440px;
    border: 1px solid #F4F4F4;
}
    .tabsbox
    {
        position: absolute;
        left: 15px;
        top: -22px;
        width: 763px;
        height: 20px;
    }

    .tabsbox .tab
    {
        font-size: 14px;
        position: relative;
        color: #B3B2A0;
        height: 20px;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px solid #F4F4F4;
        border-top: 1px solid #F4F4F4;
        cursor: pointer;
    }
	
.ordertabbox .tabsbox .tab {
	color:#333;
	}	
	
    .tabsbox .tabselected
    {
        font-size: 14px;
        position: relative;
        color: #333;
        height: 20px;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px solid #F4F4F4;
        border-top: 1px solid #F4F4F4;
        border-bottom: 1px solid #ffffff;
		background-color:#E45104;
		color:#fff;
    }
    #tabsboxfirstelement
    {
        border-left: 1px solid #F4F4F4;        
    }
    .tabwindow
    {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 1210px;
        height: 430px;
    }
	#tabproducts.tabwindow {
		overflow:auto;
	}
    .tabwindowHidden
    {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 1210px;
        height: 430px;
        visibility: hidden;
        display: none;
    }
.tabbedboxhalf
{
    position: relative;
    left: 0px;
    width: 605px;
    top: 25px;
    height: 400px;
    border: 1px solid #F4F4F4;
}
    .tabwindowhalf
    {
        position: relative;
        top: 5px;
        left: 5px;
        width: 595px;
        height: 390px;  
    }
    .tabwindowHiddenhalf
    {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 595px;
        height: 390px;
        visibility: hidden;
        display: none;
    }
.table
{
    border: 1px solid #F4F4F4;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
	text-align:center;
}  
     .half
    {
        height: 388px;
    }
    .table .hr
    {
        height: 20px;
        font-weight: bold;
        border-bottom: 1px solid #F4F4F4;
		padding-top:3px;
		padding-bottom:3px;
    }
        .table .hr .th
        {
            text-align: center;
            float: left;
        }
    .table .tr
    {
        min-height: 20px;
        border-bottom: 1px solid #F4F4F4;
		padding-top:3px;
		padding-bottom:3px;		
    }
	
	
	.table td a {
		float:left;
	}
	
	
	
	
	
    .table .alt
    {
        background-color: #FAFBF5;
    }
        .table .tr .td
        {
            float: left;
            border-right: 1px dashed #F4F4F4;
        }
        .table .tr .td .controls
        {
            /*width: 120px;*/
        }
        .table .tr .td .controls div
        {
            width: 20px;
            height: 20px;
            float: left;
            padding-right: 1px;
        }    
		.table .tr { 
			float:left;
	}
.form
{
    position: absolute;
    font-size: 12px;
    top: 40px;
    left: 20px;
    width: 1170px;
    height: 370px;
}
.fieldline
{
    width: 1190px;
    float: left;
    height: 27px;
}
.fieldname
{
    width: 170px;
    float: left;
}
.fieldvalue
{
    width: 200px;
    float: left;
	text-align:left;
}
.fieldvalueform
{
    width: 300px;
}
.fieldline .fieldvalue select {
	width:300px;
}



input[type="checkbox"].fieldvalueform
{
    width: 15px;
}
.pagehalf
{
    width: 600px;
    float: left;
    height: 410px;
}
div#stock-allocation {
    overflow-y: scroll;	
	overflow-x:hidden;
}
.manualTicketing
{
    position: relative;
    top: 120px;
    height: 450px;
    overflow-y: scroll;
}
    .passtype
    {
		width:100%;
		padding-top:3px;
		padding-bottom:3px;
        text-align: center;
        cursor: pointer;
    }
    .passtype:hover {
		color:#E45104;
	}	
.vouchertemplaterow
{
    position: relative;
    width: 1170px;
    float: left;
    font-size: 12px;
}
    .vouchertemplatetitle
    {
        position: relative;
        width: 800px;
        float: left;
    }
    .vouchertemplatefield
    {
        position: relative;
        width: 350px;
        float: left;
        
    }
    .vouchertemplatefield input
    {
        position: relative;
        width: 350px;
    }




/*

Datafields

*/
.CurlHTML_Code
{
    width: 140px;
}
.CurlCurrency_Short_Code
{
    width: 190px;
}
.CurlCurrency_Symbol
{
    width: 160px;
}
.CurlCurrency_Name
{
    width: 350px;
}
.aueupPermissions
{
    width: 95px;
    text-align: center;
}
.aueupPermission,
.aueupVisible {
	width:95px;
}
.aueupAllowed
{
    width: 75px;
    text-align: center;
}
.aueupSection
{
    width: 350px;
	text-align:left;
	padding-left:20px;
}
.table .hr .th.aueupSection {
	text-align:left;
}
.aueuctablecontroledit
{
    width: 120px;
}
.table .hr .th.aueucArea,
.aueucArea
{
    width: 430px;
	text-align:left;
	padding-left:20px;
}
.aulcontrol
{
    width: 20px;
}
.aulPassword
{
    width: 150px;
}
.aulDate_Added
{
    width: 200px;
    text-align: center;
}
.aulAccount_Enabled,
.aulTemplate
{
    width: 200px;
    text-align: center;
}
.aulUser_Name
{
    width: 200px;
	padding-left:10px;
	padding-right:10px;
	text-align:left;
}
.ptecontrol
{
    width: 70px;
}
.ptename
{
    width: 350px;
}
.ptetype
{
    width: 250px;
}
.pteorderby
{
    width: 200px;
    text-align: center;
}
.ptedisplay
{
    width: 100px;
    text-align: center;
}
.ptlname
{
    width: 300px;
}
.ptlelements
{
    width: 150px;
    text-align: center;
}
.slName
{
    width: 350px;
}
.slPath_to_CSS
{
    width: 350px;
}
.slScheme_Path
{
    width: 350px;
}
.slcontrol
{
    width: 25px;
}
.slCurrency
{
    width: 100px;
}
.aueusSite_Name
{
    width: 475px;
	text-align:left;
	padding-left:20px;
}
.sitetemplate {
	padding-top:5px;
	padding-bottom: 5px;
	float:right;
	margin-right:20px;
	
}

#tabuserssites .sitetemplate {
    border: 1px solid #F4F4F4;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 572px;
}

#tabuserssites .input-holder {
	float:left;
	text-align:center;
	width:572px;
}
#tabuserssites .half {
	height:288px;
}
#tabuserssites .direction-text-holder {
	float:left;
	width:auto;
	margin-bottom:6px;
	text-align: left;
	font-size:14px;
}
#tabuserssites .table .direction-text-holder {
	padding:10px;
	height:50px;
}
	#tabuserssites .table .direction-text-holder:after { 
		content: ""; 
		display: block; 
		height: 0; 
		clear: both; 
	}

#tabuserssites .direction-text-holder h3 {
	font-weight:bold;
	width:auto;
	margin-bottom:5px;
}
#tabuserssites .table {
	float:left;
}
#tabuserssites .hr {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
	float:left;
	border-top:1px solid #f4f4f4;
	width:530px;
}
#tabOrganisations .aueustablecontroledit {
	width:50px;
	float:right;
}
#tabOrganisations .hr {
	padding-left:20px;
	
}
#userlist  {
	overflow-y:auto;
	overflow-x:hidden;	
}
#userlist .tr {
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
}
#tabuserssites .aueustablecontroledit
{
	width:70px;
}
.llLanguage_Name
{
    width: 600px;
}
.llLanguage_Icon
{
    width: 400px;
}
.ercurrencyfrom
{
    width: 525px;
}
.ercurrencyto
{
    width: 525px;
}
.erpercentage
{
    width: 130px;
}
input.erpercentage
{
    width: 100px;
    height: 15px;
}
.scclCountry_Name
{
    width: 720px;
}
.scclCountry_Code
{
    width: 120px;
}
.scclDES_Code
{
    width: 100px;
}
.scclRBS_Code
{
    width: 100px;
}
.scclEuRailCode
{
    width: 100px;
}

.aueucCountry
{
    width: 500px;
}
.doDelivery_Method_Name
{
    width: 300px;
}
.doDescription
{
    width: 700px;
}
.doIs_Admin
{
    width: 60px;
}
.doPrice
{
    width: 100px;
}
.vVoucher_Name
{
    width: 700px;
}
.vPercentage_Off_Product
{
    width: 200px;
}
.vAmount_Off_Product
{
    width: 200px;
}
.pcCategory_Name
{
    width: 1100px;
}
.pceta
{
    width: 1000px;
    height: 230px;
    display: inline-block;
}
.pcetapos
{
    height: 250px;
}
.paptplus
{
    width: 20px;
    cursor: pointer;
}
.papttitle
{
    width: 5180px;
}
.paptproducts
{
    width: 5180px;
}
.hidden
{
}
.paptfieldtitles
{
    width: 650px;
}
.paptfields
{
    width: 650px;
    overflow: hidden;
}
.clear
{
    clear: both;
}
.pasearch
{
    position: relative;
    right: 5px;
    width: 500px;
    height: 20px;
    border: 1px solid #3D7BAD;
}
#assignControls
{
    font-size: 12px;
    position: absolute;
    top: -34px;
    right: 0px;
    width: 500px;
    height: 30px;
    z-index: 3;
}
#assignControlschk, #assignControlsSearch, #assignControlsSubmit
{
    float: left;
    padding-left: 5px;
}
.ordertabbox
{
    height: 355px;
    top: 40px;
}
.orderdetails
{
    position: relative;
    left: 8px;
    width: 1221px;
    top: 8px;
    height: 78px;
    border-top: 1px solid #F4F4F4;
    border-left: 1px solid #F4F4F4;
    font-size: 11px;
    color: #333;
}
.limited
{
    height: 52px;
}
.odb
{

    height: 51px;
    width: 174px;
    float: left;
    text-align: center;
    
}
.odtop
{
    border-bottom: 1px solid #F4F4F4;
    border-right: 1px solid #F4F4F4;
    height: 15px;
    padding: 5px;
    font-weight: bold;
    
}
.odmiddle
{
    border-bottom: 1px solid #F4F4F4;
    border-right: 1px solid #F4F4F4;
    height: 15px;
    padding: 5px;
}
.odbottom
{
    border-bottom: 1px solid #F4F4F4;
    border-right: 1px solid #F4F4F4;
    height: 15px;
    padding: 5px;
}
.odstatus
{
    width: 177px;
}
.odbottom a
{
    color: #E45104;
}
.innerproduct
{
    font-size: 10px;
}
.searchorders th
{
      color: #333;
}
.searchorders td
{
     border: 1px solid #F4F4F4;
     font-size: 12px;
}
.searchorders tr
{
     background-color: #ffffff;
}
.searchorders tr:Hover
{
     background-color: #f4f4f4;
	 cursor:pointer;
}
#SearchBoxes div
{
    float: left;
}
.productnotes
{
    width: 1000px;
}
#tabnotes
{
    overflow-y: scroll;
    height: 350px;
}


#searchresults
{
    position: absolute;
    width: 1100px;
    height: 300px;   
    background-color: #ffffff;
    border: 1px solid grey;
    display: none;
    visibility: hidden;
}
.odp
{
    font-size: 12px;
}
.odp input
{
    font-size: 12px;
}
.odp select
{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
.odpsalutation, .odpsalutation input
{
    width: 60px;
}
.odpforename, .odpforename input
{
    width: 105px;
}
.odpsurname, .odpsurname input
{
    width: 180px;
}
.odpcountry
{
    width: 20px;
}
.odppassportno, .odppassportno input
{
    width: 90px;
}
.odpdob
{
    width: 220px;
}
.odppassstart
{
    width: 220px;
}
.odpdepaturedate
{
    width: 220px;
}
.productline
{
    font-weight: bold;
}
.statusdrop
{
    font-size: 12px;
}
#tickingdetail
{
    position: relative;
    visibility: hidden;
    background-color: #FAFBF5;
    border: 1px solid #F4F4F4;
    z-index: 3;
}
#tabpassengers
{
    overflow-y: scroll;
    height: 350px;
}
#organisations table, 
table.print-queue {
	margin-left:5px;
	margin-top:5px;
	border:1px solid #f4f4f4;
	width:1214px;
}
#organisations table {
	width:1180px;
	}
table.print-queue table {
	width:1198px;
	}
#organisations table td,
table.print-queue td {
	padding:5px;
	border-bottom:1px solid #f4f4f4;	
}

#stock-allocation p {
	margin-left:5px;
	margin-bottom:0px;
}
#report table,
#stock-allocation table {
	margin-left:5px;
	margin-top:5px;
	width:1230px;
	border:1px solid #f4f4f4;
}
#report table {
	margin-top:20px;
	}
div.SiteId {
	font-size:9px;
	padding-top:3px;
}
div.SiteId a {
	color:#E45104;
	text-decoration:none;
}
div.SiteId a:hover {
	text-decoration:underline;
}
div.SiteId,
div.SiteUserName,
div.SiteName,
div.SiteSelect {
	float:left;	
	padding-left:6px;
}
div.SiteName,
div.SiteUserName {
	padding-right:6px;
	border-right:1px solid #999;
}
div#productCommissions .pcCategory_Name {
    padding-right: 10px;
    text-align: right;
    width: 600px;
}
div#productCommissions .table .tr,
div#productCommissions .table .th
    {
        height: 20px;
        border-bottom: 1px solid #F4F4F4;
		padding-top:3px;
		padding-bottom:3px;		
		float:left;
		width:100%;
    }
div#productCommissions .table .th {
		width:45%;
	}
div#productCommissions .table .pcPercentage {
    padding-left: 70px;
    text-align: left;
}	

div#productMarkups .pcCategory_Name {
    padding-right: 10px;
    text-align: right;
    width: 500px;
}
div#productMarkups .table .tr,
div#productMarkups .table .th
    {
        height: 20px;
        border-bottom: 1px solid #F4F4F4;
		padding-top:3px;
		padding-bottom:3px;		
		float:left;
		width:100%;
    }
div#productMarkups .table .th.pcCategory_Name {
	width:500px;
}
div#productMarkups .table .pcPercentage,
div#productMarkups .table .pcAmount,
div#productMarkups .table .Curlcontrol {
	float:left;
	width:150px;
}











.tabwindow #FullEditWindow
{
    width: 100%;
    height: 100%;
}

.tabwindow #FullEditWindow IFrame
{
    width: 100%;
    height: 100%;
    border: none;
}
#FullEditWindowOnPage
{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}
#FullEditWindowOnPage .line .block
{
    float: left;
}
.languagearea
{
   width: 100%;
   height: auto;
   overflow-y: scroll; 
   overflow-x: none;
}
#FullEditWindowOnPage .line
{
    width: 100%;
    height: 75px;
}
.line .language
{
    width: 130px;
}
.line .title
{
    width: 90px;
}
.line .input
{
    width: 850px;
}
.line .input .full
{
    width: 840px;
}
#PaymentFrame
{
    width: 100%;
    height: 100%;
}
div#taborderdetails table
{
	font-size:14px;
	border:1px solid #F4F4F4;
}
div#tabproducts table,
div#tabrefunds table,
div#tabpdeliverydetails table {
	width:100%;
	font-size:14px;
	border:1px solid #F4F4F4;
}
div#taborderdetails table td,
div#tabproducts table td,
div#tabrefunds table td,
div#tabpdeliverydetails table td {
   border-bottom: 1px solid #F4F4F4;
    min-height: 20px;
    padding:3px;
	width:50%;
	
}
div#tabpdeliverydetails table td,
div#taborderdetails table td {
	text-align:right;
}
div#tabpdeliverydetails table td input,
div#tabpdeliverydetails table td select,
div#taborderdetails table td span {
	float:left;
}
div#tabproducts p {
	padding:6px;
	font-size:14px;
	color:#333;
}
div#tabproducts input#productsearch {
	width:750px;
}
#newOrder textarea.productnotes {
	float:left;
	width:1150px;
}

#tabOrganisations .aueusPrint_Queue_Name {
    padding-left: 5px;
    text-align: left;
    width: 460px;
}

#organisations .form {
    height: auto;
    left:90px;
    top:-30px;
    width:auto;	
}
#organisations .fieldline {
	width:auto;
	
}
#organisations .form .fieldvalueform {
	width:auto;
}

#tabPrintQueue .aueustablecontroledit {
	float:right;
	width:65px;
}
#tabPrintQueue .aueusPrint_Queue_Name {
    float: left;
    text-align: left;
    width: 420px;
	padding-left:5px;
	font-size:11px;
}
#tabPrintQueue .aueucPrint_Queue_Name {
	width:420px;
    float: left;	
    text-align: left;
	padding-left:5px;		
}
#tabPrintQueue .col-title-1 {
		width:65px;
    float: left;		
	}
#tabPrintQueue .col-title-2 {
		width:65px;	
    float: left;		
}






#hiddenqueuearea
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
display: none;
visability: hidden;
}

#hiddenqueuearea #center{
	position: absolute;
	top: 200px;
	left: 50%;
	width: 0px;
}
#hiddenqueuearea #center #selection{
	position: absolute;
	left: -200px;
	width: 400px;
	height: 100px;
	background-color: #000000;
padding-top: 50px;
}




#hiddenqueuearea
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
display: none;
visability: hidden;
}

#hiddenqueuearea #center{
	position: absolute;
	top: 200px;
	left: 50%;
	width: 0px;
}
#hiddenqueuearea #center #selection{
	position: absolute;
	left: -200px;
	width: 400px;
	height: 100px;
	background-color: #000000;
padding-top: 50px;
}

.coupon
{
    background-color: #FBF9D0;
}
.netprice
{
    background-color: #DDFCCF;
    width: 300px;
    text-align:left;
}
.grossprice
{
    background-color: #CFF5FC;
    width: 300px;
    text-align:left;
}


div#startScreen {
background-image: url(/schemes/internationalrail/images/large-arrow.gif);
    background-position: right top;
    background-repeat: no-repeat;
    float: left;
    height: 400px;
    margin-top: 90px;
    right: 100px;
    width: 1000px;	
}
div#startScreen span {
	float: right;
    font-weight: bold;
    margin-right: 190px;
    margin-top: 190px;
}


iframe {
	border:0px;
}


.GridView
{
    position: relative;
    top: 100px;
    width: 100%;
    line-height: 30px;
    text-align: left;
}
.GridViewAlternatingRowStyle td,
.GridViewHeaderStyle th,
body#vierOrderList table th {
	background-color:#FAFBF5;
}
.GridView td
{
    padding-left: 10px;
}

.contourIndicator {
	color:red;
	}
body.iframedPage {
	background:none;
}
#PaymentPage {
	font-size:14px;
}
#PaymentPage .form-row {
	float:left;
	width:100%;
	padding-top:3px;
	padding-bottom:3px;
}
#PaymentPage .form-row label {
	float:left;
	text-align:right;
	width:50%;
	margin-right:5px;
}
#PaymentPage .form-row input.text,
#PaymentPage .form-row select {
	float:left;
	text-align:left;
	width:auto;
	border:1px solid #ccc;
}

#PaymentPage .form-row input.contourButton {
	float:left;
	text-align:left;
	width:auto;	
	cursor:pointer;
}

