html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:99%;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
h1, h2, h3, h4, h5, h6{color:#333333;font-family:'avantgarde_md_btmedium';font-weight:normal;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{font-weight:inherit;}
h1{font-size:17px;margin-bottom:10px;color:#951f35;}
h2{font-size:20px;line-height:30px;margin-bottom:10px;}
h3{font-size:18px;line-height:27px;margin-bottom:8px;}
h4{font-size:16px;line-height:24px;margin-bottom:4px;}
h5{font-size:14px;line-height:21px;}
h6{font-size:13px;line-height:20px;}
.subheader{color:#777;}
p{margin:0 0 0 0;padding:0px;font-size:13px;color:#4D4D4D}
p img{margin:0;}
p.lead{font-size:21px;line-height:27px;color:#777;}
em{font-style:italic;}
small{font-size:80%;}
blockquote, blockquote p{font-size:17px;line-height:24px;color:#777;font-style:italic;}
blockquote{margin:0 0 20px;padding:9px 20px 0 19px;border-left:1px solid #ddd;}
blockquote cite{display:block;font-size:12px;color:#555;}
blockquote cite:before{content:"\2014 \0020";}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited{color:#555;}
hr{border:solid #ddd;border-width:1px 0 0;clear:both;margin:10px 0 30px;height:0;}
a:hover, a:focus{}
p a, p a:visited{line-height:inherit;}
ul{list-style:none outside;}
ol{list-style:decimal;}
ol, ul.square, ul.circle, ul.disc{margin-left:30px;}
ul.square{list-style:square outside;}
ul.circle{list-style:circle outside;}
ul.disc{list-style:disc outside;}
ul ul, ul ol,
ol ol, ol ul{margin:0;font-size:90%;}
ul ul li, ul ol li,
ol ol li, ol ul li{margin-bottom:6px;}
ul.large li{line-height:21px;}
li p{line-height:21px;}
img.scale-with-grid{max-width:100%;height:auto;}
form{margin-bottom:20px;}
fieldset{margin-bottom:20px;}
input[type="file"]{margin-bottom:20px;}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus{border:1px solid #aaa;color:#444;-moz-box-shadow:0 0 3px rgba(0,0,0,.2);-webkit-box-shadow:0 0 3px rgba(0,0,0,.2);box-shadow:0 0 3px rgba(0,0,0,.2);}
textarea{min-height:140px;width:92%;padding-right:2px;}
input[type="checkbox"]{display:inline;}
label span,
legend span{font-weight:normal;font-size:13px;color:#444;}
.remove-bottom{margin-bottom:0 !important;}
.half-bottom{margin-bottom:10px !important;}
.add-bottom{margin-bottom:20px !important;}