﻿


header{ width:100%; min-height:85px; margin-top:1px; position:relative;}
header .wrapper{position:relative;}

.logo{ float:left; padding:13px 10px;}
.logo img{float:left;}
header .top-rightblock{ float:right; padding-right:10px; position:relative;}
header .top-rightblock .toplink{ height:22px; background:#aaaaab; float:right;
border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc); padding:0 17px; font-size:11px; color:#4a4a4a;}

header .top-rightblock .toplink a{font-size:11px;   color:#4a4a4a; text-decoration:none;}

header .top-rightblock .call{ float:right;width:230px; padding:14px 0;}
header .top-rightblock .call img{ float:right;}
header .top-rightblock .call span{ float:right; font-size:18px; height:34px; line-height:34px; color:#000; padding-left:10px;}
header .top-rightblock .call span a{color:#000;text-decoration: none;}
header .top-rightblock .welcomeuser{float:left; line-height:60px; color:#951F35;}
header .top-rightblock .welcomeuser span{color:#951F35;}



/*footer starts here */ 

footer{background:#424242 url(../images/footer-bg.png) top repeat-x; margin-top:10px !important; }
footer .wrapper{padding:20px 12px; width:976px;}
footer .foot-col1{width:15%; float:left; padding-right:2%;}
footer .foot-col1 h3{ font-size:15px; color:#FFFFFF; padding-bottom:0; margin:0px;}
footer .foot-col1 ul { float:left;}
footer .foot-col1 ul li{ float:left; width:100%;}
footer .foot-col1 ul li a{ float:left; font-size:13px; background:url(../images/arr-white.png) no-repeat 0 10px; color:#aeaeae; text-decoration:none;
 padding:5px 0 0 10px;}
 
 footer .foot-col2{width:19%; float:left; padding-right:2%;}
footer .foot-col2 h3{ font-size:15px; color:#FFFFFF; padding-bottom:0; margin:0px;}
footer .foot-col2 ul { float:left;}
footer .foot-col2 ul li{ float:left; width:100%;}
footer .foot-col2 ul li a{ float:left; font-size:13px; background:url(../images/arr-white.png) no-repeat 0 10px; color:#aeaeae; text-decoration:none;
 padding:5px 0 0 10px;}

footer .bottom-section{ width:100%; border-top:1px solid #4d4d4d; padding:16px 0 21px 0; background:#242424 url(../images/footer--bottom-bg.png) repeat-x bottom;}
footer .bottom-section .wrapper{padding:0 12px; width:976px;}
footer .bottom-section .wrapper .f-links{ width:75%; float:left;}
footer .bottom-section .wrapper .f-links p{ padding:0px; margin:0px; font-size:13px; color:#fff; padding-bottom:10px; }
footer .bottom-section .wrapper .f-links p a{ color:#FFFFFF; text-decoration:none;}

footer .bottom-section .wrapper .f-links span{ padding:0px;margin:0px; font-size:11px; color:#fff; float:left; }
footer .bottom-section .wrapper .social-links{  float:right;   width:25%; }
footer .bottom-section .wrapper .social-links p{ font-size:17px; color:#FFF; margin:0px; padding:0px 0 10px 0;}
footer .bottom-section .wrapper .social-links img{ float:left; padding-right:5px;}