/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
@font-face {
    font-family: 'avantgarde_md_btmedium';
    src: url('../fonts/avgardm-webfont.eot');
    src: url('../fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avgardm-webfont.woff') format('woff'),
         url('../fonts/avgardm-webfont.ttf') format('truetype'),
         url('../fonts/avgardm-webfont.svg#avantgarde_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
.divPrice{text-align: center;width:99%;}
 .float-lt{ float: left;}
 .float-rt{ float: right;}
 .ts-prev,
.ts-next{
position:absolute;
background-color:#831D1D;
cursor:pointer;
}
  
 
/*Modul Popup Back Ground Css*/
 .clsMrgTop10  { margin-top: 20px;          float: left;  width: 100%;text-align: center;       }
 .dvPopupHead {float:left;text-align:right; padding-right:5px; background:#951F35; color:#fff; border:1px solid #ccc; width:100%; line-height:25px; border-radius:5px;}
.dvPopupTxt{widt:100px; float: left; padding-left: 15px;}
.modalBackground{
    z-index:101;position: fixed;top: 0px; bottom: 0px; left: 0px;right: 0px;overflow: hidden;padding: 0;margin: 0;background-color: #000; filter: alpha(opacity=50); opacity: 0.5;text-align: center;float: left;
}
.popup{background-color: #fff;border-radius: 10px 10px 10px 10px;box-shadow: 0 0 25px 5px #999;color: #111;
 width: 955px;min-height:85px;max-height:485px;overflow-y:auto;border:1px solid #ccc;padding: 25px;}
.popuHeading {float:left;text-align:right; padding-right:5px; background:#951F35; color:#fff; border:1px solid #ccc; width:100%; line-height:25px; border-radius:5px;}
.flashmap-country-drop {display:none!important;}

*:focus{outline:none;}
body{background:url(../images/top-bg.jpg) top repeat-x; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}

.clear{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.pos-rel{position:relative;}

#container{width:100%;}
.wrapper{width:1004px; margin:0 auto;}


/*header{ width:100%; min-height:85px; margin-top:1px; position:relative;}
header .wrapper{position:relative;}

.logo{ float:left; padding:13px 10px;}
.logo img{float:left;}
header .top-rightblock{ float:right; padding-right:10px; position:relative;}
header .top-rightblock .toplink{ height:22px; background:#aaaaab; float:right;
border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc); padding:0 17px; font-size:11px; color:#4a4a4a;}

header .top-rightblock .toplink a{font-size:11px;   color:#4a4a4a; text-decoration:none;}

header .top-rightblock .call{ float:right;width:230px; padding:14px 0;}
header .top-rightblock .call img{ float:right;}
header .top-rightblock .call span{ float:right; font-size:18px; height:34px; line-height:34px; color:#000; padding-left:10px;}
header .top-rightblock .call span a{color:#000;text-decoration: none;}
header .top-rightblock .welcomeuser{float:left; line-height:60px; color:#951F35;}
header .top-rightblock .welcomeuser span{color:#951F35;}
*/


nav{height:47px;  float:left; width:100%; border-bottom:1px solid #FFF; }
nav select{display:none; }

nav ul{padding:0 0px;  padding:12px 0 0 0; float:left;}
nav ul li{float:left; display:inline-block; margin-right:5px;}

nav ul li a{color:#fff; line-height:32px;  border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
 behavior:url(PIE.htc); 
background: #c5456a; /* Old browsers */
background: -moz-linear-gradient(top,  #c5456a 0%, #962037 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5456a), color-stop(100%,#962037)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c5456a 0%,#962037 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c5456a 0%,#962037 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c5456a 0%,#962037 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c5456a 0%,#962037 100%); /* W3C */
-pie-background: linear-gradient(#c5456a, #962037);
 
 position:relative;
 border:1px solid #ab2f46;

font-size:15px; font-weight:bold; padding:0 15px; display:block; text-decoration:none; }

nav ul li a:hover , nav li a.active{color:#252527; line-height:32px; border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
 behavior:url(PIE.htc); 
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* W3C */
-pie-background: linear-gradient(#f6f8f9, #edeeee);

 border:1px solid #adb9c2;
 color:#931b31; padding:0 15px; display:block; text-decoration:none; }

nav .agentlogin{ float:right; padding:10px 20px 0 0;  font-size:15px; font-weight:normal; color:#FFF;}
nav .agentlogin a{ color:#FFF; text-decoration:none;}
nav .agentlogin a p{ float: left;padding: 5px 0 0 0;margin: 0px;  color:#FFF; text-decoration:none;}
nav .agentlogin a img{ float:left; padding-right:5px;}
	
/* banner starts here */
.banner{width:100%; float:left; border-bottom:3px solid #951f35; margin:0px;  position:relative;}
/*.banner .caption{ float:right; position:absolute; right:10px; top:50px; z-index:999;}
.banner .caption h2{ font-size:30px; color:#FFF; text-transform:uppercase;} 
.banner .caption p{ font-size:12px; color:#fff;}
.banner .caption span{ float:left; width:100%; border-bottom:1px solid #FFF; padding:7px 0 8px 0;}*/
.banner img{ position:relative; z-index:0;height: 176px; }

/* banner ends here */

/* content part starts here */ 
.content{width:100%; float:left; margin-top:15px;}
.left-content{ width:697px; float:left; padding-left:12px;}


.left-content p{ font-size:13px; color:#4d4d4d;}
.rail-detail-block{ /*width:100%; float:left;*/ padding-top:25px; margin-bottom:10px; }
.tab-detail-in .left-content{float:none; width:auto; padding-left:5px; }
.rail-detail-block .list-tab{/* float:left; width:100%;*/ height:35px;}
 .rail-detail-block .list-tab ul{ line-height:36px;}
  .rail-detail-block .list-tab ul li{ list-style:none; float:left; margin-right:5px;}
  
  .rail-detail-block .list-tab ul li a{ list-style:none; text-decoration:none; float:left; padding:0 15px; font-size:13px; color:#424242;
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%); /* W3C */
-pie-background: linear-gradient(#f6f8f9, #edeeee);

	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
 behavior:url(PIE.htc); position:relative; 
 border:1px solid #b3b3b3; border-bottom:0px;

}

  .rail-detail-block .list-tab ul li a:hover ,  .rail-detail-block .list-tab ul li a.active{ list-style:none; float:left; padding:0 15px; color:#fff;text-decoration:none;
background: #b1085e; /* Old browsers */
background: -moz-linear-gradient(top,  #b1085e 0%, #75043d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1085e), color-stop(100%,#75043d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b1085e 0%,#75043d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b1085e 0%,#75043d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b1085e 0%,#75043d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b1085e 0%,#75043d 100%); /* W3C */
-pie-background: linear-gradient(#b1085e, #75043d);
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
 behavior:url(PIE.htc); position:relative; 
 border:1px solid #11070c; border-bottom:0px;}
 .rail-detail-block .tab-detail-in{ /*width:100%;float:left;*/box-sizing:border-box;
-moz-box-sizing:border-box;   padding: 1% 0% 0 1%; margin-bottom:10px; border:1px solid #b3b3b3;   	
 border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc); } 

 
.rail-detail-block .tab-detail-in .booking-block{ width:332px; padding:5px 5px 10px 2px;box-sizing:border-box;
-moz-box-sizing:border-box; background:#efefef; margin: 0 5px 8px 0; float:left; min-height:170px;max-height: 170px; }
.rail-detail-block .tab-detail-in .booking-block .imgblock{ width:116px; float:right; }
.rail-detail-block .tab-detail-in .booking-block .imgblock img{ background:#e7e7e7; padding:4px; border:1px solid #b3b3b3; margin-bottom:5px;}
.rail-detail-block .tab-detail-in .booking-block .booking-detail{ width:290px; padding-left:9px; float:left;max-height: 110px;min-height: 110px; }
	    
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01{ width:90px; float:left; position:relative;padding-top:10px; }
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01.colum011{ width: 160px;}
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 .price{ position:absolute; text-align:right; line-height:15px; right:-17px; font-weight: bold;top:6px;font-size:14px;color:#951f35; }
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 .price span{font-size:12px;color:#951f35;  } 
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 img{float:left; padding-bottom:10px; }
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 img:after{ clear:both; }
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 h3{ font-size:14px; line-height:normal; margin:0px; color:#000; float:left; width:100%; }
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 h3 span{ font-size:12px; color:#000; }
.rail-detail-block .tab-detail-in .booking-block .booking-detail .colum01 p{ font-size:10px; color:#000; float:left; width:100%; padding:0px; }


		.rail-detail-block .tab-detail-in .booking-block .booking-detail .title{ width:100%;  float:left; padding-bottom:10px; }
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .title .lt{ font-size:15px; height:15px; line-height:15px; float:left; color:#951f35;}
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .title .lt img{ float:left ; padding-right:5px;} 
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .title .rt{ font-size:15px; float:right; height:15px; line-height:15px; color:#951f35;}
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row{ width:100%; font-size:12px;  float:left; padding-bottom:8px; color:#4d4d4d; }		
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row .lt{ width:113px;float:left;  }
		.rail-detail-block .tab-detail-in .booking-block .booking-detail .detail-row .rt{ float:left;  }
		


.right-content{ width:277px; float:right;  padding-right:10px;}

.ticketbooking{ width:100%; float:left; padding-top:25px;}
.ticketbooking .list-tabb{ float:left; width:100%; height:36px;}
 .ticketbooking .list-tab ul{ line-height:36px;}
  .ticketbooking .list-tab ul li{  list-style:none; float:left; margin-right:5px;}
  .ticketbooking .list-tab ul li a
  { list-style:none; float:left; border:1px solid #b3b3b3;  border-bottom:0px; padding:0 15px; text-decoration:none; font-size:13px; color:#fff;
  border-radius: 5px 5px 0 0 !important;
            -moz-border-radius: 5px 5px 0 0 !important;
            -webkit-border-radius: 5px 5px 0 0 !important;
            -ms-border-radius: 5px 5px 0 0;
            behavior: url(PIE.htc);
            cursor: pointer;
            color:#fff;
           background: #c5456a !important;; /* Old browsers */
background: -moz-linear-gradient(top,  #c5456a 0%, #962037 100%) !important;; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5456a), color-stop(100%,#962037)) !important;; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c5456a 0%,#962037 100%) !important;; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c5456a 0%,#962037 100%) !important;; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c5456a 0%,#962037 100%) !important;; /* IE10+ */
background: linear-gradient(to bottom,  #c5456a 0%,#962037 100%) !important;; /* W3C */
-pie-background: linear-gradient(#c5456a, #962037) !important;;
 
 position:relative;
 border:1px solid #B3B3B3 !important;border-bottom:0px !important;
            
            }

  .ticketbooking .list-tab ul li a:hover ,  .ticketbooking .list-tab ul li a.active
  { list-style:none; float:left; padding:0 15px;text-decoration:none;  
    border-radius: 5px 5px 0 0 !important;
            -moz-border-radius: 5px 5px 0 0 !important;
            -webkit-border-radius: 5px 5px 0 0 !important;
            -ms-border-radius: 5px 5px 0 0;
            behavior: url(PIE.htc);
            position: relative;
            cursor: pointer; 
             behavior:url(PIE.htc); 
background: #f6f8f9!important; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important; /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important; /* W3C */
-pie-background: linear-gradient(#f6f8f9, #edeeee)!important;

 border:1px solid #B3B3B3 !important; border-bottom:0px !important;
 color:#931b31 !important;
            font-size: 13px !important;
}
 
 .ticketbooking .tab-detail-in{  padding:11px 11px 11px 7px;
  width: 255px; float:left;margin-bottom:0px;  border:1px solid #b3b3b3; 
  	border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc);
     background: #efefef;
} 
.on-focusdiv{ border:1px solid #a50452 !important;
    background: #fad9dc!important; } 

.ticketbooking .full-row{ width:100%; float:left; padding-bottom:8px; font-size:12px; color:#4d4d4d;}
.ticketbooking .full-row.depart-cal{}
.ticketbooking .full-row.depart-cal .inbox01{width:67px !important; padding:2px;}
.ticketbooking .full-row.depart-cal .ui-datepicker-trigger{float:left; width:20px; margin-top:3px; margin-right:3px; height:21px;}
.ticketbooking .full-row.depart-cal .slbox01{width:64px !important;}  
.ticketbooking .full-row.depart-cal .tdisabled input[type="text"]{border: 1px solid #D3D3D3; color: #4D4D4D; float: left; font-size: 12px; height: 25px; line-height: 25px; margin-right:5px; width: 78px !important; padding: 2px; width: 67px !important; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -ms-border-radius:0; -o-border-radius:0;}
.ticketbooking .full-row.depart-cal .tdisabled select{float:left; font-size: 12px; height: 31px; line-height: 31px; width: 64px !important;  padding: 5px 3px; border: 1px solid #D3D3D3; margin-right:0; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -ms-border-radius:0; -o-border-radius:0; }
 
 
  

 .ticketbooking .colum01{ float:left; width:85px; height:25px; line-height:25px; padding-left:5px; }
  .ticketbooking .colum02{ float:left; width:160px; height:25px; line-height:25px;}
   .ticketbooking .colum03{ float:left; width:120px; padding-left:5px; }
      .ticketbooking .colum03 p{ font-size:12px; color:#4d4d4d; }
	  .ticketbooking .colum03 sapn{ font-size:9px; color:#acacac; }
    .ticketbooking .colum03 select{ width:100%; padding:3px; border:1px solid #d3d3d3; height:25px; font-size:12px; color:#4d4d4d; line-height:25px;}

  
    .ticketbooking .colum02 input[type="text"]{ width:100%; border:1px solid #d3d3d3; height:25px; font-size:12px; color:#4d4d4d; line-height:25px;}
	 
 .ticketbooking .gray-row{ width:92%; float:left; padding:2%; background:#7f7f7f; margin-left:5px; margin-bottom:10PX; border:1px solid #424242;  font-size:12px; color:#4d4d4d;  }
 .ticketbooking .gray-row .fullrow02{ border-bottom:1px solid #a1a1a1; padding-bottom:8px; margin-bottom:10px; float:left; width:100%;}

 .ticketbooking .gray-row .fullrow02 .colum01{ float:left; width:51px; height:25px;  color:#FFF; line-height:25px; padding-left:8px; }
.ticketbooking .gray-row .fullrow02 .colum02{ float:left; width:160px; height:25px; color:#FFF; line-height:25px; padding-right:8px; }
  .inbox01{width:78px !important; margin-right:3px; float:left;  border:1px solid #d3d3d3; height:25px; font-size:12px; color:#4d4d4d; line-height:25px;}
     .slbox01{width:72px !important;  float:left; padding:5px 3px;  border:1px solid #d3d3d3; height:31px; font-size:12px; color:#4d4d4d; line-height:29px;}
      .slbox-big{width:142px ;  float:left; padding:3px;  border:1px solid #d3d3d3; height:29px; font-size:12px; color:#4d4d4d; line-height:29px;}
       .slbox-sml{ float:left; padding:3px;  border:1px solid #d3d3d3; height:29px; font-size:12px; color:#4d4d4d; line-height:29px;}

.newsletter-outer{ width:100%; float:left; }
.newsletter-outer .title{ padding: 0 0 0 11px;
  width: 264px;  float:left; height:46px; line-height:46px;
  	border-radius: 5px 5px 0 0 ;
	-moz-border-radius: 5px 5px 0 0 ;
	-webkit-border-radius: 5px 5px 0 0 ;
	-ms-border-radius: 5px 5px 0 0 ; 
 behavior:url(PIE.htc); 

background:#424242; font-size:18px; color:#FFFFFF; }

.newsletter-outer .newsletter-inner {
  border: 1px solid #B3B3B3;
  	border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc); 
  float: left;
  margin-bottom: 0;
  padding:11px;
  width: 251px;
}


.newsletter-outer .newsletter-inner input[type="text"] {
  border: 1px solid #adb9c2;
  height:38px; line-height:38px;
   -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; width:100%; margin-bottom:12px; font-size:13px; color:#424242;}

.right-banner{ width:100%; float:left;}


.brbotm{ border-bottom:1px dotted #b3b3b3;}
.marg-lr{ margin:0 6px;}
.br-none{ border:0px !important;}
.marg-n{ margin:0px !important;}
.f-right{ float:right !important;}
.w92{ width:92px !important;}

.left-content .smlblock{ float:left; width:208px; 
  	border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc); 

background:url(../images/sml-bottomblock-bg.jpg) repeat-x bottom;  border:1px solid #b3b3b3; padding:9px; margin-bottom:12px;  }
.left-content .smlblock img{
 border:1px solid #d3d3d3;   	border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);  margin-bottom:14px; }
.left-content .smlblock p{ padding-bottom:27px;}
.left-content .smlblock span{ float:right; background:url(../images/arr-red.jpg) no-repeat left; padding-left:10px; font-size:11px; color:#951f35;}
.left-content .smlblock span a{  color:#951f35; text-decoration:none;}
.bg-white{background:#fff !important;}
.left-content .country-block-outer{ background:#8a182f; border:1px solid #B3B3B3; padding:1.5%;/* width:97%; float:left; */
 border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);}
.left-content .country-block-inner{ background:#fff; padding:1% 0;/* width:100%; float:left; */
border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);}
.left-content .country-block-inner .contory-block{  width:142px; height:170px; float:left; 
 border:1px solid #b3b3b3;
 border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc); margin: 4px; padding:8px;}
.left-content .country-block-inner .contory-block p{ font-size:12px;}
	
.left-content .country-block-inner .contory-block img{
	 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:1px solid #d3d3d3; margin-bottom:8px; }
/*innerstart*/
.content-inner{width:97%; float:left; margin-top:9px; padding:1% 1.5%}
.breadcrumb{ width:100%; float:left; font-size:12px; padding-bottom:16px; color:#951f35; color:#4d4d4d; }
.breadcrumb a{color:#951f35; text-decoration: none; }
.innner-banner{ background:url(../images/innerbanner-borderbg.png) repeat-x bottom; margin-bottom:10px; padding-bottom:8px; position:relative; width:100%; float:left;}
.btn-austrailia{ position:absolute; left:0px; top:0px;height:191px;overflow: hidden;}

.btn-conect{ position:absolute; right:0px; top:0px;display: none;}
.innner-banner .scale-with-grid{max-width: inherit; width: 100%; max-height:190px; float:left}
.btn-austrailia img { height: 207px;}

.content-inner  ul.list { float:left; padding-bottom:25px;}
.content-inner  ul.list li { clear:left; color:#4d4d4d; font-size:13px; padding:5px 0 0 10px; background:url(../images/arr-black.jpg) no-repeat left 10px;}

.left-content ul.list { float:left; padding-bottom:25px;}
.left-content  ul.list li { clear:left; color:#4d4d4d; font-size:13px; padding:5px 0 0 10px; background:url(../images/arr-black.jpg) no-repeat left 10px;}


.map-container-title{ width:100%; background:#dfdfdf; height:40px; line-height:40px; margin-bottom:15px; font-size:17px; color:#951f35; border-top:1px dashed #757575; border-bottom:1px dashed #757575;}
.map-container-title h1{ float:left;}
.map-container-title h1 a{  color:#951f35; text-decoration:none; }
.map-container-title h1 img{ float:left; padding:5px 0 0 5px; }
.w184{ width:184px !important;}
.mar-t{ margin-top:5px;}
.information-block{ float:left; width:22.8%; 
 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:1px solid #B3B3B3; min-height:238px;  padding:5px; margin:0 12px 23px 0;   }
.information-block img{
border-radius: 5px 5px 5px 5px;
margin-bottom: 14px;}
.mar-r-none{ margin-right:0 !important;}
.padd-b{ padding-bottom:21px !important;}
.txt-red{ color:#951f35 !important; text-decoration:none;}
.smltxt{ font-size:12px !important;}
.bggray{background:#505050 !important;}
.br-right{border-right:1px solid #FFF;}
.txt-w{ color:#fff !important; }
.br-none{ border:0px !important;}
.w105{ width:105px !important;}
/*content-ends*/

/*contory-detail-start*/
.banner-right{ background:#dadada; padding:4px; margin-bottom:15px; border:1px solid #b3b3b3;}
.rail-pass-form-detail{ width:99.8%; float:left; border:1px solid #b3b3b3; margin:10px 0 20px 0;}
.rail-pass-form-detail .full-row{ width:100%; float:left ;  border-bottom:1px solid #b3b3b3;} 
.rail-pass-form-detail .first-half{ width:30%; float:left ;  } 
.rail-pass-form-detail .first-half .colum1{ width:97%; float:left ; min-height:50px; padding:1% 1% 0 2%; font-size:13px; color:#505050;} 
.rail-pass-form-detail .first-half .colum1 span{ color:#951f35 !important; }
.rail-pass-form-detail .second-half{ width:69.8%; float:left ; border-left:1px solid #b3b3b3; } 
.rail-pass-form-detail .second-half .colum1{ width:37.8%; height:25px; line-height:25px; float:left ; border-right:1px solid #b3b3b3; padding:0 1% 0 1%; font-size:13px; color:#505050;} 
.rail-pass-form-detail  .second-half .colum2{ width:27.8%;  height:25px; line-height:25px; float:left ; border-right:1px solid #b3b3b3; padding:0 1% 0 1%;font-size:13px; color:#505050;}
.rail-pass-form-detail .second-half .colum3{ width:27.7%;  height:25px; line-height:25px; float:left ;padding:0 1% 0 1%; font-size:13px; color:#505050;}
.countrylist02{}
.countrylist02 li{ width:47% !important; background:#eef1ee url(../images/arr-red.jpg) no-repeat left 10px !important; min-height:38px; margin: 4px; border: 1px dashed #ccc;}
 ul.countrylist { float:left; padding-bottom:10px; width:100%;}
ul.countrylist li { float:left; color:#4d4d4d; font-size:13px; width:18%; padding:5px 0 5px 10px; background: url(../images/arr-red.jpg) no-repeat left 10px;}
ul.countrylist li a { text-decoration:none; color:#4d4d4d;}

/*Rail Pass List*/

ul.RailPasslist { float:left; padding-bottom:10px; width:100%;}
ul.RailPasslist li { float:left; color:#4d4d4d; font-size:13px; width:18%; padding:5px 0 5px 15px; background: url(../images/arr-rail-red.png) no-repeat left 10px;
                     border: 2px solid #951F35;
                     border-radius: 5px 5px 5px 5px;
                     -webkit-border-radius: 5px 5px 5px 5px;
                     text-decoration: underline;}
ul.RailPasslist li a { text-decoration:none; color:#951F35;}

.RailPasslist.countrylistRp { float:left; padding-bottom:10px; width:100%;}
.RailPasslist.countrylistRp a {float:left; color:#951F35; font-size:13px; width:43%; margin-right: 1%;margin-bottom: 4px; background: url(../images/arr-rail-red.png) no-repeat 10px 13px; border: 2px solid #951F35; 
 border-radius: 5px 5px 5px 5px;
 -webkit-border-radius: 5px 5px 5px 5px;
text-decoration: underline; min-height: 28px; padding: 10px 10px 10px 25px;}

.RailPasslist.countrylistRp a span{ }
ul.RailPasslist li a { text-decoration:none; color:#951F35;}

/*end*/
  .description
        {
            width: 316px;
            border: 1px solid #CFA1A1;
            float: left;
            padding: 2px;
            min-height: 100px;
            overflow: hidden;
            text-align: justify;
        }
        .description:hover
        {
            background-color:#dedede;
            border: 1px solid #951f35;
        }

/*contory-detail-start*/

/*accomadtion*/
.slbox{
border: 1px solid #D3D3D3;
color: #4D4D4D;
font-size: 12px;
height: 25px;
line-height: 25px;
width: 100%; }
.mr-l{ margin-left:5px;}
.mr-r{ margin-right:3%;}
.w45{ width:45% !important;}
.titlebg{  background:#7f7f7f !important;}
.contact-innner {
  border: 1px solid #DFDFDF; border-top:0px;
  	border-radius:0 0 5px 5px ;
	-moz-border-radius: 0 0 5px 5px ;
	-webkit-border-radius: 0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ; 
 behavior:url(PIE.htc); 
  float: left;
  margin-bottom: 0;
  padding:11px;
  width: 251px;
   background:#DFDFDF;

}
  .imgborder{border: 1px solid #DFDFDF;
  	border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);}

.contact-innner p { padding-bottom:5px;}
.contact-innner p  img{ vertical-align:middle;}

/*contactus*/
.formblock{ float:left; width:35%;}
.formblock .in-box{ float:left; width:97.8%;
		border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc); text-indent:5px; padding:0.5%; margin-top:12px; height:36px; line-height:36px; border:1px solid #d6d6d6; font-size:13px; color:#717171;}
 
.formblock .txtarea-box{ float:left;  	
border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);text-indent:5px; width:97.8%; padding:0.5%; margin:12px 0; min-height:70px; border:1px solid #d6d6d6; font-size:13px; color:#717171;}
 
.address-block{ float:left; width:30%; padding:0 1%;}
.address-block .fullrow{ padding:12px 0 0 0; float:left; margin:0px; font-size:13px; color:#717171;}
.address-block .fullrow .imgblock{ padding:10px; height:20px; float:left; text-align:center;
 border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);  border:1px solid #d6d6d6; margin-right:10px; }
.address-block .fullrow  span{ font-size:13px;  color:#717171; height:40px; line-height:40px;}
.address-block .fullrow .inline{ line-height:normal; !important;}

.map-block{ float:left; width:31%; margin-top:12px; padding:5px;
  border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc) ;
background:#dedede;  border:1px solid #d6d6d6;}
/*contactus end*/

/*aboutus*/

.sml-detail-block-outer{  padding:11px; background:#dedede;
  width: 251px; float:left;margin-bottom:0px;  border:1px solid #b3b3b3; 
  	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-ms-border-radius: 5px ; 
 behavior:url(PIE.htc); 
  
} 

.sml-detail-block-outer .hd-title{  padding:5px 10px; background:#951F35; text-transform:uppercase;
  width: auto; float:left; font-size:16px; font-weight:bold; color:#FFF;
  	border-radius:5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0 ; 
 behavior:url(PIE.htc); 
  
} 
.imground{border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-ms-border-radius: 5px ; 
 behavior:url(PIE.htc);}

.sml-detail-block-inner{  padding:2%; text-align:center;
  width: 96%; float:left; margin-bottom:0px; background:#951F35;  
  	border-radius:0 5px 5px 5px; 
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius:0 5px 5px 5px;
	-ms-border-radius: 0 5px 5px 5px ; 
 behavior:url(PIE.htc); float:5px; 
  
} 
.sml-detail-block-inner p{ font-size:13px; color:#fff; margin:0px; text-align:left;  padding:10px 0 10px 0;}
.sml-detail-block-inner  p a{ color:#fff; text-decoration:none;}

/*aboutus ends*/

/*privacypolicy*/

.privacy-block-outer{ float:left; width:100%; margin-bottom:10px;} 
.privacy-block-outer .hd-title{ float:left; width:98%; cursor:pointer; padding:1%; position:relative;  	
border-radius:5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius: 5px;
 behavior:url(PIE.htc); float:5px; color:#FFFFFF;  background:#5e5e5e; font-size:16px; line-height:20px; height:20px;} 
  .privacy-block-outer .hd-title .icon{ position:absolute; right:5px; top:5px; }
  
  
.privacy-block-outer .discription-block{margin-top:-2px; padding:1% 1% 4% 1%;  	
border-radius:0 0 5px 5px; 
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;;
	-ms-border-radius: 0 0 5px 5px;
 behavior:url(PIE.htc); float:left;  background:#eaeaea;} 

/*privacypolicy end*/
/*railpass start*/
.marg-b{ margin-bottom:15px;}
.marg-tb{ margin:5px 0;}
.innertab{ /*width:100%; float:left;*/ margin:0px; padding:0px;}
.innertab li{ float:left; list-style:none}
.innertab li a{ float:left; background:#4D4D4D;position: relative;  color:#fff; text-decoration:none; font-size:14px; font-weight:bold; list-style:none; height:20px; margin:0 2px 1px 0; padding:5px 15px; border-radius:5px 5px 0 0 ; 
	-moz-border-radius:5px 5px 0 0 ;
	-webkit-border-radius:5px 5px 0 0 ;
	-ms-border-radius: 5px 5px 0 0 ;
 behavior:url(PIE.htc)}
 
 /*.innertab li a.tooltipblock{ width: 300px;height: 30px;float: left;background: #ccc;font-size: 12px;color: #666;display: none; }
 /*.innertab li:hover .tooltipblock{ width: 300px;height: 30px;float: left;background: #ccc;font-size: 12px;color: #666;display: block;position: absolute;left: 0px;bottom: 20px;  }*/
 
 .innertab li a:hover, .innertab li a.active{ float:left; background:#fff; color:#2f2f2f; text-decoration:none; font-size:14px; font-weight:bold; list-style:none; height:20px; margin:0 2px 1px 0; padding:5px 15px; border-radius:5px 5px 0 0 ; 
	-moz-border-radius:5px 5px 0 0 ;
	-webkit-border-radius:5px 5px 0 0 ;
	-ms-border-radius: 5px 5px 0 0 ;
 behavior:url(PIE.htc)}
 
 
 .radius-block{ border-radius: 0 5px 0 5px !important; 
	-moz-border-radius:0 5px 0 5px !important;
	-webkit-border-radius:0 5px 0 5px !important ;
	-ms-border-radius: 0 5px 0 5px !important;
 behavior:url(PIE.htc)}
 
 .country-block-inner table { width:99%; margin-left:1%; /*border:2px solid #dedede;*/}
   .country-block-inner table tr { padding-bottom:10px;}
   
 /* .country-block-inner table tr th { background:#dedede; font-size:14px; color:#686868; height:30px; vertical-align:middle;}*/
  .country-block-inner table tr th{background: none repeat scroll 0 0 #DEDEDE;border-right: 1px solid #FFFFFF;color: #2F2F2F;font-size: 14px;height: 30px;vertical-align: middle;min-width: 100px;}
  
  /* .country-block-inner table tr td { font-size:13px; color:#686868; height:20px; vertical-align:middle; margin:5px 0;  text-align:center;}*/
   .country-block-inner table tr td { font-size:13px;border-right:1px solid #dedede; border-top:1px solid #dedede; color:#686868; height:20px; padding:5px 0; vertical-align:middle; margin:5px 0;  text-align:center;}
.detail-hints-main{width: 100%;float:left;padding: 10px 0 0 0;}
.detail-hints{ float:left; width:80%;}
 .detail-hints p{ font-size:13px; float:left;  border:1px dashed #d65872; margin:5px; position:relative; padding:1% 3%;  color:#FFFFFF;}
  .detail-hints p span{ font-size:11px; font-weight:bold; color:#fff; position:absolute; left:10px; top:0px;}
 
 .calculation-detail{ float:right; width:310px; margin-top:2px; padding:10px 10px 0 10px;border-radius:0 0 5px 5px !important;	
                      -moz-border-radius:0 0 5px 5px !important;
	-webkit-border-radius:0 0 5px 5px !important ;
	-ms-border-radius: 0 0 5px 5px !important;
 behavior:url(PIE.htc); background:#FFFFFF;}
 
 .CLASS-010{ width: 100%;float: left; }
 .calculation-detail .colum-name{ width:60%; float:left; height:30px;  padding:5px 0; font-size:14px; color:#333;}
 .calculation-detail .colum-price{ width:40%; text-align:right; float:left; height:30px;font-size:14px; color:#333;}
 .br-btm{ border-bottom:1px solid #333; float:left; height:2px; width:100%;}

/*railpass end*/


/*footer starts here */ 

/*footer{background:#424242 url(../images/footer-bg.png) top repeat-x; margin-top:10px !important; }
footer .wrapper{padding:20px 12px; width:976px;}
footer .foot-col1{width:13%; float:left; padding-right:2%;}
footer .foot-col1 h3{ font-size:15px; color:#FFFFFF; padding-bottom:0; margin:0px;}
footer .foot-col1 ul { float:left;}
footer .foot-col1 ul li{ float:left; width:100%;}
footer .foot-col1 ul li a{ float:left; font-size:13px; background:url(../images/arr-white.png) no-repeat 0 10px; color:#aeaeae; text-decoration:none;
 padding:5px 0 0 10px;}
 
 footer .foot-col2{width:19%; float:left; padding-right:2%;}
footer .foot-col2 h3{ font-size:15px; color:#FFFFFF; padding-bottom:0; margin:0px;}
footer .foot-col2 ul { float:left;}
footer .foot-col2 ul li{ float:left; width:100%;}
footer .foot-col2 ul li a{ float:left; font-size:13px; background:url(../images/arr-white.png) no-repeat 0 10px; color:#aeaeae; text-decoration:none;
 padding:5px 0 0 10px;}

footer .bottom-section{ width:100%; border-top:1px solid #4d4d4d; padding:16px 0 21px 0; background:#242424 url(../images/footer--bottom-bg.png) repeat-x bottom;}
footer .bottom-section .wrapper{padding:0 12px; width:976px;}
footer .bottom-section .wrapper .f-links{ width:75%; float:left;}
footer .bottom-section .wrapper .f-links p{ padding:0px; margin:0px; font-size:13px; color:#fff; padding-bottom:10px; }
footer .bottom-section .wrapper .f-links p a{ color:#FFFFFF; text-decoration:none;}

footer .bottom-section .wrapper .f-links span{ padding:0px;margin:0px; font-size:11px; color:#fff; float:left; }
footer .bottom-section .wrapper .social-links{  float:right;   width:25%; }
footer .bottom-section .wrapper .social-links p{ font-size:17px; color:#FFF; margin:0px; padding:0px 0 10px 0;}
footer .bottom-section .wrapper .social-links img{ float:left; padding-right:5px;}
*/



/* Nicolas Gallagher's micro clearfix */
.wrapper, nav, .content-box, .box-content, .box-container, .c-box .box-bottom ul.icon, footer ul.footlinks, .box-container, .obox-container, .innerbox, .form,.rail-detail-block .tab-detail-in, [class*="row"],.innertab { *zoom: 1; }
.wrapper:before, .wrapper:after, nav:before, nav:after, .toppanel:before, .toppanel:after, .content-box:before, .content-box:after, .box-content:before, .box-content:after, .box-container:before, .box-container:after, .footrow:before, .footrow:after, .ts-display-pf-text:before, .ts-display-pf-text:after, .ts-display-pf-img:before, .ts-display-pf-img:after, .c-box .box-bottom ul.icon:before, .c-box .box-bottom ul.icon:after, footer ul.footlinks:before, footer ul.footlinks:after, .box-container:before, .box-container:after, .obox-container:before, .obox-container:after, .innerbox:before, .innerbox:after, .form:before, .form:after,.rail-detail-block .tab-detail-in:after,  [class*="row"]:before, [class*="row"]:after,.innertab:before, .innertab:after {content:""; display:table;}
.wrapper:after, nav:after, .toppanel:after, .content-box:after, .box-content:after, .box-container:after, .footrow:after, .c-box .box-bottom ul.icon:after, footer ul.footlinks:after, .box-container:after, .obox-container:after, .innerbox:after, .form:after,.tab-detail-in:after, [class*="row"]:after, .innertab:after{clear:both;}

/* Nicolas Gallagher's micro clearfix end */




/* Don't use native buttons on iOS */
input[type=submit].button, button.button { -webkit-appearance: none; }
.select-menu, .select, .footselect, .foot-select {
    display: none;
}



/*CSS FOR SPECIAL TRAINS PAGE*/
.count{width:160px; float:left; margin-right:14px;}
.count .hd-ttl{ float:left; width:94%; cursor:pointer; padding:2% 3%; position:relative;  	
border-radius:5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius: 5px;
 behavior:url(PIE.htc); float:5px; color:#FFFFFF;  background:#5e5e5e; font-size:14px; line-height:20px; height:20px;}
.count .discription-block{ float:left; width:92%; margin-top:-2px; padding:2% 4%;  	
border-radius:0 0 5px 5px; 
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;;
	-ms-border-radius: 0 0 5px 5px;
 behavior:url(PIE.htc); float:left;  background:#eaeaea;} 
 
.count ul{margin:0px; padding:0px;}
.count ul li{ color:#4d4d4d; font-size:13px; padding:5px 0 0 10px; background:url(../images/arr-red.jpg) no-repeat left 10px;}
.count ul li a { text-decoration:none; color:#4d4d4d;}


/*pass-detail Harsh Modification Date 17 Oct From dharm veer PassDetail CSS*/

.privacy-block-outer .hd-title .icon-close {
  position: absolute;
  right: 36px;
  top: 5px;
}
.pass {}
.pass .hd-title{border-radius: 0 0 5px 5px ;	
-moz-border-radius:0 0 5px 5px ;
	-webkit-border-radius:0 0 5px 5px ;
	-ms-border-radius: 0 0 5px 5px ;box-sizing:border-box;
-moz-box-sizing:border-box; width:100%; height:36px; line-height:20px;}

.pass .discription-block {  margin-top: -4px; border:3px solid #5E5E5E;box-sizing:border-box; 
-moz-box-sizing:border-box; width:100%;}

.width60{ width:60% !important;}
.width26{ width:26% !important;}
.red-title{ height:36px; line-height:20px; color:#FFFFFF;
border-radius:5px 5px 0 0 ;	
-moz-border-radius:5px 5px 0 0 ;
	-webkit-border-radius:5px 5px 0 0 ;
	-ms-border-radius: 5px 5px 0 0 ;
 behavior:url(PIE.htc); background:#951F35; padding:1%; box-sizing:border-box;
-moz-box-sizing:border-box; font-weight:bold;}
.pass-coloum-one{ width:20%; float:left; color: #424242; font-size: 13px; line-height:30px; height:30px; padding:5px 0;}
.pass-coloum-two{ width:80%; float:left; color: #424242; font-size: 13px;  line-height:30px; height:30px; padding:5px 0;  position:relative;}

.pass-coloum-two .input{ width:60%; margin-right:5px;  } 
.pass-coloum-three{ width:48px; float:left; color: #424242; font-size: 13px;  padding:2px 2px 0;}
.pass-coloum-forth{ width:149px; float:left; color: #424242; font-size: 13px;   padding:2px 2px 0 6px;}
.pass-coloum-fifth{ width:100px; float:left; color: #424242; font-size: 13px;   padding:2px 2px 0;}
.pass-coloum-three,.pass-coloum-forth,.pass-coloum-fifth, .input{ margin-left:0px;}
.pass-coloum-forth>input{margin-left:-1px;}
/*Some Input was placed in PopupSection Added on UserControl*/
.input{
  border: 1px solid #ADB9C2;
 border-radius: 5px 5px 5px 5px !important;	
 -moz-border-radius: 5px 5px 5px 5px !important;
	-webkit-border-radius: 5px 5px 5px 5px !important;
	-ms-border-radius:  5px 5px 5px 5px !important;
	 behavior:url(PIE.htc) !important;
  color: #424242 !important;
  font-size: 13px !important;
  height: 25px !important;
  line-height: 25px !important;
 padding:0.5% !important; float:left !important; margin-left:5px !important;} 
.inputsl{
  border: 1px solid #ADB9C2 !important;
 border-radius: 5px 5px 5px 5px !important;	
 -moz-border-radius: 5px 5px 5px 5px !important;
	-webkit-border-radius: 5px 5px 5px 5px !important;
	-ms-border-radius:  5px 5px 5px 5px !important;
	 behavior:url(PIE.htc) !important;
  color: #424242 !important;
  font-size: 13px !important;
  height: 30px !important;
  line-height: 30px !important;
 padding:0.5% !important; float:left !important; margin-left:5px !important;}
/*END OFF -----pass-detail Harsh Modification Date 17 Oct From dharm veer PassDetail CSS*/

/*Calender Related design*/
   .cal_Theme1 .ajax__calendar_container
    {
        background-color: #BBBBBB;
        border: 1px solid #941E34;
    }
    .cal_Theme1 .ajax__calendar_header
    {
        background-color: #FFFFFF;
        margin-bottom: 4px;
    }
    .cal_Theme1 .ajax__calendar_title, .cal_Theme1 .ajax__calendar_next, .cal_Theme1 .ajax__calendar_prev
    {
        color: #004080;
        padding-top: 0px;
    }
    .cal_Theme1 .ajax__calendar_body
    {
        background-color: #FFFFFF;
        border: 1px solid #941E34;
    }
    .cal_Theme1 .ajax__calendar_dayname
    {
        color: #004080;
        font-weight: bold; /* margin-bottom: 4px;
    margin-top: 2px;*/
        text-align: center;
    }
    .cal_Theme1 .ajax__calendar_day
    {
        color: #004080;
        text-align: center;
        height: 20px;
        line-height: 20px;
    }
    .cal_Theme1 .ajax__calendar_invalid .ajax__calendar_day 
    {
        color: #999;
        text-align: center;
        height: 20px;
        line-height: 20px;
    }
    .cal_Theme1 .ajax__calendar_hover .ajax__calendar_day, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_month, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_year, .cal_Theme1 .ajax__calendar_active
    {
        background-color: #BBBBBB;
        color: #004080;
        font-weight: bold;
    }
    .cal_Theme1 .ajax__calendar_today
    {
        font-weight: bold;
    }
    .cal_Theme1 .ajax__calendar_other, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_today, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_title
    {
        /* color: #BBBBBB;*/
    }
    .ajax__calendar_footer
    {
        height: auto;
    }
/*End of calender related design*/

/*Privacy and cookies*/

.cookies-outer{ width:100%; position:fixed; bottom:0px; height:85px; z-index:999; float:left; border-top:5px solid #951f35; background:#000; opacity:0.8;
filter:alpha(opacity=40); padding:10px 0;}
.cookies-inner{ width:960px; margin:auto;}

.cookies-inner p{ float:left; width:900px; font-size:14px; color:#fff;}
.cookies-inner p strong{font-size:16px; color:#fff; font-weight:bold;}
.cookies-inner span{ float:right; width:50px; padding-top:10px;}
.cookies-inner span input[type="submit"]{ padding:0 4px ;  cursor:pointer;} 
.divcookiesText{float: left; font-size: 13px; width: 850px; color:#fff;}

/* Cart Detail pages changes applied on booking cart page date 21 oct 2013*/
 /*delevery detail*/
  .t-right{ text-align:right !important;}
 .delvery{}
 .delvery .input{ width:88%;}
 .colum-label-first{ float:left; width:7%;  float:left;  color: #424242; font-size: 13px; line-height:30px; height:30px; padding:5px 0;} 
  .colum-label-second{ float:left; width:10%;  float:left;  color: #424242; font-size: 13px; line-height:30px; height:30px; padding:5px 0;} 
   .colum-label-third{ float:left; width:14%;  float:left;  color: #424242; font-size: 13px; line-height:30px; height:30px; padding:5px 0;} 
      .colum-label-forth{ float:left; width:31%;  float:left;  color: #424242; font-size: 13px; line-height:30px; height:30px; padding:5px 0;} 
	     .colum-label-fifth{ float:left; width:10%;  float:left;  color: #424242; font-size: 13px; line-height:30px; height:30px; padding:5px 0;} 
		       .colum-label-sixth{ float:left; width:28%;  float:left;  color: #424242; font-size: 13px; line-height:30px; height:30px; padding:5px 0;} 
			     
				  .colum-label-seven{ float:left; width:31%;  float:left;  color: #424242; font-size: 13px; line-height:30px; height:30px; padding:5px 0;} 
				  .colum-label-eight{ float:left; width:69%;  float:left;  color: #424242; font-size: 13px; line-height:30px; height:30px; padding:5px 0;} 
				 
.booking-detail-in table.grid tr th a{font-size:12px; text-decoration:none;}
/*End of changes*/


/*Home Page*/

 .float-rt
        {
            float: right;
        }
        .clsHeadColor
        {
            color: #931b31;
            font-size: 15px !important;
        }
        .clsAbs
        {
            display: none;
        }
        .btnInactive
        
        {
            
            
            border-radius: 5px 5px 0 0 !important;
            -moz-border-radius: 5px 5px 0 0 !important;
            -webkit-border-radius: 5px 5px 0 0 !important;
            -ms-border-radius: 5px 5px 0 0;
            behavior: url(PIE.htc);
            cursor: pointer;
            color:#fff;
           background: #c5456a !important;; /* Old browsers */
background: -moz-linear-gradient(top,  #c5456a 0%, #962037 100%) !important;; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5456a), color-stop(100%,#962037)) !important;; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c5456a 0%,#962037 100%) !important;; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c5456a 0%,#962037 100%) !important;; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c5456a 0%,#962037 100%) !important;; /* IE10+ */
background: linear-gradient(to bottom,  #c5456a 0%,#962037 100%) !important;; /* W3C */
-pie-background: linear-gradient(#c5456a, #962037) !important;;
 
 position:relative;
 border:1px solid #B3B3B3 !important;
            padding-bottom: 1px; 

            font-size: 13px !important;
           
        }
        .btnInactive:hover
        {
            border-radius: 5px 5px 0 0 !important;
            -moz-border-radius: 5px 5px 0 0 !important;
            -webkit-border-radius: 5px 5px 0 0 !important;
            -ms-border-radius: 5px 5px 0 0;
            behavior: url(PIE.htc);
            position: relative;
            cursor: pointer; padding-bottom: 1px;
           
            border-bottom: 0px;
             behavior:url(PIE.htc); 
background: #f6f8f9 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important;/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important; /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important; /* W3C */
-pie-background: linear-gradient(#f6f8f9, #edeeee);

 border:1px solid #B3B3B3 !important;
 color:#931b31;
            font-size: 13px !important;
        }
        
        .btnactive
        { border-radius: 5px 5px 0 0 !important;
            -moz-border-radius: 5px 5px 0 0 !important;
            -webkit-border-radius: 5px 5px 0 0 !important;
            -ms-border-radius: 5px 5px 0 0;
            behavior: url(PIE.htc);
            position: relative;
            cursor: pointer; padding-bottom: 1px;
           
            border-bottom: 0px;
             behavior:url(PIE.htc); 
background: #f6f8f9!important; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #f2f5f6 49%, #dde4e7 50%, #edeeee 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f2f5f6), color-stop(50%,#dde4e7), color-stop(100%,#edeeee))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important; /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#f2f5f6 49%,#dde4e7 50%,#edeeee 100%)!important; /* W3C */
-pie-background: linear-gradient(#f6f8f9, #edeeee)!important;

 border:1px solid #B3B3B3 !important;
 color:#931b31 !important;
            font-size: 13px !important;
        }
        .clsNews
        {
            width: 300px;
            font-size: 13px;
        }
        .clsfont
        {
            font-size: 11px;
        }
        .newsletter-outer .newsletter-inner input[type="text"]
        {
            height: 25px;
            line-height: 25px;
            width: 92%;
            margin-left: 6px;
        }
        .trNews table td img
        {
            display: none;
        }
        
         
        .faqAnswer
        {
            text-align:left;
            font-size:13px;
            width:98%;
            padding: 10px 0 20px 0;
            margin-left: 23px;
            display: none;
            min-height: 50px;
        }
        .faqQactive
        {
            color: #962037;
            text-decoration:none;
           
        }
        .faqQdisable
        {
            color: #962037;
            text-decoration:none;
        }
.bannerLft{/* position: absolute; background: url(../images/bannerLft.jpg) top no-repeat; height: 190px; width: 40px; float: left; left: 0px; top: 0px; overflow:hidden; */}



.banner90.ie9{ diplay: none;}

.banner90{
background: #2f2f2f; color: #FFFFFF; font-size: 17px; height: 40px; line-height: 40px; position: absolute; text-align: center; text-transform: uppercase; 
width:190px; top:75px; left:-75px;

transform: rotate(-90deg);  
-webkit-transform: rotate(-90deg);  
-moz-transform: rotate(-90deg); 
-o-transform: rotate(-90deg); /* IE */ 
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   /* left:0 \0/; top:0 \0/; left: 0\9; top: 0\9; width: 190px\9; */
}

.banner90.ie9{left:0; top:0; display: block;}
.banner90.ie11{top:75px; left:-75px;}





.addbanner-box{box-sizing:border-box;
-moz-box-sizing:border-box; /*width:100%; float:left;*/ height:138px; border:1px solid #B3B3B3; padding:1%; margin-top:10px;border-radius: 5px 5px 5px 5px; }
.addbanner-box .imgblock{ width:25%; float:left;}
.addbanner-box .discription-block{ width:70%; float:left; padding-left:5%;}
.addbanner-box .discription-block h3{color: #951F35; font-size: 17px;}
.addbanner-box .discription-block p{color: #4D4D4D; font-size: 12px;}
.addbanner-box .discription-block p a{color: #951F35; text-decoration:none;} 

/* AutoComplete item */
        
.autocomplete_completionListElement
        {
            margin: 0px !important; background-color: inherit;   color: #951f35 !important;
            border: buttonshadow !important; border-width: 1px;border-style: solid; cursor: 'default';
            overflow: auto;height: 200px; text-align: left;list-style-type: none; padding-left: 1px; font-size: 13px!important;  
        } 
input[type="button"]
    {
        width: 100%;
        height: 30px;
        padding-bottom: 3px;
        border: 1px solid #b42232;
        background: url(../images/btn-redbg.png) repeat-x ;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        font-size: 17px;
        behavior: url(PIE.htc);
        color: #FFF;
        cursor: pointer;
    }
    
    .newbutton
    {
        width: 100%;
        height: 30px;
        padding-bottom: 3px;
        border: 1px solid #b42232;
        background: url(../images/btn-redbg.png) repeat-x !important;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        font-size: 17px;
        behavior: url(PIE.htc);
        color: #FFF;
        cursor: pointer;
    }
    
    
#_bindDivData{ display:block; width:150px; background:#fff!important; position:relative; z-index:999; border:1px solid #d3d3d3; padding:10px;}

.colum-input #_bindDivData{position:absolute; top:36px; width:auto;}
    
.popupselect:hover
{
    background-color: #ccc !important;
    padding-left: 5px;
    cursor: hand;
    cursor: pointer;
}
    
.popupselect
{
    color: #000 !important;
    padding: 1px;
    z-index: 80;  padding-left:5px; 
    background:#fff;
    position: relative;
    border-top:1px dashed  #d3d3d3;
}
    
._prifixText{color:#b42232 !important;   }
/* END */     
    
/* Error Message */
.DivError { 
    background-color: #FFFFE1;
    background-image: url("../images/caution.gif");
    background-position: 20px 15px;
    background-repeat: no-repeat;
    border: 2px solid #F4E4B7;
    line-height: normal;
    margin: 3%;
    padding: 20px 20px 35px 85px;
  }

.info, .success, .warning, .error 
{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px !important;
    background-repeat: no-repeat;
    background-position: 10px center;-moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    border-radius:.5em;
}
.info {
    color: #00529B;
     background-size:40px 30px;
    background-color: #BDE5F8;font-size: 14px;
    background-image: url('../images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
  font-size: 14px;
    background-image:url('../images/success.png');
}
.warning {
    color: #9F6000;
    background-size:40px 30px;font-size: 14px;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.error {
    color: #D8000C;
    font-size: 14px;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}
.btn-gray{background: url('../images/gray-btn-bg.jpg') repeat-x 0 -8px !important; border:1px solid #666 !important;}


/*Printing/PrintingOrders.aspx*/

 
.grdBrd{float: left; font-size: 12px;width: 100%; background: #eaeaea;  border: 1px solid #ccc;  }
#MainContent_grdPrintQueue {line-height:25px;}
 #tblPrintQueueList {width:845px}
 #tblPrintQueueList tbody tr {width: 100%; font-size:12px; font-weight:normal;}
 #tblPrintQueueList tbody tr th{}
.clsdivPrduct{width: 100%;float: left;}
.clsPrd{font-size: 13px;color: #424242;padding: 5px 5px 0 5px;float: left;}
.clsDrp{ width: 150px;font-size: 12px;}
.clsDrpQ{ width: 230px;font-size: 12px;}
/*Login*/
.shade5 {color:#a62c48;}
.shade5 a {color:#a62c48; text-decoration:none;}
.shade5 a:hover {color:#313333; text-decoration:underline;}
.mr-tp3 {margin-top:12px;}
#login-sec {width:575px; float:none; margin:10px auto;}
.login-data {width:573px; float:left; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; background:url(../images/img-lock.jpg) no-repeat 30px 15px; min-height:193px; padding:20px 0px 0px 0px }
             
.login-col1 {width:78px; float:left; font-size:13px; color:#3e3d3d; line-height:18px; padding:3px 0px 0px 132px;
    height: 21px;
}
.corner{ font-size:0px;}
.login-col2 {width:315px; float:left; font-size:13px; color:#3e3d3d;}
input.login {margin:0px 0 10px 0; padding:0px 0px 0px 5px; width:295px; height:23px; border:1px solid #909090; line-height:23px; font-size:12px; color:#666; font-family:Arial, Helvetica, sans-serif;}


.register-in{ float:left; width:100%;}
.register-in .in-box{ float:left; width:80.8%;
		border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc); text-indent:5px; margin-top:12px; height:36px; line-height:36px; border:1px solid #d6d6d6; font-size:13px; color:#717171;}
 
.register-in .txtarea-box{ float:left;  	
border-radius:5px ;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px ;
	-ms-border-radius: 5px; 
 behavior:url(PIE.htc);text-indent:5px; width:80%; padding:0.5%; margin:12px 0 0 0; min-height:70px; border:1px solid #d6d6d6; font-size:13px; color:#717171;}
 .padd5{ padding:8px;}
 .validreq{color:Red;font-size:12px;float: left; padding-left:5px;  width: 99%;}
 .validreq1{color:Red;font-size:12px;  padding-left:5px; }
.mar-right{ margin-right: 5px; }
.mar-right-n{ margin-right: 0 !important; }

/*ToolTip*/
a.tooltip, label.tooltip {outline:none; position:relative;float:left; }
a.tooltip strong, label.tooltip strong {line-height:30px;}
a.tooltip span, label.tooltip span.tresult{z-index:10; display:none; padding:10px; margin:-68px 0 0 -144px; width:240px; line-height:16px;}
a.tooltip:hover span, label.tooltip:hover span.tresult{display:inline; position:absolute; border:2px solid #FFF;  color:#EEE; background:#fff; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;-o-border-radius: 5px; -ms-border-radius: 5px; behaviour:url(PIE.htc) }
a.tooltip:hover, label.tooltip:hover{position:relative; text-decoration:none; display:block;}
a.tooltip:hover span.tresult, label.tooltip:hover span.tresult{margin-top:0px; width:420px; position:absolute; bottom:32px; left:-65px; }
a.tooltip span.tresult img, label.tooltip span.tresult img{left:50%; margin-left:-15px;}
a.tooltip:hover span.tresult p, label.tooltip:hover span.tresult p{color:#4a4a4a; font-size:11px; line-height:13px;}
.taco{font-size:13px;  line-height:25px; color:#231802; font-weight:bold;}
a.tooltip:hover span.tresult p strong, label.tooltip:hover span.tresult p strong{color:#b43858; font-weight:bold;}
/* .tresult-parent{position:relative; height:27px;} */
.tresult p{ background:#efefef; margin-bottom:5px; color:#4a4a4a; padding:0 5px 5px 5px;}
.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
    
/*CSS3 extras*/
a.tooltip span, label.tooltip span.tresult{border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;  -moz-box-shadow: 0px 0px 8px 4px #666; -webkit-box-shadow: 0px 0px 8px 4px #666; box-shadow: 0px 0px 8px 4px #666;}
a.tooltip img, label.tooltip img{position:absolute; bottom:-14px; left:118px;}

.tooltip1 {text-decoration:none;}
/*homepage footer box*/
.addbanner-box .read{ color: #951f35;text-decoration: none;background: url(../images/arr-red.jpg) no-repeat left;
            float: right;font-size: 11px;margin-top: 5px;}
            
.col-calender .ui-datepicker-trigger{float:left; margin-right:5px;}

.group-title{float:left; border-radius:5px;	-moz-border-radius:5px ;	-webkit-border-radius:5px ;	-ms-border-radius: 5px; behavior:url(PIE.htc); background:#2f2f2f; padding:1%; width:98%; box-sizing:border-box;
-moz-box-sizing:border-box; margin-bottom:10px;  }
.left-content.paymentconfirm{height:500px;}



 
 /*train-search*/
    .booking-detail-in  {  background: none repeat scroll 0 0 #EDEDED;  border-radius: 0 0 5px 5px; float: left;   margin-bottom: 20px; padding: 1%;  width: 98%;    }
    .train-search-result-topblock
    {  width: 98%; float: left; border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;  -ms-border-radius: 5px 5px 0 0;        behavior: url(PIE.htc);        background: #4a4a4a;        padding: 1%;    }
    
    .train-search-result-topblock .colum-one
    { width: 50%;        float: left;        color: #FFFFFF;        font-size: 14px;        padding: 5px 0;    }    
    .booking-detail-in table.grid2  { width: 100%; border: 4px solid #ededed; border-collapse: collapse;    }
    .booking-detail-in table.grid2 tr th
    {
        border-bottom: 2px solid #ededed;
        text-align: left;
        font-size: 13px;
        color: #951f39;
        height: 25px;
        line-height: 25px;
        padding-left: 5px;
    }
    .booking-detail-in table.grid2 tr.alt td
    {
        border-bottom: 6px solid #ededed;
        background: #c7c7c7;
        font-size: 12px;
        color: #4a4a4a;
        padding: 5px;
    }
    .booking-detail-in table.grid2 tr td span.time
    {
        color: #ffffff;
    }
    
    .booking-detail-in table.grid2 tr td
    {
        border-bottom: 0px;
        background: #c7c7c7;
        font-size: 12px;
        color: #4a4a4a;
        padding: 5px;
    }
    .booking-detail-in table.grid2 tr td span.time
    {
        color: #ffffff;
    }
    
    .booking-detail-in table.grid2 tr td a
    {
        color: #951F35;
    }
    .booking-detail-in table .detail-class
    {
        width: 100%;
        float: left;
        margin-bottom: 10px;
        /*background: #d3d3d3;*/
        background: #efefef;
        padding: 0.5%;
        border: 1px dashed #666;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    .booking-detail-in .detail-class .colum-first
    {
        width: 20%;
        float: left;
        padding-top: 10px;
        font-size: 13px;
        font-weight: bold;
        color: #4a4a4a;
    }
    .booking-detail-in .detail-class .colum-second
    {
        width: 30%;
        float: left;
        font-size: 13px;
        color: #4a4a4a;
    }
    .booking-detail-in .detail-class .colum-second span
    {
        color: #991d35;
    }
    .booking-detail-in .detail-class .colum-third
    {
        width: 30%;
        float: left;
    }
    
    .booking-detail-in table .extra-detail
    {
        width: 100%;
        margin-bottom: 10px;
        float: left;
        background: #fff;
        padding: 0.5%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    .booking-detail-in table .extra-detail table.detailtrain
    {
        width: 100%;
    }
    .booking-detail-in table .extra-detail table.detailtrain tr th
    {
        font-size: 13px;
        font-size: 13px;
        color: #666;
        border-bottom: 2px solid #c7c7c7;
    }
    .booking-detail-in table .extra-detail table.detailtrain tr td
    {
        font-size: 13px;
        border: 0px;
        background: #FFF;
        font-size: 13px;
        color: #666;
    }
    .detail-class table tr td
    {
        background: none !important;
        border: 0px !important;
    }
    
    .detail-table
    {
        background: #4A4A4A !important;
        border-radius: 5px 5px 0 0;
    }
    .detail-table tr td
    {
        background: #4A4A4A !important;
        color: #fff !important;
    }
    .detail-table tr td h2
    {
        color: #fff !important;
        font-size: 30px !important;
    }
    .imgOpen
    {
        color: #951F39;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
    }
    .lnkCont{text-decoration: none;
        font-weight: bold;
        padding: 5px;
        color: white !important;
        background-color: #4A4A4A;
        float: right;
        border-radius: 5px;
    }
    
       .lnkCont1{text-decoration: none;
        font-weight: bold;
        padding: 5px;
        color: white !important;
        background-color: #4A4A4A;
        float: right;
        border-radius: 5px;
        display:block;
    }
     .left-content
    {
        position: relative;
    }
    table
    {
        width: 100%;
        font-size: 13px;
    }
    
    .DivTrainInOut
    {
        background: none repeat scroll 0 0 #D5D4D4;
        border: 1px solid #53111e;
        color: #333333;
        float: left;
        font-weight: bold;
        height: 36px;
        line-height: 36px;
        text-indent: 5px;
        width: 100%;
    }
    .DivTrainInOutSeg
    {
        background: none repeat scroll 0 0 #D5D4D4;
        color: #333333;
        float: left;
        font-weight: bold;
        height: 36px;
        line-height: 36px;
        text-indent: 5px;
        width: 100%;
    }
    .clsFore
    {
        background-color: #EDEDED;
        color: #333333;
    }
    .tblHeading
    {
        background: none repeat scroll 0 0 #666666;
        color: #fff;
        font-size: 14px;
        margin-bottom: 5px;
        padding: 1%;
        width: 98%;
    }
    .modal-popup
    {
        background-color: none;
    }
    .modalBackground
    {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background-color: #000;
        filter: alpha(opacity=50);
        opacity: 0.5;
        text-align: center;
        float: left;
    }
    .ui-helper-clearfix:after
    {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
    .ui-helper-clearfix:after
    {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
    .ui-draggable .ui-dialog-titlebar
    {
        cursor: move;
    }
    .ui-dialog .ui-dialog-titlebar
    {
        padding: 0.5em 1em 0.3em;
        position: relative;
    }
    .ui-corner-all
    {
        border-radius: 5px 5px 5px 5px;
    }
    .ui-widget-header
    {
        /**background: url("../images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% #333;**/
        background-color: #53111e;
        border: 1px solid #53111e;
        color: #FFFFFF;
        font-weight: bold;
    }
    /*.ui-helper-clearfix
    {
        display: block;
    }*/
    /*
popuup*/
    .popup-outer
    {
        float: left;
        width: 100%;
    }
    .popup-inner
    {
     background: #FFFFFF;
     behavior: url(PIE.htc);
     border: 2px solid #951f35;
     border-radius: 5px 5px 5px 5px; 
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
     float: left;
     moz-border-radius: 5px 5px 5px 5px;
     moz-box-sizing: border-box;
     ms-border-radius: 5px 5px 5px 5px;
     padding: 80px 20px 20px 20px;
     position: relative;
     webkit-border-radius: 5px 5px 5px 5px;
     width: 654px;
    }
    
    
    .popup-inner .title
    {
        width: 663px;
        line-height: 43px;
        background: url(../images/popup-title.png) no-repeat;
        height: 43px;
        padding: 0 0 15px 20px;
        font-size: 18px;
        color: #FFFFFF;
        float: left;
        position: absolute;
        top: 20px;
        left: -17px;
    }
    
    .popup-inner .input
    {
        border: 1px solid #ADB9C2;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        -ms-border-radius: 5px 5px 5px 5px;
        behavior: url(PIE.htc);
        color: #424242;
        font-size: 13px;
        height: 25px;
        line-height: 25px;
        padding: 0.5%;
        float: left;
        margin-left: 5px;
    }
    .popup-inner .inputsl
    {
        border: 1px solid #ADB9C2;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        -ms-border-radius: 5px 5px 5px 5px;
        behavior: url(PIE.htc);
        color: #424242;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        padding: 0.5%;
        float: left;
        margin-left: 5px;
    }
    
    
    .popup-inner .lt
    {
        float: left;
        width: 30%;
        float: left;
        color: #424242;
        font-size: 13px;
        line-height: 30px;
        height: 30px;
        padding: 5px 0;
    }
    .popup-inner .rt
    {
        float: left;
        width: 70%;
        float: left;
        line-height: 30px;
        height: 30px;
        padding: 5px 0;
    }
    .popup-inner p
    {
        color: #424242;
        font-size: 13px;
        padding: 10px 0;
    }
    .popup-inner .btn-right
    {
        float: right;
        width: 190px;
    }
    .popup-inner .fare-rules-list
    {
        width: 100%;
        float: left;
        max-height: 230px;
        overflow-y: scroll;
    }
    .popup-inner .fare-rules-list li
    {
        float: left;
        width: 95%;
        padding: 2px 0;
        font-size: 13px;
        line-height: 20px;
        list-style-type: square;
        margin-left: 5%;
    }
    #ParentDivPrice
    {
        position: absolute;
        top: -12px;
        right: 0px;
        width: 207px;
        text-align: center;
        font-size: 13px;
        background-color: #c5456a;
        float: right;
        margin-right: 2px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        color: #fff;
    }
    #ParentDivPrice img
    {
        float: left;
        margin: 5px;
    }
    #ParentDivPrice span
    {
        float: left;
        margin: 5px;
        line-height: 30px;
    }
    
/*region Sitemap*/

.clsSMap{
    font-size: 13px;    
}
.clsSMap div td div{
    display: none;
}
[id*="TreeView1"] table td span, [id*="TreeView1"] table td a{
    list-style-type: none;
    background: url(../images/gryrndarw.png) 0 2px no-repeat;
    padding-left: 20px;
    color: #951f35;
    font-weight: bold;
}
[id*="TreeView1"] div[id*="Nodes"]{
    padding-left: 20px;
}
    [id*="TreeView1"] div[id*="Nodes"] a{
    list-style-type: none;
    background: url(../images/list-disc.png) 0 4px no-repeat;
    padding-left: 15px;
    color: #4d4d4d;
    font-weight: normal;
}
[id*="TreeView1"] div[id*="Nodes"] a:hover{
    text-decoration: underline;
}
/*endregion Sitemap*/

.country-clear{clear:both; content:''; height:0; *height:20px;}


/*sitemaster*/
.submenu
        {
            width: 430px;
            float: left;
        }
        .sumenu-table
        {
            border: 8px solid #9c253e;
            width: 280px;
        }
        .sumenu-table tr th
        {
            background: #9c253e;
            font-weight: bold;
            text-align: left;
            color: #fff;
            border: 0px;
        }
        .sumenu-table tr td
        {
            background: #fff;
        }
        .sumenu-table tr td li.slmenu
        {
            float: left;
            display: block;
            width: 120px;
            margin: 2px 10px 2px 2px;
            border-bottom: 1px dashed #ccc;
        }
        .sumenu-table tr td li.slmenu a
        {
            height: 18px;
            cursor: pointer;
            -pie-background: none;
            background: none !important;
            border: 0px;
            line-height: 18px;
            float: left;
            color: #9c253e;
            text-align: left;
            width: 120px;
            padding: 0 5px;
            display: block;
            font-size: 12px;
            text-decoration: none;
        }
        .sumenu-table tr td li.slmenu a:hover
        {
            float: left;
            cursor: pointer;
            border: 0px;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -mos-border-radius: 0px;
            -webkit-border-radius: 0px;
            background: #9c253e !important;
            display: block;
            color: #fff !important;
            font-size: 12px;
            text-decoration: none;
        }
        .clsRead
        {
            float: right;
            font-size: 11px;
            color: #951f35;
        }
        
        
        /*base.css*/
			input[type="submit"]{ padding-bottom:3px; border:1px solid #b42232; 
			background:url(../images/btn-redbg.png) repeat-x ;
			
	-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px; font-size:17px;  behavior:url(PIE.htc);  color:#FFF;cursor: pointer;
}

/*railpass*/
.clsRailPassName{ color: #951f35!important;}


/*RailpassDetail*/
.headingclass
        {
            font-size: 17px;
            color: rgb(149, 31, 53);
            font-family: 'avantgarde_md_btmedium';
            font-weight: normal;
            padding-bottom: 10px;
        }
        .SortBtnStyle
        {
            margin-left: 2px;
            color: #931b31;
            font-weight: bold;
            text-decoration: none;
        }
        /*
        .progess-inner2 {background: #fff url(../images/loader-red.gif) no-repeat center 60px ;border: 2px solid #d7d7d7;-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.75);box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);color: #951F35;font-weight: bold; font-size:16px;	left: -7%;	margin-left: 46%;padding: 10px;	position: fixed;	text-align: center;top: 42%; height:100px; padding-top:30px;	width: 300px;	z-index: 99999999;        }
       */
 .progess-inner2 { background: #951F35 url(../images/ajax-loader.gif) no-repeat center 35px ;z-index: 99999999;position: fixed;left: -7%;top: 42%;border: 2px solid #fff; height:50px; width: 250px;padding:10px;margin-left: 46%;color: #fff;text-align: center;}

   /*ucTrainSearchResult.ascx.cs*/
   .clsServiceName{color: #951F39!important;}
   .clsSoldOut{height:27px; color:#9E0B0F;}
   
   
   /*Country details*/
    
   #banner-slide
        {
            background-color: #8a182f;
            padding: 3px 0 3px 0;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -ms-border-radius: 5px;
            behavior: url(PIE.htc);
        }
  /*FAQ*/
  .clsFaq{color: #962037; padding-right:10px;}
  
  
  /*Agentpayment.aspx*/
 .clsAgLegend
{
    color: #941e34;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    background: #fff;
    padding: 0 10px;
}

/*Order/OrderPayment.aspx*/
.form-row input[type="submit"]{padding-bottom:3px; border:1px solid #b42232; background:url(../images/btn-redbg.png) repeat-x !important; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-size:17px;  behavior:url(PIE.htc);  color:#FFF;cursor: pointer;}


/*print ticket*/
.booking-detail-in-print table.grid tr td a
        {
            color: #951F35;
        }
        
        .booking-detail-in-print .total
        {
            border-top: 1px dashed #951F35;
            width: 27%;
            float: right;
            color: #4A4A4A;
            font-size: 14px;
            font-weight: bold;
            margin-top: 10px;
            padding-top: 10px;
        }  
        
.clsAgentLogin {
    background: url(../images/agentlogin-heading-bg.png) no-repeat repeat;
    float: left;
    width: 575px;height: 33px;
    margin-bottom: 10px;
}  
.clsUserLogin {
    background: url(../images/user-heading-bg.png) no-repeat repeat;
    float: left;
    width: 575px;height: 33px;
    margin-bottom: 10px;
}  

.callOut {
     background: url(../images/callout_black.gif) no-repeat repeat;
     width: 30px;height: 14px;
}
.calIcon {
    background: url(../images/icon-calender.png) no-repeat repeat;
     width: 27px;height: 28px;
}

.calIconSmall {
    background:url(../images/icon-calender_small.png) no-repeat;
     width: 20px;height: 21px;
}
.clsLoader{
    background: url(../images/loader.gif) no-repeat;
    width: 30px;height: 32px;
}

/*point2point*/
.divLoyHeader
{
    color: #921A31;
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 3px;
    width: 409px;            
}

.tariffPriceTable {width:100%;}
.tariffPriceTable  th {text-align:center;background:#951F39; color:#fff !important;}
.tariffPriceTable tbody tr { border-bottom : 1px solid #951F39;}
 
 
 .ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}


.ui-dialog.ui-widget .ui-dialog-titlebar.ui-widget-header .ui-dialog-titlebar-close span.ui-button-text{color:transparent; font-size:0px;}
.swapTrain
{
    width: 140px !important;
    font-size: 15px !important;
    height: 26px !important;
    float: left !important; 
    margin-left: 15px !important;
}
.divModalDialog  {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    background-color:rgba(0,0,0,0.2);
    text-align:center;
    z-index:101;
}
.divDialog
{
    text-align:center;
    padding:5px;
    z-index:102;
    height:150px;
    width:280px;
    position:absolute;
    left:45%;
    top:45%;
    background-color:#FFFFFF;
    font-size:15px;
}
.divDialog>p
{
    background-color:#962037;
    height:25px;
    text-align:right;
    padding:6px 6px 0 0 ;
    border:1px solid #e5d35b;
}
.divDialog>p>a
{ 
position: absolute;
left: 262px;
top: 12px;
text-decoration: none;
font-size: 14px;
padding: 0px 4px 0px 4px;
font-weight: bold;
background: #FFFFFF;
}

.countryinput{border: 1px solid #ADB9C2; height: 28px; margin-left: 0; padding: 5px; width: 145px; border-radius: 5px; 
              -moz-border-radius: 5px; 
              -webkit-border-radius: 5px; 
              -ms-border-radius: 5px; 
              -o-border-radius: 5px; }
              
.taco{ position:relative; cursor:pointer;}
.taco .icon{ position:absolute;right:5px; top:5px; }
.toogle{ width:100%; float:left; padding:5px 0;}

/*Printing Page*/
.clsPrintingHeader
{
    font-size: 13px;
    line-height: 30px;
    background-color: #951F35;
    color: #fff;
}
.clsPrintingGrid
{
    background: #FBDEE6!important;
}

/*Start of Summary Box of P2P journey*/        
.width-n
        {
            padding: 5px !important;
            width: 263px !important;
        }
        .bg-red
        {
            border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            -ms-border-radius: 5px 5px 0 0;
            behavior: url(PIE.htc);
            background: #951F35 !important;
        }
        .bg-red i
        {
            float: right;
            padding: 12px;
        }
        .newsletter-inner .hd
        {
            width: 98%;
            float: left;
            padding: 1%;
            background: #727272;
        }
        .newsletter-inner .hd span
        {
            font-size: 14px;
            font-weight: bold;
            color: #FFFFFF;
            float: left;
            padding: 2px;
        }
        .newsletter-inner .hd i
        {
            float: right;
            padding-top: 3px;
        }
        .booking-status
        {
            width: 98%;
            float: left;
            padding: 1%;
            background: #DEDEDE;
        }
        .booking-status p
        {
            font-size: 12px;
            color: #951F35;
            padding: 0 10px;
        }
        .booking-status p.detail
        {
            font-size: 12px;
            color: #666;
            padding: 0 10px;
        }
        .booking-status p.detail a
        {
            color: #951F35;
            text-decoration: underline;
        }
        
        .booking-status h3
        {
            font-size: 13px;
            color: #666;
            padding: 0 10px;
            font-weight: bold;
            line-height: normal;
            margin-bottom: 5px;
        }
        
        .booking-status p.price
        {
            font-size: 12px;
            color: #666;
            padding: 0 10px;
            float: left;
            width: 92%;
        }
        .booking-status p.price span
        {
            float: left;
            width: 50%;
            font-size: 12px;
            color: #666;
        }
        .booking-status p.price strong
        {
            float: left;
            width: 50%;
            font-size: 12px;
            color: #666;
            font-weight: bold;
            text-align: right;
        }
        
        .booking-status p.total
        {
            font-size: 12px;
            color: #666;
            padding: 0 10px 5px 10px;
            margin-top: 5px;
            border-bottom: 1px solid #666;
            float: left;
            width: 92%;
            background: #fff;
        }
        .booking-status p.total span
        {
            float: left;
            width: 50%;
            font-size: 13px;
            color: #666;
            font-weight: bold;
        }
        .booking-status p.total strong
        {
            float: left;
            width: 50%;
            font-size: 13px;
            color: #666;
            font-weight: bold;
            text-align: right;
        }
        .dvtotalSummay p.total
        {
            font-size: 13px;
            color: #666;
            padding: 0 10px 5px 10px;
            margin-top: 5px;
            border-bottom: 1px solid #666;
            float: left;
            width: 92%;
            background: #fff;
        }
        .dvtotalSummay p.total span
        {
            float: left;
            width: 50%;
            font-size: 13px;
            color: #666;
            font-weight: bold;
        }
        .dvtotalSummay p.total strong
        {
            float: left;
            width: 50%;
            font-size: 15px;
            color: #666;
            font-weight: bold;
            text-align: right;
        }
        
        .booking-status p.detail span
        {
            color: #951F35;
            text-decoration: underline;
        }
        .btn-continue
        {
            font-size: 12px !important;
            height: 24px !important;
            padding-bottom: 3px !important;
            width: 80px !important;
            margin-top: 5px !important;
        }
        
/*End of Summary Box of P2P journey*/        

    .popup-inner p
    {
        color: #424242;
        font-size: 13px;
        padding: 0px 0px 0px 0px !important;
    }
/*    CSS FOR SWAP IMAGES
.swap-arr{width:44px; position:absolute; top:18px; left:51px; cursor:pointer;}*/
.swap-img{width:10px; float:right; font-size:0px; } 
.swap-arr {width: 5px;position: absolute;top: 20px;right: 2px;cursor: pointer;} 
.swap-arr2{width: 44px;position: absolute;top: 27px;right: 11px;cursor: pointer;}

 .hd-title
        {
            padding: 5px 10px;
            background: #951F35;
            width: auto;
            float: left;
            font-size: 13px;
            font-weight: bold;
            color: #FFF;
            border-radius: 5px 5px 0 0;
        }
        
        
.bigslbox{}
.bigslbox .customSelect {min-width:57px !important;}
.discription-block.row .input{ margin-left:0px !important;}
.discription-block .pass-coloum-two { margin-left:5px !important;}


.discription-block.row .input 
{
  margin-left: 0 !important;
}

.pass-startdate {float: right; width: 480px; padding-left:47px;}
.discription-block .pass-coloum-two 
{
  margin-left: 5px !important;
}


.overflow-table{ width:671px; display:block; overflow-x:auto; overflow-y:hidden;}
/*
.overflow-table div table { width:100% !important;}
*/
.overflow-table div table tr td { padding:5px 3px !important;}

/*CSS3 extras*/
a.price-tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

.tooltip2 {
	display:none;
	position:absolute;
	border:1px solid #fff;
	background-color:#951F35;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

.info-block{ cursor:pointer; background:#951F35; display:inline-block; padding: 0 5px; border-radius:10px; margin: 3px 0 0 7px; color:#fff; font-size:14px;  display:inline-block; -o-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;}
.seeall i, .seeall span, .seeall span p
        {
            display: inline !important;
        }
        .seasonal img
        {
            float: left;
            height: 30px !important;
            padding-right: 3px;
        }
        
             .seasonal
        {
               float: left;
    position: absolute;
    font-family: Arial;
    left: -284px;
    top: -14px;
    color: black;
    text-align: left;
    margin-top: 48px;
    background: #FFFDA7;
    padding: 0 3px;
    border-radius: 5px;
    line-height: 27px;
    cursor: default;
    border: 2px solid #E8E8E8;
    font-size: 13px;
    width: 265px;
        }
        .seasonalmessage
        {
            z-index: 201;
            font-family: Arial;
            color: black;
            position: absolute;
            text-align: left;
            padding: 10px;
            border-radius: 5px;
            background: #FFFDA7;
            margin-top: 44px;
            margin-left: 0;
            border: 2px solid #E8E8E8;
            font-size: 13px;
        }
        .divs
        {
            z-index: 201;
            position: absolute;
            height: 60px;
            width: 72px;
            background-image: url("http://www.internationalrail.com/images/ArrowRight.png");
            background-size: 87px 78px;
            margin-top: -11px;
            margin-left: 50px;
        }
        .starail-Header-contact p
        {
            display: none;
        }
        .starail-Header-contact p.starail-Header-contact-disclaimer
        {
            display: block;
        }
        .starail-Header-contact .seasonal
        {
            margin: 0px;
        }
        
        
        .seasional-info
        {
            font-size: 16px !important;
            font-family: Tahoma, Verdana, Segoe, sans-serif;
            line-height: 20px;
            font-weight: normal;
            position: relative;
            display: inline-block;
            line-height: 1.42857rem;
            text-transform: capitalize !important;
            color: #444 !important;
        }
        .phone
        {
            position: relative;
        }
        .starail-Section
        {
            z-index: 1;
        }
        .sta-call-info span.seasional-info
        {
            font-size: 16px !important;
            font-family: Tahoma, Verdana, Segoe, sans-serif;
            line-height: 20px;
            font-weight: normal;
            position: relative;
            display: inline-block !important;
            line-height: 1.42857rem;
            text-transform: capitalize !important;
            color: #444 !important;
        }
        .sta-call-info .seasonal
        {
            float: left;
            position: absolute;
            font-family: Arial;
            left: -290px;
            top: -28px;
            color: black;
            text-align: left;
            width: 275px;
            margin-top: 15px;
            background: #FFFDA7;
            padding: 0 3px;
            border-radius: 5px;
            cursor: default;
            border: 2px solid #E8E8E8;
            font-size: 13px;
            zoom: normal;
        }
        .sta-call-info h2
        {
            display: block !important;
        }
        
        @media (max-width:767px)
        {
            .seasional-info
            {
                position: absolute;
                right: 9px;
                top: 10px;
            }
            .phone > .seasonal
            {
                position: static;
                margin-bottom: 5px;
            }
            .phone .seasonal:after
            {
                visibility: hidden;
                display: table;
                content: "";
                clear: both;
                height: 1px;
            }
            #sta-mobile-header .seasonal
            {
                font-size: 11px !important;
                width: 157px;
            }
            #sta-mobile-header .divs
            {
                margin-top: -11px;
                margin-left: 50px;
            }
        
            #sta-mobile-header .seasonalmessage
            {
                margin-top: 48px;
                margin-left: 0px;
                width: 180px !important;
                font-size: 12px !important;
            }
        
        }