
@charset "utf-8";
/* CSS Document */

body {margin:0px; padding:0px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; background:url(../images/main-bg.jpg) no-repeat top center;}
.full {width:100%; float:left;}
img {border:none;}
.float-lt {float:left;}
.shade1 {color:#b53859;}
.shade1 a {color:#313333; text-decoration:none;}
.shade1 a:hover {color:#313333; text-decoration:underline;}
.shade2 {color:#ffffff;}
.shade2 a {color:#ffffff; text-decoration:none;}
.shade2 a:hover {color:#ffffff; text-decoration:underline;}
.shade3 {color:#464646;}
.shade3 a {color:#464646; text-decoration:none;}
.shade3 a:hover {color:#b53859; text-decoration:none;}
.light1 {font-size:13px;}
.mr-tp1 {margin-top:10px;}
.mr-tp2 {margin-top:5px;}
.font-size0{font-size:0px;}


/* Header CSS Starts Here */
#header {width:982px; height:160px; float:none; margin:0px auto;}
.logo {width:247px; float:left; padding:30px 0px 30px 0px;}
.welcome {width:313px; float:right; padding-top:80px;}
.LoginSection {width: 30%; float: left; margin-top:14px; text-align:right;}
/* Header CSS Ends Here */
/* Container CSS Starts Here */
#container {width:100%; float:left; background:url(../images/pg-bg.jpg) repeat-x 0px 0px;}
.content {width:982px; float:none; margin:0px auto;}
.heading {width:972px; height:33px; float:left; background:url(../images/heading-bar.png) no-repeat 0px 0px; line-height:33px; font-size:18px; color:#FFF; padding:0px 0px 0px 10px;}
.db-content {width:956px; float:left; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; background:#f2efef; padding:0px 12px 0px 12px;}
.db-box {width:105px; height:105px; background:url(../schemes/images/db-box.png) no-repeat 0px 0px; float:left; margin:5px 14px 5px 0px;}
.db-row1 {width:105px; height:50px; text-align:center; padding-top:20px;}
.db-row2 {width:105px; height:35px; text-align:center; font-size:11px; color:#464646; line-height:14px;}
.menu {width: 70%; float: left; margin-top:14px;}
*{outline:none;}
.menu > ul{padding:0px; margin:0px;}
.menu > ul > li{padding:0px; float:left; list-style:none; margin:0px 3px 0 0; background:url(../schemes/images/left-menu.jpg) no-repeat left -29px; position:relative;}
.menu > ul > li > a{padding:0px 20px; text-decoration:none; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; float:left; line-height:29px; color:#fff; margin:0px; background:url(../schemes/images/right-menu.jpg) no-repeat right -29px;}
.menu > ul > li:hover, .menu > ul > li.active{background-position:left 0px;}
.menu > ul > li > a:hover, .menu > ul > li.active > a{background-position:right 0px; color:#fff;}
.menu ul ul{list-style-type: none; padding: 0 0px; position: absolute; top: 29px; width: 180px; display:none; z-index:99;}
.menu ul li:hover ul{display:block; border-top:1px solid #d06b95;}
.menu ul ul li{float:none; background:#fac5d5;}
.menu ul ul li a{border-bottom:1px solid #d06b95; border-left:1px solid #d06b95; border-right:1px solid #d06b95; color:#a82e4b; display:block; line-height:24px; text-decoration:none; padding:0 10px;}
.menu ul ul li:hover{background:#d06b95;}
.menu ul ul li:hover a{border-bottom:solid 1px #d06b95; color:#ffffff;}
/* Container CSS Ends Here */
/* Footer CSS Starts Here */
#footer {width:100%; height:42px; float:left; background:url(../images/footer-bg-strip.jpg) repeat-x 0px 0px; margin-top:20px;}
.main-footer {width:982px; float:none; margin:0px auto; font-size:12px;}
.footer-lt {width:500px; float:left; line-height:42px;}
.footer-rt {width:482px; float:left; text-align:right; line-height:42px;}
/* Footer CSS Ends Here */
/*Gridview CSS Starts Here */
.crushGvDiv{ padding: 0 !important; margin: 0;  border-style: none !important; }
.crushGvDiv div{ padding: 0 !important; margin: 0; border-style: none !important; }
.crushGvDiv1 div{  margin: 0; border-style: none !important; }
.crushGvDivStock div{  margin: 0; border-style: none !important; }
/*Gridview CSS Ends Here */

/* Login For Checkbox Start Here */
.chkRememberMe input[type=checkbox] {visibility: hidden; }
.chkRememberMe {width: 80px;height: 26px; float:left;  background: #941E34; margin: 20px auto; -webkit-border-radius: 50px;  -moz-border-radius: 50px;            border-radius: 50px;            position: relative;            -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);            -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);            box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);       }
.chkRememberMe:after { content: 'OFF';   font: 12px/26px Arial, sans-serif;            color: White;            position: absolute;            right: 10px;            z-index: 0;            font-weight: bold;            text-shadow: 1px 1px 0px rgba(255,255,255,.15);        }        
.chkRememberMe:before{ content: 'ON';    font: 12px/26px Arial, sans-serif;      color: white;        position: absolute;        left: 10px;       z-index: 0;     font-weight: bold;    }
.chkRememberMe label  { display: block;  width: 34px;       height: 20px;         -webkit-border-radius: 50px;            -moz-border-radius: 50px;            border-radius: 50px;            -webkit-transition: all .4s ease;            -moz-transition: all .4s ease;            -o-transition: all .4s ease;            -ms-transition: all .4s ease;            transition: all .4s ease;            cursor: pointer;           position: absolute;            top: 3px;            left: 3px;            z-index: 1;            -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);            -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);            background: #fcfff4;            background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);            background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);            background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);            background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);            background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );        }
.chkRememberMe input[type=checkbox]:checked + label {left: 43px;}     
/* Login For Checkbox Ends Here */  
/* Inner Page CSS Starts Here */
.pd-bt1 {padding-bottom:10px;}
input.detail {margin:0px; padding:0px 0px 0px 0px; width:202px; height:23px; border:1px solid #909090; line-height:23px; font-size:12px; color:#666; font-family:Arial, Helvetica, sans-serif;}
ul.list {margin:0px; padding:0px 0px 0px 0px;}
ul.list li {list-style-type:none;}
ul.list li a {color:#313333; text-decoration:underline; font-size:13px; font-weight:bold; background:url(../schemes/images/side-arrow.jpg) no-repeat 0px 5px; padding:0px 0px 0px 12px; line-height:18px; float:left; margin-right:20px;}
ul.list li a:hover, ul.list li a.current {color:#b53859; text-decoration:none; background:url(../schemes/images/down-arrow.jpg) no-repeat 0px 6px; float:left;}
ul.list .LiCDetail {color:#313333; text-decoration:none; font-size:13px; font-weight:bold; float:left;}

.grid-head1 {width:970px; height:39px; float:left; background:url(../images/grid-head-bg.jpg) no-repeat 0px 0px; line-height:39px; color:#FFF; font-size:13px; font-weight:bold; padding-left:12px;}
.grid-head2 {width:982px; height:39px; float:left;  background:url(../images/grid-head-bg.jpg) no-repeat 0px 0px; line-height:32px; color:#FFF!important; font-size:13px; }
.grid-sec {width:980px; float:left; border-bottom:1px solid #d5d5d5; border-right:1px solid #d5d5d5; border-left:1px solid #d5d5d5; background:#FFF; padding-bottom:15px;}
.grid-sec2 {width:980px; float:left;margin-bottom: 10px; border:1px solid #d5d5d5; background:#EEEEEE;border-radius: 3px; }
.grid-sec3 {width:980px; float:left; border-bottom:1px solid #d5d5d5; border-right:1px solid #d5d5d5; border-left:1px solid #d5d5d5; background:#FFF; padding-bottom:0px;}
 .grid-Region{width:97%; float:left; border:1px solid #d5d5d5; background:#FFF;}
  
 .tblMainSection tbody tr{ line-height: 30px; }
 .col{border-bottom: 1px dashed #B1B1B1;line-height: 30px;padding-bottom: 6px;}
ul.grid-list {margin:0px; padding:10px 0px 0px 12px;}
ul.grid-list li {list-style-type:none;}
ul.grid-list li a {color:#b53859; text-decoration:none; font-size:12px; background:url(../images/grid-bullet.jpg) no-repeat 0px 2px; padding:0px 0px 0px 12px; line-height:28px;}
ul.grid-list li a:hover {color:#313333; text-decoration:underline;}

.grey-row {width:980px; height:44px; float:left; border-bottom:1px solid #FFF; line-height:44px; background:#ececec; font-size:13px;}
.pink-row {width:980px; height:44px; float:left; border-bottom:1px solid #FFF; line-height:44px; background:#fbdee6; font-size:13px;}

.grid-col1 {width:700px; float:left; color:#b53859; padding-left:10px;}
.grid-col2 {width:270px; float:left; color:#313333;}

.detail-col1 {width:326px; float:left; margin-top:15px;}
.detail-col2 {width:135px; float:left; font-size:13px; color:#2b2d2e; padding:3px 0px 0px 10px; line-height:15px;}
.detail-col3 {width:226px; float:left;}

.tr-row { height:34px; float:left;border-radius: 3px; line-height:34px; background:#B1B1B1; font-size:13px;}

.menu2 {width: 100%; float: left; margin-top:14px;}
*{outline:none;}
.menu2 ul{padding:0px; margin:0px;}
.menu2 ul li{padding:0px; float:left; list-style:none; margin:0px 3px 0 0; background:url(../schemes/images/left-menu2.jpg) no-repeat left -27px}
.menu2 ul li a{padding:0px 20px; text-decoration:none; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; float:left; line-height:27px; color:#313333; margin:0px; background:url(../schemes/images/right-menu2.jpg) no-repeat right -27px;}
.menu2 ul li:hover, .menu2 ul li.current{background-position:left 0px;}
.menu2 ul li a:hover, .menu2 ul li.current  a{background-position:right 0px; color:#fff;}

/* Inner Page CSS Ends Here */
.tblMainSection { width:100%;}
.styCombo{ height: 26px; width:330px;}
input[type='text'],input[type='password']{   border: 1px solid #909090;    color: #666666;    font-family: Arial,Helvetica,sans-serif;    font-size: 12px;    height: 23px;    line-height: 23px;    margin: 0;    padding: 0;    width: 202px;}
textarea{   border: 1px solid #909090;    color: #666666;    font-family: Arial,Helvetica,sans-serif;    font-size: 12px;    margin: 0;    padding: 0;  width: 500px;}

select{  border: 1px solid #909090;    color: #666666;   font-family: Arial,Helvetica,sans-serif;    font-size: 12px;    height: 23px;    line-height: 23px;    margin: 0;    padding: 0;    width: 202px;}

/* Login Page CSS Starts Here */

.shade5 {color:#a62c48;}
.shade5 a {color:#a62c48; text-decoration:none;}
.shade5 a:hover {color:#313333; text-decoration:underline;}
.mr-tp3 {margin-top:12px;}
#login-sec {width:575px; float:none; margin:50px auto;}
.login-data {width:573px; float:left; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; background:url(../images/img-lock.jpg) no-repeat 30px 15px; min-height:193px; padding:20px 0px 0px 0px }
             
.login-col1 {width:78px; float:left; font-size:13px; color:#3e3d3d; line-height:18px; padding:3px 0px 0px 132px;
    height: 21px;
}
.login-col2 {width:315px; float:left; font-size:13px; color:#3e3d3d;}
input.login {margin:0px; padding:0px 0px 0px 5px; width:295px; height:23px; border:1px solid #909090; line-height:23px; font-size:12px; color:#666; font-family:Arial, Helvetica, sans-serif;}

/* Login Page CSS Ends Here */

.button{ min-width:100px; width:auto; background:url(../schemes/images/btn-bar.jpg) no-repeat left -30px; border-right:1px thin #a1a1a1;  border: thin none;   font-weight:bold;  color: white;  cursor: pointer; height: 30px; }   

.button:hover{  background:url(../schemes/images/btn-bar.jpg) no-repeat left -0px; border-right:1px solid #a1a1a1; color: White; cursor: pointer;  height: 30px; }
 
 .button1{ min-width:80px; width:auto; background:url(../schemes/images/btn-bar.jpg) no-repeat left -30px; border-right:1px thin #a1a1a1;  border: thin none;   font-weight:bold;  color: white;  cursor: pointer; height: 30px; }   
 .button1:hover{  background:url(../schemes/images/btn-bar.jpg) no-repeat left -0px; border-right:1px solid #a1a1a1; color: White; cursor: pointer;  height: 30px; }
.cat-outer{ width: 98%;margin: 1%;float: left; font-size: 12px !important;}
.cat-outer-ProdCom{ width: 98%;margin: 1%;float: left;}
.cat-inner-alt{ width: 99.5%; float: left;background: #FBDEE6;margin-top: 5px;padding-bottom: 10px !important ;padding-top: 10px !important;}
.cat-inner{ width: 99.5%; float: left;background: #ECECEC;margin-top: 5px;padding-bottom: 10px !important ;padding-top: 10px !important;}
.cat-left{ float: left;text-align: right;padding-right:3%  !important;width: 27%; min-height: 25px;height: auto;}
.cat-right{ float: left; width: 60%; min-height: 25px;height: auto;}
 .cat-inner-del{ width: 99.5%; float: left;background: #ECECEC;margin-top: 5px;padding-bottom: 10px !important ;padding-top: 10px !important;border: 1px solid #ccc;}
 

 
.cat-inner-dtl{ width: 33%; float: left;background: #ECECEC;margin-top: 5px;padding-bottom: 10px !important ;padding-top: 10px !important;}
#MainContent_rptSite  tbody tr{  background: #ECECEC;}

.treeborder{ border-top: 1px dashed #a62c48;margin-top: 10px; width: 100%;} 

 #divCmsProd{ width: 98%; cursor: pointer; margin: 1%;float: left;background: #FBDEE6; padding-left: 5px;padding-top: 5px; padding-bottom: 5px;margin: 5px 0px 0px 0; width: 975px;font-weight: bold; border: 1px solid #b53859 }
 #divCmsElig{ width: 98%; cursor: pointer;margin: 1%;float: left;background: #FBDEE6; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;margin: 5px 0 0 0;width: 100%; width: 975px;font-weight: bold; border: 1px solid #b53859 }
 #divCmsValid{ width: 98%; cursor: pointer;margin: 1%;float: left;background: #FBDEE6; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;margin: 5px 0 0 0; width: 100%;width: 975px;font-weight: bold; border: 1px solid #b53859 }
 #divCmsDisc{ width: 98%; cursor: pointer;margin: 1%;float: left;background: #FBDEE6; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;margin: 5px 0 0 0; width: 100%;width: 975px;font-weight: bold; border: 1px solid #b53859 }
 #divCmsTerm{ width: 98%; cursor: pointer;margin: 1%;float: left;background: #FBDEE6; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;margin: 5px 0 0 0; width: 100%;width: 975px;font-weight: bold; border: 1px solid #b53859 }
 
 .cat-outer-cms {float: left;margin-top: 1%;width: 100%;}
 
  
  .grid-sec2 legend b{color: #941e34 }
/* Error Message */
.DivError { 
    background-color: #FFFFE1;
    background-image: url("../images/caution.gif");
    background-position: 20px 15px;
    background-repeat: no-repeat;
    border: 2px solid #F4E4B7;
    line-height: normal;
    margin: 3%;
    padding: 20px 20px 35px 85px;
    
  }

.info, .success, .warning, .error 
{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px !important;
    background-repeat: no-repeat;
    background-position: 10px center;-moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    border-radius:.5em;

}
.info {
    color: #00529B;
     background-size:40px 30px;
    background-color: #BDE5F8;font-size: 14px;
    background-image: url('../images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
  font-size: 14px;
    background-image:url('../images/success.png');
}
.warning {
    color: #9F6000;
    background-size:40px 30px;font-size: 14px;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.error {
    color: #D8000C;
 font-size: 14px;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}
.valdreq {color: #D8000C;font-size: 14px;}


.profile{ float: left;margin: 0px;padding: 0px;width: 100%;}
.profile li{width: 100%; float: left;margin: 0px; padding: 5px 0 5px 0;border-bottom: 1px dashed #ccc; }
.profile li span.lt{ float: left;font-weight: bold;width: 25%; }
.profile li span.rt1{ float: left;font-weight: normal;padding-left:2%; width: 73%; }

.bknwggrdheader{line-height:30px;font-weight: bold;}
.upcmggrdheader{line-height:35px;font-weight: bold;}
.upcmggrditem{ text-align: center !important;}
 .bg05{ background: none repeat scroll 0 0 #FFFFFF;border: 1px solid;color: red;height: 30px;line-height: 28px;text-align: center;}
/* End Error*/

.lnkcat{ color: #000;text-decoration: none;}
.lnkcat:hover{ color: #000;text-decoration: underline;}
#MainContent_chkSiteList tbody tr td{ width: 33%;float: left;}
 
/*Pageing Style*/
 
 
    .paging { padding:10px 0px 0px 0px; text-align:center; font-size:13px;}  
    .paging.display{text-align:right;}  
    .paging a, .paging span {padding:2px 8px 2px 8px;}  
    .paging span {font-weight:bold; color:#fff; font-size:13px; background:#FFBABA;border:1px solid #ccc;}  
    .activepaging {font-weight:bold; color:#fff; font-size:13px; background:#FFBABA;border:1px solid #ccc;}  
    .paging a {color:#000; text-decoration:none; border:1px solid #dddddd;}  
    .paging a:hover { text-decoration:none; background-color:#FFBABA; color:#fff; border-color:#ccc;}  
    .paging span.prn { font-size:13px; font-weight:normal; color:#ccc; }  
    .paging a.prn { border:2px solid #ccc;}  
    .paging a.prn:hover { border-color:#000;}  
    .paging p#total_count{color:#ccc; font-size:12px; padding-top:8px; padding-left:18px;}  
    .paging p#total_display{color:#ccc; font-size:12px; padding-top:10px;}  
  

.grid-Region legend b {color: #000000;}
.cat-inner-Region {height: 180px; overflow-y: scroll;background: none repeat scroll 0 0 #ECECEC;float: left;padding-bottom: 10px !important;padding-top: 10px !important;width: 100%;}
 #MainContent_chkCategory   tbody tr td{ width: 99%;float: left;}
 #MainContent_chkRegion  tbody tr td{ width: 49.5%;float: left;}
 #MainContent_chkCountry  tbody tr td{ width: 49.5%;float: left;}
 #MainContent_divFrame {background: none repeat scroll 0 0 #000000;float: left;height: 240px;left: 0; opacity: 0;position: absolute;top: 13px;width: 100%;}
 
 .curnSymb{ font-size: 12px;}
 
 #MainContent_btnUp .crop {margin: 16px 8px;}
 
.btnupload{-moz-user-select: none;border-radius: 2px 2px 2px 2px;cursor: default !important;display: inline-block;font-weight: bold; background-color: #F5F5F5;background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    height: 29px;line-height: 29px;min-width: 54px; text-align: center;text-decoration: none !important; border: 1px solid rgba(0, 0, 0, 0.1);color: #444444 !important;font-size: 11px;
}

 
.btncrop{-moz-user-select: none;border-radius: 2px 2px 2px 2px;cursor: default !important;display: inline-block;font-weight: bold; background-color: #D2D2D2;background-image: -moz-linear-gradient(center top , #D2D2D2, #F0F0F0);
    height: 29px;line-height: 29px;min-width: 54px; text-align: center;text-decoration: none !important; border: 1px solid rgba(0, 0, 0, 0.1);color: #444444 !important;font-size: 11px;
}
 
/*Homepage Admin*/ 
.alternate-block{ background: #ECECEC;float: left;width: 100%; border-top: 5px solid #666; border-bottom: 5px solid #fff }
.alternate-block02{ background: #FBDEE6;float: left ;width: 100%;border-top: 5px solid #666;   border-bottom: 5px solid #fff; }

.waterMask{ color: #444444;text-align: center;background: #F4F4F4;}

#MainContent_dtlCountry tbody tr td { vertical-align: top;padding-top: 5px;  padding-left:  4px}

