﻿.form-1 { background: linear-gradient(#EEEFEF, #FFFFFF 10%) repeat scroll 0 0 transparent; border-radius: 5px 5px 5px 5px;    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), 0 1px #FFFFFF inset, 0 -3px 2px rgba(0, 0, 0, 0.25) inset;    margin: 100px auto 30px;    padding: 10px;    position: relative;    width: 300px;}
.form-1 .field {    position: relative;}
.form-1 input[type="text"] {    margin-bottom: 10px;}
.form-1 input[type="text"], .form-1 input[type="password"] {    background: none repeat scroll 0 0 #F9F9F9;    border: medium none;    border-radius: 3px 3px 3px 3px;    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset, 0 3px 2px rgba(0, 0, 0, 0.1) inset;    color: #777777;    font-family: 'Lato' ,Calibri,Arial,sans-serif;    font-size: 13px;    font-weight: 400;    padding: 10px 18px 10px 45px;    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);    transition: color 0.3s ease-out 0s;    width: 100%;}
.form-1 .icon-large:before {    font-size: 1.33333em;    vertical-align: top;    }
.form-1 *, *:after, *:before {    -moz-box-sizing: border-box;    margin: 0;    padding: 0;}
.form-1 .field i {    border-right: 1px solid rgba(0, 0, 0, 0.1);    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);    color: #777777;    height: 36px;    left: 0;    line-height: 42px;    pointer-events: none;    position: absolute;    text-align: center;    top: 0;    transition: all 0.3s ease-out 0s;    width: 36px;}
.form-1 .submit {    background: none repeat scroll 0 0 #FFFFFF;    border-radius: 50% 50% 50% 50%;    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1), 0 -3px 2px rgba(0, 0, 0, 0.2) inset;    height: 65px;    padding: 10px;    position: absolute;    right: -25px;    top: 17px;    width: 65px;    z-index: 2;    margin-top: 18px;}
 .form-1 .button {    background: linear-gradient(#Red, gray) repeat scroll 0 0 transparent;    border: medium none;    border-radius: inherit;    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.35), 0 3px 2px rgba(255, 255, 255, 0.2) inset, 0 -3px 2px rgba(0, 0, 0, 0.1) inset;    color: White;    cursor: pointer;    font-size: 1.4em;    height: 100%;    line-height: 1.75;    margin-top: -1px;    width: 100%;}
.form-1 .button:hover {    background: linear-gradient(#C7CDBA, #C7CDBA) repeat scroll 0 0 transparent;    border: medium none;    border-radius: inherit;    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.35), 0 3px 2px rgba(255, 255, 255, 0.2) inset, 0 -3px 2px rgba(0, 0, 0, 0.1) inset;    color: #941E34;    cursor: pointer;    font-size: 1.4em;    height: 100%;    line-height: 1.75;    margin-top: -1px;    width: 100%;}
.icon-user{background:url(../schemes/images/icon-user.png) 50% 50% no-repeat;}
.icon-lock{background:url(../schemes/images/icon-lock.png) 50% 50% no-repeat;}
.form-1 label.remember{margin-right:79px;}
.form-1 a{color:#464646;}