#dev7link{position:absolute;top:0;left:50px;background:url(images/dev7logo.png) no-repeat;width:60px;height:67px;border:0;display:block;text-indent:-9999px;}
.slider-wrapper{width:100%;float:left;position:relative;height:253px;}
.nivoSlider{position:relative;width:100%;height:auto;}
.nivoSlider img{position:absolute;top:0px;left:0px;max-width:none;height:253px;}
.nivo-main-image{display:block !important;position:relative !important;width:100% !important;}
.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;background:white;filter:alpha(opacity=0);opacity:0;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden;}
.nivo-box img{display:block;}
.nivo-caption{position:absolute;right:0px;top:50px;color:#fff;z-index:8;padding:5px 10px;overflow:hidden;display:none;}
.nivo-caption h2{color:#FFFFFF;font-size:30px;text-transform:uppercase;}
.nivo-caption p{color:#FFFFFF;font-size:12px;}
.nivo-caption a{display:inline !important;}
.nivo-html-caption{display:none;}
.nivo-directionNav a{position:absolute;top:45%;z-index:9;cursor:pointer;font-size:0PX;}
.nivo-prevNav{left:0px;}
.nivo-nextNav{right:0px;}
.nivo-controlNav{bottom:10px;float:right;padding-bottom:12px;position:absolute;right:250px;width:260px;z-index:999;}
.nivo-controlNav a{cursor:pointer;font-size:0px;float:left;display:block;width:6px;height:6px;background:url(../images/bullet04.jpg) no-repeat;margin-right:5px;}
.nivo-controlNav a.active{float:left;display:block;width:6px;height:6px;background:url(../images/bullet01.jpg) no-repeat !important;}