﻿
h1{ font-size: 18px!important;color: #313333;}
/*PassbookingDetail.aspx*/
.progess-inner
{
    border-radius: 5px;
    background-color: White;
    z-index: 102;
    position: fixed;
    left: -16%;
    top: 26%;
    width: 550px;
    margin-left: 46%;
}
.modalBackground
{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    text-align: center;
    float: left;
}
.progessposition
{
    padding-top: 20%;
}

.btnBookkNow
{
    background: #fff;
    padding: 0px 4px 4px 4px;
    float: right;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-top: 5px;
    width: 105px;
}
.SortBtnStyle:hover
{
    background-color: #ccc;
}
.marg-b
{
    margin-bottom: 15px;
}
.marg-tb
{
    margin: 5px 0;
}
.innertab
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}
.innertab li
{
    float: left;
    list-style: none;
}
.innertab li a
{
    float: left;
    background: #4D4D4D;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    height: 20px;
    margin: 0 2px 1px 0;
    padding: 5px 15px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    behavior: url(PIE.htc);
}

.innertab li a:hover, .innertab li a.active
{
    float: left;
    background: #fff;
    color: #2f2f2f;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    height: 20px;
    margin: 0 2px 1px 0;
    padding: 5px 15px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    behavior: url(PIE.htc);
}


.radius-block
{
    border-radius: 0 5px 0 5px !important;
    -moz-border-radius: 0 5px 0 5px !important;
    -webkit-border-radius: 0 5px 0 5px !important;
    -ms-border-radius: 0 5px 0 5px !important;
    behavior: url(PIE.htc);
}

.country-block-inner table
{
    width: 98%;
    margin-left: 1%;
    border: 2px solid #dedede;
}
.country-block-inner table tr
{
    padding-bottom: 10px;
}
.country-block-inner table tr th
{
    background: none repeat scroll 0 0 #DEDEDE;
    border-right: 1px solid #FFFFFF;
    color: #2F2F2F;
    font-size: 14px;
    height: 30px;
    vertical-align: middle;
}
.country-block-inner table tr td
{
    font-size: 13px;
    border-right: 1px solid #dedede;
    border-top: 1px solid #dedede;
    color: #686868;
    height: 20px;
    padding: 5px 0;
    vertical-align: middle;
    margin: 5px 0;
    text-align: center;
}
.detail-hints-main
{
    width: 100%;
    float: left;
    padding: 10px 0 0 0;
}
.detail-hints
{
    float: left;
    width: 80%;
}
.detail-hints p
{
    font-size: 13px;
    float: left;
    border: 1px dashed #00aeef;
    margin: 5px;
    position: relative;
    padding: 1% 3%;
    color: Black;
}
.detail-hints p span
{
    font-size: 11px;
    font-weight: bold;
   color: Black;
    position: absolute;
    left: 10px;
    top: 0px;
}

.calculation-detail
{
    float: right;
    width: 310px;
    margin-top: 2px;
    padding: 10px 10px 0 10px;
    border-radius: 0 0 5px 5px !important;
    -moz-border-radius: 0 0 5px 5px !important;
    -webkit-border-radius: 0 0 5px 5px !important;
    -ms-border-radius: 0 0 5px 5px !important;
    behavior: url(PIE.htc);
    background: #FFFFFF;
}

.CLASS-010
{
    width: 100%;
    float: left;
}
.calculation-detail .colum-name
{
    width: 60%;
    float: left;
    height: 30px;
    padding: 5px 0;
    font-size: 14px;
    color: #333;
}
.calculation-detail .colum-price
{
    width: 40%;
    text-align: right;
    float: left;
    height: 30px;
    font-size: 14px;
    color: #333;
}
.br-btm
{
    border-bottom: 1px solid #333;
    float: left;
    height: 2px;
    width: 100%;
}

.country-block-inner table select
{
    width: 90px;
}
.left-content .smlblock img
{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    behavior: url(PIE.htc);
    margin-bottom: 14px;
}
.left-content .smlblock p
{
    padding-bottom: 27px;
}
.left-content .smlblock span
{
    float: right;
    background: url(../images/arr-red.jpg) no-repeat left;
    padding-left: 10px;
    font-size: 11px;
    color: #951f35;
}
.left-content .smlblock span a
{
    color: #951f35;
    text-decoration: none;
}
.bg-white
{
    background: #fff !important;
}
.left-content .country-block-outer
{
    background: #ececec;
    border: 1px solid #B3B3B3;
    padding: 1.5%;
    width: 97%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    behavior: url(PIE.htc);
}
.left-content .country-block-inner
{
    background: #fff;
    padding: 1% 0;
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    behavior: url(PIE.htc);
}
.left-content .country-block-inner .contory-block
{
    width: 143px;
    height: 170px;
    float: left;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    behavior: url(PIE.htc);
    margin: 4px;
    padding: 8px;
}
.left-content .country-block-inner .contory-block p
{
    font-size: 12px;
}

.left-content .country-block-inner .contory-block img
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    margin-bottom: 8px;
}
.SortBtnStyle
{
    margin-left: 2px;
    color: #00aeef;
    font-weight: bold;
    text-decoration: none;
}
/*PassbookingDetail.aspx End*/

/*PassDetail.aspx*/
 .input
    {
        text-transform: capitalize;
    }
    .valid
    {
        float: left;
    }
    .valid3
    {
        color: red;
    }
    .valid2
    {
        color: red;
        position: absolute;
        top: 33px;
        margin-left: 7px;
    }
    .privacy-block-outer{ float:left; width:100%; margin-bottom:10px;} 
.privacy-block-outer .hd-title{ float:left; width:98%; cursor:pointer; padding:1%; position:relative;  	
border-radius:5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius: 5px;
 behavior:url(PIE.htc); float:5px; color:#FFFFFF;  background:#5e5e5e; font-size:16px; line-height:20px; height:20px;} 
  .privacy-block-outer .hd-title .icon{ position:absolute; right:5px; top:5px; }
  
  
.privacy-block-outer .discription-block{ float:left; width:98%; margin-top:-2px; padding:1% 1% 4% 1%;  	
border-radius:0 0 5px 5px; 
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;;
	-ms-border-radius: 0 0 5px 5px;
 behavior:url(PIE.htc); float:left;  background:#eaeaea;} 
    .privacy-block-outer .hd-title .icon-close
    {
        position: absolute;
        right: 36px;
        top: 5px;
    }
    .pass .hd-title
    {
        border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        height: 36px;
        line-height: 20px;
    }
    
    .pass .discription-block
    {
        margin-top: -4px;
        border: 3px solid #5E5E5E;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
    }
    
    .width60
    {
        width: 60% !important;
    }
    .width26
    {
        width: 26% !important;
    }
    .red-title
    {
        height: 36px;
        float: left;
        line-height: 20px;
        color: #FFFFFF;
        border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        behavior: url(PIE.htc);
        background: #00aeef;
        padding: 1%;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        font-weight: bold;
    }
    .pass-coloum-one
    {
        width: 16.6%;
        float: left;
        color: #424242;
        font-size: 13px;
        line-height: 30px;
        height: 30px;
        padding: 5px 0;
    }
    .pass-coloum-two
    {
        /*width: 80%;*/
        width: 30%;
        float: left;
        color: #424242;
        font-size: 13px;
        line-height: 30px;
        height: 30px;
        padding: 5px 0;
        position: relative;
    }
    
    .pass-coloum-two .input
    {
        width: 60%;
        margin-right: 5px;
    }
    .pass-coloum-three
    {
        float: left;
        color: #424242;
        font-size: 13px;
        padding: 2px 2px 0;
        margin-top: 10px;
    }
    .pass-coloum-forth
    {
        float: left;
        color: #424242;
        font-size: 13px;
        padding: 2px 2px 0 6px;
        margin-top: 10px;
    }
    .pass-coloum-fifth
    {
        width: 100px;
        float: left;
        color: #424242;
        font-size: 13px;
        padding: 2px 2px 0;
    }
    .pass-coloum-three, .pass-coloum-forth, .pass-coloum-fifth, .input
    {
        margin-left: 0px;
    }
    .pass-coloum-forth > input
    {
        margin-left: -1px;
    }
    .calIcon {
    background: url(../images/icon-calender.png) no-repeat repeat;
    width: 27px;
    height: 28px;}
    
    /*PassDetail.aspx End*/
    
    /*ucPaymentProcess*/
    .round-titles
    {
        width: 98%;
        float: left;
        height: 20px;
        line-height: 20px;
        border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        behavior: url(PIE.htc);
        background: #00aeef;
        padding: 1%;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
    }
    
    .booking-detail-in
    {
        width: 98%;
        padding: 1%;
        border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        behavior: url(PIE.htc);
        margin-bottom: 20px;
        background: #ededed;
        float: left;
    }
    
    .booking-detail-in table.grid
    {
        width: 100%;
        border: 4px solid #ededed;
        border-collapse: collapse;
    }
    .booking-detail-in table.grid tr th
    {
        border-bottom: 2px solid #ededed;
        text-align: left;
        font-size: 13px;
        color: #666666;
        height: 25px;
        line-height: 25px;
        padding-left: 5px;
    }
    
    .booking-detail-in table.grid tr td
    {
        border-bottom: 2px solid #ededed;
        background: #FFF;
        font-size: 13px;
        color: #666666;
        height: 25px;
        line-height: 25px;
        padding-left: 5px;
    }
    
    .booking-detail-in table.grid tr td a
    {
        color: #951F35;
    }
    
    .booking-detail-in .total
    {
        border-top: 1px dashed #951F35;
        width: 27%;
        float: right;
        color: #4A4A4A;
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        padding-top: 10px;
    }
    
    .booking-detail-in .colum-label
    {
        float: left;
        width: 30%;
        float: left;
        color: #424242;
        font-size: 13px;
        line-height: 30px;
        height: 30px;
        padding: 5px 0;
    }
    .booking-detail-in .colum-input
    {
        float: left;
        width: 70%;
        float: left;
        line-height: 30px;
        height: 30px;
        padding: 5px 0;
    }
    .booking-detail-in .colum-input .input
    {
        border: 1px solid #ADB9C2;
        border-radius: 5px 5px 5px 5px;
        color: #424242;
        font-size: 13px;
        height: 25px;
        line-height: 25px;
        width: 95%;
        padding: 0.5%;
    }
    
    .booking-detail-in .colum-input .inputsl
    {
        border: 1px solid #ADB9C2;
        border-radius: 5px 5px 5px 5px;
        color: #424242;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        width: 96.5%;
        padding: 0.5%;
    }
    
  
    /*ucPaymentProcess End*/