﻿#mcts1
{
    width: 565px;
    height: 100px;
    margin: 0 auto;
    padding: 36px 20px;
    border: 5px solid #8a182f; /*background:#f2f1ea url(loading.gif) no-repeat 50% 50%;     box-shadow: 0px 1px 11px #CCCCCC;*/ /* Do not alter the below settings*/
    white-space: nowrap;
    position: relative;
    font-size: 0px;
    float: left;
}

#mcts1 > *
{
    display: none;
}

/*-------- div.item is each thumbnail's wrapper created by the javascript ------*/
#mcts1 div.item
{
    padding: 2px;
    margin-right: 6px; /* this specifies the distance between each thumbnail */
    background-color: White;
    text-align: center;
    position: relative;
}

#mcts1 img
{
    border: none;
}

/*---------built-in navigation buttons-------*/
#mcts1 .navPrev, #mcts1 .navNext, #mcts1 .navPlay, #mcts1 .navPause
{
    width: 16px;
    height: 22px;
    position: absolute;
    background: url(../images/navbuttons.png);
    display: inline-block;
    z-index: 5;
    cursor: pointer;
}
#mcts1 .navPrev
{
    background-position: 0 -22px;
    top: 74px;
    left: -33px;
}
#mcts1 .navPrev:hover
{
    background-position: 0 -44px;
}
#mcts1 .navPrevDisabled, #mcts1 .navPrevDisabled:hover
{
    background-position: 0 0;
    cursor: default;
}

#mcts1 .navNext
{
    background-position: -16px -22px;
    top: 74px;
    right: -33px;
}
#mcts1 .navNext:hover
{
    background-position: -16px -44px;
}
#mcts1 .navNextDisabled, #mcts1 .navNextDisabled:hover
{
    background-position: -16px 0;
    cursor: default;
}

#mcts1 .navPause, #mcts1 .navPlay
{
    left: 277px;
    top: 130px;
}
#mcts1 .navPause
{
    background-position: 0 -66px;
}
#mcts1 .navPause:hover
{
    background-position: 0 -88px;
}
#mcts1 .navPlay
{
    background-position: -16px -66px;
}
#mcts1 .navPlay:hover
{
    background-position: -16px -88px;
}

.navPrev, .navPlay, .navPause, .navNext
{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*---------built-in navigation bullets--------*/
/* Note: the navBullets won't be available when "scrollByEachThumb" was set to false in the Javascript.*/
#mcts1 .navBullets
{
    display: none;
}

/*--------- class1 that is for the slide with HTML content------------*/
.class1
{
    width: 130px;
    height: 80px;
    background: #444;
    text-align: center;
    color: White;
    font: normal 11px/14px Arial;
    white-space: normal;
}
.class1 p
{
    margin-top: 0;
    margin-bottom: 6px;
    padding-top: 6px;
    font: bold 13px Verdana;
    color: #F90;
}

/* --------- Others ------- */
#mcts1
{
    transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.lt-corner
{
    background: #8a182f;
    z-index: 99;
    text-align: center;
    vertical-align: middle;
    height: 182px;
    width: 40px;
    float: left;
    z-index: -1;
    position: relative;
    left: 0px;
    top: 0px;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    behavior: url(PIE.htc);
}

.rt-corner
{
    background: #8a182f;
    text-align: center;
    z-index: -1;
    vertical-align: middle;
    height: 182px;
    width: 40px;
    float: right;
    position: relative;
    right: 0px;
    top: 0px;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    behavior: url(PIE.htc);
}


.clsMtImg
{
    float: left;
    width: 143px;
}

.left-content .country-block-inner .lt-corner
{
    background: #8a182f;
    z-index: 99;
    text-align: center;
    vertical-align: middle;
    height: 209px;
    width: 40px;
    float: left;
    z-index: 99;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    behavior: url(PIE.htc);
}
.left-content .country-block-inner .ar-con
{
    position: absolute;
    left: 5px;
    top: 100px;
}

.left-content .country-block-inner .rt-corner
{
    background: #8a182f;
    text-align: center;
    z-index: 99;
    vertical-align: middle;
    height: 209px;
    width: 40px;
    float: left;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    behavior: url(PIE.htc);
}
