/*contact-txt*/
.fullrow:before, .fullrow:after{ content:""; display:table;}
.fullrow:after{ clear:both;}

.contact-img{ width:389px !important; float:left; margin-right:15px;}
.contact-img img{ width:100%;}
.contact-txt{ overflow:hidden; width:auto !important;}
.box1, .box2, .box3, .con-txt{ position:relative;   padding-top: 15px;}
.box1 .clsAbs{ left: 0;position: absolute;top: 4px;}
.box1 .fullrow{ display:inline-block;} 
.box1 .pTop5{ width:30px; float:left; margin-top:20px;}
.con-txt .clsAbs {left: 50px;position: absolute; top: -10px;}
.cont-img{ width:30px; float:left;}
.con-txt{ width:260px; float:left; line-height:1; padding-top:20px;font-size:14px;}
.con-txt a{ line-height:18px;}

.box2 .cont-img .clsAbs{  left: 0;position: absolute; top: 3px; }
.box2 .cont-img .pTop5{ padding-top:22px;}
.box2 .con-txt{ padding-top:22px; }
.box3 .cont-img .clsAbs{  left: 0;position: absolute; top: 3px; }
.box3 .cont-img .pTop5{ padding-top:22px;}
.box3 .con-txt{ padding-top:22px; }
.box3 .con-txt #Label3 { font-size:14px;}

