﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="Default.aspx.cs" Inherits="SpecialTrains_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
    <object width="930" height="600" align="middle" id="loader" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
        <param value="always" name="allowScriptAccess">
        <param value="../media/map/main.swf" name="movie">
        <param value="skinColor=0x3D72BE&amp;backgroundURL=../media/184132/map-background-large-2.gif&amp;propertiesURL=../Scripts/xml/map-properties.xml&amp;locationsURL=../Scripts/xml/map-locations.xml&amp;areasURL=../Scripts/xml/map-areas.xml&amp;playSound=0&amp;version=1.0.3&amp;showLoadingAnimation=0&amp;showHeaderAndBorder=0&amp;"
            name="FlashVars">
        <param value="high" name="quality">
        <param value="noscale" name="scale">
        <param value="#6e6b59" name="bgcolor">
        <param value="../media/map/" name="base">
        <param value="transparent" name="wmode">
        <embed width="930" height="600" align="middle" pluginspage="http://www.macromedia.com/go/getflashplayer"
            type="application/x-shockwave-flash" base="../media/map/" wmode="transparent" allowscriptaccess="always"
            name="loader" bgcolor="#6e6b59" scale="noscale" quality="high" flashvars="skinColor=0x3D72BE&amp;backgroundURL=../media/184132/map-background-large-2.gif&amp;propertiesURL=../Scripts/xml/map-properties.xml&amp;locationsURL=../Scripts/xml/map-locations.xml&amp;areasURL=../Scripts/xml/map-areas.xml&amp;playSound=0&amp;version=1.0.3&amp;showLoadingAnimation=0&amp;showHeaderAndBorder=0&amp;"
            src="../media/map/main.swf">
    </object> 
</asp:Content>
 

