﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="BritRailFreedayPromoTerms.aspx.cs" Inherits="BritRailFreedayPromoTerms" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
    <img alt="Terms and condition for BritRail Freeday Promo pass" src="images/BritRailFreeDayPromo.jpg" style="margin-top: 10px; border: 2px solid #eee;"/>
</asp:Content>
