﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MagNavTest.aspx.cs" Inherits="MagNavTest" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://www.statravel.com/static/us_division_web_live/Javascript/meganav-component&#10;s.js"></script>
    <%=headerCss %>
    <%=jquery %>
</head>
<body>
    <form id="form1" runat="server">
    <%=header %>
    <div>
        TEST
    </div>
    <%=footer %>
    </form>
</body>
</html>
