﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="Payment.aspx.cs" Inherits="Payment" %>

<%@ Register TagPrefix="uc" TagName="ucWPDetails" Src="~/Order/WorldPayHostedPayment.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="Server">
     
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
    <uc:ucWPDetails runat="server" ID="WPDetails" />
    <%--<asp:HiddenField ID="hdnIsTI" runat="server" Value="False" ClientIDMode="Static" />--%>
    <%--<div class="starail-BookingDetails-form">
        <div class="new-div">
            <h2 class="wordlpay for-mobile" style="padding-bottom: 0; margin-bottom: 0; border: none;">PAY FOR YOUR ORDER</h2>
            <div class="timertopcls" style='display: none;'>
                <div class='timercls'></div>
                <a href='<%=siteURL %>' class="timerredirectcls" style='display: none;'>Click here</a>
            </div>
            <div style="clear: both;"></div>
        </div>

        <div class="starail-BookingDetails-form" style="background-color: #fff!important;">
            <div id="msgonload" class="msgboxstyle">Please Wait...</div>
            <div class="warning" id="div_warning" runat="server" visible="false">
                We are updating our website at the moment, we are sorry for any inconvenience caused.<br />
                <br />
                Please call us on 6737 7188 and one of our Travel Experts will be happy to help you book your rail pass today!
            </div>
            <iframe id="PaymentFrame" style="width: 100%; height: 605px !important;" frameborder="0"
                scrolling="no" runat="server" clientidmode="Static" src="Order/WorldpayDirect.aspx">
            </iframe>
        </div>
    </div>
    <script type="text/javascript">
        function Hidewaitbox() {
            $("#msgonload").hide();
        }
    </script>--%>
</asp:Content>
